{
  "swagger": "2.0",
  "info": {
    "version": "v2",
    "title": "MOTC Transport API V2",
    "description": "本平臺提供涵蓋全國尺度之公車、臺鐵、高鐵、捷運、航空、自行車等公共運輸旅運資料服務API，歡迎各產政學單位介接使用。\r\n                                                    <br><span class=swagger-description-indicatation>利用本平臺開放資料進行各項應用服務開發時，請考量不同特性使用者(如:性別/身心障礙/老幼等)的需求，並歡迎回饋寶貴意見。</span>\r\n                                                    <br><br>資料使用葵花寶典:[請點我](https://ptxmotc.gitbooks.io/ptx-api-documentation/content/)\r\n                                                    <br>資料服務開發實作參考手冊:[請點我](https://docs.google.com/viewer?url=https://github.com/ptxmotc/PTX_Web/blob/master/Swagger%E6%9C%8D%E5%8B%99%E8%AA%AA%E6%98%8E%E4%B8%8A%E5%82%B3%E5%8F%83%E8%80%83%E6%AA%94%E6%A1%88/%E5%85%AC%E5%85%B1%E9%81%8B%E8%BC%B8%E6%95%B4%E5%90%88%E8%B3%87%E8%A8%8A%E5%B9%B3%E5%8F%B0%E8%B3%87%E6%96%99%E6%9C%8D%E5%8B%99%E9%96%8B%E7%99%BC%E5%AF%A6%E4%BD%9C.pdf?raw=true)\r\n                                                    <br>API URI Convention文件說明:[請點我](https://docs.google.com/viewer?url=https://github.com/ptxmotc/PTX_Web/blob/master/Swagger%E6%9C%8D%E5%8B%99%E8%AA%AA%E6%98%8E%E4%B8%8A%E5%82%B3%E5%8F%83%E8%80%83%E6%AA%94%E6%A1%88/API_URI_Convention%E6%96%87%E4%BB%B6_v1.pdf?raw=true)<br>資料文本OAS描述:[請點我](http://ptx.transportdata.tw/MOTC/v2/Bike/api-docs/oas)"
  },
  "host": "ptx.transportdata.tw",
  "basePath": "/MOTC/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/v2/Bike/Station/{City}": {
      "get": {
        "tags": [
          "Bike"
        ],
        "summary": "取得指定[縣市]的公共自行車租借站位資料",
        "description": "取得指定[縣市]的公共自行車租借站位資料<br />[更新頻率]2分鐘更新一次",
        "operationId": "BikeApi_Station",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Taichung",
              "Hsinchu",
              "MiaoliCounty",
              "ChanghuaCounty",
              "NewTaipei",
              "PingtungCounty",
              "Taoyuan",
              "Taipei",
              "Kaohsiung",
              "Tainan"
            ],
            "x-enum": {
              "Tainan": "臺南市",
              "Taipei": "臺北市",
              "Hsinchu": "新竹市",
              "Taoyuan": "桃園市",
              "Kaohsiung": "高雄市",
              "NewTaipei": "新北市",
              "PingtungCounty": "屏東縣",
              "MiaoliCounty": "苗栗縣",
              "Taichung": "臺中市",
              "ChanghuaCounty": "彰化縣"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "string",
            "default": "30"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$spatialFilter",
            "in": "query",
            "description": "空間過濾",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Bike.BikeStation"
              }
            }
          }
        }
      }
    },
    "/v2/Bike/Availability/{City}": {
      "get": {
        "tags": [
          "Bike"
        ],
        "summary": "取得動態指定[縣市]的公共自行車即時車位資料",
        "description": "取得動態指定[縣市]的公共自行車即時車位資料<br />[更新頻率]2分鐘更新一次",
        "operationId": "BikeApi_Availability",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Taichung",
              "Hsinchu",
              "MiaoliCounty",
              "ChanghuaCounty",
              "NewTaipei",
              "PingtungCounty",
              "Taoyuan",
              "Taipei",
              "Kaohsiung",
              "Tainan"
            ],
            "x-enum": {
              "MiaoliCounty": "苗栗縣",
              "Taoyuan": "桃園市",
              "Kaohsiung": "高雄市",
              "PingtungCounty": "屏東縣",
              "Tainan": "臺南市",
              "ChanghuaCounty": "彰化縣",
              "NewTaipei": "新北市",
              "Taichung": "臺中市",
              "Taipei": "臺北市",
              "Hsinchu": "新竹市"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "string",
            "default": "30"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Bike.BikeAvailability"
              }
            }
          }
        }
      }
    },
    "/v2/Cycling/Shape/{City}": {
      "get": {
        "tags": [
          "Bike"
        ],
        "summary": "取得指定縣市之自行車道路網圖資",
        "description": "取得指定縣市之自行車道路網圖資",
        "operationId": "CyclingApi_Shape",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Taichung",
              "Keelung",
              "Hsinchu",
              "HsinchuCounty",
              "MiaoliCounty",
              "ChanghuaCounty",
              "NewTaipei",
              "NantouCounty",
              "YunlinCounty",
              "ChiayiCounty",
              "Chiayi",
              "PingtungCounty",
              "YilanCounty",
              "HualienCounty",
              "TaitungCounty",
              "KinmenCounty",
              "PenghuCounty",
              "Taoyuan",
              "Taipei",
              "Kaohsiung",
              "Tainan"
            ],
            "x-enum": {
              "ChanghuaCounty": "彰化縣",
              "PenghuCounty": "澎湖縣",
              "TaitungCounty": "臺東縣",
              "KinmenCounty": "金門縣",
              "Keelung": "基隆市",
              "LienchiangCounty": "連江縣",
              "Chiayi": "嘉義市",
              "MiaoliCounty": "苗栗縣",
              "NantouCounty": "南投縣",
              "NewTaipei": "新北市",
              "Kaohsiung": "高雄市",
              "Hsinchu": "新竹市",
              "YunlinCounty": "雲林縣",
              "PingtungCounty": "屏東縣",
              "YilanCounty": "宜蘭縣",
              "Taichung": "臺中市",
              "Taoyuan": "桃園市",
              "HsinchuCounty": "新竹縣",
              "Taipei": "臺北市",
              "HualienCounty": "花蓮縣",
              "ChiayiCounty": "嘉義縣",
              "Tainan": "臺南市"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "string",
            "default": "30"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Bike.BikeShape"
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Service.DTO.Version2.Bike.BikeAvailability": {
      "title": "BikeAvailability",
      "description": "自行車站點剩餘數量資訊",
      "required": [
        "SrcUpdateTime",
        "UpdateTime"
      ],
      "type": "object",
      "properties": {
        "StationUID": {
          "description": "站點唯一識別代碼，規則為 {業管機關代碼} + {StationID}，其中 {業管機關代碼} 可於Authority API中的AuthorityCode欄位查詢",
          "type": "string"
        },
        "StationID": {
          "description": "站點代碼",
          "type": "string"
        },
        "ServieAvailable": {
          "description": "服務狀態",
          "enum": [
            0,
            1
          ],
          "type": "integer"
        },
        "AvailableRentBikes": {
          "format": "int32",
          "description": "可租借車數",
          "type": "integer"
        },
        "AvailableReturnBikes": {
          "format": "int32",
          "description": "可歸還車數",
          "type": "integer"
        },
        "SrcUpdateTime": {
          "title": "DateTime",
          "description": "來源端平台資料更新時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "UpdateTime": {
          "title": "DateTime",
          "description": "資料更新日期時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        }
      }
    },
    "Service.DTO.Version2.Bike.BikeShape": {
      "title": "BikeShape",
      "required": [
        "RouteName",
        "Geometry",
        "UpdateTime"
      ],
      "type": "object",
      "properties": {
        "RouteName": {
          "description": "路線名稱",
          "type": "string"
        },
        "Geometry": {
          "description": "well-known text，為路線軌跡資料",
          "type": "string"
        },
        "UpdateTime": {
          "title": "DateTime",
          "description": "資料更新日期時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        }
      }
    },
    "Service.DTO.Version2.Bike.BikeStation": {
      "title": "BikeStation",
      "description": "自行車站點資訊",
      "required": [
        "SrcUpdateTime",
        "UpdateTime"
      ],
      "type": "object",
      "properties": {
        "StationUID": {
          "description": "站點唯一識別代碼，規則為 {業管機關代碼} + {StationID}，其中 {業管機關代碼} 可於Authority API中的AuthorityCode欄位查詢",
          "type": "string"
        },
        "StationID": {
          "description": "站點代碼",
          "type": "string"
        },
        "AuthorityID": {
          "description": "業管單位代碼",
          "type": "string"
        },
        "StationName": {
          "$ref": "#/definitions/Service.DTO.Version2.Base.NameType",
          "title": "NameType",
          "description": "站點名稱"
        },
        "StationPosition": {
          "$ref": "#/definitions/Service.DTO.Version2.Base.PointType",
          "title": "PointType",
          "description": "站點位置"
        },
        "StationAddress": {
          "$ref": "#/definitions/Service.DTO.Version2.Base.NameType",
          "title": "NameType",
          "description": "站點地址"
        },
        "StopDescription": {
          "description": "站點描述",
          "type": "string"
        },
        "BikesCapacity": {
          "format": "int32",
          "description": "可容納之自行車總數",
          "type": "integer"
        },
        "SrcUpdateTime": {
          "title": "DateTime",
          "description": "來源端平台資料更新時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "UpdateTime": {
          "title": "DateTime",
          "description": "資料更新日期時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        }
      }
    },
    "Service.DTO.Version2.Base.NameType": {
      "title": "NameType",
      "description": "名稱資料型別",
      "type": "object",
      "properties": {
        "Zh_tw": {
          "description": "中文繁體名稱",
          "type": "string"
        },
        "En": {
          "description": "英文名稱",
          "type": "string"
        }
      }
    },
    "Service.DTO.Version2.Base.PointType": {
      "title": "PointType",
      "description": "座標資料型別",
      "type": "object",
      "properties": {
        "PositionLat": {
          "format": "double",
          "description": "位置緯度(WGS84)",
          "type": "number"
        },
        "PositionLon": {
          "format": "double",
          "description": "位置經度(WGS84)",
          "type": "number"
        }
      }
    }
  },
  "tags": [
    {
      "name": "Bike"
    }
  ]
}
