{
  "swagger": "2.0",
  "info": {
    "version": "v2",
    "title": "MOTC Transport API V2",
    "description": "本平臺提供涵蓋全國尺度之公車、臺鐵、高鐵、捷運、航空、自行車等公共運輸旅運資料服務API，歡迎各產政學單位介接使用。\r\n                <br><span class=swagger-description-indicatation>利用本平臺開放資料進行各項應用服務開發時，請考量不同特性使用者(如:性別/身心障礙/老幼等)的需求，並歡迎回饋寶貴意見。</span>\r\n                <br><br>資料使用葵花寶典:[請點我](https://ptxmotc.gitbooks.io/ptx-api-documentation/content/)\r\n                <br>資料服務開發實作參考手冊:[請點我](https://docs.google.com/viewer?url=https://github.com/ptxmotc/PTX_Web/blob/master/Swagger%E6%9C%8D%E5%8B%99%E8%AA%AA%E6%98%8E%E4%B8%8A%E5%82%B3%E5%8F%83%E8%80%83%E6%AA%94%E6%A1%88/%E5%85%AC%E5%85%B1%E9%81%8B%E8%BC%B8%E6%95%B4%E5%90%88%E8%B3%87%E8%A8%8A%E5%B9%B3%E5%8F%B0%E8%B3%87%E6%96%99%E6%9C%8D%E5%8B%99%E9%96%8B%E7%99%BC%E5%AF%A6%E4%BD%9C.pdf?raw=true)\r\n                <br>API URI Convention文件說明:[請點我](https://docs.google.com/viewer?url=https://github.com/ptxmotc/PTX_Web/blob/master/Swagger%E6%9C%8D%E5%8B%99%E8%AA%AA%E6%98%8E%E4%B8%8A%E5%82%B3%E5%8F%83%E8%80%83%E6%AA%94%E6%A1%88/API_URI_Convention%E6%96%87%E4%BB%B6_v1.pdf?raw=true)<br>資料文本OAS描述:[請點我](https://ptx.transportdata.tw/MOTC/v2/Rail/api-docs/oas)"
  },
  "host": "ptx.transportdata.tw",
  "basePath": "/MOTC/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/v2/Rail/Metro/Network/{Operator}": {
      "get": {
        "tags": [
          "Metro"
        ],
        "summary": "取得捷運路網資料",
        "description": "取得捷運路網資料",
        "operationId": "MetroApi_Network",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "Operator",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "TRTC",
              "KRTC",
              "TYMC"
            ],
            "x-enum": {
              "TRTC": "臺北捷運",
              "KRTC": "高雄捷運",
              "TYMC": "桃園捷運"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Rail.Metro.Network"
              }
            }
          }
        }
      }
    },
    "/v2/Rail/Metro/Line/{Operator}": {
      "get": {
        "tags": [
          "Metro"
        ],
        "summary": "取得捷運路線基本資料",
        "description": "取得捷運路線基本資料",
        "operationId": "MetroApi_Line",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "Operator",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "TRTC",
              "KRTC",
              "TYMC",
              "KLRT"
            ],
            "x-enum": {
              "TRTC": "臺北捷運",
              "KRTC": "高雄捷運",
              "TYMC": "桃園捷運",
              "KLRT": "高雄輕軌"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Rail.Metro.Line"
              }
            }
          }
        }
      }
    },
    "/v2/Rail/Metro/Station/{Operator}": {
      "get": {
        "tags": [
          "Metro"
        ],
        "summary": "取得捷運車站基本資料",
        "description": "取得捷運車站基本資料",
        "operationId": "MetroApi_Station",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "Operator",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "TRTC",
              "KRTC",
              "TYMC",
              "KLRT"
            ],
            "x-enum": {
              "TRTC": "臺北捷運",
              "KRTC": "高雄捷運",
              "TYMC": "桃園捷運",
              "KLRT": "高雄輕軌"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$spatialFilter",
            "in": "query",
            "description": "空間過濾",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Rail.Metro.Station"
              }
            }
          }
        }
      }
    },
    "/v2/Rail/Metro/StationOfLine/{Operator}": {
      "get": {
        "tags": [
          "Metro"
        ],
        "summary": "取得捷運路線車站基本資料",
        "description": "取得捷運路線車站基本資料",
        "operationId": "MetroApi_StationOfLine",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "Operator",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "TRTC",
              "KRTC",
              "TYMC",
              "KLRT"
            ],
            "x-enum": {
              "TRTC": "臺北捷運",
              "KRTC": "高雄捷運",
              "TYMC": "桃園捷運",
              "KLRT": "高雄輕軌"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Rail.Metro.StationOfLine"
              }
            }
          }
        }
      }
    },
    "/v2/Rail/Metro/LineTransfer/{Operator}": {
      "get": {
        "tags": [
          "Metro"
        ],
        "summary": "取得捷運路線站間轉乘基本資料",
        "description": "取得捷運路線站間轉乘基本資料",
        "operationId": "MetroApi_LineTransfer",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "Operator",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "TRTC",
              "KRTC"
            ],
            "x-enum": {
              "TRTC": "臺北捷運",
              "KRTC": "高雄捷運",
              "TYMC": "桃園捷運"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Rail.Metro.LineTransfer"
              }
            }
          }
        }
      }
    },
    "/v2/Rail/Metro/StationFacility/{Operator}": {
      "get": {
        "tags": [
          "Metro"
        ],
        "summary": "取得捷運車站設施資料",
        "description": "取得捷運車站設施資料",
        "operationId": "MetroApi_StationFacility",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "Operator",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "TYMC"
            ],
            "x-enum": {
              "TRTC": "臺北捷運",
              "KRTC": "高雄捷運",
              "TYMC": "桃園捷運"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Rail.Metro.StationFacility"
              }
            }
          }
        }
      }
    },
    "/v2/Rail/Metro/StationExit/{Operator}": {
      "get": {
        "tags": [
          "Metro"
        ],
        "summary": "取得捷運車站出入口基本資料",
        "description": "取得捷運車站出入口基本資料",
        "operationId": "MetroApi_StationExit",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "Operator",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "TRTC",
              "KRTC",
              "TYMC"
            ],
            "x-enum": {
              "TRTC": "臺北捷運",
              "KRTC": "高雄捷運",
              "TYMC": "桃園捷運",
              "KLRT": "高雄輕軌"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$spatialFilter",
            "in": "query",
            "description": "空間過濾",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Rail.Metro.StationExit"
              }
            }
          }
        }
      }
    },
    "/v2/Rail/Metro/Route/{Operator}": {
      "get": {
        "tags": [
          "Metro"
        ],
        "summary": "取得捷運營運路線基本資料",
        "description": "取得捷運營運路線基本資料",
        "operationId": "MetroApi_Route",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "Operator",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "TRTC",
              "KRTC",
              "TYMC"
            ],
            "x-enum": {
              "TRTC": "臺北捷運",
              "KRTC": "高雄捷運",
              "TYMC": "桃園捷運"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Rail.Metro.Route"
              }
            }
          }
        }
      }
    },
    "/v2/Rail/Metro/StationOfRoute/{Operator}": {
      "get": {
        "tags": [
          "Metro"
        ],
        "summary": "取得捷運營運路線車站基本資料",
        "description": "取得捷運營運路線車站基本資料",
        "operationId": "MetroApi_StationOfRoute",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "Operator",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "TRTC",
              "KRTC",
              "TYMC"
            ],
            "x-enum": {
              "TRTC": "臺北捷運",
              "KRTC": "高雄捷運",
              "TYMC": "桃園捷運"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Rail.Metro.StationOfRoute"
              }
            }
          }
        }
      }
    },
    "/v2/Rail/Metro/FirstLastTimetable/{Operator}": {
      "get": {
        "tags": [
          "Metro"
        ],
        "summary": "取得捷運首末班車時刻表資料",
        "description": "取得捷運首末班車時刻表資料",
        "operationId": "MetroApi_FirstLastTimetable",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "Operator",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "TRTC",
              "KRTC",
              "TYMC",
              "KLRT"
            ],
            "x-enum": {
              "KLRT": "高雄輕軌",
              "TRTC": "臺北捷運",
              "KRTC": "高雄捷運",
              "TYMC": "桃園捷運"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Rail.Metro.FirstLastTimetable"
              }
            }
          }
        }
      }
    },
    "/v2/Rail/Metro/Frequency/{Operator}": {
      "get": {
        "tags": [
          "Metro"
        ],
        "summary": "取得捷運路線發車班距頻率資料",
        "description": "取得捷運路線發車班距頻率資料",
        "operationId": "MetroApi_Frequency",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "Operator",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "TRTC",
              "TYMC"
            ],
            "x-enum": {
              "TRTC": "臺北捷運",
              "KRTC": "高雄捷運",
              "TYMC": "桃園捷運"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Rail.Metro.Frequency"
              }
            }
          }
        }
      }
    },
    "/v2/Rail/Metro/S2STravelTime/{Operator}": {
      "get": {
        "tags": [
          "Metro"
        ],
        "summary": "取得捷運列車站間運行時間資料",
        "description": "取得捷運列車站間運行時間資料",
        "operationId": "MetroApi_S2STravelTime",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "Operator",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "TRTC",
              "KRTC",
              "TYMC"
            ],
            "x-enum": {
              "TRTC": "臺北捷運",
              "KRTC": "高雄捷運",
              "TYMC": "桃園捷運"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Rail.Metro.S2STravelTime"
              }
            }
          }
        }
      }
    },
    "/v2/Rail/Metro/ODFare/{Operator}": {
      "get": {
        "tags": [
          "Metro"
        ],
        "summary": "取得捷運起迄站間票價資料",
        "description": "取得捷運起迄站間票價資料",
        "operationId": "MetroApi_ODFare",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "Operator",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "TRTC",
              "KRTC",
              "TYMC",
              "KLRT"
            ],
            "x-enum": {
              "KLRT": "高雄輕軌",
              "TRTC": "臺北捷運",
              "KRTC": "高雄捷運",
              "TYMC": "桃園捷運"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Rail.Metro.ODFare"
              }
            }
          }
        }
      }
    },
    "/v2/Rail/Metro/LiveBoard/{Operator}": {
      "get": {
        "tags": [
          "Metro"
        ],
        "summary": "取得捷運車站別列車即時到離站電子看板資訊",
        "description": "取得捷運車站別列車即時到離站電子看板資訊",
        "operationId": "MetroApi_LiveBoard",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "Operator",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "KRTC"
            ],
            "x-enum": {
              "TRTC": "臺北捷運",
              "KRTC": "高雄捷運",
              "TYMC": "桃園捷運"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Rail.Metro.LiveBoard"
              }
            }
          }
        }
      }
    },
    "/v2/Rail/Metro/StationTimeTable/{Operator}": {
      "get": {
        "tags": [
          "Metro"
        ],
        "summary": "取得捷運站別時刻表資料",
        "description": "取得捷運站別時刻表資料\r\n\r\n## 使用注意事項\r\n臺北捷運目前無提供文湖線站別時刻表，建議您可使用［取得捷運路線發車班距頻率資料］取得文湖線列車相關資訊。",
        "operationId": "MetroApi_StationTimeTable",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "Operator",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "TRTC",
              "KRTC",
              "TYMC"
            ],
            "x-enum": {
              "TRTC": "臺北捷運",
              "KRTC": "高雄捷運",
              "TYMC": "桃園捷運"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Rail.Metro.StationTimeTable"
              }
            }
          }
        }
      }
    },
    "/v2/Rail/Metro/Shape/{Operator}": {
      "get": {
        "tags": [
          "Metro"
        ],
        "summary": "取得指定營運業者之軌道路網實體路線圖資資料",
        "description": "取得指定營運業者之軌道路網實體路線圖資資料",
        "operationId": "MetroApi_Shape",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "Operator",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "enum": [
              "KRTC",
              "TYMC"
            ],
            "x-enum": {
              "TRTC": "臺北捷運",
              "KRTC": "高雄捷運",
              "TYMC": "桃園捷運"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Rail.Metro.MetroShape"
              }
            }
          }
        }
      }
    },
    "/v2/Rail/THSR/Station": {
      "get": {
        "tags": [
          "THSR"
        ],
        "summary": "取得車站基本資料",
        "description": "取得車站基本資料",
        "operationId": "THSRApi_Station",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$spatialFilter",
            "in": "query",
            "description": "空間過濾",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Rail.THSR.RailStation"
              }
            }
          }
        }
      }
    },
    "/v2/Rail/THSR/ODFare": {
      "get": {
        "tags": [
          "THSR"
        ],
        "summary": "取得票價資料",
        "description": "取得票價資料",
        "operationId": "THSRApi_ODFare",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Rail.THSR.RailODFare"
              }
            }
          }
        }
      }
    },
    "/v2/Rail/THSR/ODFare/{OriginStationID}/to/{DestinationStationID}": {
      "get": {
        "tags": [
          "THSR"
        ],
        "summary": "取得指定[起訖站間]之票價資料",
        "description": "取得指定[起訖站間]之票價資料",
        "operationId": "THSRApi_ODFare_1",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "OriginStationID",
            "in": "path",
            "description": "起點車站代碼",
            "required": true,
            "type": "string"
          },
          {
            "name": "DestinationStationID",
            "in": "path",
            "description": "迄點車站代碼",
            "required": true,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Rail.THSR.RailODFare"
              }
            }
          }
        }
      }
    },
    "/v2/Rail/THSR/GeneralTimetable": {
      "get": {
        "tags": [
          "THSR"
        ],
        "summary": "取得所有車次的定期時刻表資料",
        "description": "取得所有車次的定期時刻表資料",
        "operationId": "THSRApi_GeneralTimetable",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Rail.THSR.RailGeneralTimetable"
              }
            }
          }
        }
      }
    },
    "/v2/Rail/THSR/GeneralTimetable/TrainNo/{TrainNo}": {
      "get": {
        "tags": [
          "THSR"
        ],
        "summary": "取得指定[車次]的定期時刻表資料",
        "description": "取得指定[車次]的定期時刻表資料",
        "operationId": "THSRApi_GeneralTimetable_1",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "TrainNo",
            "in": "path",
            "description": "欲查詢車次的代碼",
            "required": true,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Rail.THSR.RailGeneralTimetable"
              }
            }
          }
        }
      }
    },
    "/v2/Rail/THSR/DailyTrainInfo/Today": {
      "get": {
        "tags": [
          "THSR"
        ],
        "summary": "取得當天所有車次的車次資料",
        "description": "取得當天所有車次的車次資料",
        "operationId": "THSRApi_DailyTrainInfo",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Rail.THSR.RailDailyTrainInfo"
              }
            }
          }
        }
      }
    },
    "/v2/Rail/THSR/DailyTrainInfo/Today/TrainNo/{TrainNo}": {
      "get": {
        "tags": [
          "THSR"
        ],
        "summary": "取得當天指定[車次]的車次資料",
        "description": "取得當天指定[車次]的車次資料",
        "operationId": "THSRApi_DailyTrainInfo_1",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "TrainNo",
            "in": "path",
            "description": "欲查詢車次的代碼",
            "required": true,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Rail.THSR.RailDailyTrainInfo"
              }
            }
          }
        }
      }
    },
    "/v2/Rail/THSR/DailyTrainInfo/TrainDate/{TrainDate}": {
      "get": {
        "tags": [
          "THSR"
        ],
        "summary": "取得指定[日期]所有車次的車次資料",
        "description": "取得指定[日期]所有車次的車次資料(高鐵提供近28天每日時刻表)",
        "operationId": "THSRApi_DailyTrainInfo_2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "TrainDate",
            "in": "path",
            "description": "欲查詢車次的日期(格式: yyyy-MM-dd)",
            "required": true,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Rail.THSR.RailDailyTrainInfo"
              }
            }
          }
        }
      }
    },
    "/v2/Rail/THSR/DailyTrainInfo/TrainNo/{TrainNo}/TrainDate/{TrainDate}": {
      "get": {
        "tags": [
          "THSR"
        ],
        "summary": "取得指定[日期],[車次]的車次資料",
        "description": "取得指定[日期],[車次]的車次資料(高鐵提供近28天每日時刻表)",
        "operationId": "THSRApi_DailyTrainInfo_3",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "TrainNo",
            "in": "path",
            "description": "欲查詢車次的代碼",
            "required": true,
            "type": "string"
          },
          {
            "name": "TrainDate",
            "in": "path",
            "description": "欲查詢車次的日期(格式: yyyy-MM-dd)",
            "required": true,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Rail.THSR.RailDailyTrainInfo"
              }
            }
          }
        }
      }
    },
    "/v2/Rail/THSR/DailyTimetable/Today": {
      "get": {
        "tags": [
          "THSR"
        ],
        "summary": "取得當天所有車次的時刻表資料",
        "description": "取得當天所有車次的時刻表資料",
        "operationId": "THSRApi_DailyTimetable",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Rail.THSR.RailDailyTimetable"
              }
            }
          }
        }
      }
    },
    "/v2/Rail/THSR/DailyTimetable/Today/TrainNo/{TrainNo}": {
      "get": {
        "tags": [
          "THSR"
        ],
        "summary": "取得當天指定[車次]的時刻表資料",
        "description": "取得當天指定[車次]的時刻表資料",
        "operationId": "THSRApi_DailyTimetable_1",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "TrainNo",
            "in": "path",
            "description": "欲查詢車次的代碼",
            "required": true,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Rail.THSR.RailDailyTimetable"
              }
            }
          }
        }
      }
    },
    "/v2/Rail/THSR/DailyTimetable/TrainDate/{TrainDate}": {
      "get": {
        "tags": [
          "THSR"
        ],
        "summary": "取得指定[日期]所有車次的時刻表資料",
        "description": "取得指定[日期]所有車次的時刻表資料(高鐵提供近28天每日時刻表)",
        "operationId": "THSRApi_DailyTimetable_2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "TrainDate",
            "in": "path",
            "description": "欲查詢的日期(格式: yyyy-MM-dd)",
            "required": true,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Rail.THSR.RailDailyTimetable"
              }
            }
          }
        }
      }
    },
    "/v2/Rail/THSR/DailyTimetable/TrainNo/{TrainNo}/TrainDate/{TrainDate}": {
      "get": {
        "tags": [
          "THSR"
        ],
        "summary": "取得指定[日期],[車次]的時刻表資料",
        "description": "取得指定[日期],[車次]的時刻表資料(高鐵提供近28天每日時刻表)",
        "operationId": "THSRApi_DailyTimetable_3",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "TrainNo",
            "in": "path",
            "description": "欲查詢車次的代碼",
            "required": true,
            "type": "string"
          },
          {
            "name": "TrainDate",
            "in": "path",
            "description": "欲查詢的日期(格式: yyyy-MM-dd)",
            "required": true,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Rail.THSR.RailDailyTimetable"
              }
            }
          }
        }
      }
    },
    "/v2/Rail/THSR/DailyTimetable/Station/{StationID}/{TrainDate}": {
      "get": {
        "tags": [
          "THSR"
        ],
        "summary": "取得指定[日期],[車站]的站別時刻表資料",
        "description": "取得指定[日期],[車站]的站別時刻表資料",
        "operationId": "THSRApi_StationTimetable",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "StationID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "TrainDate",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Rail.THSR.RailStationTimetable"
              }
            }
          }
        }
      }
    },
    "/v2/Rail/THSR/DailyTimetable/OD/{OriginStationID}/to/{DestinationStationID}/{TrainDate}": {
      "get": {
        "tags": [
          "THSR"
        ],
        "summary": "取得指定[日期],[起迄站間]之時刻表資料",
        "description": "取得指定[日期],[起迄站間]之時刻表資料",
        "operationId": "THSRApi_ODDailyTimetable",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "OriginStationID",
            "in": "path",
            "description": "起點車站代碼",
            "required": true,
            "type": "string"
          },
          {
            "name": "DestinationStationID",
            "in": "path",
            "description": "迄點車站代碼",
            "required": true,
            "type": "string"
          },
          {
            "name": "TrainDate",
            "in": "path",
            "description": "欲查詢的日期(格式: yyyy-MM-dd)",
            "required": true,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Rail.THSR.RailODDailyTimetable"
              }
            }
          }
        }
      }
    },
    "/v2/Rail/THSR/AlertInfo": {
      "get": {
        "tags": [
          "THSR"
        ],
        "summary": "取得即時通阻事件資料",
        "description": "取得即時通阻事件資料",
        "operationId": "THSRApi_AlertInfo",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Rail.THSR.AlertInfo"
              }
            }
          }
        }
      }
    },
    "/v2/Rail/THSR/News": {
      "get": {
        "tags": [
          "THSR"
        ],
        "summary": "取得高鐵最新消息資料",
        "description": "取得高鐵最新消息資料",
        "operationId": "THSRApi_News",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Rail.THSR.News"
              }
            }
          }
        }
      }
    },
    "/v2/Rail/THSR/Shape": {
      "get": {
        "tags": [
          "THSR"
        ],
        "summary": "取得軌道路網實體路線圖資資料",
        "description": "取得軌道路網實體路線圖資資料",
        "operationId": "THSRApi_Shape",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Rail.THSR.THSRShape"
              }
            }
          }
        }
      }
    },
    "/v2/Rail/THSR/AvailableSeatStatusList/{StationID}": {
      "get": {
        "tags": [
          "THSR"
        ],
        "summary": "取得動態指定[車站]的對號座剩餘座位資訊看板資料",
        "description": "取得動態指定[車站]的對號座剩餘座位資訊看板資料",
        "operationId": "THSRApi_AvailableSeatStatusList",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "StationID",
            "in": "path",
            "description": "起點車站代碼",
            "required": true,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Rail.THSR.AvailableSeatStatusList"
              }
            }
          }
        }
      }
    },
    "/v2/Rail/THSR/StationExit": {
      "get": {
        "tags": [
          "THSR"
        ],
        "summary": "取得車站出入口基本資料",
        "description": "取得車站出入口基本資料",
        "operationId": "THSRApi_StationExit",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$spatialFilter",
            "in": "query",
            "description": "空間過濾",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Rail.THSR.StationExit"
              }
            }
          }
        }
      }
    },
    "/v2/Rail/TRA/Network": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得臺鐵路網資料",
        "description": "取得臺鐵路網資料",
        "operationId": "TRAApi_Network",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Rail.TRA.Network"
              }
            }
          }
        }
      }
    },
    "/v2/Rail/TRA/Station": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得車站基本資料",
        "description": "取得車站基本資料",
        "operationId": "TRAApi_Station",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$spatialFilter",
            "in": "query",
            "description": "空間過濾",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Rail.TRA.RailStation"
              }
            }
          }
        }
      }
    },
    "/v2/Rail/TRA/Line": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得路線基本資料",
        "description": "取得路線基本資料",
        "operationId": "TRAApi_Line",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Rail.TRA.Line"
              }
            }
          }
        }
      }
    },
    "/v2/Rail/TRA/StationOfLine": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得路線車站基本資料",
        "description": "取得路線車站基本資料",
        "operationId": "TRAApi_StationOfLine",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Rail.TRA.StationOfLine"
              }
            }
          }
        }
      }
    },
    "/v2/Rail/TRA/TrainType": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得所有列車車種資料",
        "description": "取得所有列車車種資料",
        "operationId": "TRAApi_TrainType",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Rail.TRA.TrainType"
              }
            }
          }
        }
      }
    },
    "/v2/Rail/TRA/Shape": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得軌道路網實體路線圖資資料",
        "description": "取得軌道路網實體路線圖資資料",
        "operationId": "TRAApi_Shape",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Rail.TRA.TRAShape"
              }
            }
          }
        }
      }
    },
    "/v2/Rail/TRA/ODFare/{OriginStationID}/to/{DestinationStationID}": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得指定[起訖站間]之票價資料",
        "description": "取得指定[起訖站間]之票價資料",
        "operationId": "TRAApi_ODFareStation",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "OriginStationID",
            "in": "path",
            "description": "起點車站代碼",
            "required": true,
            "type": "string"
          },
          {
            "name": "DestinationStationID",
            "in": "path",
            "description": "迄點車站代碼",
            "required": true,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Rail.TRA.RailODFare"
              }
            }
          }
        }
      }
    },
    "/v2/Rail/TRA/ODFare": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得票價資料",
        "description": "取得票價資料",
        "operationId": "TRAApi_ODFareStation_1",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Rail.TRA.RailODFare"
              }
            }
          }
        }
      }
    },
    "/v2/Rail/TRA/GeneralTrainInfo": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得所有車次的定期車次資料",
        "description": "取得所有車次的定期車次資料",
        "operationId": "TRAApi_GeneralTrainInfo",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Rail.TRA.RailGeneralTrainInfo"
              }
            }
          }
        }
      }
    },
    "/v2/Rail/TRA/GeneralTrainInfo/TrainNo/{TrainNo}": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得指定[車次]的定期車次資料",
        "description": "取得指定[車次]的定期車次資料",
        "operationId": "TRAApi_GeneralTrainInfo_1",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "TrainNo",
            "in": "path",
            "description": "欲查詢車次的代碼",
            "required": true,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Rail.TRA.RailGeneralTrainInfo"
              }
            }
          }
        }
      }
    },
    "/v2/Rail/TRA/GeneralTimetable": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得所有車次的定期時刻表資料",
        "description": "取得所有車次的定期時刻表資料",
        "operationId": "TRAApi_GeneralTimetable",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Rail.TRA.RailGeneralTimetable"
              }
            }
          }
        }
      }
    },
    "/v2/Rail/TRA/GeneralTimetable/TrainNo/{TrainNo}": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得指定[車次]的定期時刻表資料",
        "description": "取得指定[車次]的定期時刻表資料",
        "operationId": "TRAApi_GeneralTimetable_1",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "TrainNo",
            "in": "path",
            "description": "欲查詢車次的代碼",
            "required": true,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Rail.TRA.RailGeneralTimetable"
              }
            }
          }
        }
      }
    },
    "/v2/Rail/TRA/DailyTrainInfo/Today": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得當天所有車次的車次資料",
        "description": "取得當天所有車次的車次資料",
        "operationId": "TRAApi_DailyTrainInfo",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Rail.TRA.RailDailyTrainInfo"
              }
            }
          }
        }
      }
    },
    "/v2/Rail/TRA/DailyTrainInfo/Today/TrainNo/{TrainNo}": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得當天指定[車次]的車次資料",
        "description": "取得當天指定[車次]的車次資料",
        "operationId": "TRAApi_DailyTrainInfo_1",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "TrainNo",
            "in": "path",
            "description": "欲查詢車次的代碼",
            "required": true,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Rail.TRA.RailDailyTrainInfo"
              }
            }
          }
        }
      }
    },
    "/v2/Rail/TRA/DailyTrainInfo/TrainDate/{TrainDate}": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得指定[日期]所有車次的車次資料",
        "description": "取得指定[日期]所有車次的車次資料(台鐵提供近60天每日時刻表)",
        "operationId": "TRAApi_DailyTrainInfo_2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "TrainDate",
            "in": "path",
            "description": "欲查詢車次的日期(格式: yyyy-MM-dd)",
            "required": true,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Rail.TRA.RailDailyTrainInfo"
              }
            }
          }
        }
      }
    },
    "/v2/Rail/TRA/DailyTrainInfo/TrainNo/{TrainNo}/TrainDate/{TrainDate}": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得指定[日期]與[車次]的車次資料",
        "description": "取得指定[日期]與[車次]的車次資料(台鐵提供近60天每日時刻表)",
        "operationId": "TRAApi_DailyTrainInfo_3",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
[...]
