{
  "swagger": "2.0",
  "info": {
    "title": "MOTC Transport API V2",
    "description": "本平臺提供涵蓋全國尺度之公車、臺鐵、高鐵、捷運、航空、自行車等公共運輸旅運資料服務API，歡迎各產政學單位介接使用。\n                                                    <br><span class=swagger-description-indicatation>利用本平臺開放資料進行各項應用服務開發時，請考量不同特性使用者(如:性別/身心障礙/老幼等)的需求，並歡迎回饋寶貴意見。</span>\n                                                    <br><br>資料使用葵花寶典:[請點我](https://motc-ptx-api-documentation.gitbook.io/motc-ptx-api-documentation/)\n                                                    <br>資料服務開發實作參考手冊:[請點我](https://docs.google.com/viewer?url=https://github.com/ptxmotc/PTX_Web/blob/master/Swagger%E6%9C%8D%E5%8B%99%E8%AA%AA%E6%98%8E%E4%B8%8A%E5%82%B3%E5%8F%83%E8%80%83%E6%AA%94%E6%A1%88/%E5%85%AC%E5%85%B1%E9%81%8B%E8%BC%B8%E6%95%B4%E5%90%88%E8%B3%87%E8%A8%8A%E5%B9%B3%E5%8F%B0%E8%B3%87%E6%96%99%E6%9C%8D%E5%8B%99%E9%96%8B%E7%99%BC%E5%AF%A6%E4%BD%9C.pdf?raw=true)\n                                                    <br>API URI Convention文件說明:[請點我](https://docs.google.com/viewer?url=https://github.com/ptxmotc/PTX_Web/blob/master/Swagger%E6%9C%8D%E5%8B%99%E8%AA%AA%E6%98%8E%E4%B8%8A%E5%82%B3%E5%8F%83%E8%80%83%E6%AA%94%E6%A1%88/API_URI_Convention%E6%96%87%E4%BB%B6_v1.pdf?raw=true)",
    "version": "v2"
  },
  "host": "ptx.transportdata.tw",
  "basePath": "/MOTC",
  "schemes": [
    "https"
  ],
  "paths": {
    "/v2/Bike/Station/City/{City}": {
      "get": {
        "tags": [
          "Bike"
        ],
        "summary": "取得指定[縣市]的公共自行車租借站位資料",
        "description": "取得指定[縣市]的公共自行車租借站位資料",
        "operationId": "BikeApi_Station_2180",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Taichung",
              "Hsinchu",
              "MiaoliCounty",
              "NewTaipei",
              "PingtungCounty",
              "KinmenCounty",
              "Taoyuan",
              "Taipei",
              "Kaohsiung",
              "Tainan",
              "Chiayi"
            ],
            "x-enum": {
              "ChanghuaCounty": "彰化縣",
              "KinmenCounty": "金門縣",
              "Kaohsiung": "高雄市",
              "Taichung": "臺中市",
              "Hsinchu": "新竹市",
              "PingtungCounty": "屏東縣",
              "Taoyuan": "桃園市",
              "NewTaipei": "新北市",
              "Chiayi": "嘉義市",
              "Taipei": "臺北市",
              "Tainan": "臺南市",
              "MiaoliCounty": "苗栗縣"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Bike.Specification.V2.BikeStation"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Bike/Availability/City/{City}": {
      "get": {
        "tags": [
          "Bike"
        ],
        "summary": "取得動態指定[縣市]的公共自行車即時車位資料",
        "description": "取得動態指定[縣市]的公共自行車即時車位資料",
        "operationId": "BikeApi_Availability_2181",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Taichung",
              "Hsinchu",
              "MiaoliCounty",
              "NewTaipei",
              "PingtungCounty",
              "KinmenCounty",
              "Taoyuan",
              "Taipei",
              "Kaohsiung",
              "Tainan",
              "Chiayi"
            ],
            "x-enum": {
              "Taichung": "臺中市",
              "NewTaipei": "新北市",
              "Taipei": "臺北市",
              "PingtungCounty": "屏東縣",
              "Tainan": "臺南市",
              "Chiayi": "嘉義市",
              "ChanghuaCounty": "彰化縣",
              "KinmenCounty": "金門縣",
              "MiaoliCounty": "苗栗縣",
              "Hsinchu": "新竹市",
              "Taoyuan": "桃園市",
              "Kaohsiung": "高雄市"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Bike.Specification.V2.BikeAvailability"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Cycling/Shape/City/{City}": {
      "get": {
        "tags": [
          "Bike"
        ],
        "summary": "取得指定縣市之自行車道路網圖資",
        "description": "取得指定縣市之自行車道路網圖資",
        "operationId": "CyclingApi_Shape_2182",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Taichung",
              "Keelung",
              "HsinchuCounty",
              "MiaoliCounty",
              "ChanghuaCounty",
              "NewTaipei",
              "NantouCounty",
              "YunlinCounty",
              "ChiayiCounty",
              "Chiayi",
              "PingtungCounty",
              "YilanCounty",
              "HualienCounty",
              "TaitungCounty",
              "KinmenCounty",
              "PenghuCounty",
              "Taoyuan",
              "Taipei",
              "Kaohsiung",
              "Tainan"
            ],
            "x-enum": {
              "Kaohsiung": "高雄市",
              "YilanCounty": "宜蘭縣",
              "Taoyuan": "桃園市",
              "HsinchuCounty": "新竹縣",
              "TaitungCounty": "臺東縣",
              "Hsinchu": "新竹市",
              "NewTaipei": "新北市",
              "LienchiangCounty": "連江縣",
              "HualienCounty": "花蓮縣",
              "NantouCounty": "南投縣",
              "Chiayi": "嘉義市",
              "ChanghuaCounty": "彰化縣",
              "PingtungCounty": "屏東縣",
              "MiaoliCounty": "苗栗縣",
              "PenghuCounty": "澎湖縣",
              "Taichung": "臺中市",
              "YunlinCounty": "雲林縣",
              "Keelung": "基隆市",
              "Tainan": "臺南市",
              "KinmenCounty": "金門縣",
              "ChiayiCounty": "嘉義縣",
              "Taipei": "臺北市"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Bike.Specification.V2.BikeShape"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Bike/Station/NearBy": {
      "get": {
        "tags": [
          "Bike Advanced(Nearby)"
        ],
        "summary": "取得指定[位置,範圍]的全臺公共自行車租借站位資料",
        "description": "取得指定[位置,範圍]的全臺公共自行車租借站位資料",
        "operationId": "BikeApi_Station_AllCity_NearBy_2870",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$spatialFilter",
            "description": "空間過濾(最大搜尋半徑為1000公尺)，語法為nearby({Lat},{Lon},{DistanceInMeters})，例如nearby(25.047675, 121.517055, 100)",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Bike.Specification.V2.BikeStation"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Bike/Availability/NearBy": {
      "get": {
        "tags": [
          "Bike Advanced(Nearby)"
        ],
        "summary": "取得指定[位置,範圍]的全臺公共自行車即時車位資料",
        "description": "取得指定[位置,範圍]的全臺公共自行車即時車位資料",
        "operationId": "BikeApi_Availability_AllCity_NearBy_2871",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$spatialFilter",
            "description": "空間過濾(最大搜尋半徑為1000公尺)，語法為nearby({Lat},{Lon},{DistanceInMeters})，例如nearby(25.047675, 121.517055, 100)",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Bike.Specification.V2.BikeAvailability"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "PTX.Service.DTO.Bike.Specification.V2.BikeAvailability": {
      "title": "BikeAvailability",
      "description": "自行車站點剩餘數量資訊",
      "required": [
        "UpdateTime"
      ],
      "type": "object",
      "properties": {
        "StationUID": {
          "title": "String",
          "description": "站點唯一識別代碼，規則為 {業管機關代碼} + {StationID}，其中 {業管機關代碼} 可於Authority API中的AuthorityCode欄位查詢",
          "type": "string",
          "xml": {
            "name": "StationUID"
          }
        },
        "StationID": {
          "title": "String",
          "description": "站點代碼",
          "type": "string",
          "xml": {
            "name": "StationID"
          }
        },
        "ServiceStatus": {
          "title": "Int32",
          "description": "服務狀態 : [0:'停止營運',1:'正常營運',2:'暫停營運']",
          "type": "integer"
        },
        "ServiceType": {
          "title": "Int32",
          "description": "服務類型 : [1:'YouBike1.0',2:'YouBike2.0']",
          "type": "integer"
        },
        "AvailableRentBikes": {
          "format": "int32",
          "title": "Int32",
          "description": "可租借車數",
          "type": "integer"
        },
        "AvailableReturnBikes": {
          "format": "int32",
          "title": "Int32",
          "description": "可歸還車數",
          "type": "integer"
        },
        "SrcUpdateTime": {
          "format": "date-time",
          "description": "來源端平台資料更新時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "UpdateTime": {
          "format": "date-time",
          "title": "DateTime",
          "description": "資料更新日期時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        }
      },
      "xml": {
        "name": "BikeAvailability"
      }
    },
    "PTX.Service.DTO.Bike.Specification.V2.BikeShape": {
      "title": "BikeShape",
      "required": [
        "City",
        "CityCode",
        "EncodedPolyline",
        "Geometry",
        "RouteName",
        "UpdateTime"
      ],
      "type": "object",
      "properties": {
        "RouteName": {
          "title": "String",
          "description": "路線名稱",
          "type": "string",
          "xml": {
            "name": "RouteName"
          }
        },
        "AuthorityName": {
          "title": "String",
          "description": "業管機關名稱（可能包含多個業管機關）",
          "type": "string",
          "xml": {
            "name": "AuthorityName"
          }
        },
        "CityCode": {
          "title": "String",
          "description": "路線所在縣市代碼",
          "type": "string",
          "xml": {
            "name": "CityCode"
          }
        },
        "City": {
          "title": "String",
          "description": "路線所在縣市名稱",
          "type": "string",
          "xml": {
            "name": "City"
          }
        },
        "Town": {
          "title": "String",
          "description": "路線所在鄉鎮名稱（可能包含多個鄉鎮）",
          "type": "string",
          "xml": {
            "name": "Town"
          }
        },
        "RoadSectionStart": {
          "title": "String",
          "description": "路線起點描述",
          "type": "string",
          "xml": {
            "name": "RoadSectionStart"
          }
        },
        "RoadSectionEnd": {
          "title": "String",
          "description": "路線迄點描述",
          "type": "string",
          "xml": {
            "name": "RoadSectionEnd"
          }
        },
        "Direction": {
          "title": "String",
          "description": "自行車道車行方向",
          "type": "string",
          "xml": {
            "name": "Direction"
          }
        },
        "CyclingType": {
          "title": "String",
          "description": "自行車道類型",
          "type": "string",
          "xml": {
            "name": "CyclingType"
          }
        },
        "CyclingLength": {
          "format": "double",
          "description": "自行車道長度",
          "type": "number"
        },
        "FinishedTime": {
          "title": "String",
          "description": "自行車道完工日期時間",
          "type": "string",
          "xml": {
            "name": "FinishedTime"
          }
        },
        "UpdateTime": {
          "format": "date-time",
          "title": "DateTime",
          "description": "資料更新日期時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "Geometry": {
          "title": "String",
          "description": "well-known text，為路線軌跡資料",
          "type": "string",
          "xml": {
            "name": "Geometry"
          }
        },
        "EncodedPolyline": {
          "title": "String",
          "description": "路線軌跡編碼(encoded polyline)",
          "type": "string",
          "xml": {
            "name": "EncodedPolyline"
          }
        }
      },
      "xml": {
        "name": "BikeShape"
      }
    },
    "PTX.Service.DTO.Bike.Specification.V2.BikeStation": {
      "title": "BikeStation",
      "description": "自行車站點資訊",
      "required": [
        "UpdateTime"
      ],
      "type": "object",
      "properties": {
        "StationUID": {
          "title": "String",
          "description": "站點唯一識別代碼，規則為 {業管機關代碼} + {StationID}，其中 {業管機關代碼} 可於Authority API中的AuthorityCode欄位查詢",
          "type": "string",
          "xml": {
            "name": "StationUID"
          }
        },
        "StationID": {
          "title": "String",
          "description": "站點代碼",
          "type": "string",
          "xml": {
            "name": "StationID"
          }
        },
        "AuthorityID": {
          "title": "String",
          "description": "業管單位代碼",
          "type": "string",
          "xml": {
            "name": "AuthorityID"
          }
        },
        "StationName": {
          "title": "NameType",
          "description": "站點名稱",
          "allOf": [
            {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V2.Base.NameType"
            }
          ],
          "xml": {
            "name": "NameType"
          }
        },
        "StationPosition": {
          "title": "PointType",
          "description": "站點位置",
          "allOf": [
            {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V2.Base.PointType"
            }
          ],
          "xml": {
            "name": "PointType"
          }
        },
        "StationAddress": {
          "title": "NameType",
          "description": "站點地址",
          "allOf": [
            {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V2.Base.NameType"
            }
          ],
          "xml": {
            "name": "NameType"
          }
        },
        "StopDescription": {
          "title": "String",
          "description": "站點描述",
          "type": "string",
          "xml": {
            "name": "StopDescription"
          }
        },
        "BikesCapacity": {
          "format": "int32",
          "title": "Int32",
          "description": "可容納之自行車總數",
          "type": "integer"
        },
        "ServiceType": {
          "title": "Int32",
          "description": "服務類型 : [1:'YouBike1.0',2:'YouBike2.0']",
          "type": "integer"
        },
        "SrcUpdateTime": {
          "format": "date-time",
          "description": "來源端平台資料更新時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "UpdateTime": {
          "format": "date-time",
          "title": "DateTime",
          "description": "資料更新日期時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        }
      },
      "xml": {
        "name": "BikeStation"
      }
    },
    "PTX.Service.DTO.Shared.Specification.V2.Base.NameType": {
      "title": "NameType",
      "description": "名稱資料型別",
      "type": "object",
      "properties": {
        "Zh_tw": {
          "title": "String",
          "description": "中文繁體名稱",
          "type": "string",
          "xml": {
            "name": "Zh_tw"
          }
        },
        "En": {
          "title": "String",
          "description": "英文名稱",
          "type": "string",
          "xml": {
            "name": "En"
          }
        }
      },
      "xml": {
        "name": "NameType"
      }
    },
    "PTX.Service.DTO.Shared.Specification.V2.Base.PointType": {
      "title": "PointType",
      "description": "座標資料型別",
      "type": "object",
      "properties": {
        "PositionLon": {
          "format": "double",
          "description": "位置經度(WGS84)",
          "type": "number"
        },
        "PositionLat": {
          "format": "double",
          "description": "位置緯度(WGS84)",
          "type": "number"
        },
        "GeoHash": {
          "title": "String",
          "description": "地理空間編碼",
          "type": "string",
          "xml": {
            "name": "GeoHash"
          }
        }
      },
      "xml": {
        "name": "PointType"
      }
    },
    "PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth": {
      "title": "DisplayHealth",
      "description": "API服務健康狀態",
      "required": [
        "ServiceID",
        "ServiceName"
      ],
      "type": "object",
      "properties": {
        "ServiceID": {
          "title": "String",
          "description": "API服務代碼",
          "type": "string",
          "xml": {
            "name": "ServiceID"
          }
        },
        "ServiceName": {
          "title": "String",
          "description": "API服務中文名稱",
          "type": "string",
          "xml": {
            "name": "ServiceName"
          }
        },
        "Inbound": {
          "title": "Inbound",
          "description": "本平台資料來源轉入狀態",
          "allOf": [
            {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.Inbound"
            }
          ],
          "xml": {
            "name": "Inbound"
          }
        },
        "Outbound": {
          "title": "Outbound",
          "description": "本平台API狀態",
          "allOf": [
            {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.Outbound"
            }
          ],
          "xml": {
            "name": "Outbound"
          }
        }
      },
      "xml": {
        "name": "DisplayHealth"
      }
    },
    "PTX.Service.DTO.Shared.Specification.V3.Base.Inbound": {
      "title": "Inbound",
      "description": "本平台資料來源轉入狀態",
      "required": [
        "CheckTime",
        "Status"
      ],
      "type": "object",
      "properties": {
        "CheckTime": {
          "format": "date-time",
          "title": "DateTime",
          "description": "檢核時間",
          "type": "string"
        },
        "Status": {
          "title": "Int32",
          "description": "檢核結果狀態 : [0:'失敗',1:'成功',2:'資料清洗中']",
          "type": "integer"
        },
        "Reason": {
          "title": "String",
          "description": "檢核失敗原因",
          "type": "string",
          "xml": {
            "name": "Reason"
          }
        }
      },
      "xml": {
        "name": "Inbound"
      }
    },
    "PTX.Service.DTO.Shared.Specification.V3.Base.Outbound": {
      "title": "Outbound",
      "description": "本平台API狀態",
      "required": [
        "CheckTime",
        "Status"
      ],
      "type": "object",
      "properties": {
        "CheckTime": {
          "format": "date-time",
          "title": "DateTime",
          "description": "檢核時間",
          "type": "string"
        },
        "Status": {
          "title": "Int32",
          "description": "檢核結果狀態 : [0:'失敗',1:'成功',2:'資料清洗中']",
          "type": "integer"
        },
        "Reason": {
          "title": "String",
          "description": "檢核失敗原因",
          "type": "string",
          "xml": {
            "name": "Reason"
          }
        }
      },
      "xml": {
        "name": "Outbound"
      }
    }
  },
  "securityDefinitions": {
    "AppID": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header",
      "description": "Specify the authorization token."
    },
    "AppKey": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header",
      "description": "Specify the authorization token."
    }
  },
  "security": [
    {
      "AppID": [],
      "AppKey": []
    }
  ],
  "tags": [
    {
      "name": "Bike",
      "description": "自行車"
    },
    {
      "name": "Bike Advanced(Nearby)",
      "description": "自行車進階(指定位置範圍)"
    }
  ]
}
