{
  "swagger": "2.0",
  "info": {
    "version": "v2",
    "title": "MOTC Transport API V2",
    "description": "本平臺提供涵蓋全國尺度之公車、臺鐵、高鐵、捷運、航空、自行車等公共運輸旅運資料服務API，歡迎各產政學單位介接使用。\r\n                <br><span class=swagger-description-indicatation>利用本平臺開放資料進行各項應用服務開發時，請考量不同特性使用者(如:性別/身心障礙/老幼等)的需求，並歡迎回饋寶貴意見。</span>\r\n                <br><br>資料使用葵花寶典:[請點我](https://ptxmotc.gitbooks.io/ptx-api-documentation/content/)\r\n                <br>資料服務開發實作參考手冊:[請點我](https://docs.google.com/viewer?url=https://github.com/ptxmotc/PTX_Web/blob/master/Swagger%E6%9C%8D%E5%8B%99%E8%AA%AA%E6%98%8E%E4%B8%8A%E5%82%B3%E5%8F%83%E8%80%83%E6%AA%94%E6%A1%88/%E5%85%AC%E5%85%B1%E9%81%8B%E8%BC%B8%E6%95%B4%E5%90%88%E8%B3%87%E8%A8%8A%E5%B9%B3%E5%8F%B0%E8%B3%87%E6%96%99%E6%9C%8D%E5%8B%99%E9%96%8B%E7%99%BC%E5%AF%A6%E4%BD%9C.pdf?raw=true)\r\n                <br>API URI Convention文件說明:[請點我](https://docs.google.com/viewer?url=https://github.com/ptxmotc/PTX_Web/blob/master/Swagger%E6%9C%8D%E5%8B%99%E8%AA%AA%E6%98%8E%E4%B8%8A%E5%82%B3%E5%8F%83%E8%80%83%E6%AA%94%E6%A1%88/API_URI_Convention%E6%96%87%E4%BB%B6_v1.pdf?raw=true)<br>資料文本OAS描述:[請點我](http://ptx.transportdata.tw/MOTC/v2/Bus/api-docs/oas)"
  },
  "host": "ptx.transportdata.tw",
  "basePath": "/MOTC/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/v2/Bus/RealTimeByFrequency/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的公車動態定時資料(A1)",
        "description": "市區公車之定時資料(A1)",
        "operationId": "CityBusApi_RealTimeByFrequency",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Taipei",
              "NewTaipei",
              "Taoyuan",
              "Taichung",
              "Tainan",
              "Kaohsiung",
              "Keelung",
              "Hsinchu",
              "HsinchuCounty",
              "MiaoliCounty",
              "ChanghuaCounty",
              "NantouCounty",
              "YunlinCounty",
              "ChiayiCounty",
              "Chiayi",
              "PingtungCounty",
              "YilanCounty",
              "HualienCounty",
              "TaitungCounty",
              "KinmenCounty",
              "PenghuCounty",
              "LienchiangCounty"
            ],
            "x-enum": {
              "KinmenCounty": "金門縣",
              "Taoyuan": "桃園市",
              "LienchiangCounty": "連江縣",
              "Chiayi": "嘉義市",
              "Tainan": "臺南市",
              "TaitungCounty": "臺東縣",
              "ChiayiCounty": "嘉義縣",
              "Hsinchu": "新竹市",
              "YilanCounty": "宜蘭縣",
              "YunlinCounty": "雲林縣",
              "PenghuCounty": "澎湖縣",
              "Kaohsiung": "高雄市",
              "Keelung": "基隆市",
              "PingtungCounty": "屏東縣",
              "Taichung": "臺中市",
              "Taipei": "臺北市",
              "NantouCounty": "南投縣",
              "NewTaipei": "新北市",
              "MiaoliCounty": "苗栗縣",
              "HualienCounty": "花蓮縣",
              "HsinchuCounty": "新竹縣",
              "ChanghuaCounty": "彰化縣"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$spatialFilter",
            "in": "query",
            "description": "空間過濾",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Bus.BusA1Data"
              }
            }
          }
        }
      }
    },
    "/v2/Bus/RealTimeByFrequency/City/{City}/{RouteName}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市],[路線名稱]的公車動態定時資料(A1)",
        "description": "市區公車之定時資料(A1)",
        "operationId": "CityBusApi_RealTimeByFrequency_1",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Taipei",
              "NewTaipei",
              "Taoyuan",
              "Taichung",
              "Tainan",
              "Kaohsiung",
              "Keelung",
              "Hsinchu",
              "HsinchuCounty",
              "MiaoliCounty",
              "ChanghuaCounty",
              "NantouCounty",
              "YunlinCounty",
              "ChiayiCounty",
              "Chiayi",
              "PingtungCounty",
              "YilanCounty",
              "HualienCounty",
              "TaitungCounty",
              "KinmenCounty",
              "PenghuCounty",
              "LienchiangCounty"
            ],
            "x-enum": {
              "KinmenCounty": "金門縣",
              "Taoyuan": "桃園市",
              "LienchiangCounty": "連江縣",
              "Chiayi": "嘉義市",
              "Tainan": "臺南市",
              "TaitungCounty": "臺東縣",
              "ChiayiCounty": "嘉義縣",
              "Hsinchu": "新竹市",
              "YilanCounty": "宜蘭縣",
              "YunlinCounty": "雲林縣",
              "PenghuCounty": "澎湖縣",
              "Kaohsiung": "高雄市",
              "Keelung": "基隆市",
              "PingtungCounty": "屏東縣",
              "Taichung": "臺中市",
              "Taipei": "臺北市",
              "NantouCounty": "南投縣",
              "NewTaipei": "新北市",
              "MiaoliCounty": "苗栗縣",
              "HualienCounty": "花蓮縣",
              "HsinchuCounty": "新竹縣",
              "ChanghuaCounty": "彰化縣"
            }
          },
          {
            "name": "RouteName",
            "in": "path",
            "description": "繁體中文路線名稱，如'307'",
            "required": true,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$spatialFilter",
            "in": "query",
            "description": "空間過濾",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Bus.BusA1Data"
              }
            }
          }
        }
      }
    },
    "/v2/Bus/RealTimeNearStop/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的公車動態定點資料(A2)",
        "description": "市區公車之定點資料(A2)",
        "operationId": "CityBusApi_RealTimeNearStop",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Taipei",
              "NewTaipei",
              "Taoyuan",
              "Taichung",
              "Tainan",
              "Kaohsiung",
              "Keelung",
              "Hsinchu",
              "HsinchuCounty",
              "MiaoliCounty",
              "ChanghuaCounty",
              "NantouCounty",
              "YunlinCounty",
              "ChiayiCounty",
              "Chiayi",
              "PingtungCounty",
              "YilanCounty",
              "HualienCounty",
              "TaitungCounty",
              "KinmenCounty",
              "PenghuCounty",
              "LienchiangCounty"
            ],
            "x-enum": {
              "MiaoliCounty": "苗栗縣",
              "YunlinCounty": "雲林縣",
              "Keelung": "基隆市",
              "HualienCounty": "花蓮縣",
              "Taichung": "臺中市",
              "Taoyuan": "桃園市",
              "Hsinchu": "新竹市",
              "Tainan": "臺南市",
              "KinmenCounty": "金門縣",
              "ChanghuaCounty": "彰化縣",
              "Taipei": "臺北市",
              "NantouCounty": "南投縣",
              "PingtungCounty": "屏東縣",
              "TaitungCounty": "臺東縣",
              "ChiayiCounty": "嘉義縣",
              "Chiayi": "嘉義市",
              "HsinchuCounty": "新竹縣",
              "YilanCounty": "宜蘭縣",
              "LienchiangCounty": "連江縣",
              "NewTaipei": "新北市",
              "PenghuCounty": "澎湖縣",
              "Kaohsiung": "高雄市"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Bus.BusA2Data"
              }
            }
          }
        }
      }
    },
    "/v2/Bus/RealTimeNearStop/City/{City}/{RouteName}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市],[路線名稱]的公車動態定點資料(A2)",
        "description": "市區公車之定點資料(A2)",
        "operationId": "CityBusApi_RealTimeNearStop_1",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Taipei",
              "NewTaipei",
              "Taoyuan",
              "Taichung",
              "Tainan",
              "Kaohsiung",
              "Keelung",
              "Hsinchu",
              "HsinchuCounty",
              "MiaoliCounty",
              "ChanghuaCounty",
              "NantouCounty",
              "YunlinCounty",
              "ChiayiCounty",
              "Chiayi",
              "PingtungCounty",
              "YilanCounty",
              "HualienCounty",
              "TaitungCounty",
              "KinmenCounty",
              "PenghuCounty",
              "LienchiangCounty"
            ],
            "x-enum": {
              "MiaoliCounty": "苗栗縣",
              "YunlinCounty": "雲林縣",
              "Keelung": "基隆市",
              "HualienCounty": "花蓮縣",
              "Taichung": "臺中市",
              "Taoyuan": "桃園市",
              "Hsinchu": "新竹市",
              "Tainan": "臺南市",
              "KinmenCounty": "金門縣",
              "ChanghuaCounty": "彰化縣",
              "Taipei": "臺北市",
              "NantouCounty": "南投縣",
              "PingtungCounty": "屏東縣",
              "TaitungCounty": "臺東縣",
              "ChiayiCounty": "嘉義縣",
              "Chiayi": "嘉義市",
              "HsinchuCounty": "新竹縣",
              "YilanCounty": "宜蘭縣",
              "LienchiangCounty": "連江縣",
              "NewTaipei": "新北市",
              "PenghuCounty": "澎湖縣",
              "Kaohsiung": "高雄市"
            }
          },
          {
            "name": "RouteName",
            "in": "path",
            "description": "繁體中文路線名稱，如'307'",
            "required": true,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Bus.BusA2Data"
              }
            }
          }
        }
      }
    },
    "/v2/Bus/EstimatedTimeOfArrival/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的公車預估到站資料(N1)",
        "description": "[部分縣市] 當 StopStatus = 1(尚未發車) 且 EstimateTime &gt; 0 (有值) 的情形, 屬正常情形, 雖目前尚未發車, 但提供EstimateTime值為預計多久後開始發車之時間",
        "operationId": "CityBusApi_EstimatedTimeOfArrival",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Taipei",
              "NewTaipei",
              "Taoyuan",
              "Taichung",
              "Tainan",
              "Kaohsiung",
              "Keelung",
              "Hsinchu",
              "HsinchuCounty",
              "MiaoliCounty",
              "ChanghuaCounty",
              "NantouCounty",
              "YunlinCounty",
              "ChiayiCounty",
              "Chiayi",
              "PingtungCounty",
              "YilanCounty",
              "HualienCounty",
              "TaitungCounty",
              "KinmenCounty",
              "PenghuCounty",
              "LienchiangCounty"
            ],
            "x-enum": {
              "Taoyuan": "桃園市",
              "Tainan": "臺南市",
              "MiaoliCounty": "苗栗縣",
              "Taichung": "臺中市",
              "ChanghuaCounty": "彰化縣",
              "HualienCounty": "花蓮縣",
              "Hsinchu": "新竹市",
              "Kaohsiung": "高雄市",
              "LienchiangCounty": "連江縣",
              "NewTaipei": "新北市",
              "Keelung": "基隆市",
              "Taipei": "臺北市",
              "NantouCounty": "南投縣",
              "PingtungCounty": "屏東縣",
              "YunlinCounty": "雲林縣",
              "Chiayi": "嘉義市",
              "YilanCounty": "宜蘭縣",
              "PenghuCounty": "澎湖縣",
              "HsinchuCounty": "新竹縣",
              "KinmenCounty": "金門縣",
              "ChiayiCounty": "嘉義縣",
              "TaitungCounty": "臺東縣"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Bus.BusN1EstimateTime"
              }
            }
          }
        }
      }
    },
    "/v2/Bus/EstimatedTimeOfArrival/City/{City}/{RouteName}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市],[路線名稱]的公車預估到站資料(N1)",
        "description": "[部分縣市] 當 StopStatus = 1(尚未發車) 且 EstimateTime &gt; 0 (有值) 的情形, 屬正常情形, 雖目前尚未發車, 但提供EstimateTime值為預計多久後開始發車之時間",
        "operationId": "CityBusApi_EstimatedTimeOfArrival_1",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Taipei",
              "NewTaipei",
              "Taoyuan",
              "Taichung",
              "Tainan",
              "Kaohsiung",
              "Keelung",
              "Hsinchu",
              "HsinchuCounty",
              "MiaoliCounty",
              "ChanghuaCounty",
              "NantouCounty",
              "YunlinCounty",
              "ChiayiCounty",
              "Chiayi",
              "PingtungCounty",
              "YilanCounty",
              "HualienCounty",
              "TaitungCounty",
              "KinmenCounty",
              "PenghuCounty",
              "LienchiangCounty"
            ],
            "x-enum": {
              "Taoyuan": "桃園市",
              "Tainan": "臺南市",
              "MiaoliCounty": "苗栗縣",
              "Taichung": "臺中市",
              "ChanghuaCounty": "彰化縣",
              "HualienCounty": "花蓮縣",
              "Hsinchu": "新竹市",
              "Kaohsiung": "高雄市",
              "LienchiangCounty": "連江縣",
              "NewTaipei": "新北市",
              "Keelung": "基隆市",
              "Taipei": "臺北市",
              "NantouCounty": "南投縣",
              "PingtungCounty": "屏東縣",
              "YunlinCounty": "雲林縣",
              "Chiayi": "嘉義市",
              "YilanCounty": "宜蘭縣",
              "PenghuCounty": "澎湖縣",
              "HsinchuCounty": "新竹縣",
              "KinmenCounty": "金門縣",
              "ChiayiCounty": "嘉義縣",
              "TaitungCounty": "臺東縣"
            }
          },
          {
            "name": "RouteName",
            "in": "path",
            "description": "繁體中文路線名稱，如'307'",
            "required": true,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Bus.BusN1EstimateTime"
              }
            }
          }
        }
      }
    },
    "/v2/Bus/DataVersion/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]目前資料的最新版本資訊",
        "description": "版本詳細資訊",
        "operationId": "CityBusApi_DataVersion",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Taipei",
              "NewTaipei",
              "Taoyuan",
              "Taichung",
              "Tainan",
              "Kaohsiung",
              "Keelung",
              "Hsinchu",
              "HsinchuCounty",
              "MiaoliCounty",
              "ChanghuaCounty",
              "NantouCounty",
              "YunlinCounty",
              "ChiayiCounty",
              "Chiayi",
              "PingtungCounty",
              "YilanCounty",
              "HualienCounty",
              "TaitungCounty",
              "KinmenCounty",
              "PenghuCounty",
              "LienchiangCounty"
            ],
            "x-enum": {
              "PenghuCounty": "澎湖縣",
              "ChiayiCounty": "嘉義縣",
              "HsinchuCounty": "新竹縣",
              "LienchiangCounty": "連江縣",
              "TaitungCounty": "臺東縣",
              "Tainan": "臺南市",
              "Chiayi": "嘉義市",
              "ChanghuaCounty": "彰化縣",
              "NewTaipei": "新北市",
              "MiaoliCounty": "苗栗縣",
              "Taoyuan": "桃園市",
              "Taichung": "臺中市",
              "YilanCounty": "宜蘭縣",
              "Hsinchu": "新竹市",
              "PingtungCounty": "屏東縣",
              "Taipei": "臺北市",
              "Kaohsiung": "高雄市",
              "NantouCounty": "南投縣",
              "YunlinCounty": "雲林縣",
              "KinmenCounty": "金門縣",
              "Keelung": "基隆市",
              "HualienCounty": "花蓮縣"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Service.DTO.Version2.Bus.BusVersion"
            }
          }
        }
      }
    },
    "/v2/Bus/Operator/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車營運業者資料",
        "description": "市區公車之營運業者資料",
        "operationId": "CityBusApi_Operator",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Taipei",
              "NewTaipei",
              "Taoyuan",
              "Taichung",
              "Tainan",
              "Kaohsiung",
              "Keelung",
              "Hsinchu",
              "HsinchuCounty",
              "MiaoliCounty",
              "ChanghuaCounty",
              "NantouCounty",
              "YunlinCounty",
              "ChiayiCounty",
              "Chiayi",
              "PingtungCounty",
              "YilanCounty",
              "HualienCounty",
              "TaitungCounty",
              "KinmenCounty",
              "PenghuCounty",
              "LienchiangCounty"
            ],
            "x-enum": {
              "Taipei": "臺北市",
              "Hsinchu": "新竹市",
              "HualienCounty": "花蓮縣",
              "Chiayi": "嘉義市",
              "Kaohsiung": "高雄市",
              "LienchiangCounty": "連江縣",
              "NewTaipei": "新北市",
              "NantouCounty": "南投縣",
              "PingtungCounty": "屏東縣",
              "HsinchuCounty": "新竹縣",
              "MiaoliCounty": "苗栗縣",
              "KinmenCounty": "金門縣",
              "TaitungCounty": "臺東縣",
              "Tainan": "臺南市",
              "ChiayiCounty": "嘉義縣",
              "PenghuCounty": "澎湖縣",
              "ChanghuaCounty": "彰化縣",
              "Taoyuan": "桃園市",
              "YilanCounty": "宜蘭縣",
              "YunlinCounty": "雲林縣",
              "Keelung": "基隆市",
              "Taichung": "臺中市"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Base.Operator"
              }
            }
          }
        }
      }
    },
    "/v2/Bus/Route/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車路線資料",
        "description": "市區公車之路線資料",
        "operationId": "CityBusApi_Route",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Taipei",
              "NewTaipei",
              "Taoyuan",
              "Taichung",
              "Tainan",
              "Kaohsiung",
              "Keelung",
              "Hsinchu",
              "HsinchuCounty",
              "MiaoliCounty",
              "ChanghuaCounty",
              "NantouCounty",
              "YunlinCounty",
              "ChiayiCounty",
              "Chiayi",
              "PingtungCounty",
              "YilanCounty",
              "HualienCounty",
              "TaitungCounty",
              "KinmenCounty",
              "PenghuCounty",
              "LienchiangCounty"
            ],
            "x-enum": {
              "TaitungCounty": "臺東縣",
              "Tainan": "臺南市",
              "PingtungCounty": "屏東縣",
              "Taoyuan": "桃園市",
              "YilanCounty": "宜蘭縣",
              "HsinchuCounty": "新竹縣",
              "PenghuCounty": "澎湖縣",
              "Keelung": "基隆市",
              "ChiayiCounty": "嘉義縣",
              "HualienCounty": "花蓮縣",
              "YunlinCounty": "雲林縣",
              "NewTaipei": "新北市",
              "Hsinchu": "新竹市",
              "KinmenCounty": "金門縣",
              "Taipei": "臺北市",
              "Chiayi": "嘉義市",
              "LienchiangCounty": "連江縣",
              "Taichung": "臺中市",
              "ChanghuaCounty": "彰化縣",
              "MiaoliCounty": "苗栗縣",
              "Kaohsiung": "高雄市",
              "NantouCounty": "南投縣"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Bus.BusRoute"
              }
            }
          }
        }
      }
    },
    "/v2/Bus/Route/City/{City}/{RouteName}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市],[路線名稱]的路線資料",
        "description": "市區公車之路線資料",
        "operationId": "CityBusApi_Route_1",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Taipei",
              "NewTaipei",
              "Taoyuan",
              "Taichung",
              "Tainan",
              "Kaohsiung",
              "Keelung",
              "Hsinchu",
              "HsinchuCounty",
              "MiaoliCounty",
              "ChanghuaCounty",
              "NantouCounty",
              "YunlinCounty",
              "ChiayiCounty",
              "Chiayi",
              "PingtungCounty",
              "YilanCounty",
              "HualienCounty",
              "TaitungCounty",
              "KinmenCounty",
              "PenghuCounty",
              "LienchiangCounty"
            ],
            "x-enum": {
              "TaitungCounty": "臺東縣",
              "Tainan": "臺南市",
              "PingtungCounty": "屏東縣",
              "Taoyuan": "桃園市",
              "YilanCounty": "宜蘭縣",
              "HsinchuCounty": "新竹縣",
              "PenghuCounty": "澎湖縣",
              "Keelung": "基隆市",
              "ChiayiCounty": "嘉義縣",
              "HualienCounty": "花蓮縣",
              "YunlinCounty": "雲林縣",
              "NewTaipei": "新北市",
              "Hsinchu": "新竹市",
              "KinmenCounty": "金門縣",
              "Taipei": "臺北市",
              "Chiayi": "嘉義市",
              "LienchiangCounty": "連江縣",
              "Taichung": "臺中市",
              "ChanghuaCounty": "彰化縣",
              "MiaoliCounty": "苗栗縣",
              "Kaohsiung": "高雄市",
              "NantouCounty": "南投縣"
            }
          },
          {
            "name": "RouteName",
            "in": "path",
            "description": "繁體中文路線名稱，如'307'",
            "required": true,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Bus.BusRoute"
              }
            }
          }
        }
      }
    },
    "/v2/Bus/Stop/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車站牌資料",
        "description": "市區公車之站牌資料",
        "operationId": "CityBusApi_Stop",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "NewTaipei",
              "Taoyuan",
              "Taichung",
              "Tainan",
              "Kaohsiung",
              "Keelung",
              "Hsinchu",
              "HsinchuCounty",
              "MiaoliCounty",
              "ChanghuaCounty",
              "NantouCounty",
              "YunlinCounty",
              "ChiayiCounty",
              "Chiayi",
              "PingtungCounty",
              "YilanCounty",
              "HualienCounty",
              "TaitungCounty",
              "KinmenCounty",
              "PenghuCounty",
              "LienchiangCounty",
              "Taipei"
            ],
            "x-enum": {
              "KinmenCounty": "金門縣",
              "TaitungCounty": "臺東縣",
              "ChiayiCounty": "嘉義縣",
              "LienchiangCounty": "連江縣",
              "NantouCounty": "南投縣",
              "PingtungCounty": "屏東縣",
              "Taoyuan": "桃園市",
              "Kaohsiung": "高雄市",
              "YilanCounty": "宜蘭縣",
              "Hsinchu": "新竹市",
              "HsinchuCounty": "新竹縣",
              "Tainan": "臺南市",
              "Taipei": "臺北市",
              "Taichung": "臺中市",
              "HualienCounty": "花蓮縣",
              "ChanghuaCounty": "彰化縣",
              "Chiayi": "嘉義市",
              "NewTaipei": "新北市",
              "MiaoliCounty": "苗栗縣",
              "YunlinCounty": "雲林縣",
              "PenghuCounty": "澎湖縣",
              "Keelung": "基隆市"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$spatialFilter",
            "in": "query",
            "description": "空間過濾",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Bus.BusStop"
              }
            }
          }
        }
      }
    },
    "/v2/Bus/Station/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車站位資料",
        "description": "市區公車之各站牌所屬的站位資料",
        "operationId": "CityBusApi_Station",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Taipei",
              "NewTaipei",
              "Kaohsiung",
              "Hsinchu",
              "HsinchuCounty",
              "MiaoliCounty",
              "ChanghuaCounty",
              "NantouCounty",
              "YunlinCounty",
              "ChiayiCounty",
              "Chiayi",
              "PingtungCounty",
              "YilanCounty",
              "HualienCounty",
              "TaitungCounty",
              "PenghuCounty",
              "Tainan"
            ],
            "x-enum": {
              "TaitungCounty": "臺東縣",
              "Tainan": "臺南市",
              "HualienCounty": "花蓮縣",
              "HsinchuCounty": "新竹縣",
              "ChiayiCounty": "嘉義縣",
              "Chiayi": "嘉義市",
              "Kaohsiung": "高雄市",
              "YunlinCounty": "雲林縣",
              "NantouCounty": "南投縣",
              "PenghuCounty": "澎湖縣",
              "Hsinchu": "新竹市",
              "ChanghuaCounty": "彰化縣",
              "PingtungCounty": "屏東縣",
              "MiaoliCounty": "苗栗縣",
              "NewTaipei": "新北市",
              "Taipei": "臺北市",
              "YilanCounty": "宜蘭縣"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$spatialFilter",
            "in": "query",
            "description": "空間過濾",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Bus.BusStation"
              }
            }
          }
        }
      }
    },
    "/v2/Bus/StationName/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車站名碼資料",
        "description": "市區公車之各站牌所屬的站名碼資料",
        "operationId": "CityBusApi_StationName",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Hsinchu",
              "HsinchuCounty",
              "MiaoliCounty",
              "ChanghuaCounty",
              "NantouCounty",
              "YunlinCounty",
              "ChiayiCounty",
              "Chiayi",
              "PingtungCounty",
              "YilanCounty",
              "HualienCounty",
              "TaitungCounty",
              "PenghuCounty"
            ],
            "x-enum": {
              "PingtungCounty": "屏東縣",
              "ChanghuaCounty": "彰化縣",
              "TaitungCounty": "臺東縣",
              "NantouCounty": "南投縣",
              "HsinchuCounty": "新竹縣",
              "MiaoliCounty": "苗栗縣",
              "Chiayi": "嘉義市",
              "HualienCounty": "花蓮縣",
              "YilanCounty": "宜蘭縣",
              "PenghuCounty": "澎湖縣",
              "Hsinchu": "新竹市",
              "YunlinCounty": "雲林縣",
              "ChiayiCounty": "嘉義縣"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$spatialFilter",
            "in": "query",
            "description": "空間過濾",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Bus.BusStationName"
              }
            }
          }
        }
      }
    },
    "/v2/Bus/DisplayStopOfRoute/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車顯示用路線站序資料",
        "description": "市區公車之顯示用路線站序資料，僅台北市與新北市可查詢",
        "operationId": "CityBusApi_DisplayStopOfRoute",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Taipei",
              "Tainan",
              "NewTaipei"
            ],
            "x-enum": {
              "Tainan": "臺南市",
              "NewTaipei": "新北市",
              "Taipei": "臺北市"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Bus.BusDisplayStopOfRoute"
              }
            }
          }
        }
      }
    },
    "/v2/Bus/DisplayStopOfRoute/City/{City}/{RouteName}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市],[路線名稱]的市區公車顯示用路線站序資料",
        "description": "市區公車之顯示用路線站序資料，僅台北市與新北市可查詢",
        "operationId": "CityBusApi_DisplayStopOfRoute_1",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Taipei",
              "Tainan",
              "NewTaipei"
            ],
            "x-enum": {
              "Tainan": "臺南市",
              "NewTaipei": "新北市",
              "Taipei": "臺北市"
            }
          },
          {
            "name": "RouteName",
            "in": "path",
            "description": "繁體中文路線名稱，如'307'",
            "required": true,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Bus.BusDisplayStopOfRoute"
              }
            }
          }
        }
      }
    },
    "/v2/Bus/StopOfRoute/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車路線站序資料",
        "description": "市區公車之路線站序資料",
        "operationId": "CityBusApi_StopOfRoute",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Taipei",
              "NewTaipei",
              "Taoyuan",
              "Taichung",
              "Tainan",
              "Kaohsiung",
              "Keelung",
              "Hsinchu",
              "HsinchuCounty",
              "MiaoliCounty",
              "ChanghuaCounty",
              "NantouCounty",
              "YunlinCounty",
              "ChiayiCounty",
              "Chiayi",
              "PingtungCounty",
              "YilanCounty",
              "HualienCounty",
              "TaitungCounty",
              "KinmenCounty",
              "PenghuCounty",
              "LienchiangCounty"
            ],
            "x-enum": {
              "YilanCounty": "宜蘭縣",
              "Taichung": "臺中市",
              "HsinchuCounty": "新竹縣",
              "MiaoliCounty": "苗栗縣",
              "TaitungCounty": "臺東縣",
              "HualienCounty": "花蓮縣",
              "Keelung": "基隆市",
              "YunlinCounty": "雲林縣",
              "NewTaipei": "新北市",
              "Chiayi": "嘉義市",
              "Hsinchu": "新竹市",
              "PenghuCounty": "澎湖縣",
              "NantouCounty": "南投縣",
              "LienchiangCounty": "連江縣",
              "PingtungCounty": "屏東縣",
              "KinmenCounty": "金門縣",
              "ChiayiCounty": "嘉義縣",
              "Taipei": "臺北市",
              "Tainan": "臺南市",
              "ChanghuaCounty": "彰化縣",
              "Kaohsiung": "高雄市",
              "Taoyuan": "桃園市"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Bus.BusStopOfRoute"
              }
            }
          }
        }
      }
    },
    "/v2/Bus/StopOfRoute/City/{City}/{RouteName}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市],[路線名稱]的市區公車路線站序資料",
        "description": "市區公車之路線站序資料",
        "operationId": "CityBusApi_StopOfRoute_1",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Taipei",
              "NewTaipei",
              "Taoyuan",
              "Taichung",
              "Tainan",
              "Kaohsiung",
              "Keelung",
              "Hsinchu",
              "HsinchuCounty",
              "MiaoliCounty",
              "ChanghuaCounty",
              "NantouCounty",
              "YunlinCounty",
              "ChiayiCounty",
              "Chiayi",
              "PingtungCounty",
              "YilanCounty",
              "HualienCounty",
              "TaitungCounty",
              "KinmenCounty",
              "PenghuCounty",
              "LienchiangCounty"
            ],
            "x-enum": {
              "YilanCounty": "宜蘭縣",
              "Taichung": "臺中市",
              "HsinchuCounty": "新竹縣",
              "MiaoliCounty": "苗栗縣",
              "TaitungCounty": "臺東縣",
              "HualienCounty": "花蓮縣",
              "Keelung": "基隆市",
              "YunlinCounty": "雲林縣",
              "NewTaipei": "新北市",
              "Chiayi": "嘉義市",
              "Hsinchu": "新竹市",
              "PenghuCounty": "澎湖縣",
              "NantouCounty": "南投縣",
              "LienchiangCounty": "連江縣",
              "PingtungCounty": "屏東縣",
              "KinmenCounty": "金門縣",
              "ChiayiCounty": "嘉義縣",
              "Taipei": "臺北市",
              "Tainan": "臺南市",
              "ChanghuaCounty": "彰化縣",
              "Kaohsiung": "高雄市",
              "Taoyuan": "桃園市"
            }
          },
          {
            "name": "RouteName",
            "in": "path",
            "description": "繁體中文路線名稱，如'307'",
            "required": true,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Bus.BusStopOfRoute"
              }
            }
          }
        }
      }
    },
    "/v2/Bus/Schedule/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車路線班表資料",
        "description": "市區公車之班表及班距資料。一般市區公車班次較多時會採用【班距】式時刻表；班次較少時會採用【班表】式時刻表",
        "operationId": "CityBusApi_Schedule",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Taipei",
              "NewTaipei",
              "Tainan",
              "Keelung",
              "Hsinchu",
              "HsinchuCounty",
              "MiaoliCounty",
              "ChanghuaCounty",
              "NantouCounty",
              "YunlinCounty",
              "ChiayiCounty",
              "Chiayi",
              "PingtungCounty",
              "YilanCounty",
              "HualienCounty",
              "TaitungCounty",
              "KinmenCounty",
              "PenghuCounty"
            ],
            "x-enum": {
              "TaitungCounty": "臺東縣",
              "ChiayiCounty": "嘉義縣",
              "PingtungCounty": "屏東縣",
              "Keelung": "基隆市",
              "Taipei": "臺北市",
              "NewTaipei": "新北市",
              "PenghuCounty": "澎湖縣",
              "Hsinchu": "新竹市",
              "MiaoliCounty": "苗栗縣",
              "NantouCounty": "南投縣",
              "ChanghuaCounty": "彰化縣",
              "Chiayi": "嘉義市",
              "HualienCounty": "花蓮縣",
              "Tainan": "臺南市",
              "YunlinCounty": "雲林縣",
              "HsinchuCounty": "新竹縣",
              "YilanCounty": "宜蘭縣",
              "KinmenCounty": "金門縣"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Bus.BusSchedule"
              }
            }
          }
        }
      }
    },
    "/v2/Bus/Schedule/City/{City}/{RouteName}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市],[路線名稱]的市區公車路線班表資料",
        "description": "市區公車之預定班表及班距資料。一般市區公車班次較多時會採用【班距】式時刻表；班次較少時會採用【班表】式時刻表",
        "operationId": "CityBusApi_Schedule_1",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Taipei",
              "NewTaipei",
              "Tainan",
              "Keelung",
              "Hsinchu",
              "HsinchuCounty",
              "MiaoliCounty",
              "ChanghuaCounty",
              "NantouCounty",
              "YunlinCounty",
              "ChiayiCounty",
              "Chiayi",
              "PingtungCounty",
              "YilanCounty",
              "HualienCounty",
              "TaitungCounty",
              "KinmenCounty",
              "PenghuCounty"
            ],
            "x-enum": {
              "TaitungCounty": "臺東縣",
              "ChiayiCounty": "嘉義縣",
              "PingtungCounty": "屏東縣",
              "Keelung": "基隆市",
              "Taipei": "臺北市",
              "NewTaipei": "新北市",
              "PenghuCounty": "澎湖縣",
              "Hsinchu": "新竹市",
              "MiaoliCounty": "苗栗縣",
              "NantouCounty": "南投縣",
              "ChanghuaCounty": "彰化縣",
              "Chiayi": "嘉義市",
              "HualienCounty": "花蓮縣",
              "Tainan": "臺南市",
              "YunlinCounty": "雲林縣",
              "HsinchuCounty": "新竹縣",
              "YilanCounty": "宜蘭縣",
              "KinmenCounty": "金門縣"
            }
          },
          {
            "name": "RouteName",
            "in": "path",
            "description": "繁體中文路線名稱，如'307'",
            "required": true,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Bus.BusSchedule"
              }
            }
          }
        }
      }
    },
    "/v2/Bus/Vehicle/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車車輛資料",
        "description": "市區公車之車輛資料",
        "operationId": "CityBusApi_Vehicle",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Taipei",
              "NewTaipei",
              "Taoyuan",
              "Taichung",
              "Tainan",
              "Kaohsiung",
              "Keelung",
              "Hsinchu",
              "HsinchuCounty",
              "MiaoliCounty",
              "ChanghuaCounty",
              "NantouCounty",
              "YunlinCounty",
              "ChiayiCounty",
              "PingtungCounty",
              "YilanCounty",
              "HualienCounty",
              "TaitungCounty",
              "KinmenCounty",
              "PenghuCounty",
              "LienchiangCounty"
            ],
            "x-enum": {
              "Tainan": "臺南市",
              "Kaohsiung": "高雄市",
              "NewTaipei": "新北市",
              "Taichung": "臺中市",
              "LienchiangCounty": "連江縣",
              "MiaoliCounty": "苗栗縣",
              "ChanghuaCounty": "彰化縣",
              "Taoyuan": "桃園市",
              "TaitungCounty": "臺東縣",
              "ChiayiCounty": "嘉義縣",
              "PingtungCounty": "屏東縣",
              "HsinchuCounty": "新竹縣",
              "Keelung": "基隆市",
              "YilanCounty": "宜蘭縣",
              "Hsinchu": "新竹市",
              "Taipei": "臺北市",
              "KinmenCounty": "金門縣",
              "PenghuCounty": "澎湖縣",
              "NantouCounty": "南投縣",
              "YunlinCounty": "雲林縣",
              "Chiayi": "嘉義市",
              "HualienCounty": "花蓮縣"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Bus.BusVehicleInfo"
              }
            }
          }
        }
      }
    },
    "/v2/Bus/Shape/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車線型資料",
        "description": "市區公車之線型資料",
        "operationId": "CityBusApi_Shape",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Taipei",
              "NewTaipei",
              "Taoyuan",
              "Taichung",
              "Tainan",
              "Kaohsiung",
              "Keelung",
              "KinmenCounty"
            ],
            "x-enum": {
              "Tainan": "臺南市",
              "NewTaipei": "新北市",
              "Kaohsiung": "高雄市",
              "Taichung": "臺中市",
              "Taipei": "臺北市",
              "Taoyuan": "桃園市",
              "KinmenCounty": "金門縣",
              "Keelung": "基隆市"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Bus.BusShape"
              }
            }
          }
        }
      }
    },
    "/v2/Bus/Shape/City/{City}/{RouteName}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市],[路線名稱]的市區公車線型資料",
        "description": "市區公車之線型資料",
        "operationId": "CityBusApi_Shape_1",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Taipei",
              "NewTaipei",
              "Taoyuan",
              "Taichung",
              "Tainan",
              "Kaohsiung",
              "Keelung",
              "KinmenCounty"
            ],
            "x-enum": {
              "Tainan": "臺南市",
              "NewTaipei": "新北市",
              "Kaohsiung": "高雄市",
              "Taichung": "臺中市",
              "Taipei": "臺北市",
              "Taoyuan": "桃園市",
              "KinmenCounty": "金門縣",
              "Keelung": "基隆市"
            }
          },
          {
            "name": "RouteName",
            "in": "path",
            "description": "繁體中文路線名稱，如'307'",
            "required": true,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Bus.BusShape"
              }
            }
          }
        }
      }
    },
    "/v2/Bus/RouteFare/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車路線票價資料",
        "description": "市區公車路線票價資料",
        "operationId": "CityBusApi_RouteFare",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Hsinchu",
              "HsinchuCounty",
              "MiaoliCounty",
              "ChanghuaCounty",
              "NantouCounty",
              "YunlinCounty",
              "ChiayiCounty",
              "Chiayi",
              "PingtungCounty",
              "YilanCounty",
              "HualienCounty",
              "TaitungCounty"
            ],
            "x-enum": {
              "NantouCounty": "南投縣",
              "PingtungCounty": "屏東縣",
              "ChiayiCounty": "嘉義縣",
              "YilanCounty": "宜蘭縣",
              "YunlinCounty": "雲林縣",
              "TaitungCounty": "臺東縣",
              "HualienCounty": "花蓮縣",
              "Chiayi": "嘉義市",
              "KinmenCounty": "金門縣",
              "ChanghuaCounty": "彰化縣",
              "NewTaipei": "新北市",
              "Hsinchu": "新竹市",
              "LienchiangCounty": "連江縣",
              "Tainan": "臺南市",
              "MiaoliCounty": "苗栗縣",
              "Taichung": "臺中市",
              "Kaohsiung": "高雄市",
              "Taipei": "臺北市",
              "HsinchuCounty": "新竹縣",
              "Taoyuan": "桃園市",
              "Keelung": "基隆市",
              "PenghuCounty": "澎湖縣"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Bus.BusRouteFare"
              }
            }
          }
        }
      }
    },
    "/v2/Bus/RouteFare/City/{City}/{RouteName}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市],[路線名稱]的的市區公車路線票價資料",
        "description": "市區公車路線票價資料",
        "operationId": "CityBusApi_RouteFare_1",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Hsinchu",
              "HsinchuCounty",
              "MiaoliCounty",
              "ChanghuaCounty",
              "NantouCounty",
              "YunlinCounty",
              "ChiayiCounty",
              "Chiayi",
              "PingtungCounty",
              "YilanCounty",
              "HualienCounty",
              "TaitungCounty"
            ],
            "x-enum": {
              "NantouCounty": "南投縣",
              "PingtungCounty": "屏東縣",
              "ChiayiCounty": "嘉義縣",
              "YilanCounty": "宜蘭縣",
              "YunlinCounty": "雲林縣",
              "TaitungCounty": "臺東縣",
              "HualienCounty": "花蓮縣",
              "Chiayi": "嘉義市",
              "KinmenCounty": "金門縣",
              "ChanghuaCounty": "彰化縣",
              "NewTaipei": "新北市",
              "Hsinchu": "新竹市",
              "LienchiangCounty": "連江縣",
              "Tainan": "臺南市",
              "MiaoliCounty": "苗栗縣",
              "Taichung": "臺中市",
              "Kaohsiung": "高雄市",
              "Taipei": "臺北市",
              "HsinchuCounty": "新竹縣",
              "Taoyuan": "桃園市",
              "Keelung": "基隆市",
              "PenghuCounty": "澎湖縣"
            }
          },
          {
            "name": "RouteName",
            "in": "path",
            "description": "繁體中文路線名稱，如'307'",
            "required": true,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Bus.BusRouteFare"
              }
            }
          }
        }
      }
    },
    "/v2/Bus/News/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車最新消息資料",
        "description": "市區公車最新消息資料",
        "operationId": "CityBusApi_News",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Keelung",
              "Tainan"
            ],
            "x-enum": {
              "Keelung": "基隆市",
              "Tainan": "臺南市"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Bus.BusNews"
              }
            }
          }
        }
      }
    },
    "/v2/Bus/RealTimeByFrequency/InterCity": {
      "get": {
        "tags": [
          "InterCityBus"
        ],
        "summary": "取得公路客運的動態定時資料(A1)",
        "description": "公路客運之定時資料(A1)",
        "operationId": "InterCityBusApi_RealTimeByFrequency",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$spatialFilter",
            "in": "query",
            "description": "空間過濾",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Bus.BusA1Data"
              }
            }
          }
        }
      }
    },
    "/v2/Bus/RealTimeByFrequency/InterCity/{RouteName}": {
      "get": {
        "tags": [
          "InterCityBus"
        ],
        "summary": "取得指定[路線名稱]的公路客運動態定時資料(A1)",
        "description": "公路客運之定時資料(A1)",
        "operationId": "InterCityBusApi_RealTimeByFrequency_1",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "RouteName",
            "in": "path",
            "description": "繁體中文路線名稱，如'9102'",
            "required": true,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$spatialFilter",
            "in": "query",
            "description": "空間過濾",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Bus.BusA1Data"
              }
            }
          }
        }
      }
    },
    "/v2/Bus/RealTimeNearStop/InterCity": {
      "get": {
        "tags": [
          "InterCityBus"
        ],
        "summary": "取得公路客運的動態定點資料(A2)",
        "description": "公路客運之定點資料(A2)",
        "operationId": "InterCityBusApi_RealTimeNearStop",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Bus.BusA2Data"
              }
            }
          }
        }
      }
    },
    "/v2/Bus/RealTimeNearStop/InterCity/{RouteName}": {
      "get": {
        "tags": [
          "InterCityBus"
        ],
        "summary": "取得指定[路線名稱]的公路客運動態定點資料(A2)",
        "description": "公路客運之定點資料(A2)",
        "operationId": "InterCityBusApi_RealTimeNearStop_1",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "RouteName",
            "in": "path",
            "description": "繁體中文路線名稱，如'9102'",
            "required": true,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Bus.BusA2Data"
              }
            }
          }
        }
      }
    },
    "/v2/Bus/EstimatedTimeOfArrival/InterCity": {
      "get": {
        "tags": [
          "InterCityBus"
        ],
        "summary": "取得公路客運的預估到站資料(N1)",
        "description": "公路客運之預估到站資料(N1)(不保留[現在時間]超過[本平台資料更新時間]兩分鐘的資料)",
        "operationId": "InterCityBusApi_EstimatedTimeOfArrival",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Bus.BusN1EstimateTime"
              }
            }
          }
        }
      }
    },
    "/v2/Bus/EstimatedTimeOfArrival/InterCity/{RouteName}": {
      "get": {
        "tags": [
          "InterCityBus"
        ],
        "summary": "取得指定[路線名稱]的公路客運預估到站資料(N1)",
        "description": "公路客運之預估到站資料(N1)(不保留[現在時間]超過[本平台資料更新時間]兩分鐘的資料)",
        "operationId": "InterCityBusApi_EstimatedTimeOfArrival_1",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "RouteName",
            "in": "path",
            "description": "繁體中文路線名稱，如'9102'",
            "required": true,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Bus.BusN1EstimateTime"
              }
            }
          }
        }
      }
    },
    "/v2/Bus/DataVersion/InterCity": {
      "get": {
        "tags": [
          "InterCityBus"
        ],
        "summary": "取得公路客運的動態定時資料(A1)",
        "description": "公路客運之定時資料(A1)",
        "operationId": "InterCityBusApi_DataVersion",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Service.DTO.Version2.Bus.BusVersion"
            }
          }
        }
      }
    },
    "/v2/Bus/Operator/InterCity": {
      "get": {
        "tags": [
          "InterCityBus"
        ],
        "summary": "取得公路客運的營運業者資料",
        "description": "公路客運之營運業者資料",
        "operationId": "InterCityBusApi_Operator",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Base.Operator"
              }
            }
          }
        }
      }
    },
    "/v2/Bus/Route/InterCity": {
      "get": {
        "tags": [
          "InterCityBus"
        ],
        "summary": "取得公路客運路線資料",
        "description": "公路客運之路線資料",
        "operationId": "InterCityBusApi_Route",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Bus.BusRoute"
              }
            }
          }
        }
      }
    },
    "/v2/Bus/Route/InterCity/{RouteName}": {
      "get": {
        "tags": [
          "InterCityBus"
        ],
        "summary": "取得指定[路線名稱]的公路客運路線資料",
        "description": "公路客運之路線資料",
        "operationId": "InterCityBusApi_Route_1",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "RouteName",
            "in": "path",
            "description": "繁體中文路線名稱，如'9102'",
            "required": true,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Bus.BusRoute"
              }
            }
          }
        }
      }
    },
    "/v2/Bus/Stop/InterCity": {
      "get": {
        "tags": [
          "InterCityBus"
        ],
        "summary": "取得公路客運站牌資料",
        "description": "公路客運之站牌資料",
        "operationId": "InterCityBusApi_Stop",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$spatialFilter",
            "in": "query",
            "description": "空間過濾",
            "type": "string"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Service.DTO.Version2.Bus.BusStop"
              }
            }
          }
        }
      }
    },
    "/v2/Bus/Station/InterCity": {
      "get": {
        "tags": [
          "InterCityBus"
        ],
        "summary": "取得公路客運站位資料",
        "description": "公路客運之各站牌所屬的站位資料",
        "operationId": "InterCityBusApi_Station",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$spatialFilter",
            "in": "query",
            "description": "空間過濾",
[...]
