{
  "swagger": "2.0",
  "info": {
    "title": "MOTC Transport API V3",
    "description": "本平臺提供涵蓋全國尺度之公車、臺鐵、高鐵、捷運、航空、自行車等公共運輸旅運資料服務API，歡迎各產政學單位介接使用。\n                                                    <br><span class=swagger-description-indicatation>利用本平臺開放資料進行各項應用服務開發時，請考量不同特性使用者(如:性別/身心障礙/老幼等)的需求，並歡迎回饋寶貴意見。</span>\n                                                    <br><br>資料使用葵花寶典:[請點我](https://motc-ptx-api-documentation.gitbook.io/motc-ptx-api-documentation/)\n                                                    <br>資料服務開發實作參考手冊:[請點我](https://docs.google.com/viewer?url=https://github.com/ptxmotc/PTX_Web/blob/master/Swagger%E6%9C%8D%E5%8B%99%E8%AA%AA%E6%98%8E%E4%B8%8A%E5%82%B3%E5%8F%83%E8%80%83%E6%AA%94%E6%A1%88/%E5%85%AC%E5%85%B1%E9%81%8B%E8%BC%B8%E6%95%B4%E5%90%88%E8%B3%87%E8%A8%8A%E5%B9%B3%E5%8F%B0%E8%B3%87%E6%96%99%E6%9C%8D%E5%8B%99%E9%96%8B%E7%99%BC%E5%AF%A6%E4%BD%9C.pdf?raw=true)\n                                                    <br>API URI Convention文件說明:[請點我](https://docs.google.com/viewer?url=https://github.com/ptxmotc/PTX_Web/blob/master/Swagger%E6%9C%8D%E5%8B%99%E8%AA%AA%E6%98%8E%E4%B8%8A%E5%82%B3%E5%8F%83%E8%80%83%E6%AA%94%E6%A1%88/API_URI_Convention%E6%96%87%E4%BB%B6_v1.pdf?raw=true)<br>資料文本OAS描述:[請點我](https://ptx.transportdata.tw/MOTC/v3/Bus/api-docs/oas)",
    "version": "v3"
  },
  "host": "ptx.transportdata.tw",
  "basePath": "/MOTC",
  "schemes": [
    "https"
  ],
  "paths": {
    "/v3/Bus/Network/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車路網資料",
        "operationId": "CityBusApi_Network",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "description": "縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Tainan"
            ],
            "x-enum": {
              "Tainan": "臺南市"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "查詢數量",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Bus.Specification.V3.Wrapper.BusVWrapper[PTX.Service.DTO.Bus.Specification.V3.Network]"
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v3/Bus/Stop/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車站牌資料",
        "operationId": "CityBusApi_Stop_1",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "description": "縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Tainan"
            ],
            "x-enum": {
              "Tainan": "臺南市"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$spatialFilter",
            "description": "空間過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "查詢數量",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Bus.Specification.V3.Wrapper.BusVWrapper[PTX.Service.DTO.Bus.Specification.V3.Stop]"
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v3/Bus/Station/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車站位資料",
        "operationId": "CityBusApi_Station_1",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "description": "縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Tainan"
            ],
            "x-enum": {
              "Tainan": "臺南市"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$spatialFilter",
            "description": "空間過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "查詢數量",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Bus.Specification.V3.Wrapper.BusVWrapper[PTX.Service.DTO.Bus.Specification.V3.Station]"
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v3/Bus/Route/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車路線資料",
        "description": "市區公車之路線資料",
        "operationId": "CityBusApi_Route_2",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "description": "縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Tainan"
            ],
            "x-enum": {
              "Tainan": "臺南市"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "查詢數量",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Bus.Specification.V3.Wrapper.BusVWrapper[PTX.Service.DTO.Bus.Specification.V3.Route]"
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v3/Bus/SubRoute/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車附屬路線資料",
        "description": "市區公車之附屬路線資料",
        "operationId": "CityBusApi_SubRoute",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "description": "縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Tainan"
            ],
            "x-enum": {
              "Tainan": "臺南市"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "查詢數量",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Bus.Specification.V3.Wrapper.BusVWrapper[PTX.Service.DTO.Bus.Specification.V3.SubRoute]"
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v3/Bus/FirstLastTripInfo/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車路線定期首末班車資料",
        "operationId": "CityBusApi_FirstLastTripInfo_2",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "description": "縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Tainan"
            ],
            "x-enum": {
              "Tainan": "臺南市"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "查詢數量",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Bus.Specification.V3.Wrapper.BusVWrapper[PTX.Service.DTO.Bus.Specification.V3.FirstLastTripInfo]"
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v3/Bus/Depot/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車行駛路線之營業所的資料",
        "operationId": "CityBusApi_Depot",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "description": "縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Tainan"
            ],
            "x-enum": {
              "Tainan": "臺南市"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$spatialFilter",
            "description": "空間過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "查詢數量",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Bus.Specification.V3.Wrapper.BusVWrapper[PTX.Service.DTO.Bus.Specification.V3.Depot]"
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v3/Bus/StopOfRoute/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車路線站序資料",
        "description": "市區公車之路線站序資料",
        "operationId": "CityBusApi_StopOfRoute_2",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "description": "縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Tainan"
            ],
            "x-enum": {
              "Tainan": "臺南市"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "查詢數量",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Bus.Specification.V3.Wrapper.BusVWrapper[PTX.Service.DTO.Bus.Specification.V3.StopOfRoute]"
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v3/Bus/DisplayStopOfRoute/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車顯示用路線站序資料",
        "operationId": "CityBusApi_DisplayStopOfRoute_2",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "description": "縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Tainan"
            ],
            "x-enum": {
              "Tainan": "臺南市"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "查詢數量",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Bus.Specification.V3.Wrapper.BusVWrapper[PTX.Service.DTO.Bus.Specification.V3.DisplayStopOfRoute]"
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v3/Bus/RouteFare/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車路線票價資料",
        "operationId": "CityBusApi_RouteFare_2",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "description": "縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Tainan"
            ],
            "x-enum": {
              "Tainan": "臺南市"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "查詢數量",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Bus.Specification.V3.Wrapper.BusWrapper[PTX.Service.DTO.Bus.Specification.V3.RouteFare]"
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v3/Bus/Schedule/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車定期營運班表",
        "operationId": "CityBusApi_Schedule_2",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "description": "縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Tainan"
            ],
            "x-enum": {
              "Tainan": "臺南市"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "查詢數量",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Bus.Specification.V3.Wrapper.BusGWrapper[PTX.Service.DTO.Bus.Specification.V3.Schedule]"
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v3/Bus/DailyTimeTable/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車每日營運時刻表",
        "operationId": "CityBusApi_DailyTimeTable",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "description": "縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Tainan"
            ],
            "x-enum": {
              "Tainan": "臺南市"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "查詢數量",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Bus.Specification.V3.Wrapper.BusWrapper[PTX.Service.DTO.Bus.Specification.V3.DailyTimeTable]"
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v3/Bus/RealTimeByFrequency/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的公車動態定時資料(A1)",
        "description": "市區公車之定時資料(A1)",
        "operationId": "CityBusApi_RealTimeByFrequency_2",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Tainan"
            ],
            "x-enum": {
              "Tainan": "臺南市"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$spatialFilter",
            "description": "空間過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "查詢數量",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Bus.Specification.V3.Wrapper.BusWrapper[PTX.Service.DTO.Bus.Specification.V3.A1Data]"
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v3/Bus/RealTimeByFrequency/City/{City}/{RouteName}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市],[路線名稱]的公車動態定時資料(A1)",
        "description": "市區公車之定時資料(A1)",
        "operationId": "CityBusApi_RealTimeByFrequency_3",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Tainan"
            ],
            "x-enum": {
              "Tainan": "臺南市"
            }
          },
          {
            "in": "path",
            "name": "RouteName",
            "description": "繁體中文路線名稱，如'307'",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$spatialFilter",
            "description": "空間過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "查詢數量",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Bus.Specification.V3.Wrapper.BusWrapper[PTX.Service.DTO.Bus.Specification.V3.A1Data]"
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v3/Bus/RealTimeNearStop/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的公車動態定點資料(A2)",
        "description": "市區公車之定點資料(A2)",
        "operationId": "CityBusApi_RealTimeNearStop_2",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Tainan"
            ],
            "x-enum": {
              "Tainan": "臺南市"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "查詢數量",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Bus.Specification.V3.Wrapper.BusWrapper[PTX.Service.DTO.Bus.Specification.V3.A2Data]"
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v3/Bus/RealTimeNearStop/City/{City}/{RouteName}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市],[路線名稱]的公車動態定點資料(A2)",
        "description": "市區公車之定點資料(A2)",
        "operationId": "CityBusApi_RealTimeNearStop_3",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Tainan"
            ],
            "x-enum": {
              "Tainan": "臺南市"
            }
          },
          {
            "in": "path",
            "name": "RouteName",
            "description": "繁體中文路線名稱，如'307'",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "查詢數量",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Bus.Specification.V3.Wrapper.BusWrapper[PTX.Service.DTO.Bus.Specification.V3.A2Data]"
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v3/Bus/EstimatedTimeOfArrival/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的公車預估到站資料(N1)",
        "description": "[部分縣市] 當 StopStatus = 1(尚未發車) 且 EstimateTime > 0 (有值) 的情形, 屬正常情形, 雖目前尚未發車, 但提供EstimateTime值為預計多久後開始發車之時間",
        "operationId": "CityBusApi_EstimatedTimeOfArrival_2",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Tainan"
            ],
            "x-enum": {
              "Tainan": "臺南市"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "查詢數量",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Bus.Specification.V3.Wrapper.BusWrapper[PTX.Service.DTO.Bus.Specification.V3.N1Data]"
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v3/Bus/EstimatedTimeOfArrival/City/{City}/{RouteName}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市],[路線名稱]的公車預估到站資料(N1)",
        "description": "[部分縣市] 當 StopStatus = 1(尚未發車) 且 EstimateTime > 0 (有值) 的情形, 屬正常情形, 雖目前尚未發車, 但提供EstimateTime值為預計多久後開始發車之時間",
        "operationId": "CityBusApi_EstimatedTimeOfArrival_3",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Tainan"
            ],
            "x-enum": {
              "Tainan": "臺南市"
            }
          },
          {
            "in": "path",
            "name": "RouteName",
            "description": "繁體中文路線名稱，如'307'",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "查詢數量",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Bus.Specification.V3.Wrapper.BusWrapper[PTX.Service.DTO.Bus.Specification.V3.N1Data]"
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v3/Bus/Alert/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的公車通阻資料",
        "description": "市區公車之公車通阻資料",
        "operationId": "CityBusApi_Alert",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Tainan"
            ],
            "x-enum": {
              "Tainan": "臺南市"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "查詢數量",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Bus.Specification.V3.Wrapper.BusWrapper[PTX.Service.DTO.Bus.Specification.V3.Alert]"
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v3/Bus/News/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的公車最新消息",
        "description": "市區公車之最新消息",
        "operationId": "CityBusApi_News_1",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Tainan"
            ],
            "x-enum": {
              "Tainan": "臺南市"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "查詢數量",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Bus.Specification.V3.Wrapper.BusWrapper[PTX.Service.DTO.Bus.Specification.V3.News]"
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v3/Bus/Operator/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車營運業者資料",
        "operationId": "CityBusApi_Operator_1",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "description": "縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Tainan"
            ],
            "x-enum": {
              "Tainan": "臺南市"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "查詢數量",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Bus.Specification.V3.Wrapper.BusVWrapper[PTX.Service.DTO.Bus.Specification.V3.Operator]"
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v3/Bus/Vehicle/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車車輛基本資料",
        "operationId": "CityBusApi_Vehicle_1",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "description": "縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Tainan"
            ],
            "x-enum": {
              "Tainan": "臺南市"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "查詢數量",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Bus.Specification.V3.Wrapper.BusVWrapper[PTX.Service.DTO.Bus.Specification.V3.Vehicle]"
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v3/Bus/VehicleDepot/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車車輛所屬的營業站基本資料",
        "operationId": "CityBusApi_VehicleDepot",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "description": "縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Tainan"
            ],
            "x-enum": {
              "Tainan": "臺南市"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "查詢數量",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Bus.Specification.V3.Wrapper.BusVWrapper[PTX.Service.DTO.Bus.Specification.V3.VehicleDepot]"
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v3/Bus/VehicleRoute/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車車輛所屬路線資料",
        "operationId": "CityBusApi_VehicleRoute",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "description": "縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Tainan"
            ],
            "x-enum": {
              "Tainan": "臺南市"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "查詢數量",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Bus.Specification.V3.Wrapper.BusVWrapper[PTX.Service.DTO.Bus.Specification.V3.VehicleRoute]"
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v3/Bus/Shape/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車空間線型資料",
        "operationId": "CityBusApi_Shape_2",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "description": "縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Tainan"
            ],
            "x-enum": {
              "Tainan": "臺南市"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "查詢數量",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Bus.Specification.V3.Wrapper.BusVWrapper[PTX.Service.DTO.Bus.Specification.V3.Shape]"
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v3/Bus/RouteNetwork/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車路線網路拓撲資料",
        "operationId": "CityBusApi_RouteNetwork",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "description": "縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Tainan"
            ],
            "x-enum": {
              "Tainan": "臺南市"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "查詢數量",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Bus.Specification.V3.Wrapper.BusVWrapper[PTX.Service.DTO.Bus.Specification.V3.RouteNetwork]"
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v3/Bus/S2STravelTime/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車路線站間旅行時間基本資料",
        "operationId": "CityBusApi_S2STravelTime_1",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "description": "縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Tainan"
            ],
            "x-enum": {
              "Tainan": "臺南市"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "查詢數量",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Bus.Specification.V3.Wrapper.BusVWrapper[PTX.Service.DTO.Bus.Specification.V3.S2STravelTime]"
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "PTX.Service.DTO.Shared.Specification.V3.Base.Inbound": {
      "title": "Inbound",
      "description": "本平台資料來源轉入狀態",
      "required": [
        "CheckTime",
        "Status"
      ],
      "type": "object",
      "properties": {
        "CheckTime": {
          "title": "DateTime",
          "description": "檢核時間",
          "type": "string"
        },
        "Status": {
          "format": "int32",
          "title": "integer",
          "description": "檢核結果狀態 : [0:'失敗',1:'成功']",
          "type": "integer"
        },
        "Reason": {
          "title": "String",
          "description": "檢核失敗原因",
          "type": "string"
        }
      }
    },
    "PTX.Service.DTO.Shared.Specification.V3.Base.Outbound": {
      "title": "Outbound",
      "description": "本平台API狀態",
      "required": [
        "CheckTime",
        "Status"
      ],
      "type": "object",
      "properties": {
        "CheckTime": {
          "title": "DateTime",
          "description": "檢核時間",
          "type": "string"
        },
        "Status": {
          "format": "int32",
          "title": "integer",
          "description": "檢核結果狀態 : [0:'失敗',1:'成功']",
          "type": "integer"
        },
        "Reason": {
          "title": "String",
          "description": "檢核失敗原因",
          "type": "string"
        }
      }
    },
    "PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth": {
      "title": "DisplayHealth",
      "description": "API服務健康狀態",
      "required": [
        "ServiceID",
        "ServiceName"
      ],
      "type": "object",
      "properties": {
        "ServiceID": {
          "title": "String",
          "description": "API服務代碼",
          "type": "string"
        },
        "ServiceName": {
          "title": "String",
          "description": "API服務中文名稱",
          "type": "string"
        },
        "Inbound": {
          "title": "Inbound",
          "description": "本平台資料來源轉入狀態",
          "allOf": [
            {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.Inbound"
            }
          ]
        },
        "Outbound": {
          "title": "Outbound",
          "description": "本平台API狀態",
          "allOf": [
            {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.Outbound"
            }
          ]
        }
      }
    },
    "PTX.Service.DTO.Shared.Specification.V3.Base.NameType": {
      "title": "NameType",
      "type": "object",
      "properties": {
        "Zh_tw": {
          "title": "String",
          "description": "中文繁體名稱",
          "type": "string"
        },
        "En": {
          "title": "String",
          "description": "英文名稱",
          "type": "string"
        }
      }
    },
    "PTX.Service.DTO.Shared.Specification.V3.Base.PointType": {
      "title": "PointType",
      "description": "座標資料型別",
      "type": "object",
      "properties": {
        "PositionLat": {
          "format": "double",
          "description": "位置緯度(WGS84)",
          "type": "number"
        },
        "PositionLon": {
          "format": "double",
          "description": "位置經度(WGS84)",
          "type": "number"
        }
      }
    },
    "PTX.Service.DTO.Bus.Specification.V3.A1Data": {
      "title": "A1Data",
      "required": [
        "Azimuth",
        "BusPosition",
        "BusStatus",
        "Direction",
        "DutyStatus",
        "OperatorCode",
        "OperatorID",
        "PlateNumb",
        "RecTime",
        "RouteID",
        "Speed",
        "TransTime"
      ],
      "type": "object",
      "properties": {
        "PlateNumb": {
          "title": "String",
          "description": "車牌號碼",
          "type": "string"
        },
        "OperatorID": {
          "title": "String",
          "description": "營運業者代碼",
          "type": "string"
        },
        "OperatorName": {
          "title": "NameType",
          "description": "營運業者名稱",
          "allOf": [
            {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.NameType"
            }
          ]
        },
        "OperatorCode": {
          "title": "String",
          "description": "營運業者簡碼",
          "type": "string"
        },
        "RouteUID": {
          "title": "String",
          "description": "路線唯一識別代碼，規則為 {業管機關簡碼} + {RouteID}，其中 {業管機關簡碼} 可於Authority API中的AuthorityCode欄位查詢",
          "type": "string"
        },
        "RouteID": {
          "title": "String",
          "description": "地區既用中之路線代碼(為原資料內碼)",
          "type": "string"
        },
        "RouteName": {
          "title": "NameType",
          "description": "路線名稱",
          "allOf": [
            {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.NameType"
            }
          ]
        },
        "SubRouteUID": {
          "title": "String",
          "description": "附屬路線唯一識別代碼，規則為 {業管機關簡碼} + {SubRouteID}，其中 {業管機關簡碼} 可於Authority API中的AuthorityCode欄位查詢",
          "type": "string"
        },
        "SubRouteID": {
          "title": "String",
          "description": "地區既用中之附屬路線代碼(為原資料內碼)",
          "type": "string"
        },
        "SubRouteName": {
          "title": "NameType",
          "description": "附屬路線名稱",
          "allOf": [
            {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.NameType"
            }
          ]
        },
        "TripID": {
          "title": "String",
          "description": "班次代碼",
          "type": "string"
        },
        "Direction": {
          "format": "int32",
          "title": "integer",
          "description": "車輛去返程 : [0:'去程',1:'返程',2:'迴圈',255:'未知']",
          "type": "integer"
        },
        "MessageType": {
          "format": "int32",
          "title": "integer",
          "description": "資料型態種類 : [0:'未知',1:'定期',2:'非定期']",
          "type": "integer"
        },
        "BusPosition": {
          "title": "PointType",
          "description": "車輛位置經度",
          "allOf": [
            {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.PointType"
            }
          ]
        },
        "Speed": {
          "format": "double",
          "title": "Double",
          "description": "行駛速度(kph)",
          "type": "number"
        },
        "Azimuth": {
          "format": "double",
          "title": "Double",
          "description": "方位角",
          "type": "number"
        },
        "DutyStatus": {
          "format": "int32",
          "title": "integer",
          "description": "勤務狀態 : [0:'正常',1:'開始',2:'結束']",
          "type": "integer"
        },
        "BusStatus": {
          "format": "int32",
          "title": "integer",
          "description": "行車狀況 : [0:'正常',1:'車禍',2:'故障',3:'塞車',4:'緊急求援',5:'加油',90:'不明',91:'去回不明',98:'偏移路線',99:'非營運狀態',100:'客滿',101:'包車出租',255:'未知']",
          "type": "integer"
        },
        "VehicleType": {
          "format": "int32",
          "title": "integer",
          "description": "車輛種類 : [1:'一般',2:'復康巴士',3:'專車',4:'其他']",
          "type": "integer"
        },
        "GPSTime": {
          "title": "DateTime",
          "description": "車機系統紀錄時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "GPSTransTime": {
          "title": "DateTime",
          "description": "車機系統傳送日期時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "RecTime": {
          "title": "DateTime",
          "description": "來源端平台接收時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "TransTime": {
          "title": "DateTime",
          "description": "來源端平台資料傳出時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        }
      }
    },
    "PTX.Service.DTO.Bus.Specification.V3.Wrapper.BusWrapper[PTX.Service.DTO.Bus.Specification.V3.A1Data]": {
      "title": "BusA1DataList",
      "description": "基本 wrapper",
      "required": [
        "A1Datas",
        "AuthorityCode",
        "SrcUpdateInterval",
        "SrcUpdateTime",
        "UpdateInterval",
        "UpdateTime"
      ],
      "type": "object",
      "properties": {
        "UpdateTime": {
          "title": "DateTime",
          "description": "[平臺]資料更新日期時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "UpdateInterval": {
          "format": "int32",
          "title": "Int32",
          "description": "[平臺]資料更新週期(秒)",
          "type": "integer"
        },
        "SrcUpdateTime": {
          "title": "DateTime",
          "description": "[來源端平臺]資料更新時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "SrcUpdateInterval": {
          "format": "int32",
          "title": "Int32",
          "description": "來源端平台資料更新週期(秒)['-1: 不定期更新']",
          "type": "integer"
        },
        "AuthorityCode": {
          "title": "String",
          "description": "業管機關簡碼",
          "type": "string"
        },
        "Count": {
          "format": "int64",
          "description": "資料總筆數",
          "type": "integer"
        },
        "A1Datas": {
          "title": "Array",
          "description": "資料列表",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PTX.Service.DTO.Bus.Specification.V3.A1Data"
          }
        }
      }
    },
    "PTX.Service.DTO.Bus.Specification.V3.A2Data": {
      "title": "A2Data",
      "required": [
        "A2EventType",
        "Direction",
        "OperatorCode",
        "OperatorID",
        "PlateNumb",
        "RecTime",
        "RouteID",
        "StopID",
        "TransTime"
      ],
      "type": "object",
      "properties": {
        "PlateNumb": {
          "title": "String",
          "description": "車牌號碼",
          "type": "string"
        },
        "OperatorID": {
          "title": "String",
          "description": "營運業者代碼",
          "type": "string"
        },
        "OperatorName": {
          "title": "NameType",
          "description": "營運業者名稱",
          "allOf": [
            {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.NameType"
            }
          ]
        },
        "OperatorCode": {
          "title": "String",
          "description": "營運業者簡碼",
          "type": "string"
        },
        "RouteUID": {
          "title": "String",
          "description": "路線唯一識別代碼，規則為 {業管機關簡碼} + {RouteID}，其中 {業管機關簡碼} 可於Authority API中的AuthorityCode欄位查詢",
          "type": "string"
        },
        "RouteID": {
          "title": "String",
          "description": "地區既用中之路線代碼(為原資料內碼)",
          "type": "string"
        },
        "RouteName": {
          "title": "NameType",
          "description": "路線名稱",
          "allOf": [
            {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.NameType"
            }
          ]
        },
        "SubRouteUID": {
          "title": "String",
          "description": "附屬路線唯一識別代碼，規則為 {業管機關簡碼} + {SubRouteID}，其中 {業管機關簡碼} 可於Authority API中的AuthorityCode欄位查詢",
          "type": "string"
        },
        "SubRouteID": {
          "title": "String",
          "description": "地區既用中之附屬路線代碼(為原資料內碼)",
          "type": "string"
        },
        "SubRouteName": {
          "title": "NameType",
          "description": "附屬路線名稱",
          "allOf": [
            {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.NameType"
            }
          ]
        },
        "TripID": {
          "title": "String",
          "description": "班次代碼",
          "type": "string"
        },
        "Direction": {
          "format": "int32",
          "title": "integer",
          "description": "車輛去返程 : [0:'去程',1:'返程',2:'迴圈',255:'未知']",
          "type": "integer"
        },
        "StopUID": {
          "title": "String",
          "description": "站牌唯一識別代碼，規則為 {業管機關簡碼} + {StopID}，其中 {業管機關簡碼} 可於Authority API中的AuthorityCode欄位查詢",
          "type": "string"
        },
        "StopID": {
          "title": "String",
          "description": "地區既用中之站牌代號(為原資料內碼)",
          "type": "string"
        },
        "StopName": {
          "title": "NameType",
          "description": "站牌名稱",
          "allOf": [
            {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.NameType"
            }
          ]
        },
        "MessageType": {
          "format": "int32",
          "title": "integer",
          "description": "資料型態種類 : [0:'未知',1:'定期',2:'非定期']",
          "type": "integer"
        },
        "A2EventType": {
          "format": "int32",
          "title": "integer",
          "description": "進站離站 : [0:'離站',1:'進站']",
          "type": "integer"
        },
        "VehicleType": {
          "format": "int32",
          "title": "integer",
          "description": "車輛種類 : [1:'一般',2:'復康巴士',3:'專車',4:'其他']",
          "type": "integer"
        },
        "DutyStatus": {
          "format": "int32",
          "title": "integer",
          "description": "勤務狀態 : [0:'正常',1:'開始',2:'結束']",
          "type": "integer"
        },
        "BusStatus": {
          "format": "int32",
          "title": "integer",
          "description": "行車狀況 : [0:'正常',1:'車禍',2:'故障',3:'塞車',4:'緊急求援',5:'加油',90:'不明',91:'去回不明',98:'偏移路線',99:'非營運狀態',100:'客滿',101:'包車出租',255:'未知']",
          "type": "integer"
        },
        "GPSTime": {
          "title": "DateTime",
          "description": "車機系統紀錄時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "GPSTransTime": {
          "title": "DateTime",
          "description": "車機系統傳送日期時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "RecTime": {
          "title": "DateTime",
          "description": "來源端平台接收時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "TransTime": {
          "title": "DateTime",
          "description": "來源端平台資料傳出時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        }
      }
    },
    "PTX.Service.DTO.Bus.Specification.V3.Wrapper.BusWrapper[PTX.Service.DTO.Bus.Specification.V3.A2Data]": {
      "title": "BusA2DataList",
      "description": "基本 wrapper",
      "required": [
        "A2Datas",
        "AuthorityCode",
        "SrcUpdateInterval",
        "SrcUpdateTime",
        "UpdateInterval",
        "UpdateTime"
      ],
      "type": "object",
      "properties": {
        "UpdateTime": {
          "title": "DateTime",
          "description": "[平臺]資料更新日期時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "UpdateInterval": {
          "format": "int32",
          "title": "Int32",
          "description": "[平臺]資料更新週期(秒)",
          "type": "integer"
        },
        "SrcUpdateTime": {
          "title": "DateTime",
          "description": "[來源端平臺]資料更新時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "SrcUpdateInterval": {
          "format": "int32",
          "title": "Int32",
          "description": "來源端平台資料更新週期(秒)['-1: 不定期更新']",
          "type": "integer"
        },
        "AuthorityCode": {
          "title": "String",
          "description": "業管機關簡碼",
          "type": "string"
        },
        "Count": {
          "format": "int64",
          "description": "資料總筆數",
          "type": "integer"
        },
        "A2Datas": {
          "title": "Array",
          "description": "資料列表",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PTX.Service.DTO.Bus.Specification.V3.A2Data"
          }
        }
      }
    },
    "PTX.Service.DTO.Bus.Specification.V3.Scope+Route": {
      "title": "Route",
      "description": "路線資料",
      "type": "object",
      "properties": {
        "RouteID": {
          "title": "String",
          "description": "地區既用中之班次代碼(為原資料內碼)",
          "type": "string"
        },
        "RouteName": {
          "title": "NameType",
          "description": "路線名稱",
          "allOf": [
            {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.NameType"
            }
          ]
        }
      }
    },
    "PTX.Service.DTO.Bus.Specification.V3.Scope+SubRoute": {
      "title": "SubRoute",
      "description": "附屬路線資料",
      "type": "object",
      "properties": {
        "SubRouteID": {
          "title": "String",
          "description": "地區既用中之附屬班次代碼(為原資料內碼)",
          "type": "string"
        },
        "SubRouteName": {
          "title": "NameType",
          "description": "附屬路線名稱",
          "allOf": [
            {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.NameType"
            }
          ]
        }
      }
    },
    "PTX.Service.DTO.Bus.Specification.V3.Scope+Stop": {
      "title": "Stop",
      "description": "站牌資料",
      "type": "object",
      "properties": {
        "StopID": {
          "title": "String",
          "description": "地區既用中之站牌代碼(為原資料內碼)",
          "type": "string"
        },
        "StopName": {
          "title": "NameType",
          "description": "站牌名稱",
          "allOf": [
            {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.NameType"
            }
          ]
        }
      }
    },
    "PTX.Service.DTO.Bus.Specification.V3.Scope+Trip": {
      "title": "Trip",
      "description": "班次代碼資料",
      "type": "object",
      "properties": {
        "TripID": {
          "title": "String",
          "description": "地區既用中之班次代碼(為原資料內碼)",
          "type": "string"
        }
      }
    },
    "PTX.Service.DTO.Bus.Specification.V3.Scope": {
      "title": "Scope",
      "description": "通阻影響範圍",
      "type": "object",
      "properties": {
        "Routes": {
          "title": "Array",
          "description": "路線資料",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PTX.Service.DTO.Bus.Specification.V3.Scope+Route"
          }
        },
        "SubRoutes": {
          "title": "Array",
          "description": "附屬路線資料",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PTX.Service.DTO.Bus.Specification.V3.Scope+SubRoute"
          }
        },
        "Stops": {
          "title": "Array",
          "description": "站牌資料",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PTX.Service.DTO.Bus.Specification.V3.Scope+Stop"
          }
        },
        "TripIDs": {
          "title": "Array",
          "description": "班次代碼資料",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PTX.Service.DTO.Bus.Specification.V3.Scope+Trip"
          }
        }
      }
    },
    "PTX.Service.DTO.Bus.Specification.V3.Alert": {
      "title": "Alert",
      "required": [
        "AlertID",
        "Scope"
      ],
      "type": "object",
      "properties": {
        "AlertID": {
          "title": "String",
          "description": "通阻事件原單位發布代碼",
          "type": "string"
        },
        "Title": {
          "title": "String",
          "description": "通阻標題",
          "type": "string"
        },
        "Scope": {
          "title": "Scope",
          "description": "通阻影響範圍",
          "allOf": [
            {
              "$ref": "#/definitions/PTX.Service.DTO.Bus.Specification.V3.Scope"
            }
          ]
        },
        "Direction": {
          "title": "String",
          "description": "影響方向",
          "type": "string"
        },
        "Description": {
          "title": "String",
          "description": "事件描述",
          "type": "string"
        },
        "AlertURL": {
          "title": "String",
          "description": "詳細描述網站連結",
          "type": "string"
        },
        "PublishTime": {
          "title": "DateTime",
          "description": "消息公告日期時間",
          "type": "string"
        },
        "StartTime": {
          "title": "DateTime",
          "description": "開始日期時間",
          "type": "string"
        },
        "EndTime": {
          "title": "DateTime",
          "description": "結束日期時間",
          "type": "string"
        },
        "SrcUpdateTime": {
          "title": "DateTime",
          "description": "[來源端平臺]此筆資料最後更新時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        }
      }
    },
    "PTX.Service.DTO.Bus.Specification.V3.Wrapper.BusWrapper[PTX.Service.DTO.Bus.Specification.V3.Alert]": {
      "title": "BusAlertList",
      "description": "基本 wrapper",
      "required": [
        "Alerts",
        "AuthorityCode",
        "SrcUpdateInterval",
        "SrcUpdateTime",
        "UpdateInterval",
        "UpdateTime"
      ],
      "type": "object",
      "properties": {
        "UpdateTime": {
          "title": "DateTime",
          "description": "[平臺]資料更新日期時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "UpdateInterval": {
          "format": "int32",
          "title": "Int32",
          "description": "[平臺]資料更新週期(秒)",
          "type": "integer"
        },
        "SrcUpdateTime": {
          "title": "DateTime",
          "description": "[來源端平臺]資料更新時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "SrcUpdateInterval": {
          "format": "int32",
          "title": "Int32",
          "description": "來源端平台資料更新週期(秒)['-1: 不定期更新']",
          "type": "integer"
        },
        "AuthorityCode": {
          "title": "String",
          "description": "業管機關簡碼",
          "type": "string"
        },
        "Count": {
          "format": "int64",
          "description": "資料總筆數",
          "type": "integer"
        },
        "Alerts": {
          "title": "Array",
          "description": "資料列表",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PTX.Service.DTO.Bus.Specification.V3.Alert"
          }
        }
      }
    },
    "PTX.Service.DTO.Bus.Specification.V3.StopTime": {
      "title": "StopTime",
      "required": [
        "ArrivalTime",
        "DepartureTime",
        "StopID",
        "StopSequence",
        "StopUID"
      ],
      "type": "object",
      "properties": {
        "StopSequence": {
          "format": "int32",
          "title": "Int32",
          "description": "路線經過站牌之順序(由1開始)",
          "type": "integer"
        },
        "StopUID": {
          "title": "String",
          "description": "站牌唯一識別代碼，規則為 {業管機關代碼} + {StopID}，其中 {業管機關代碼} 可於Authority API中的AuthorityCode欄位查詢",
          "type": "string"
        },
        "StopID": {
          "title": "String",
          "description": "地區既用中之站牌代碼(為原資料內碼)",
          "type": "string"
        },
        "StopName": {
          "title": "NameType",
          "description": "站牌名稱",
          "allOf": [
            {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.NameType"
            }
          ]
        },
        "ArrivalTime": {
          "title": "String",
          "description": "到站時間，格式為:HH:mm",
          "type": "string"
        },
        "DepartureTime": {
          "title": "String",
          "description": "離站時間，格式為:HH:mm",
          "type": "string"
        }
      }
    },
    "PTX.Service.DTO.Bus.Specification.V3.TimeTable": {
      "title": "TimeTable",
      "required": [
        "StopTimes"
      ],
      "type": "object",
      "properties": {
        "TripID": {
          "title": "String",
          "description": "班次代碼，為無意義之編碼",
          "type": "string"
        },
        "StopTimes": {
          "title": "Array",
          "description": "公車停靠時間資料",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PTX.Service.DTO.Bus.Specification.V3.StopTime"
          }
        }
      }
    },
    "PTX.Service.DTO.Bus.Specification.V3.DailyTimeTable": {
      "title": "DailyTimeTable",
      "description": "每日時刻表資料",
      "required": [
        "Date",
        "Direction",
        "OperatorCode",
        "OperatorID",
        "RouteID",
        "RouteName",
        "RouteUID",
        "SubRouteID"
      ],
      "type": "object",
      "properties": {
        "Date": {
          "title": "DateTime",
          "description": "適用日期",
          "type": "string"
        },
        "RouteUID": {
          "title": "String",
          "description": "路線唯一識別代碼，規則為 {業管機關簡碼} + {RouteID}，其中 {業管機關簡碼} 可於Authority API中的AuthorityCode欄位查詢",
          "type": "string"
        },
        "RouteID": {
          "title": "String",
          "description": "地區既用中之路線代碼(為原資料內碼)",
          "type": "string"
        },
        "RouteName": {
          "title": "NameType",
          "description": "路線名稱",
          "allOf": [
            {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.NameType"
            }
          ]
        },
        "OperatorID": {
          "title": "String",
          "description": "營運業者代碼",
          "type": "string"
        },
        "OperatorCode": {
          "title": "String",
          "description": "營運業者簡碼",
[...]
