{
  "swagger": "2.0",
  "info": {
    "title": "MOTC Transport API V3",
    "description": "本平臺提供涵蓋全國尺度之公車、臺鐵、高鐵、捷運、航空、自行車等公共運輸旅運資料服務API，歡迎各產政學單位介接使用。\n                                                    <br><span class=swagger-description-indicatation>利用本平臺開放資料進行各項應用服務開發時，請考量不同特性使用者(如:性別/身心障礙/老幼等)的需求，並歡迎回饋寶貴意見。</span>\n                                                    <br><br>資料使用葵花寶典:[請點我](https://motc-ptx-api-documentation.gitbook.io/motc-ptx-api-documentation/)\n                                                    <br>資料服務開發實作參考手冊:[請點我](https://docs.google.com/viewer?url=https://github.com/ptxmotc/PTX_Web/blob/master/Swagger%E6%9C%8D%E5%8B%99%E8%AA%AA%E6%98%8E%E4%B8%8A%E5%82%B3%E5%8F%83%E8%80%83%E6%AA%94%E6%A1%88/%E5%85%AC%E5%85%B1%E9%81%8B%E8%BC%B8%E6%95%B4%E5%90%88%E8%B3%87%E8%A8%8A%E5%B9%B3%E5%8F%B0%E8%B3%87%E6%96%99%E6%9C%8D%E5%8B%99%E9%96%8B%E7%99%BC%E5%AF%A6%E4%BD%9C.pdf?raw=true)\n                                                    <br>API URI Convention文件說明:[請點我](https://docs.google.com/viewer?url=https://github.com/ptxmotc/PTX_Web/blob/master/Swagger%E6%9C%8D%E5%8B%99%E8%AA%AA%E6%98%8E%E4%B8%8A%E5%82%B3%E5%8F%83%E8%80%83%E6%AA%94%E6%A1%88/API_URI_Convention%E6%96%87%E4%BB%B6_v1.pdf?raw=true)<br>資料文本OAS描述:[請點我](https://ptx.transportdata.tw/MOTC/v3/Ship/api-docs/oas)",
    "version": "v3"
  },
  "host": "ptx.transportdata.tw",
  "basePath": "/MOTC",
  "schemes": [
    "https"
  ],
  "paths": {
    "/v3/Ship/Basic/Port": {
      "get": {
        "tags": [
          "ShipBasic"
        ],
        "summary": "取得港口資料",
        "operationId": "Ship_Basic_Port",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "查詢數量",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PTX.API.Ship.Model.ShipWrapper[PTX.Service.DTO.Ship.Specification.V3.Port]"
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v3/Ship/Operator/International": {
      "get": {
        "tags": [
          "InternationalShip"
        ],
        "summary": "取得國際航運之營運業者資料",
        "operationId": "Ship_International_Operator",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "查詢數量",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PTX.API.Ship.Model.ShipWrapper[PTX.Service.DTO.Ship.Specification.V3.Operator]"
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v3/Ship/Route/International": {
      "get": {
        "tags": [
          "InternationalShip"
        ],
        "summary": "取得國際航運之航線資料",
        "operationId": "Ship_International_Route",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "查詢數量",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PTX.API.Ship.Model.ShipWrapper[PTX.Service.DTO.Ship.Specification.V3.Route]"
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v3/Ship/StopOfRoute/International": {
      "get": {
        "tags": [
          "InternationalShip"
        ],
        "summary": "取得國際航運之航線靠港順序資料",
        "operationId": "Ship_International_StopOfRoute",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "查詢數量",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PTX.API.Ship.Model.ShipWrapper[PTX.Service.DTO.Ship.Specification.V3.StopOfRoute]"
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v3/Ship/Vessel/International": {
      "get": {
        "tags": [
          "InternationalShip"
        ],
        "summary": "取得國際航運之船舶資料",
        "operationId": "Ship_International_Vessel",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "查詢數量",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PTX.API.Ship.Model.ShipWrapper[PTX.Service.DTO.Ship.Specification.V3.Vessel]"
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v3/Ship/Basic/Authority": {
      "get": {
        "tags": [
          "ShipBasic"
        ],
        "summary": "取得業管機關資料",
        "operationId": "Ship_Basic_Authority",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "查詢數量",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PTX.API.Ship.Model.ShipWrapper[PTX.Service.DTO.Shared.Specification.V3.Base.Authority]"
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v3/Ship/LivePosition/International": {
      "get": {
        "tags": [
          "InternationalShip"
        ],
        "summary": "取得國際航運之船舶即時位置資料",
        "operationId": "Ship_International_LivePosition",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "查詢數量",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PTX.API.Ship.Model.ShipLiveWrapper[PTX.Service.DTO.Ship.Specification.V3.LivePosition]"
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v3/Ship/Operator/Domestic/City/{City}": {
      "get": {
        "tags": [
          "DomesticShip"
        ],
        "summary": "取得指定[縣市]之航運營運業者資料",
        "operationId": "Ship_Domestic_Operator",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "required": true,
            "type": "string",
            "enum": [
              "NewTaipei",
              "NantouCounty",
              "PingtungCounty",
              "TaitungCounty",
              "KinmenCounty",
              "PenghuCounty",
              "LienchiangCounty",
              "Taipei",
              "Kaohsiung"
            ],
            "x-enum": {
              "NantouCounty": "南投縣",
              "KinmenCounty": "金門縣",
              "Kaohsiung": "高雄市",
              "TaitungCounty": "臺東縣",
              "LienchiangCounty": "連江縣",
              "NewTaipei": "新北市",
              "PenghuCounty": "澎湖縣",
              "PingtungCounty": "屏東縣",
              "Taipei": "臺北市"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "查詢數量",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PTX.API.Ship.Model.ShipWrapper[PTX.Service.DTO.Ship.Specification.V3.Operator]"
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v3/Ship/Route/Domestic/City/{City}": {
      "get": {
        "tags": [
          "DomesticShip"
        ],
        "summary": "取得指定[縣市]之航線資料",
        "operationId": "Ship_Domestic_Route",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "required": true,
            "type": "string",
            "enum": [
              "NewTaipei",
              "NantouCounty",
              "PingtungCounty",
              "TaitungCounty",
              "KinmenCounty",
              "PenghuCounty",
              "LienchiangCounty",
              "Taipei",
              "Kaohsiung"
            ],
            "x-enum": {
              "NewTaipei": "新北市",
              "PingtungCounty": "屏東縣",
              "LienchiangCounty": "連江縣",
              "TaitungCounty": "臺東縣",
              "Taipei": "臺北市",
              "KinmenCounty": "金門縣",
              "NantouCounty": "南投縣",
              "PenghuCounty": "澎湖縣",
              "Kaohsiung": "高雄市"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "查詢數量",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PTX.API.Ship.Model.ShipWrapper[PTX.Service.DTO.Ship.Specification.V3.Route]"
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v3/Ship/StopOfRoute/Domestic/City/{City}": {
      "get": {
        "tags": [
          "DomesticShip"
        ],
        "summary": "取得指定[縣市]之航線靠港順序資料",
        "operationId": "Ship_Domestic_StopOfRoute",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "required": true,
            "type": "string",
            "enum": [
              "NewTaipei",
              "NantouCounty",
              "PingtungCounty",
              "TaitungCounty",
              "KinmenCounty",
              "PenghuCounty",
              "LienchiangCounty",
              "Taipei",
              "Kaohsiung"
            ],
            "x-enum": {
              "Kaohsiung": "高雄市",
              "KinmenCounty": "金門縣",
              "TaitungCounty": "臺東縣",
              "NewTaipei": "新北市",
              "Taipei": "臺北市",
              "PingtungCounty": "屏東縣",
              "LienchiangCounty": "連江縣",
              "NantouCounty": "南投縣",
              "PenghuCounty": "澎湖縣"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "查詢數量",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PTX.API.Ship.Model.ShipWrapper[PTX.Service.DTO.Ship.Specification.V3.StopOfRoute]"
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v3/Ship/Vessel/Domestic/City/{City}": {
      "get": {
        "tags": [
          "DomesticShip"
        ],
        "summary": "取得指定[縣市]之船舶資料",
        "operationId": "Ship_Domestic_Vessel",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "required": true,
            "type": "string",
            "enum": [
              "NewTaipei",
              "NantouCounty",
              "PingtungCounty",
              "TaitungCounty",
              "KinmenCounty",
              "PenghuCounty",
              "LienchiangCounty",
              "Taipei",
              "Kaohsiung"
            ],
            "x-enum": {
              "PingtungCounty": "屏東縣",
              "PenghuCounty": "澎湖縣",
              "NewTaipei": "新北市",
              "Kaohsiung": "高雄市",
              "TaitungCounty": "臺東縣",
              "NantouCounty": "南投縣",
              "Taipei": "臺北市",
              "LienchiangCounty": "連江縣",
              "KinmenCounty": "金門縣"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "查詢數量",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PTX.API.Ship.Model.ShipWrapper[PTX.Service.DTO.Ship.Specification.V3.Vessel]"
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v3/Ship/DailySchedule/Domestic/City/{City}": {
      "get": {
        "tags": [
          "DomesticShip"
        ],
        "summary": "取得指定[縣市]之每日班表資料",
        "operationId": "Ship_Domestic_DailySchedule",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "required": true,
            "type": "string",
            "enum": [
              "NewTaipei",
              "NantouCounty",
              "PingtungCounty",
              "TaitungCounty",
              "KinmenCounty",
              "PenghuCounty",
              "LienchiangCounty",
              "Taipei",
              "Kaohsiung"
            ],
            "x-enum": {
              "LienchiangCounty": "連江縣",
              "PingtungCounty": "屏東縣",
              "Kaohsiung": "高雄市",
              "PenghuCounty": "澎湖縣",
              "TaitungCounty": "臺東縣",
              "NewTaipei": "新北市",
              "Taipei": "臺北市",
              "KinmenCounty": "金門縣",
              "NantouCounty": "南投縣"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "查詢數量",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PTX.API.Ship.Model.ShipWrapper[PTX.Service.DTO.Ship.Specification.V3.DailySchedule]"
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v3/Ship/DailySchedule/Domestic/City/{City}/{RouteID}": {
      "get": {
        "tags": [
          "DomesticShip"
        ],
        "summary": "取得指定[縣市],[航線]之每日班表資料",
        "operationId": "Ship_Domestic_DailySchedule_1",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "required": true,
            "type": "string",
            "enum": [
              "NewTaipei",
              "NantouCounty",
              "PingtungCounty",
              "TaitungCounty",
              "KinmenCounty",
              "PenghuCounty",
              "LienchiangCounty",
              "Taipei",
              "Kaohsiung"
            ],
            "x-enum": {
              "LienchiangCounty": "連江縣",
              "PingtungCounty": "屏東縣",
              "Kaohsiung": "高雄市",
              "PenghuCounty": "澎湖縣",
              "TaitungCounty": "臺東縣",
              "NewTaipei": "新北市",
              "Taipei": "臺北市",
              "KinmenCounty": "金門縣",
              "NantouCounty": "南投縣"
            }
          },
          {
            "in": "path",
            "name": "RouteID",
            "description": "指定航運路線代碼",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "查詢數量",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PTX.API.Ship.Model.ShipWrapper[PTX.Service.DTO.Ship.Specification.V3.DailySchedule]"
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v3/Ship/SpecificSchedule/Domestic/City/{City}": {
      "get": {
        "tags": [
          "DomesticShip"
        ],
        "summary": "取得指定[縣市]之特殊班表資料",
        "operationId": "Ship_Domestic_SpecificSchedule",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "required": true,
            "type": "string",
            "enum": [
              "NewTaipei",
              "NantouCounty",
              "PingtungCounty",
              "TaitungCounty",
              "KinmenCounty",
              "PenghuCounty",
              "LienchiangCounty",
              "Taipei",
              "Kaohsiung"
            ],
            "x-enum": {
              "KinmenCounty": "金門縣",
              "PingtungCounty": "屏東縣",
              "NantouCounty": "南投縣",
              "NewTaipei": "新北市",
              "Taipei": "臺北市",
              "Kaohsiung": "高雄市",
              "PenghuCounty": "澎湖縣",
              "TaitungCounty": "臺東縣",
              "LienchiangCounty": "連江縣"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "查詢數量",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PTX.API.Ship.Model.ShipWrapper[PTX.Service.DTO.Ship.Specification.V3.SpecificSchedule]"
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v3/Ship/SpecificSchedule/Domestic/City/{City}/{RouteID}": {
      "get": {
        "tags": [
          "DomesticShip"
        ],
        "summary": "取得指定[縣市],[航線]之特殊班表資料",
        "operationId": "Ship_Domestic_SpecificSchedule_1",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "required": true,
            "type": "string",
            "enum": [
              "NewTaipei",
              "NantouCounty",
              "PingtungCounty",
              "TaitungCounty",
              "KinmenCounty",
              "PenghuCounty",
              "LienchiangCounty",
              "Taipei",
              "Kaohsiung"
            ],
            "x-enum": {
              "KinmenCounty": "金門縣",
              "PingtungCounty": "屏東縣",
              "NantouCounty": "南投縣",
              "NewTaipei": "新北市",
              "Taipei": "臺北市",
              "Kaohsiung": "高雄市",
              "PenghuCounty": "澎湖縣",
              "TaitungCounty": "臺東縣",
              "LienchiangCounty": "連江縣"
            }
          },
          {
            "in": "path",
            "name": "RouteID",
            "description": "指定航運路線代碼",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "查詢數量",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PTX.API.Ship.Model.ShipWrapper[PTX.Service.DTO.Ship.Specification.V3.SpecificSchedule]"
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v3/Ship/Alert/Domestic/City/{City}": {
      "get": {
        "tags": [
          "DomesticShip"
        ],
        "summary": "取得指定[縣市]之營運通阻資料",
        "operationId": "Ship_Domestic_Alert",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "required": true,
            "type": "string",
            "enum": [
              "NewTaipei",
              "NantouCounty",
              "PingtungCounty",
              "TaitungCounty",
              "KinmenCounty",
              "PenghuCounty",
              "LienchiangCounty",
              "Taipei",
              "Kaohsiung"
            ],
            "x-enum": {
              "PingtungCounty": "屏東縣",
              "Taipei": "臺北市",
              "KinmenCounty": "金門縣",
              "NewTaipei": "新北市",
              "NantouCounty": "南投縣",
              "Kaohsiung": "高雄市",
              "LienchiangCounty": "連江縣",
              "PenghuCounty": "澎湖縣",
              "TaitungCounty": "臺東縣"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "查詢數量",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PTX.API.Ship.Model.ShipLiveWrapper[PTX.Service.DTO.Ship.Specification.V3.Alert]"
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v3/Ship/News/Domestic/City/{City}": {
      "get": {
        "tags": [
          "DomesticShip"
        ],
        "summary": "取得指定[縣市]之最新消息資料",
        "operationId": "Ship_Domestic_News",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "required": true,
            "type": "string",
            "enum": [
              "NewTaipei",
              "NantouCounty",
              "PingtungCounty",
              "TaitungCounty",
              "KinmenCounty",
              "PenghuCounty",
              "LienchiangCounty",
              "Taipei",
              "Kaohsiung"
            ],
            "x-enum": {
              "PenghuCounty": "澎湖縣",
              "LienchiangCounty": "連江縣",
              "Kaohsiung": "高雄市",
              "KinmenCounty": "金門縣",
              "PingtungCounty": "屏東縣",
              "NantouCounty": "南投縣",
              "Taipei": "臺北市",
              "TaitungCounty": "臺東縣",
              "NewTaipei": "新北市"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "查詢數量",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PTX.API.Ship.Model.ShipLiveWrapper[PTX.Service.DTO.Ship.Specification.V3.News]"
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v3/Ship/DailySchedule/International": {
      "get": {
        "tags": [
          "InternationalShip"
        ],
        "summary": "取得國際航運之每日班表資料",
        "operationId": "Ship_International_DailySchedule",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "查詢數量",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PTX.API.Ship.Model.ShipWrapper[PTX.Service.DTO.Ship.Specification.V3.DailySchedule]"
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v3/Ship/DailySchedule/International/{RouteID}": {
      "get": {
        "tags": [
          "InternationalShip"
        ],
        "summary": "取得國際航運指定[航線]航運之每日班表資料",
        "operationId": "Ship_International_DailySchedule_1",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "RouteID",
            "description": "指定航運路線代碼",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "查詢數量",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PTX.API.Ship.Model.ShipWrapper[PTX.Service.DTO.Ship.Specification.V3.DailySchedule]"
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v3/Ship/SpecificSchedule/International": {
      "get": {
        "tags": [
          "InternationalShip"
        ],
        "summary": "取得國際航運之特殊班表資料",
        "operationId": "Ship_International_SpecificSchedule",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "查詢數量",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PTX.API.Ship.Model.ShipWrapper[PTX.Service.DTO.Ship.Specification.V3.SpecificSchedule]"
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v3/Ship/SpecificSchedule/International/{RouteID}": {
      "get": {
        "tags": [
          "InternationalShip"
        ],
        "summary": "取得國際航運指定[航線]航運之特殊班表資料",
        "operationId": "Ship_International_SpecificSchedule_1",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "RouteID",
            "description": "指定航運路線代碼",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "查詢數量",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PTX.API.Ship.Model.ShipWrapper[PTX.Service.DTO.Ship.Specification.V3.SpecificSchedule]"
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v3/Ship/Alert/International": {
      "get": {
        "tags": [
          "InternationalShip"
        ],
        "summary": "取得國際航運之營運通阻資料",
        "operationId": "Ship_International_Alert",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "查詢數量",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PTX.API.Ship.Model.ShipLiveWrapper[PTX.Service.DTO.Ship.Specification.V3.Alert]"
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v3/Ship/News/International": {
      "get": {
        "tags": [
          "InternationalShip"
        ],
        "summary": "取得國際航運之最新消息資料",
        "operationId": "Ship_International_News",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "查詢數量",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PTX.API.Ship.Model.ShipLiveWrapper[PTX.Service.DTO.Ship.Specification.V3.News]"
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v3/Ship/Route/RouteType/{RouteType}": {
      "get": {
        "tags": [
          "ShipByRouteType"
        ],
        "summary": "取得指定[航線類別]的全臺航運之航線資料",
        "operationId": "Ship_RouteType_Route",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "RouteType",
            "required": true,
            "type": "string",
            "enum": [
              "Internal",
              "OutlyingIslands",
              "Bilateral",
              "MiniThreeLinks",
              "Other"
            ],
            "x-enum": {
              "Other": "其他",
              "Bilateral": "兩岸航線",
              "Internal": "國內航線(渡輪、藍色公路)",
              "MiniThreeLinks": "小三通航線",
              "OutlyingIslands": "離島航線"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "查詢數量",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PTX.API.Ship.Model.ShipFlatWrapper[PTX.Service.DTO.Ship.Specification.V3.RouteFlat]"
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v3/Ship/StopOfRoute/RouteType/{RouteType}": {
      "get": {
        "tags": [
          "ShipByRouteType"
        ],
        "summary": "取得指定[航線類別]之航線靠港順序資料",
        "operationId": "Ship_RouteType_StopOfRoute",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "RouteType",
            "required": true,
            "type": "string",
            "enum": [
              "Internal",
              "OutlyingIslands",
              "Bilateral",
              "MiniThreeLinks",
              "Other"
            ],
            "x-enum": {
              "Internal": "國內航線(渡輪、藍色公路)",
              "OutlyingIslands": "離島航線",
              "MiniThreeLinks": "小三通航線",
              "Bilateral": "兩岸航線",
              "Other": "其他"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "查詢數量",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PTX.API.Ship.Model.ShipFlatWrapper[PTX.Service.DTO.Ship.Specification.V3.StopOfRouteFlat]"
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v3/Ship/DailySchedule/RouteType/{RouteType}": {
      "get": {
        "tags": [
          "ShipByRouteType"
        ],
        "summary": "取得指定[航線類別]的全臺航運之每日班表資料",
        "operationId": "Ship_RouteType_DailySchedule",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "RouteType",
            "required": true,
            "type": "string",
            "enum": [
              "Internal",
              "OutlyingIslands",
              "Bilateral",
              "MiniThreeLinks",
              "Other"
            ],
            "x-enum": {
              "MiniThreeLinks": "小三通航線",
              "Bilateral": "兩岸航線",
              "Internal": "國內航線(渡輪、藍色公路)",
              "Other": "其他",
              "OutlyingIslands": "離島航線"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "查詢數量",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PTX.API.Ship.Model.ShipFlatWrapper[PTX.Service.DTO.Ship.Specification.V3.DailyScheduleFlat]"
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v3/Ship/DailySchedule/RouteID/{RouteID}": {
      "get": {
        "tags": [
          "ShipByRouteType"
        ],
        "summary": "取得指定[航線]的全臺航運之每日班表資料",
        "operationId": "Ship_RouteType_DailySchedule2",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "RouteID",
            "description": "指定航運路線代碼",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "查詢數量",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PTX.API.Ship.Model.ShipFlatWrapper[PTX.Service.DTO.Ship.Specification.V3.DailyScheduleFlat]"
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v3/Ship/SpecificSchedule/RouteType/{RouteType}": {
      "get": {
        "tags": [
          "ShipByRouteType"
        ],
        "summary": "取得指定[航線類別]的全臺航運之特殊班表資料",
        "operationId": "Ship_RouteType_SpecificSchedule",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "RouteType",
            "required": true,
            "type": "string",
            "enum": [
              "Internal",
              "OutlyingIslands",
              "Bilateral",
              "MiniThreeLinks",
              "Other"
            ],
            "x-enum": {
              "MiniThreeLinks": "小三通航線",
              "Other": "其他",
              "OutlyingIslands": "離島航線",
              "Bilateral": "兩岸航線",
              "Internal": "國內航線(渡輪、藍色公路)"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "查詢數量",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PTX.API.Ship.Model.ShipFlatWrapper[PTX.Service.DTO.Ship.Specification.V3.SpecificScheduleFlat]"
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v3/Ship/SpecificSchedule/RouteID/{RouteID}": {
      "get": {
        "tags": [
          "ShipByRouteType"
        ],
        "summary": "取得指定[航線]的全臺航運之特殊班表資料",
        "operationId": "Ship_RouteType_SpecificSchedule2",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "RouteID",
            "description": "指定航運路線代碼",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "查詢數量",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PTX.API.Ship.Model.ShipFlatWrapper[PTX.Service.DTO.Ship.Specification.V3.SpecificScheduleFlat]"
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "PTX.API.Ship.Model.ShipFlatWrapper[PTX.Service.DTO.Ship.Specification.V3.DailyScheduleFlat]": {
      "title": "ShipDailyScheduleFlatList",
      "type": "object",
      "properties": {
        "DailyScheduleFlats": {
          "title": "Array",
          "description": "資料(陣列)",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PTX.Service.DTO.Ship.Specification.V3.DailyScheduleFlat"
          },
          "xml": {
            "name": "List`1"
          }
        },
        "Count": {
          "format": "int64",
          "description": "資料總筆數<span class=\"emphasis fas fa-pen\" rel=\"與來源Inbound XML不同，為提供資料的總筆數[該欄位由本平台自動產製]\"></span>",
          "type": "integer"
        }
      },
      "xml": {
        "name": "ShipFlatWrapperOfDailyScheduleFlat",
        "namespace": "http://ptx.transportdata.tw/standard/schema/"
      }
    },
    "PTX.API.Ship.Model.ShipFlatWrapper[PTX.Service.DTO.Ship.Specification.V3.RouteFlat]": {
      "title": "ShipRouteFlatList",
      "type": "object",
      "properties": {
        "RouteFlats": {
          "title": "Array",
          "description": "資料(陣列)",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PTX.Service.DTO.Ship.Specification.V3.RouteFlat"
          },
          "xml": {
            "name": "List`1"
          }
        },
        "Count": {
          "format": "int64",
          "description": "資料總筆數<span class=\"emphasis fas fa-pen\" rel=\"與來源Inbound XML不同，為提供資料的總筆數[該欄位由本平台自動產製]\"></span>",
          "type": "integer"
        }
      },
      "xml": {
        "name": "ShipFlatWrapperOfRouteFlat",
        "namespace": "http://ptx.transportdata.tw/standard/schema/"
      }
    },
    "PTX.API.Ship.Model.ShipFlatWrapper[PTX.Service.DTO.Ship.Specification.V3.SpecificScheduleFlat]": {
      "title": "ShipSpecificScheduleFlatList",
      "type": "object",
      "properties": {
        "SpecificScheduleFlats": {
          "title": "Array",
          "description": "資料(陣列)",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PTX.Service.DTO.Ship.Specification.V3.SpecificScheduleFlat"
          },
          "xml": {
            "name": "List`1"
          }
        },
        "Count": {
          "format": "int64",
          "description": "資料總筆數<span class=\"emphasis fas fa-pen\" rel=\"與來源Inbound XML不同，為提供資料的總筆數[該欄位由本平台自動產製]\"></span>",
          "type": "integer"
        }
      },
      "xml": {
        "name": "ShipFlatWrapperOfSpecificScheduleFlat",
        "namespace": "http://ptx.transportdata.tw/standard/schema/"
      }
    },
    "PTX.API.Ship.Model.ShipFlatWrapper[PTX.Service.DTO.Ship.Specification.V3.StopOfRouteFlat]": {
      "title": "ShipStopOfRouteFlatList",
      "type": "object",
      "properties": {
        "StopOfRouteFlats": {
          "title": "Array",
          "description": "資料(陣列)",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PTX.Service.DTO.Ship.Specification.V3.StopOfRouteFlat"
          },
          "xml": {
            "name": "List`1"
          }
        },
        "Count": {
          "format": "int64",
          "description": "資料總筆數<span class=\"emphasis fas fa-pen\" rel=\"與來源Inbound XML不同，為提供資料的總筆數[該欄位由本平台自動產製]\"></span>",
          "type": "integer"
        }
      },
      "xml": {
        "name": "ShipFlatWrapperOfStopOfRouteFlat",
        "namespace": "http://ptx.transportdata.tw/standard/schema/"
      }
    },
    "PTX.API.Ship.Model.ShipLiveWrapper[PTX.Service.DTO.Ship.Specification.V3.Alert]": {
      "title": "ShipAlertList",
      "required": [
        "Alerts",
        "AuthorityCode",
        "SrcUpdateInterval",
        "SrcUpdateTime",
        "UpdateInterval",
        "UpdateTime"
      ],
      "type": "object",
      "properties": {
        "UpdateTime": {
          "format": "date-time",
          "description": "[平臺]資料更新日期時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)<span class=\"emphasis fas fa-pen\" rel=\"與來源Inbound XML不同，為中心端處理完後提供資料的更新時間\"></span>",
          "type": "string"
        },
        "UpdateInterval": {
          "format": "int32",
          "title": "Int32",
          "description": "[平臺]資料更新週期(秒)<span class=\"emphasis fas fa-pen\" rel=\"與來源Inbound XML不同，為中心端更新資料的週期\"></span>",
          "type": "integer"
        },
        "SrcUpdateTime": {
          "format": "date-time",
          "description": "[來源端平臺]資料更新時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)<span class=\"emphasis fas fa-pen\" rel=\"為來源Inbound XML中的UpdateTime [該欄位由本平台自動產製]\"></span>",
          "type": "string"
        },
        "SrcUpdateInterval": {
          "format": "int32",
          "title": "Int32",
          "description": "[來源端平臺]資料更新週期(秒)['-1: 不定期更新']<span class=\"emphasis fas fa-pen\" rel=\"為來源Inbound XML中的UpdateInterval [該欄位由本平台自動產製]\"></span>",
          "type": "integer"
        },
        "AuthorityCode": {
          "title": "String",
          "description": "業管機關簡碼",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "Count": {
          "format": "int64",
          "description": "資料總筆數<span class=\"emphasis fas fa-pen\" rel=\"與來源Inbound XML不同，為提供資料的總筆數  [該欄位由本平台自動產製]\"></span>",
          "type": "integer"
        },
        "Alerts": {
          "title": "Array",
          "description": "資料(陣列)",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PTX.Service.DTO.Ship.Specification.V3.Alert"
          },
          "xml": {
            "name": "List`1"
          }
        }
      },
      "xml": {
        "name": "ShipLiveWrapperOfAlert",
        "namespace": "http://ptx.transportdata.tw/standard/schema/"
      }
    },
    "PTX.API.Ship.Model.ShipLiveWrapper[PTX.Service.DTO.Ship.Specification.V3.LivePosition]": {
      "title": "ShipLivePositionList",
      "required": [
        "AuthorityCode",
        "LivePositions",
        "SrcUpdateInterval",
        "SrcUpdateTime",
        "UpdateInterval",
        "UpdateTime"
      ],
      "type": "object",
      "properties": {
        "UpdateTime": {
          "format": "date-time",
          "description": "[平臺]資料更新日期時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)<span class=\"emphasis fas fa-pen\" rel=\"與來源Inbound XML不同，為中心端處理完後提供資料的更新時間\"></span>",
          "type": "string"
        },
        "UpdateInterval": {
          "format": "int32",
          "title": "Int32",
          "description": "[平臺]資料更新週期(秒)<span class=\"emphasis fas fa-pen\" rel=\"與來源Inbound XML不同，為中心端更新資料的週期\"></span>",
          "type": "integer"
        },
        "SrcUpdateTime": {
          "format": "date-time",
          "description": "[來源端平臺]資料更新時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)<span class=\"emphasis fas fa-pen\" rel=\"為來源Inbound XML中的UpdateTime [該欄位由本平台自動產製]\"></span>",
          "type": "string"
        },
        "SrcUpdateInterval": {
          "format": "int32",
          "title": "Int32",
          "description": "[來源端平臺]資料更新週期(秒)['-1: 不定期更新']<span class=\"emphasis fas fa-pen\" rel=\"為來源Inbound XML中的UpdateInterval [該欄位由本平台自動產製]\"></span>",
          "type": "integer"
        },
        "AuthorityCode": {
          "title": "String",
          "description": "業管機關簡碼",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "Count": {
          "format": "int64",
          "description": "資料總筆數<span class=\"emphasis fas fa-pen\" rel=\"與來源Inbound XML不同，為提供資料的總筆數  [該欄位由本平台自動產製]\"></span>",
          "type": "integer"
        },
        "LivePositions": {
          "title": "Array",
          "description": "資料(陣列)",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PTX.Service.DTO.Ship.Specification.V3.LivePosition"
          },
          "xml": {
            "name": "List`1"
          }
        }
      },
      "xml": {
        "name": "ShipLiveWrapperOfLivePosition",
        "namespace": "http://ptx.transportdata.tw/standard/schema/"
      }
    },
    "PTX.API.Ship.Model.ShipLiveWrapper[PTX.Service.DTO.Ship.Specification.V3.News]": {
      "title": "ShipNewsList",
      "required": [
        "AuthorityCode",
        "Newses",
        "SrcUpdateInterval",
        "SrcUpdateTime",
        "UpdateInterval",
        "UpdateTime"
      ],
      "type": "object",
      "properties": {
        "UpdateTime": {
          "format": "date-time",
          "description": "[平臺]資料更新日期時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)<span class=\"emphasis fas fa-pen\" rel=\"與來源Inbound XML不同，為中心端處理完後提供資料的更新時間\"></span>",
          "type": "string"
        },
        "UpdateInterval": {
          "format": "int32",
          "title": "Int32",
          "description": "[平臺]資料更新週期(秒)<span class=\"emphasis fas fa-pen\" rel=\"與來源Inbound XML不同，為中心端更新資料的週期\"></span>",
          "type": "integer"
        },
        "SrcUpdateTime": {
          "format": "date-time",
          "description": "[來源端平臺]資料更新時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)<span class=\"emphasis fas fa-pen\" rel=\"為來源Inbound XML中的UpdateTime [該欄位由本平台自動產製]\"></span>",
          "type": "string"
        },
        "SrcUpdateInterval": {
          "format": "int32",
          "title": "Int32",
          "description": "[來源端平臺]資料更新週期(秒)['-1: 不定期更新']<span class=\"emphasis fas fa-pen\" rel=\"為來源Inbound XML中的UpdateInterval [該欄位由本平台自動產製]\"></span>",
          "type": "integer"
        },
        "AuthorityCode": {
          "title": "String",
          "description": "業管機關簡碼",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "Count": {
          "format": "int64",
          "description": "資料總筆數<span class=\"emphasis fas fa-pen\" rel=\"與來源Inbound XML不同，為提供資料的總筆數  [該欄位由本平台自動產製]\"></span>",
          "type": "integer"
        },
        "Newses": {
          "title": "Array",
          "description": "資料(陣列)",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PTX.Service.DTO.Ship.Specification.V3.News"
          },
          "xml": {
            "name": "List`1"
          }
        }
      },
      "xml": {
        "name": "ShipLiveWrapperOfNews",
        "namespace": "http://ptx.transportdata.tw/standard/schema/"
      }
    },
    "PTX.API.Ship.Model.ShipWrapper[PTX.Service.DTO.Shared.Specification.V3.Base.Authority]": {
      "title": "ShipAuthorityList",
      "required": [
        "SrcUpdateInterval",
        "SrcUpdateTime",
        "UpdateInterval",
        "VersionID"
      ],
      "type": "object",
      "properties": {
        "UpdateTime": {
          "format": "date-time",
          "description": "XML更新日期時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "UpdateInterval": {
          "format": "int32",
          "title": "Int32",
          "description": "本平台資料更新週期(秒)",
          "type": "integer"
        },
        "SrcUpdateTime": {
          "format": "date-time",
          "description": "[來源端平臺]資料更新時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)<span class=\"emphasis fas fa-pen\" rel=\"為來源Inbound XML中的UpdateTime [該欄位由本平台自動產製]\"></span>",
          "type": "string"
        },
        "SrcUpdateInterval": {
          "format": "int32",
          "description": "[來源端平臺]資料更新週期(秒)['-1: 不定期更新']<span class=\"emphasis fas fa-pen\" rel=\"為來源Inbound XML中的UpdateInterval [該欄位由本平台自動產製]\"></span>",
          "type": "integer"
        },
        "AuthorityCode": {
          "title": "String",
          "description": "業管機關簡碼",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "VersionID": {
          "format": "int32",
          "description": "資料版本編號<span class=\"emphasis fas fa-pen\" rel=\"與來源Inbound XML不同，為提供資料的版本編號[該欄位由本平台自動產製]\"></span>",
          "type": "integer"
        },
        "Authorities": {
          "title": "Array",
          "description": "資料(陣列)",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.Authority"
          },
          "xml": {
            "name": "List`1"
          }
        },
        "Count": {
          "format": "int64",
          "description": "資料總筆數<span class=\"emphasis fas fa-pen\" rel=\"與來源Inbound XML不同，為提供資料的總筆數[該欄位由本平台自動產製]\"></span>",
          "type": "integer"
        }
      },
      "xml": {
        "name": "ShipWrapperOfAuthority",
        "namespace": "http://ptx.transportdata.tw/standard/schema/"
      }
    },
    "PTX.API.Ship.Model.ShipWrapper[PTX.Service.DTO.Ship.Specification.V3.DailySchedule]": {
      "title": "ShipDailyScheduleList",
      "required": [
        "SrcUpdateInterval",
        "SrcUpdateTime",
        "UpdateInterval",
        "VersionID"
      ],
      "type": "object",
      "properties": {
        "UpdateTime": {
          "format": "date-time",
          "description": "XML更新日期時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "UpdateInterval": {
          "format": "int32",
          "title": "Int32",
          "description": "本平台資料更新週期(秒)",
          "type": "integer"
        },
        "SrcUpdateTime": {
          "format": "date-time",
          "description": "[來源端平臺]資料更新時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)<span class=\"emphasis fas fa-pen\" rel=\"為來源Inbound XML中的UpdateTime [該欄位由本平台自動產製]\"></span>",
          "type": "string"
        },
        "SrcUpdateInterval": {
          "format": "int32",
          "description": "[來源端平臺]資料更新週期(秒)['-1: 不定期更新']<span class=\"emphasis fas fa-pen\" rel=\"為來源Inbound XML中的UpdateInterval [該欄位由本平台自動產製]\"></span>",
          "type": "integer"
        },
        "AuthorityCode": {
          "title": "String",
          "description": "業管機關簡碼",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "VersionID": {
          "format": "int32",
          "description": "資料版本編號<span class=\"emphasis fas fa-pen\" rel=\"與來源Inbound XML不同，為提供資料的版本編號[該欄位由本平台自動產製]\"></span>",
[...]
