{
  "swagger": "2.0",
  "info": {
    "title": "MOTC Transport API V2",
    "description": "本平臺提供涵蓋全國尺度之公車、臺鐵、高鐵、捷運、航空、自行車等公共運輸旅運資料服務API，歡迎各產政學單位介接使用。\n                                                    <br><span class=swagger-description-indicatation>利用本平臺開放資料進行各項應用服務開發時，請考量不同特性使用者(如:性別/身心障礙/老幼等)的需求，並歡迎回饋寶貴意見。</span>\n                                                    <br><br>資料使用葵花寶典:[請點我](https://motc-ptx-api-documentation.gitbook.io/motc-ptx-api-documentation/)\n                                                    <br>資料服務開發實作參考手冊:[請點我](https://docs.google.com/viewer?url=https://github.com/ptxmotc/PTX_Web/blob/master/Swagger%E6%9C%8D%E5%8B%99%E8%AA%AA%E6%98%8E%E4%B8%8A%E5%82%B3%E5%8F%83%E8%80%83%E6%AA%94%E6%A1%88/%E5%85%AC%E5%85%B1%E9%81%8B%E8%BC%B8%E6%95%B4%E5%90%88%E8%B3%87%E8%A8%8A%E5%B9%B3%E5%8F%B0%E8%B3%87%E6%96%99%E6%9C%8D%E5%8B%99%E9%96%8B%E7%99%BC%E5%AF%A6%E4%BD%9C.pdf?raw=true)\n                                                    <br>API URI Convention文件說明:[請點我](https://docs.google.com/viewer?url=https://github.com/ptxmotc/PTX_Web/blob/master/Swagger%E6%9C%8D%E5%8B%99%E8%AA%AA%E6%98%8E%E4%B8%8A%E5%82%B3%E5%8F%83%E8%80%83%E6%AA%94%E6%A1%88/API_URI_Convention%E6%96%87%E4%BB%B6_v1.pdf?raw=true)",
    "version": "v2"
  },
  "host": "ptx.transportdata.tw",
  "basePath": "/MOTC",
  "schemes": [
    "https"
  ],
  "paths": {
    "/v2/Air/Airport": {
      "get": {
        "tags": [
          "Air"
        ],
        "summary": "取得機場資料",
        "description": "取得所有機場資料",
        "operationId": "AirApi_Airport_2010",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Air.Specification.V2.Airport"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Air/Airport/{IATA}": {
      "get": {
        "tags": [
          "Air"
        ],
        "summary": "取得指定[機場]資料",
        "description": "取得指定[機場]資料",
        "operationId": "AirApi_Airport_2010_1",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "IATA",
            "description": "機場代碼",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Air.Specification.V2.Airport"
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Air/Airline/{IATA}": {
      "get": {
        "tags": [
          "Air"
        ],
        "summary": "取得指定[航空公司]資料",
        "description": "取得指定[航空公司]資料",
        "operationId": "AirApi_Airline_2011",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "IATA",
            "description": "航空公司代碼",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Air.Specification.V2.Airline"
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Air/Airline": {
      "get": {
        "tags": [
          "Air"
        ],
        "summary": "取得航空公司資料",
        "description": "取得所有航空公司資料",
        "operationId": "AirApi_Airline_2011_1",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Air.Specification.V2.Airline"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Air/FIDS/Airport/Departure": {
      "get": {
        "tags": [
          "Air"
        ],
        "summary": "取得機場的即時出境航班",
        "description": "取得機場的即時出境航班",
        "operationId": "AirApi_Departure_2012",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "IsCargo",
            "description": "是否為貨機",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Air.Specification.V2.FIDSDeparture"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Air/FIDS/Airport/Departure/{IATA}": {
      "get": {
        "tags": [
          "Air"
        ],
        "summary": "取得指定[機場的即時出境航班]",
        "description": "取得指定的[機場即時出境航班]",
        "operationId": "AirApi_Departure_2012_1",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "IATA",
            "description": "機場代碼",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "IsCargo",
            "description": "是否為貨機",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Air.Specification.V2.FIDSDeparture"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Air/FIDS/Airport/Arrival": {
      "get": {
        "tags": [
          "Air"
        ],
        "summary": "取得機場的即時入境航班",
        "description": "取得機場的即時入境航班",
        "operationId": "AirApi_Arrival_2013",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "IsCargo",
            "description": "是否為貨機",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Air.Specification.V2.FIDSArrival"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Air/FIDS/Airport/Arrival/{IATA}": {
      "get": {
        "tags": [
          "Air"
        ],
        "summary": "取得指定[機場的即時入境航班]",
        "description": "取得[指定機場]的即時入境航班",
        "operationId": "AirApi_Arrival_2013_1",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "IATA",
            "description": "機場代碼",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "IsCargo",
            "description": "是否為貨機",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Air.Specification.V2.FIDSArrival"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Air/FIDS/Flight": {
      "get": {
        "tags": [
          "Air"
        ],
        "summary": "取得即時航班資料",
        "description": "取得即時航班資料",
        "operationId": "AirApi_Flight_2014",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "IsCargo",
            "description": "是否為貨機",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Air.Specification.V2.FIDS"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Air/FIDS/Flight/{FlightNo}": {
      "get": {
        "tags": [
          "Air"
        ],
        "summary": "取得指定[即時航班]資料",
        "operationId": "AirApi_Flight_2014_1",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "FlightNo",
            "description": "航機班號",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "IsCargo",
            "description": "是否為貨機",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Air.Specification.V2.FIDS"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Air/FIDS/Airport": {
      "get": {
        "tags": [
          "Air"
        ],
        "summary": "取得機場的即時航班資料",
        "description": "取得即時航班資料",
        "operationId": "AirApi_FIDS_2015",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Air.Specification.V2.Airport_FIDS"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Air/FIDS/Airport/{IATA}": {
      "get": {
        "tags": [
          "Air"
        ],
        "summary": "取得指定[機場的即時航班]資料",
        "description": "取得指定[機場的即時航班]資料",
        "operationId": "AirApi_FIDS_2015_1",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "IATA",
            "description": "機場代碼",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Air.Specification.V2.Airport_FIDS"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Air/METAR/Airport": {
      "get": {
        "tags": [
          "Air"
        ],
        "summary": "取得[國內機場]氣象資訊觀測資料",
        "description": "### 目前提供之機場氣象觀測站IATA代碼清單\r\n- TSA:松山機場 KHH:高雄機場\r\n- TPE:桃園機場 MFK:北竿機場\r\n- LZN:南竿機場 KNH:金門機場\r\n- MZG:澎湖機場 RMQ:臺中機場\r\n- CYI:嘉義機場 TNN:臺南機場\r\n- HUN:花蓮機場 TTT:臺東機場\r\n- KYD:蘭嶼機場 GNI:綠島機場",
        "operationId": "AirApi_METAR_2016",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Air.Specification.V2.METAR"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Air/METAR/Airport/{IATA}": {
      "get": {
        "tags": [
          "Air"
        ],
        "summary": "取得指定[國內機場]氣象資訊觀測資料",
        "description": "取得指定[國內機場]氣象資訊觀測資料",
        "operationId": "AirApi_METAR_2016_1",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "IATA",
            "description": "機場代碼",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Air.Specification.V2.METAR"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Air/GeneralSchedule/Domestic": {
      "get": {
        "tags": [
          "Air"
        ],
        "summary": "取得國內航空定期時刻表",
        "operationId": "AirApi_Domestic_2017",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Air.Specification.V2.GeneralFlightSchedule"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Air/GeneralSchedule/International": {
      "get": {
        "tags": [
          "Air"
        ],
        "summary": "取得國際航空定期時刻表",
        "operationId": "AirApi_International_2018",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Air.Specification.V2.GeneralFlightSchedule"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "PTX.Service.DTO.Air.Specification.V2.Airline": {
      "title": "Airline",
      "description": "航空公司資料",
      "required": [
        "AirlineID",
        "UpdateTime",
        "VersionID"
      ],
      "type": "object",
      "properties": {
        "AirlineID": {
          "title": "String",
          "description": "航空公司IATA國際代碼",
          "type": "string",
          "xml": {
            "name": "AirlineID"
          }
        },
        "AirlineName": {
          "title": "NameType",
          "description": "航空公司名稱",
          "allOf": [
            {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V2.Base.NameType"
            }
          ],
          "xml": {
            "name": "NameType"
          }
        },
        "AirlineNameAlias": {
          "title": "NameType",
          "description": "航空公司簡稱",
          "allOf": [
            {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V2.Base.NameType"
            }
          ],
          "xml": {
            "name": "NameType"
          }
        },
        "AirlineIATA": {
          "title": "String",
          "description": "航空公司IATA國際代碼",
          "type": "string",
          "xml": {
            "name": "AirlineIATA"
          }
        },
        "AirlineICAO": {
          "title": "String",
          "description": "航空公司ICAO國際代碼",
          "type": "string",
          "xml": {
            "name": "AirlineICAO"
          }
        },
        "AirlineEmail": {
          "title": "String",
          "description": "航空公司電子信箱",
          "type": "string",
          "xml": {
            "name": "AirlineEmail"
          }
        },
        "AirlineAddress": {
          "title": "String",
          "description": "航空公司地址",
          "type": "string",
          "xml": {
            "name": "AirlineAddress"
          }
        },
        "AirlinePhone": {
          "title": "String",
          "description": "航空公司聯繫電話",
          "type": "string",
          "xml": {
            "name": "AirlinePhone"
          }
        },
        "AirlineNationality": {
          "title": "String",
          "description": "航空公司國籍",
          "type": "string",
          "xml": {
            "name": "AirlineNationality"
          }
        },
        "UpdateTime": {
          "format": "date-time",
          "title": "DateTime",
          "description": "資料更新日期時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "VersionID": {
          "format": "int32",
          "title": "Int32",
          "description": "資料版本編號",
          "type": "integer"
        }
      },
      "xml": {
        "name": "Airline"
      }
    },
    "PTX.Service.DTO.Air.Specification.V2.Airport": {
      "title": "Airport",
      "description": "機場資料",
      "required": [
        "AirportID",
        "UpdateTime",
        "VersionID"
      ],
      "type": "object",
      "properties": {
        "AirportID": {
          "title": "String",
          "description": "機場IATA國際代碼",
          "type": "string",
          "xml": {
            "name": "AirportID"
          }
        },
        "AirportName": {
          "title": "NameType",
          "description": "機場中文名稱",
          "allOf": [
            {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V2.Base.NameType"
            }
          ],
          "xml": {
            "name": "NameType"
          }
        },
        "AirportIATA": {
          "title": "String",
          "description": "機場IATA國際代碼",
          "type": "string",
          "xml": {
            "name": "AirportIATA"
          }
        },
        "AirportICAO": {
          "title": "String",
          "description": "機場ICAO國際代碼",
          "type": "string",
          "xml": {
            "name": "AirportICAO"
          }
        },
        "AirportPosition": {
          "title": "PointType",
          "description": "機場位置",
          "allOf": [
            {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V2.Base.PointType"
            }
          ],
          "xml": {
            "name": "PointType"
          }
        },
        "AirportCityName": {
          "title": "NameType",
          "description": "機場所屬城市",
          "allOf": [
            {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V2.Base.NameType"
            }
          ],
          "xml": {
            "name": "NameType"
          }
        },
        "AirportAddress": {
          "title": "String",
          "description": "機場地址",
          "type": "string",
          "xml": {
            "name": "AirportAddress"
          }
        },
        "AirportPhone": {
          "title": "String",
          "description": "機場聯繫電話",
          "type": "string",
          "xml": {
            "name": "AirportPhone"
          }
        },
        "AirportNationality": {
          "title": "String",
          "description": "機場國籍",
          "type": "string",
          "xml": {
            "name": "AirportNationality"
          }
        },
        "AuthorityID": {
          "title": "String",
          "description": "業管機關代碼(流水號)",
          "type": "string",
          "xml": {
            "name": "AuthorityID"
          }
        },
        "UpdateTime": {
          "format": "date-time",
          "title": "DateTime",
          "description": "資料更新日期時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "VersionID": {
          "format": "int32",
          "title": "Int32",
          "description": "資料版本編號",
          "type": "integer"
        }
      },
      "xml": {
        "name": "Airport"
      }
    },
    "PTX.Service.DTO.Air.Specification.V2.Airport_FIDS": {
      "title": "Airport_FIDS",
      "description": "航班顯示資料(以機場角度)",
      "required": [
        "AirportID",
        "UpdateTime"
      ],
      "type": "object",
      "properties": {
        "AirportID": {
          "title": "String",
          "description": "機場IATA國際代碼",
          "type": "string",
          "xml": {
            "name": "AirportID"
          }
        },
        "FIDSDeparture": {
          "title": "Array",
          "description": "出發航班顯示資料",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PTX.Service.DTO.Air.Specification.V2.FIDSDeparture"
          },
          "xml": {
            "name": "List`1"
          }
        },
        "FIDSArrival": {
          "title": "Array",
          "description": "抵達航班顯示資料",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PTX.Service.DTO.Air.Specification.V2.FIDSArrival"
          },
          "xml": {
            "name": "List`1"
          }
        },
        "UpdateTime": {
          "format": "date-time",
          "title": "DateTime",
          "description": "資料更新日期時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        }
      },
      "xml": {
        "name": "Airport_FIDS"
      }
    },
    "PTX.Service.DTO.Air.Specification.V2.CodeShare": {
      "title": "CodeShare",
      "description": "共用班號",
      "required": [
        "AirlineID",
        "FlightNumber"
      ],
      "type": "object",
      "properties": {
        "AirlineID": {
          "title": "String",
          "description": "航空公司IATA國際代碼",
          "type": "string",
          "xml": {
            "name": "AirlineID"
          }
        },
        "FlightNumber": {
          "title": "String",
          "description": "航機班號(不包含航空公司的AirlineID，僅有班號數字)",
          "type": "string",
          "xml": {
            "name": "FlightNumber"
          }
        }
      },
      "xml": {
        "name": "CodeShare"
      }
    },
    "PTX.Service.DTO.Air.Specification.V2.FIDS": {
      "title": "FIDS",
      "description": "航班顯示資料",
      "required": [
        "AirlineID",
        "ArrivalAirportID",
        "DepartureAirportID",
        "FlightDate",
        "FlightNumber",
        "UpdateTime"
      ],
      "type": "object",
      "properties": {
        "FlightDate": {
          "format": "date-time",
          "description": "航班日期(ISO8601格式:yyyy-MM-dd)",
          "type": "string"
        },
        "FlightNumber": {
          "title": "String",
          "description": "航機班號(不包含航空公司的AirlineID，僅有班號數字)",
          "type": "string",
          "xml": {
            "name": "FlightNumber"
          }
        },
        "AirRouteType": {
          "title": "Int32",
          "description": "航線種類 : [-2:'特殊',1:'國際',2:'國內',3:'兩岸',4:'國際包機',5:'國內包機',6:'兩岸包機']",
          "type": "integer"
        },
        "AirlineID": {
          "title": "String",
          "description": "航空公司IATA國際代碼",
          "type": "string",
          "xml": {
            "name": "AirlineID"
          }
        },
        "DepartureAirportID": {
          "title": "String",
          "description": "起點機場IATA國際代碼",
          "type": "string",
          "xml": {
            "name": "DepartureAirportID"
          }
        },
        "ArrivalAirportID": {
          "title": "String",
          "description": "目的地機場IATA國際代碼",
          "type": "string",
          "xml": {
            "name": "ArrivalAirportID"
          }
        },
        "ScheduleDepartureTime": {
          "format": "date-time",
          "description": "表訂出發時間(ISO8601格式:yyyy-MM-ddTHH:mm)",
          "type": "string"
        },
        "ActualDepartureTime": {
          "format": "date-time",
          "description": "實際出發時間(ISO8601格式:yyyy-MM-ddTHH:mm)",
          "type": "string"
        },
        "EstimatedDepartureTime": {
          "format": "date-time",
          "description": "預估出發時間(ISO8601格式:yyyy-MM-ddTHH:mm)",
          "type": "string"
        },
        "ScheduleArrivalTime": {
          "format": "date-time",
          "description": "表訂抵達時間(ISO8601格式:yyyy-MM-ddTHH:mm)",
          "type": "string"
        },
        "ActualArrivalTime": {
          "format": "date-time",
          "description": "實際抵達時間(ISO8601格式:yyyy-MM-ddTHH:mm)",
          "type": "string"
        },
        "EstimatedArrivalTime": {
          "format": "date-time",
          "description": "預估抵達時間(ISO8601格式:yyyy-MM-ddTHH:mm)",
          "type": "string"
        },
        "DepartureRemark": {
          "title": "String",
          "description": "航班屬性狀態,為第三方觀點的狀態(資料來源:民航局)",
          "type": "string",
          "xml": {
            "name": "DepartureRemark"
          }
        },
        "DepartureRemarkEn": {
          "title": "String",
          "description": "航班屬性狀態(英文)",
          "type": "string",
          "xml": {
            "name": "DepartureRemarkEn"
          }
        },
        "ArrivalRemark": {
          "title": "String",
          "description": "航班屬性狀態,為該機場觀點的狀態",
          "type": "string",
          "xml": {
            "name": "ArrivalRemark"
          }
        },
        "ArrivalRemarkEn": {
          "title": "String",
          "description": "航班屬性狀態(英文)",
          "type": "string",
          "xml": {
            "name": "ArrivalRemarkEn"
          }
        },
        "FlightStatus": {
          "title": "String",
          "description": "航班運行狀態,以航班的角度的狀態",
          "type": "string",
          "xml": {
            "name": "FlightStatus"
          }
        },
        "FlightStatusEn": {
          "title": "String",
          "description": "航班運行狀態(英文)",
          "type": "string",
          "xml": {
            "name": "FlightStatusEn"
          }
        },
        "FlightStatusPC": {
          "title": "String",
          "description": "航班運行狀態百分比(國內線)",
          "type": "string",
          "xml": {
            "name": "FlightStatusPC"
          }
        },
        "FlightRemark": {
          "title": "String",
          "description": "航班屬性",
          "type": "string",
          "xml": {
            "name": "FlightRemark"
          }
        },
        "ArrivalTerminal": {
          "title": "String",
          "description": "抵達航廈",
          "type": "string",
          "xml": {
            "name": "ArrivalTerminal"
          }
        },
        "DepartureTerminal": {
          "title": "String",
          "description": "出發航廈",
          "type": "string",
          "xml": {
            "name": "DepartureTerminal"
          }
        },
        "ArrivalGate": {
          "title": "String",
          "description": "抵達登機門(僅客機提供)",
          "type": "string",
          "xml": {
            "name": "ArrivalGate"
          }
        },
        "DepartureGate": {
          "title": "String",
          "description": "出發登機門(僅客機提供)",
          "type": "string",
          "xml": {
            "name": "DepartureGate"
          }
        },
        "ArrivalApron": {
          "title": "String",
          "description": "抵達停機坪(僅貨機提供)",
          "type": "string",
          "xml": {
            "name": "ArrivalApron"
          }
        },
        "DepartureApron": {
          "title": "String",
          "description": "出發停機坪(僅貨機提供)",
          "type": "string",
          "xml": {
            "name": "DepartureApron"
          }
        },
        "CodeShare": {
          "title": "String",
          "description": "航班共用班號",
          "type": "string",
          "xml": {
            "name": "CodeShare"
          }
        },
        "IsCargo": {
          "title": "Boolean",
          "description": "是否為貨機",
          "type": "boolean"
        },
        "AcType": {
          "title": "String",
          "description": "航空器型號",
          "type": "string",
          "xml": {
            "name": "AcType"
          }
        },
        "BaggageClaim": {
          "title": "String",
          "description": "行李轉盤",
          "type": "string",
          "xml": {
            "name": "BaggageClaim"
          }
        },
        "CheckCounter": {
          "title": "String",
          "description": "報到櫃檯",
          "type": "string",
          "xml": {
            "name": "CheckCounter"
          }
        },
        "UpdateTime": {
          "format": "date-time",
          "title": "DateTime",
          "description": "資料更新日期時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        }
      },
      "xml": {
        "name": "FIDS"
      }
    },
    "PTX.Service.DTO.Air.Specification.V2.FIDSArrival": {
      "title": "FIDSArrival",
      "description": "抵達航班顯示資料",
      "required": [
        "AirlineID",
        "ArrivalAirportID",
        "DepartureAirportID",
        "FlightDate",
        "FlightNumber",
        "UpdateTime"
      ],
      "type": "object",
      "properties": {
        "FlightDate": {
          "format": "date-time",
          "description": "航班日期(ISO8601格式:yyyy-MM-dd)",
          "type": "string"
        },
        "FlightNumber": {
          "title": "String",
          "description": "航機班號(不包含航空公司的AirlineID，僅有班號數字)",
          "type": "string",
          "xml": {
            "name": "FlightNumber"
          }
        },
        "AirRouteType": {
          "title": "Int32",
          "description": "航線種類(目前民航局與桃機的FIDS系統都尚未提供此欄位資料) : [-2:'特殊',1:'國際',2:'國內',3:'兩岸',4:'國際包機',5:'國內包機',6:'兩岸包機']",
          "type": "integer"
        },
        "AirlineID": {
          "title": "String",
          "description": "航空公司IATA國際代碼",
          "type": "string",
          "xml": {
            "name": "AirlineID"
          }
        },
        "DepartureAirportID": {
          "title": "String",
          "description": "起點機場IATA國際代碼",
          "type": "string",
          "xml": {
            "name": "DepartureAirportID"
          }
        },
        "ArrivalAirportID": {
          "title": "String",
          "description": "目的地機場IATA國際代碼",
          "type": "string",
          "xml": {
            "name": "ArrivalAirportID"
          }
        },
        "ScheduleArrivalTime": {
          "format": "date-time",
          "description": "表訂抵達時間(ISO8601格式:yyyy-MM-ddTHH:mm)",
          "type": "string"
        },
        "ActualArrivalTime": {
          "format": "date-time",
          "description": "實際抵達時間(ISO8601格式:yyyy-MM-ddTHH:mm)",
          "type": "string"
        },
        "EstimatedArrivalTime": {
          "format": "date-time",
          "description": "預估抵達時間(ISO8601格式:yyyy-MM-ddTHH:mm)",
          "type": "string"
        },
        "ArrivalRemark": {
          "title": "String",
          "description": "航班屬性狀態,為該機場觀點的狀態",
          "type": "string",
          "xml": {
            "name": "ArrivalRemark"
          }
        },
        "ArrivalRemarkEn": {
          "title": "String",
          "description": "航班屬性狀態(英文)",
          "type": "string",
          "xml": {
            "name": "ArrivalRemarkEn"
          }
        },
        "Terminal": {
          "title": "String",
          "description": "航廈",
          "type": "string",
          "xml": {
            "name": "Terminal"
          }
        },
        "Gate": {
          "title": "String",
          "description": "登機門(僅客機提供)",
          "type": "string",
          "xml": {
            "name": "Gate"
          }
        },
        "Apron": {
          "title": "String",
          "description": "停機坪(僅貨機提供)",
          "type": "string",
          "xml": {
            "name": "Apron"
          }
        },
        "CodeShare": {
          "title": "String",
          "description": "航班共用班號",
          "type": "string",
          "xml": {
            "name": "CodeShare"
          }
        },
        "IsCargo": {
          "title": "Boolean",
          "description": "是否為貨機",
          "type": "boolean"
        },
        "AcType": {
          "title": "String",
          "description": "航空器型號",
          "type": "string",
          "xml": {
            "name": "AcType"
          }
        },
        "BaggageClaim": {
          "title": "String",
          "description": "行李轉盤(到站FIDS可能有「行李轉盤」資訊, 離站FIDS不會有, 貨機則無此資訊)",
          "type": "string",
          "xml": {
            "name": "BaggageClaim"
          }
        },
        "CheckCounter": {
          "title": "String",
          "description": "報到櫃檯(離站FIDS可能有「報到櫃台」資訊, 到站FIDS不會有, 貨機則無此資訊)",
          "type": "string",
          "xml": {
            "name": "CheckCounter"
          }
        },
        "UpdateTime": {
          "format": "date-time",
          "title": "DateTime",
          "description": "資料更新日期時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        }
      },
      "xml": {
        "name": "FIDSArrival"
      }
    },
    "PTX.Service.DTO.Air.Specification.V2.FIDSDeparture": {
      "title": "FIDSDeparture",
      "description": "出發航班顯示資料",
      "required": [
        "AirlineID",
        "ArrivalAirportID",
        "DepartureAirportID",
        "FlightDate",
        "FlightNumber",
        "UpdateTime"
      ],
      "type": "object",
      "properties": {
        "FlightDate": {
          "format": "date-time",
          "description": "航班日期(ISO8601格式:yyyy-MM-dd)",
          "type": "string"
        },
        "FlightNumber": {
          "title": "String",
          "description": "航機班號(不包含航空公司的AirlineID，僅有班號數字)",
          "type": "string",
          "xml": {
            "name": "FlightNumber"
          }
        },
        "AirRouteType": {
          "title": "Int32",
          "description": "航線種類(目前民航局與桃機的FIDS系統都尚未提供此欄位資料) : [-2:'特殊',1:'國際',2:'國內',3:'兩岸',4:'國際包機',5:'國內包機',6:'兩岸包機']",
          "type": "integer"
        },
        "AirlineID": {
          "title": "String",
          "description": "航空公司IATA國際代碼",
          "type": "string",
          "xml": {
            "name": "AirlineID"
          }
        },
        "DepartureAirportID": {
          "title": "String",
          "description": "起點機場IATA國際代碼",
          "type": "string",
          "xml": {
            "name": "DepartureAirportID"
          }
        },
        "ArrivalAirportID": {
          "title": "String",
          "description": "目的地機場IATA國際代碼",
          "type": "string",
          "xml": {
            "name": "ArrivalAirportID"
          }
        },
        "ScheduleDepartureTime": {
          "format": "date-time",
          "description": "表訂出發時間(ISO8601格式:yyyy-MM-ddTHH:mm)",
          "type": "string"
        },
        "ActualDepartureTime": {
          "format": "date-time",
          "description": "實際出發時間(ISO8601格式:yyyy-MM-ddTHH:mm)",
          "type": "string"
        },
        "EstimatedDepartureTime": {
          "format": "date-time",
          "description": "預估出發時間(ISO8601格式:yyyy-MM-ddTHH:mm)",
          "type": "string"
        },
        "DepartureRemark": {
          "title": "String",
          "description": "航班屬性狀態, ,為該機場觀點的狀態",
          "type": "string",
          "xml": {
            "name": "DepartureRemark"
          }
        },
        "DepartureRemarkEn": {
          "title": "String",
          "description": "航班屬性狀態(英文)",
          "type": "string",
          "xml": {
            "name": "DepartureRemarkEn"
          }
        },
        "Terminal": {
          "title": "String",
          "description": "航廈",
          "type": "string",
          "xml": {
            "name": "Terminal"
          }
        },
        "Gate": {
          "title": "String",
          "description": "登機門(僅客機提供)",
          "type": "string",
          "xml": {
            "name": "Gate"
          }
        },
        "Apron": {
          "title": "String",
          "description": "停機坪(僅貨機提供)",
          "type": "string",
          "xml": {
            "name": "Apron"
          }
        },
        "CodeShare": {
          "title": "String",
          "description": "航班共用班號",
          "type": "string",
          "xml": {
            "name": "CodeShare"
          }
        },
        "IsCargo": {
          "title": "Boolean",
          "description": "是否為貨機",
          "type": "boolean"
        },
        "AcType": {
          "title": "String",
          "description": "航空器型號",
          "type": "string",
          "xml": {
            "name": "AcType"
          }
        },
        "BaggageClaim": {
          "title": "String",
          "description": "行李轉盤(到站FIDS可能有「行李轉盤」資訊, 離站FIDS不會有, 貨機則無此資訊)",
          "type": "string",
          "xml": {
            "name": "BaggageClaim"
          }
        },
        "CheckCounter": {
          "title": "String",
          "description": "報到櫃檯(離站FIDS可能有「報到櫃台」資訊, 到站FIDS不會有, 貨機則無此資訊)",
          "type": "string",
          "xml": {
            "name": "CheckCounter"
          }
        },
        "UpdateTime": {
          "format": "date-time",
          "title": "DateTime",
          "description": "資料更新日期時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        }
      },
      "xml": {
        "name": "FIDSDeparture"
      }
    },
    "PTX.Service.DTO.Air.Specification.V2.GeneralFlightSchedule": {
      "title": "GeneralFlightSchedule",
      "description": "航空定期時刻表資料",
      "required": [
        "AirlineID",
        "ArrivalAirportID",
        "ArrivalTime",
        "DepartureAirportID",
        "DepartureTime",
        "FlightNumber",
        "Friday",
        "Monday",
        "Saturday",
        "ScheduleEndDate",
        "ScheduleStartDate",
        "Sunday",
        "Thursday",
        "Tuesday",
        "UpdateTime",
        "VersionID",
        "Wednesday"
      ],
      "type": "object",
      "properties": {
        "AirlineID": {
          "title": "String",
          "description": "航空公司IATA國際代碼",
          "type": "string",
          "xml": {
            "name": "AirlineID"
          }
        },
        "ScheduleStartDate": {
          "format": "date-time",
          "title": "DateTime",
          "description": "班表開始日期(ISO8601格式:yyyy-MM-dd)",
          "type": "string"
        },
        "ScheduleEndDate": {
          "format": "date-time",
          "title": "DateTime",
          "description": "班表結束日期(ISO8601格式:yyyy-MM-dd)",
          "type": "string"
        },
        "FlightNumber": {
          "title": "String",
          "description": "班機號碼(包含航空公司的AirlineID，結構為AirlineID加上3~4碼航機班號數字；若班號僅有兩碼，其結構會加上0補足三碼，\"AirlineID + 0 + 兩碼班號\")",
          "type": "string",
          "xml": {
            "name": "FlightNumber"
          }
        },
        "DepartureAirportID": {
          "title": "String",
          "description": "起點機場IATA國際代碼",
          "type": "string",
          "xml": {
            "name": "DepartureAirportID"
          }
        },
        "DepartureTime": {
          "title": "String",
          "description": "起點機場出發時間 (格式: HH:mm 當地時間，跨日以+1 表示)",
          "type": "string",
          "xml": {
            "name": "DepartureTime"
          }
        },
        "CodeShare": {
          "title": "Array",
          "description": "共用班號",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PTX.Service.DTO.Air.Specification.V2.CodeShare"
          },
          "xml": {
            "name": "List`1"
          }
        },
        "ArrivalAirportID": {
          "title": "String",
          "description": "目的地機場IATA國際代碼",
          "type": "string",
          "xml": {
            "name": "ArrivalAirportID"
          }
        },
        "ArrivalTime": {
          "title": "String",
          "description": "終點機場抵達時間 (格式: HH:mm 當地時間，跨日以+1 表示)",
          "type": "string",
          "xml": {
            "name": "ArrivalTime"
          }
        },
        "Monday": {
          "title": "Boolean",
          "description": "週一飛行與否",
          "type": "boolean"
        },
        "Tuesday": {
          "title": "Boolean",
          "description": "週二飛行與否",
          "type": "boolean"
        },
        "Wednesday": {
          "title": "Boolean",
          "description": "週三飛行與否",
          "type": "boolean"
        },
        "Thursday": {
          "title": "Boolean",
          "description": "週四飛行與否",
          "type": "boolean"
        },
        "Friday": {
          "title": "Boolean",
          "description": "週五飛行與否",
          "type": "boolean"
        },
        "Saturday": {
          "title": "Boolean",
          "description": "週六飛行與否",
          "type": "boolean"
        },
        "Sunday": {
          "title": "Boolean",
          "description": "週日飛行與否",
          "type": "boolean"
        },
        "Terminal": {
          "title": "String",
          "description": "航廈",
          "type": "string",
          "xml": {
            "name": "Terminal"
          }
        },
        "UpdateTime": {
          "format": "date-time",
          "title": "DateTime",
          "description": "資料更新日期時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "VersionID": {
          "format": "int32",
          "title": "Int32",
          "description": "資料版本編號",
          "type": "integer"
        }
      },
      "xml": {
        "name": "GeneralFlightSchedule"
      }
    },
    "PTX.Service.DTO.Air.Specification.V2.METAR": {
      "title": "METAR",
      "required": [
        "AirportID",
        "AirportName",
        "Ceiling",
        "CityName",
        "CountryName",
        "MetarText",
        "MetarTime",
        "ObservationTime",
        "StationID",
        "StationPosition",
        "Temperature",
        "UpdateTime",
        "Visibility",
        "WeatherDescription",
        "WindDirection",
        "WindSpeed"
      ],
      "type": "object",
      "properties": {
        "AirportID": {
          "title": "String",
          "description": "機場代碼(IATA)",
          "type": "string",
          "xml": {
            "name": "AirportID"
          }
        },
        "StationID": {
          "title": "String",
          "description": "機場氣象觀測站代碼(ICAO)",
          "type": "string",
          "xml": {
            "name": "StationID"
          }
        },
        "CountryName": {
          "title": "NameType",
          "description": "國家名稱",
          "allOf": [
            {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V2.Base.NameType"
            }
          ],
          "xml": {
            "name": "NameType"
          }
        },
        "CityName": {
          "title": "NameType",
          "description": "機場所屬城市",
          "allOf": [
            {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V2.Base.NameType"
            }
          ],
          "xml": {
            "name": "NameType"
          }
        },
        "AirportName": {
          "title": "NameType",
          "description": "機場名稱",
          "allOf": [
            {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V2.Base.NameType"
            }
          ],
          "xml": {
            "name": "NameType"
          }
        },
        "StationPosition": {
          "title": "PointType",
          "description": "機場氣象觀測站座標",
          "allOf": [
            {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V2.Base.PointType"
            }
          ],
          "xml": {
            "name": "PointType"
          }
        },
        "ObservationTime": {
          "format": "date-time",
          "title": "DateTime",
          "description": "觀測時間",
          "type": "string"
        },
        "MetarText": {
          "title": "String",
          "description": "機場天氣報告(METAR/SPECI)",
          "type": "string",
          "xml": {
            "name": "MetarText"
          }
        },
        "MetarTime": {
          "title": "String",
          "description": "機場天氣報告時間(地方時)",
          "type": "string",
          "xml": {
            "name": "MetarTime"
          }
        },
        "WindDirection": {
          "title": "String",
          "description": "風向(含單位)",
          "type": "string",
          "xml": {
            "name": "WindDirection"
          }
        },
        "WindSpeed": {
          "title": "String",
          "description": "風速(含單位)",
          "type": "string",
          "xml": {
            "name": "WindSpeed"
          }
        },
        "Visibility": {
          "title": "String",
          "description": "盛行能見度(含單位，9999以10公里以上表示)",
          "type": "string",
          "xml": {
            "name": "Visibility"
          }
        },
        "Ceiling": {
          "title": "String",
          "description": "雲冪(含單位)",
          "type": "string",
          "xml": {
            "name": "Ceiling"
          }
        },
        "Temperature": {
          "title": "String",
          "description": "溫度(含單位)",
          "type": "string",
          "xml": {
            "name": "Temperature"
          }
        },
        "WeatherDescription": {
          "title": "NameType",
          "description": "天氣描述",
          "allOf": [
            {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V2.Base.NameType"
            }
          ],
          "xml": {
            "name": "NameType"
          }
        },
        "UpdateTime": {
          "format": "date-time",
          "title": "DateTime",
          "description": "本平台資料更新時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        }
      },
      "xml": {
        "name": "METAR"
      }
    },
    "PTX.Service.DTO.Shared.Specification.V2.Base.NameType": {
      "title": "NameType",
      "description": "名稱資料型別",
      "type": "object",
      "properties": {
        "Zh_tw": {
          "title": "String",
          "description": "中文繁體名稱",
          "type": "string",
          "xml": {
            "name": "Zh_tw"
          }
        },
        "En": {
          "title": "String",
          "description": "英文名稱",
          "type": "string",
          "xml": {
            "name": "En"
          }
        }
      },
      "xml": {
        "name": "NameType"
      }
    },
    "PTX.Service.DTO.Shared.Specification.V2.Base.PointType": {
      "title": "PointType",
      "description": "座標資料型別",
      "type": "object",
      "properties": {
        "PositionLon": {
          "format": "double",
          "description": "位置經度(WGS84)",
          "type": "number"
        },
        "PositionLat": {
          "format": "double",
          "description": "位置緯度(WGS84)",
          "type": "number"
        },
        "GeoHash": {
          "title": "String",
          "description": "地理空間編碼",
          "type": "string",
          "xml": {
            "name": "GeoHash"
          }
        }
      },
      "xml": {
        "name": "PointType"
      }
    },
    "PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth": {
      "title": "DisplayHealth",
      "description": "API服務健康狀態",
      "required": [
        "ServiceID",
        "ServiceName"
      ],
      "type": "object",
      "properties": {
        "ServiceID": {
          "title": "String",
          "description": "API服務代碼",
          "type": "string",
          "xml": {
            "name": "ServiceID"
          }
        },
        "ServiceName": {
          "title": "String",
          "description": "API服務中文名稱",
          "type": "string",
          "xml": {
            "name": "ServiceName"
          }
        },
        "Inbound": {
          "title": "Inbound",
          "description": "本平台資料來源轉入狀態",
          "allOf": [
            {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.Inbound"
            }
          ],
          "xml": {
            "name": "Inbound"
          }
        },
        "Outbound": {
          "title": "Outbound",
          "description": "本平台API狀態",
          "allOf": [
            {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.Outbound"
            }
          ],
          "xml": {
            "name": "Outbound"
          }
        }
      },
      "xml": {
        "name": "DisplayHealth"
      }
    },
    "PTX.Service.DTO.Shared.Specification.V3.Base.Inbound": {
      "title": "Inbound",
      "description": "本平台資料來源轉入狀態",
      "required": [
        "CheckTime",
        "Status"
      ],
      "type": "object",
      "properties": {
        "CheckTime": {
          "format": "date-time",
          "title": "DateTime",
          "description": "檢核時間",
          "type": "string"
        },
        "Status": {
          "title": "Int32",
          "description": "檢核結果狀態 : [0:'失敗',1:'成功',2:'資料清洗中']",
          "type": "integer"
        },
        "Reason": {
          "title": "String",
          "description": "檢核失敗原因",
          "type": "string",
          "xml": {
            "name": "Reason"
          }
        }
      },
      "xml": {
        "name": "Inbound"
      }
    },
    "PTX.Service.DTO.Shared.Specification.V3.Base.Outbound": {
      "title": "Outbound",
      "description": "本平台API狀態",
      "required": [
        "CheckTime",
        "Status"
      ],
      "type": "object",
      "properties": {
        "CheckTime": {
          "format": "date-time",
          "title": "DateTime",
          "description": "檢核時間",
          "type": "string"
        },
        "Status": {
          "title": "Int32",
          "description": "檢核結果狀態 : [0:'失敗',1:'成功',2:'資料清洗中']",
          "type": "integer"
        },
        "Reason": {
          "title": "String",
          "description": "檢核失敗原因",
          "type": "string",
          "xml": {
            "name": "Reason"
          }
        }
      },
      "xml": {
        "name": "Outbound"
      }
    }
  },
  "securityDefinitions": {
    "AppID": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header",
      "description": "Specify the authorization token."
    },
    "AppKey": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header",
      "description": "Specify the authorization token."
    }
  },
  "security": [
    {
      "AppID": [],
      "AppKey": []
    }
  ],
  "tags": [
    {
      "name": "Air",
      "description": "航空"
    }
  ]
}
