{
  "swagger": "2.0",
  "info": {
    "version": "v3",
    "title": "MOTC Transport API V3",
    "description": "本平臺提供涵蓋全國尺度之公車、臺鐵、高鐵、捷運、航空、自行車等公共運輸旅運資料服務API，歡迎各產政學單位介接使用。\r\n                <br><span class=swagger-description-indicatation>利用本平臺開放資料進行各項應用服務開發時，請考量不同特性使用者(如:性別/身心障礙/老幼等)的需求，並歡迎回饋寶貴意見。</span>\r\n                <br><br>資料使用葵花寶典:[請點我](https://ptxmotc.gitbooks.io/ptx-api-documentation/content/)\r\n                <br>資料服務開發實作參考手冊:[請點我](https://docs.google.com/viewer?url=https://github.com/ptxmotc/PTX_Web/blob/master/Swagger%E6%9C%8D%E5%8B%99%E8%AA%AA%E6%98%8E%E4%B8%8A%E5%82%B3%E5%8F%83%E8%80%83%E6%AA%94%E6%A1%88/%E5%85%AC%E5%85%B1%E9%81%8B%E8%BC%B8%E6%95%B4%E5%90%88%E8%B3%87%E8%A8%8A%E5%B9%B3%E5%8F%B0%E8%B3%87%E6%96%99%E6%9C%8D%E5%8B%99%E9%96%8B%E7%99%BC%E5%AF%A6%E4%BD%9C.pdf?raw=true)\r\n                <br>API URI Convention文件說明:[請點我](https://docs.google.com/viewer?url=https://github.com/ptxmotc/PTX_Web/blob/master/Swagger%E6%9C%8D%E5%8B%99%E8%AA%AA%E6%98%8E%E4%B8%8A%E5%82%B3%E5%8F%83%E8%80%83%E6%AA%94%E6%A1%88/API_URI_Convention%E6%96%87%E4%BB%B6_v1.pdf?raw=true)<br>資料文本OAS描述:[請點我](http://ptx.transportdata.tw/MOTC/v3/Bus/api-docs/oas)"
  },
  "host": "ptx.transportdata.tw",
  "basePath": "/MOTC/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/v3/Bus/Network/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車路網資料",
        "operationId": "CityBusApi_Network",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Tainan"
            ],
            "x-enum": {
              "Tainan": "臺南市"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MOTC.API.Bus.DAL.Bus[Service.DTO.Version3.Bus.Network]"
            }
          }
        }
      }
    },
    "/v3/Bus/Stop/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車站牌資料",
        "operationId": "CityBusApi_Stop",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Tainan"
            ],
            "x-enum": {
              "Tainan": "臺南市"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MOTC.API.Bus.DAL.Bus[Service.DTO.Version3.Bus.Stop]"
            }
          }
        }
      }
    },
    "/v3/Bus/Station/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車站位資料",
        "operationId": "CityBusApi_Station",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Tainan"
            ],
            "x-enum": {
              "Tainan": "臺南市"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MOTC.API.Bus.DAL.Bus[Service.DTO.Version3.Bus.Station]"
            }
          }
        }
      }
    },
    "/v3/Bus/Route/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車路線資料",
        "description": "市區公車之路線資料",
        "operationId": "CityBusApi_Route",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Tainan"
            ],
            "x-enum": {
              "Tainan": "臺南市"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MOTC.API.Bus.DAL.Bus[Service.DTO.Version3.Bus.Route]"
            }
          }
        }
      }
    },
    "/v3/Bus/SubRoute/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車附屬路線資料",
        "description": "市區公車之附屬路線資料",
        "operationId": "CityBusApi_SubRoute",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Tainan"
            ],
            "x-enum": {
              "Tainan": "臺南市"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MOTC.API.Bus.DAL.Bus[Service.DTO.Version3.Bus.SubRoute]"
            }
          }
        }
      }
    },
    "/v3/Bus/FirstLastTripInfo/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車路線定期首末班車資料",
        "operationId": "CityBusApi_FirstLastTripInfo",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Tainan"
            ],
            "x-enum": {
              "Tainan": "臺南市"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MOTC.API.Bus.DAL.Bus[Service.DTO.Version3.Bus.FirstLastTripInfo]"
            }
          }
        }
      }
    },
    "/v3/Bus/Depot/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車行駛路線之營業所的資料",
        "operationId": "CityBusApi_Depot",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Tainan"
            ],
            "x-enum": {
              "Tainan": "臺南市"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MOTC.API.Bus.DAL.Bus[Service.DTO.Version3.Bus.Depot]"
            }
          }
        }
      }
    },
    "/v3/Bus/StopOfRoute/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車路線站序資料",
        "description": "市區公車之路線站序資料",
        "operationId": "CityBusApi_StopOfRoute",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Tainan"
            ],
            "x-enum": {
              "Tainan": "臺南市"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MOTC.API.Bus.DAL.Bus[Service.DTO.Version3.Bus.StopOfRoute]"
            }
          }
        }
      }
    },
    "/v3/Bus/DisplayStopOfRoute/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車顯示用路線站序資料",
        "operationId": "CityBusApi_DisplayStopOfRoute",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Tainan"
            ],
            "x-enum": {
              "Tainan": "臺南市"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MOTC.API.Bus.DAL.Bus[Service.DTO.Version3.Bus.DisplayStopOfRoute]"
            }
          }
        }
      }
    },
    "/v3/Bus/RouteFare/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車路線票價資料",
        "operationId": "CityBusApi_RouteFare",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Tainan"
            ],
            "x-enum": {
              "Tainan": "臺南市"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MOTC.API.Bus.DAL.Bus[Service.DTO.Version3.Bus.RouteFare]"
            }
          }
        }
      }
    },
    "/v3/Bus/DailyTimeTable/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車每日營運時刻表",
        "operationId": "CityBusApi_DailyTimeTable",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Tainan"
            ],
            "x-enum": {
              "Tainan": "臺南市"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MOTC.API.Bus.DAL.Bus[Service.DTO.Version3.Bus.DailyTimeTable]"
            }
          }
        }
      }
    },
    "/v3/Bus/RealTimeByFrequency/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的公車動態定時資料(A1)",
        "description": "市區公車之定時資料(A1)",
        "operationId": "CityBusApi_RealTimeByFrequency",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Tainan"
            ],
            "x-enum": {
              "Tainan": "臺南市"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MOTC.API.Bus.DAL.Bus[Service.DTO.Version3.Bus.A1Data]"
            }
          }
        }
      }
    },
    "/v3/Bus/RealTimeByFrequency/City/{City}/{RouteName}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市],[路線名稱]的公車動態定時資料(A1)",
        "description": "市區公車之定時資料(A1)",
        "operationId": "CityBusApi_RealTimeByFrequency_1",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Tainan"
            ],
            "x-enum": {
              "Tainan": "臺南市"
            }
          },
          {
            "name": "RouteName",
            "in": "path",
            "description": "繁體中文路線名稱，如'307'",
            "required": true,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MOTC.API.Bus.DAL.Bus[Service.DTO.Version3.Bus.A1Data]"
            }
          }
        }
      }
    },
    "/v3/Bus/RealTimeNearStop/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的公車動態定點資料(A2)",
        "description": "市區公車之定點資料(A2)",
        "operationId": "CityBusApi_RealTimeNearStop",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Tainan"
            ],
            "x-enum": {
              "Tainan": "臺南市"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MOTC.API.Bus.DAL.Bus[Service.DTO.Version3.Bus.A2Data]"
            }
          }
        }
      }
    },
    "/v3/Bus/RealTimeNearStop/City/{City}/{RouteName}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市],[路線名稱]的公車動態定點資料(A2)",
        "description": "市區公車之定點資料(A2)",
        "operationId": "CityBusApi_RealTimeNearStop_1",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Tainan"
            ],
            "x-enum": {
              "Tainan": "臺南市"
            }
          },
          {
            "name": "RouteName",
            "in": "path",
            "description": "繁體中文路線名稱，如'307'",
            "required": true,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MOTC.API.Bus.DAL.Bus[Service.DTO.Version3.Bus.A2Data]"
            }
          }
        }
      }
    },
    "/v3/Bus/EstimatedTimeOfArrival/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的公車預估到站資料(N1)",
        "description": "[部分縣市] 當 StopStatus = 1(尚未發車) 且 EstimateTime &gt; 0 (有值) 的情形, 屬正常情形, 雖目前尚未發車, 但提供EstimateTime值為預計多久後開始發車之時間",
        "operationId": "CityBusApi_EstimatedTimeOfArrival",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Tainan"
            ],
            "x-enum": {
              "Tainan": "臺南市"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MOTC.API.Bus.DAL.Bus[Service.DTO.Version3.Bus.N1Data]"
            }
          }
        }
      }
    },
    "/v3/Bus/EstimatedTimeOfArrival/City/{City}/{RouteName}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市],[路線名稱]的公車預估到站資料(N1)",
        "description": "[部分縣市] 當 StopStatus = 1(尚未發車) 且 EstimateTime &gt; 0 (有值) 的情形, 屬正常情形, 雖目前尚未發車, 但提供EstimateTime值為預計多久後開始發車之時間",
        "operationId": "CityBusApi_EstimatedTimeOfArrival_1",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Tainan"
            ],
            "x-enum": {
              "Tainan": "臺南市"
            }
          },
          {
            "name": "RouteName",
            "in": "path",
            "description": "繁體中文路線名稱，如'307'",
            "required": true,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MOTC.API.Bus.DAL.Bus[Service.DTO.Version3.Bus.N1Data]"
            }
          }
        }
      }
    },
    "/v3/Bus/Alert/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的公車通阻資料",
        "description": "市區公車之公車通阻資料",
        "operationId": "CityBusApi_Alert",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Tainan"
            ],
            "x-enum": {
              "Tainan": "臺南市"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MOTC.API.Bus.DAL.Bus[Service.DTO.Version3.Bus.Alert]"
            }
          }
        }
      }
    },
    "/v3/Bus/News/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的公車最新消息",
        "description": "市區公車之最新消息",
        "operationId": "CityBusApi_News",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Tainan"
            ],
            "x-enum": {
              "Tainan": "臺南市"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MOTC.API.Bus.DAL.Bus[Service.DTO.Version3.Bus.News]"
            }
          }
        }
      }
    },
    "/v3/Bus/Operator/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車營運業者資料",
        "operationId": "CityBusApi_Operator",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Tainan"
            ],
            "x-enum": {
              "Tainan": "臺南市"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MOTC.API.Bus.DAL.Bus[Service.DTO.Version3.Bus.Operator]"
            }
          }
        }
      }
    },
    "/v3/Bus/Vehicle/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車車輛基本資料",
        "operationId": "CityBusApi_Vehicle",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Tainan"
            ],
            "x-enum": {
              "Tainan": "臺南市"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MOTC.API.Bus.DAL.Bus[Service.DTO.Version3.Bus.Vehicle]"
            }
          }
        }
      }
    },
    "/v3/Bus/VehicleDepot/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車車輛所屬的營業站基本資料",
        "operationId": "CityBusApi_VehicleDepot",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Tainan"
            ],
            "x-enum": {
              "Tainan": "臺南市"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MOTC.API.Bus.DAL.Bus[Service.DTO.Version3.Bus.VehicleDepot]"
            }
          }
        }
      }
    },
    "/v3/Bus/VehicleRoute/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車車輛所屬路線資料",
        "operationId": "CityBusApi_VehicleRoute",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Tainan"
            ],
            "x-enum": {
              "Tainan": "臺南市"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MOTC.API.Bus.DAL.Bus[Service.DTO.Version3.Bus.VehicleRoute]"
            }
          }
        }
      }
    },
    "/v3/Bus/Shape/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車空間線型資料",
        "operationId": "CityBusApi_Shape",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Tainan"
            ],
            "x-enum": {
              "Tainan": "臺南市"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MOTC.API.Bus.DAL.Bus[Service.DTO.Version3.Bus.Shape]"
            }
          }
        }
      }
    },
    "/v3/Bus/RouteNetwork/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車路線網路拓撲資料",
        "operationId": "CityBusApi_RouteNetwork",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Tainan"
            ],
            "x-enum": {
              "Tainan": "臺南市"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MOTC.API.Bus.DAL.Bus[Service.DTO.Version3.Bus.RouteNetwork]"
            }
          }
        }
      }
    },
    "/v3/Bus/S2STravelTime/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車路線站間旅行時間基本資料",
        "operationId": "CityBusApi_S2STravelTime",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "City",
            "in": "path",
            "description": "縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Tainan"
            ],
            "x-enum": {
              "Tainan": "臺南市"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MOTC.API.Bus.DAL.Bus[Service.DTO.Version3.Bus.S2STravelTime]"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "MOTC.API.Bus.DAL.Bus[Service.DTO.Version3.Bus.A1Data]": {
      "title": "BusA1DataList",
      "type": "object",
      "properties": {
        "UpdateTime": {
          "title": "DateTime",
          "description": "[平臺]資料更新日期時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "UpdateInterval": {
          "format": "int32",
          "description": "[平臺]資料更新週期(秒)",
          "type": "integer"
        },
        "SrcUpdateTime": {
          "title": "DateTime",
          "description": "[來源端平臺]資料更新時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "SrcUpdateInterval": {
          "format": "int32",
          "description": "[來源端平臺]資料更新週期",
          "type": "integer"
        },
        "AuthorityCode": {
          "description": "業管機關簡碼",
          "type": "string"
        },
        "VersionID": {
          "format": "int32",
          "description": "資料版本編號",
          "type": "integer"
        },
        "Count": {
          "format": "int64",
          "description": "資料總筆數",
          "type": "integer"
        },
        "A1Datas": {
          "description": "資料(陣列)",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Service.DTO.Version3.Bus.A1Data"
          }
        }
      }
    },
    "Service.DTO.Version3.Bus.A1Data": {
      "title": "A1Data",
      "required": [
        "PlateNumb",
        "OperatorID",
        "OperatorCode",
        "RouteID",
        "Direction",
        "BusPosition",
        "Speed",
        "Azimuth",
        "DutyStatus",
        "BusStatus",
        "RecTime",
        "TransTime"
      ],
      "type": "object",
      "properties": {
        "PlateNumb": {
          "description": "車牌號碼",
          "type": "string"
        },
        "OperatorID": {
          "description": "營運業者代碼",
          "type": "string"
        },
        "OperatorName": {
          "$ref": "#/definitions/Service.DTO.Version3.Base.NameType",
          "title": "NameType",
          "description": "營運業者名稱"
        },
        "OperatorCode": {
          "description": "營運業者簡碼",
          "type": "string"
        },
        "RouteUID": {
          "description": "路線唯一識別代碼，規則為 {業管機關簡碼} + {RouteID}，其中 {業管機關簡碼} 可於Authority API中的AuthorityCode欄位查詢",
          "type": "string"
        },
        "RouteID": {
          "description": "地區既用中之路線代碼(為原資料內碼)",
          "type": "string"
        },
        "RouteName": {
          "$ref": "#/definitions/Service.DTO.Version3.Base.NameType",
          "title": "NameType",
          "description": "路線名稱"
        },
        "SubRouteUID": {
          "description": "附屬路線唯一識別代碼，規則為 {業管機關簡碼} + {SubRouteID}，其中 {業管機關簡碼} 可於Authority API中的AuthorityCode欄位查詢",
          "type": "string"
        },
        "SubRouteID": {
          "description": "地區既用中之附屬路線代碼(為原資料內碼)",
          "type": "string"
        },
        "SubRouteName": {
          "$ref": "#/definitions/Service.DTO.Version3.Base.NameType",
          "title": "NameType",
          "description": "附屬路線名稱"
        },
        "TripID": {
          "description": "班次代碼",
          "type": "string"
        },
        "Direction": {
          "format": "int32",
          "title": "integer",
          "description": "車輛去返程 : [0:'去程',1:'返程',2:'迴圈',255:'未知']",
          "type": "integer"
        },
        "MessageType": {
          "format": "int32",
          "title": "integer",
          "description": "資料型態種類 : [0:'未知',1:'定期',2:'非定期']",
          "type": "integer"
        },
        "BusPosition": {
          "$ref": "#/definitions/Service.DTO.Version3.Base.PointType",
          "title": "PointType",
          "description": "車輛位置經度"
        },
        "Speed": {
          "format": "double",
          "description": "行駛速度(kph)",
          "type": "number"
        },
        "Azimuth": {
          "format": "double",
          "description": "方位角",
          "type": "number"
        },
        "DutyStatus": {
          "format": "int32",
          "title": "integer",
          "description": "勤務狀態 : [0:'正常',1:'開始',2:'結束']",
          "type": "integer"
        },
        "BusStatus": {
          "format": "int32",
          "title": "integer",
          "description": "行車狀況 : [0:'正常',1:'車禍',2:'故障',3:'塞車',4:'緊急求援',5:'加油',90:'不明',91:'去回不明',98:'偏移路線',99:'非營運狀態',100:'客滿',101:'包車出租',255:'未知']",
          "type": "integer"
        },
        "VehicleType": {
          "format": "int32",
          "title": "integer",
          "description": "車輛種類 : [1:'一般',2:'復康巴士',3:'專車',4:'其他']",
          "type": "integer"
        },
        "GPSTime": {
          "title": "DateTime",
          "description": "車機系統紀錄時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "GPSTransTime": {
          "title": "DateTime",
          "description": "車機系統傳送日期時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "RecTime": {
          "title": "DateTime",
          "description": "來源端平台接收時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "TransTime": {
          "title": "DateTime",
          "description": "來源端平台資料傳出時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        }
      }
    },
    "Service.DTO.Version3.Base.NameType": {
      "title": "NameType",
      "description": "名稱資料型別",
      "type": "object",
      "properties": {
        "Zh_tw": {
          "description": "中文繁體名稱",
          "type": "string"
        },
        "En": {
          "description": "英文名稱",
          "type": "string"
        }
      }
    },
    "Service.DTO.Version3.Base.PointType": {
      "title": "PointType",
      "description": "座標資料型別",
      "type": "object",
      "properties": {
        "PositionLat": {
          "format": "double",
          "description": "位置緯度(WGS84)",
          "type": "number"
        },
        "PositionLon": {
          "format": "double",
          "description": "位置經度(WGS84)",
          "type": "number"
        }
      }
    },
    "MOTC.API.Bus.DAL.Bus[Service.DTO.Version3.Bus.A2Data]": {
      "title": "BusA2DataList",
      "type": "object",
      "properties": {
        "UpdateTime": {
          "title": "DateTime",
          "description": "[平臺]資料更新日期時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "UpdateInterval": {
          "format": "int32",
          "description": "[平臺]資料更新週期(秒)",
          "type": "integer"
        },
        "SrcUpdateTime": {
          "title": "DateTime",
          "description": "[來源端平臺]資料更新時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "SrcUpdateInterval": {
          "format": "int32",
          "description": "[來源端平臺]資料更新週期",
          "type": "integer"
        },
        "AuthorityCode": {
          "description": "業管機關簡碼",
          "type": "string"
        },
        "VersionID": {
          "format": "int32",
          "description": "資料版本編號",
          "type": "integer"
        },
        "Count": {
          "format": "int64",
          "description": "資料總筆數",
          "type": "integer"
        },
        "A2Datas": {
          "description": "資料(陣列)",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Service.DTO.Version3.Bus.A2Data"
          }
        }
      }
    },
    "Service.DTO.Version3.Bus.A2Data": {
      "title": "A2Data",
      "required": [
        "PlateNumb",
        "OperatorID",
        "OperatorCode",
        "RouteID",
        "Direction",
        "StopID",
        "A2EventType",
        "RecTime",
        "TransTime"
      ],
      "type": "object",
      "properties": {
        "PlateNumb": {
          "description": "車牌號碼",
          "type": "string"
        },
        "OperatorID": {
          "description": "營運業者代碼",
          "type": "string"
        },
        "OperatorName": {
          "$ref": "#/definitions/Service.DTO.Version3.Base.NameType",
          "title": "NameType",
          "description": "營運業者名稱"
        },
        "OperatorCode": {
          "description": "營運業者簡碼",
          "type": "string"
        },
        "RouteUID": {
          "description": "路線唯一識別代碼，規則為 {業管機關簡碼} + {RouteID}，其中 {業管機關簡碼} 可於Authority API中的AuthorityCode欄位查詢",
          "type": "string"
        },
        "RouteID": {
          "description": "地區既用中之路線代碼(為原資料內碼)",
          "type": "string"
        },
        "RouteName": {
          "$ref": "#/definitions/Service.DTO.Version3.Base.NameType",
          "title": "NameType",
          "description": "路線名稱"
        },
        "SubRouteUID": {
          "description": "附屬路線唯一識別代碼，規則為 {業管機關簡碼} + {SubRouteID}，其中 {業管機關簡碼} 可於Authority API中的AuthorityCode欄位查詢",
          "type": "string"
        },
        "SubRouteID": {
          "description": "地區既用中之附屬路線代碼(為原資料內碼)",
          "type": "string"
        },
        "SubRouteName": {
          "$ref": "#/definitions/Service.DTO.Version3.Base.NameType",
          "title": "NameType",
          "description": "附屬路線名稱"
        },
        "TripID": {
          "description": "班次代碼",
          "type": "string"
        },
        "Direction": {
          "format": "int32",
          "title": "integer",
          "description": "車輛去返程 : [0:'去程',1:'返程',2:'迴圈',255:'未知']",
          "type": "integer"
        },
        "StopUID": {
          "description": "站牌唯一識別代碼，規則為 {業管機關簡碼} + {StopID}，其中 {業管機關簡碼} 可於Authority API中的AuthorityCode欄位查詢",
          "type": "string"
        },
        "StopID": {
          "description": "地區既用中之站牌代號(為原資料內碼)",
          "type": "string"
        },
        "StopName": {
          "$ref": "#/definitions/Service.DTO.Version3.Base.NameType",
          "title": "NameType",
          "description": "站牌名稱"
        },
        "MessageType": {
          "format": "int32",
          "title": "integer",
          "description": "資料型態種類 : [0:'未知',1:'定期',2:'非定期']",
          "type": "integer"
        },
        "A2EventType": {
          "format": "int32",
          "title": "integer",
          "description": "進站離站 : [0:'離站',1:'進站']",
          "type": "integer"
        },
        "VehicleType": {
          "format": "int32",
          "title": "integer",
          "description": "車輛種類 : [1:'一般',2:'復康巴士',3:'專車',4:'其他']",
          "type": "integer"
        },
        "DutyStatus": {
          "format": "int32",
          "title": "integer",
          "description": "勤務狀態 : [0:'正常',1:'開始',2:'結束']",
          "type": "integer"
        },
        "BusStatus": {
          "format": "int32",
          "title": "integer",
          "description": "行車狀況 : [0:'正常',1:'車禍',2:'故障',3:'塞車',4:'緊急求援',5:'加油',90:'不明',91:'去回不明',98:'偏移路線',99:'非營運狀態',100:'客滿',101:'包車出租',255:'未知']",
          "type": "integer"
        },
        "GPSTime": {
          "title": "DateTime",
          "description": "車機系統紀錄時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "GPSTransTime": {
          "title": "DateTime",
          "description": "車機系統傳送日期時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "RecTime": {
          "title": "DateTime",
          "description": "來源端平台接收時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "TransTime": {
          "title": "DateTime",
          "description": "來源端平台資料傳出時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        }
      }
    },
    "MOTC.API.Bus.DAL.Bus[Service.DTO.Version3.Bus.Alert]": {
      "title": "BusAlertList",
      "type": "object",
      "properties": {
        "UpdateTime": {
          "title": "DateTime",
          "description": "[平臺]資料更新日期時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "UpdateInterval": {
          "format": "int32",
          "description": "[平臺]資料更新週期(秒)",
          "type": "integer"
        },
        "SrcUpdateTime": {
          "title": "DateTime",
          "description": "[來源端平臺]資料更新時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "SrcUpdateInterval": {
          "format": "int32",
          "description": "[來源端平臺]資料更新週期",
          "type": "integer"
        },
        "AuthorityCode": {
          "description": "業管機關簡碼",
          "type": "string"
        },
        "VersionID": {
          "format": "int32",
          "description": "資料版本編號",
          "type": "integer"
        },
        "Count": {
          "format": "int64",
          "description": "資料總筆數",
          "type": "integer"
        },
        "Alerts": {
          "description": "資料(陣列)",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Service.DTO.Version3.Bus.Alert"
          }
        }
      }
    },
    "Service.DTO.Version3.Bus.Alert": {
      "title": "Alert",
      "required": [
        "AlertID",
        "Scope"
      ],
      "type": "object",
      "properties": {
        "AlertID": {
          "description": "通阻事件原單位發布代碼",
          "type": "string"
        },
        "Title": {
          "description": "通阻標題",
          "type": "string"
        },
        "Scope": {
          "$ref": "#/definitions/Service.DTO.Version3.Bus.Scope",
          "title": "Scope",
          "description": "通阻影響範圍"
        },
        "Direction": {
          "description": "影響方向",
          "type": "string"
        },
        "Description": {
          "description": "事件描述",
          "type": "string"
        },
        "AlertURL": {
          "description": "詳細描述網站連結",
          "type": "string"
        },
        "PublishTime": {
          "title": "DateTime",
          "description": "消息公告日期時間",
          "type": "string"
        },
        "StartTime": {
          "title": "DateTime",
          "description": "開始日期時間",
          "type": "string"
        },
        "EndTime": {
          "title": "DateTime",
          "description": "結束日期時間",
          "type": "string"
        },
        "SrcUpdateTime": {
          "title": "DateTime",
          "description": "[來源端平臺]此筆資料最後更新時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        }
      }
    },
    "Service.DTO.Version3.Bus.Scope": {
      "title": "Scope",
      "description": "通阻影響範圍",
      "type": "object",
      "properties": {
        "Routes": {
          "description": "路線資料",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Service.DTO.Version3.Bus.Scope.Route"
          }
        },
        "SubRoutes": {
          "description": "附屬路線資料",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Service.DTO.Version3.Bus.Scope.SubRoute"
          }
        },
        "Stops": {
          "description": "站牌資料",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Service.DTO.Version3.Bus.Scope.Stop"
          }
        },
        "TripIDs": {
          "description": "班次代碼資料",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Service.DTO.Version3.Bus.Scope.Trip"
          }
        }
      }
    },
    "Service.DTO.Version3.Bus.Scope.Route": {
      "title": "Route",
      "description": "路線資料",
      "type": "object",
      "properties": {
        "RouteID": {
          "description": "地區既用中之班次代碼(為原資料內碼)",
          "type": "string"
        },
        "RouteName": {
          "$ref": "#/definitions/Service.DTO.Version3.Base.NameType",
          "title": "NameType",
          "description": "路線名稱"
        }
      }
    },
    "Service.DTO.Version3.Bus.Scope.SubRoute": {
      "title": "SubRoute",
      "description": "附屬路線資料",
      "type": "object",
      "properties": {
        "SubRouteID": {
          "description": "地區既用中之附屬班次代碼(為原資料內碼)",
          "type": "string"
        },
        "SubRouteName": {
          "$ref": "#/definitions/Service.DTO.Version3.Base.NameType",
          "title": "NameType",
          "description": "附屬路線名稱"
        }
      }
    },
    "Service.DTO.Version3.Bus.Scope.Stop": {
      "title": "Stop",
      "description": "站牌資料",
      "type": "object",
      "properties": {
        "StopID": {
          "description": "地區既用中之站牌代碼(為原資料內碼)",
          "type": "string"
        },
        "StopName": {
          "$ref": "#/definitions/Service.DTO.Version3.Base.NameType",
          "title": "NameType",
          "description": "站牌名稱"
        }
      }
    },
    "Service.DTO.Version3.Bus.Scope.Trip": {
      "title": "Trip",
      "description": "班次代碼資料",
      "type": "object",
      "properties": {
        "TripID": {
          "description": "地區既用中之班次代碼(為原資料內碼)",
          "type": "string"
        }
      }
    },
    "MOTC.API.Bus.DAL.Bus[Service.DTO.Version3.Bus.DailyTimeTable]": {
      "title": "BusDailyTimeTableList",
      "type": "object",
      "properties": {
        "UpdateTime": {
          "title": "DateTime",
          "description": "[平臺]資料更新日期時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "UpdateInterval": {
          "format": "int32",
          "description": "[平臺]資料更新週期(秒)",
          "type": "integer"
        },
        "SrcUpdateTime": {
          "title": "DateTime",
          "description": "[來源端平臺]資料更新時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "SrcUpdateInterval": {
          "format": "int32",
          "description": "[來源端平臺]資料更新週期",
          "type": "integer"
        },
        "AuthorityCode": {
          "description": "業管機關簡碼",
          "type": "string"
        },
        "VersionID": {
          "format": "int32",
          "description": "資料版本編號",
          "type": "integer"
        },
        "Count": {
          "format": "int64",
          "description": "資料總筆數",
          "type": "integer"
        },
        "DailyTimeTables": {
          "description": "資料(陣列)",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Service.DTO.Version3.Bus.DailyTimeTable"
          }
        }
      }
    },
    "Service.DTO.Version3.Bus.DailyTimeTable": {
      "title": "DailyTimeTable",
      "description": "每日時刻表資料",
      "required": [
        "Date",
        "RouteUID",
        "RouteID",
        "RouteName",
        "OperatorID",
        "OperatorCode",
        "SubRouteID",
        "Direction"
      ],
      "type": "object",
      "properties": {
        "Date": {
          "title": "DateTime",
          "description": "適用日期",
          "type": "string"
        },
        "RouteUID": {
          "description": "路線唯一識別代碼，規則為 {業管機關簡碼} + {RouteID}，其中 {業管機關簡碼} 可於Authority API中的AuthorityCode欄位查詢",
          "type": "string"
        },
        "RouteID": {
          "description": "地區既用中之路線代碼(為原資料內碼)",
          "type": "string"
        },
        "RouteName": {
          "$ref": "#/definitions/Service.DTO.Version3.Base.NameType",
          "title": "NameType",
          "description": "路線名稱"
        },
        "OperatorID": {
          "description": "營運業者代碼",
          "type": "string"
        },
        "OperatorCode": {
          "description": "營運業者簡碼",
          "type": "string"
        },
        "SubRouteUID": {
          "description": "附屬路線唯一識別代碼，規則為 {業管機關簡碼} + {SubRouteID}，其中 {業管機關簡碼} 可於Authority API中的AuthorityCode欄位查詢",
          "type": "string"
        },
        "SubRouteID": {
          "description": "地區既用中之附屬路線代碼(為原資料內碼)",
          "type": "string"
        },
        "SubRouteName": {
          "$ref": "#/definitions/Service.DTO.Version3.Base.NameType",
          "title": "NameType",
          "description": "附屬路線名稱"
        },
        "Direction": {
          "format": "int32",
          "title": "integer",
          "description": "去返程 : [0:'去程',1:'返程',2:'迴圈',255:'未知']",
          "type": "integer"
        },
        "Timetables": {
          "description": "預定班表",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Service.DTO.Version3.Bus.TimeTable"
          }
        }
      }
    },
    "Service.DTO.Version3.Bus.TimeTable": {
      "title": "TimeTable",
      "required": [
        "StopTimes"
      ],
      "type": "object",
      "properties": {
        "TripID": {
          "description": "班次代碼，為無意義之編碼",
          "type": "string"
        },
        "StopTimes": {
          "description": "公車停靠時間資料",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Service.DTO.Version3.Bus.StopTime"
          }
        }
      }
    },
    "Service.DTO.Version3.Bus.StopTime": {
      "title": "StopTime",
      "required": [
        "StopSequence",
        "StopUID",
        "StopID",
        "ArrivalTime",
        "DepartureTime"
      ],
      "type": "object",
      "properties": {
        "StopSequence": {
          "format": "int32",
          "description": "路線經過站牌之順序(由1開始)",
          "type": "integer"
        },
        "StopUID": {
          "description": "站牌唯一識別代碼，規則為 {業管機關代碼} + {StopID}，其中 {業管機關代碼} 可於Authority API中的AuthorityCode欄位查詢",
          "type": "string"
        },
        "StopID": {
          "description": "地區既用中之站牌代碼(為原資料內碼)",
          "type": "string"
        },
        "StopName": {
          "$ref": "#/definitions/Service.DTO.Version3.Base.NameType",
          "title": "NameType",
          "description": "站牌名稱"
        },
        "ArrivalTime": {
          "description": "到站時間，格式為:HH:mm",
          "type": "string"
        },
        "DepartureTime": {
          "description": "離站時間，格式為:HH:mm",
          "type": "string"
        }
      }
    },
    "MOTC.API.Bus.DAL.Bus[Service.DTO.Version3.Bus.Depot]": {
      "title": "BusDepotList",
      "type": "object",
      "properties": {
        "UpdateTime": {
          "title": "DateTime",
          "description": "[平臺]資料更新日期時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "UpdateInterval": {
          "format": "int32",
          "description": "[平臺]資料更新週期(秒)",
          "type": "integer"
        },
        "SrcUpdateTime": {
          "title": "DateTime",
          "description": "[來源端平臺]資料更新時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "SrcUpdateInterval": {
          "format": "int32",
          "description": "[來源端平臺]資料更新週期",
          "type": "integer"
        },
        "AuthorityCode": {
          "description": "業管機關簡碼",
          "type": "string"
        },
        "VersionID": {
          "format": "int32",
          "description": "資料版本編號",
          "type": "integer"
        },
        "Count": {
          "format": "int64",
          "description": "資料總筆數",
          "type": "integer"
        },
        "Depots": {
          "description": "資料(陣列)",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Service.DTO.Version3.Bus.Depot"
          }
        }
      }
    },
    "Service.DTO.Version3.Bus.Depot": {
      "title": "Depot",
      "required": [
        "DepotUID",
        "DepotID",
        "DepotName",
        "DepotPosition",
        "DepotAddress",
        "DepotPhone"
      ],
      "type": "object",
      "properties": {
        "DepotUID": {
          "description": "營業所唯一識別代碼，規則為 {業管機關簡碼} + {DepotID}，其中 {業管機關簡碼} 可於Authority API中的AuthorityCode欄位查詢",
          "type": "string"
        },
        "DepotID": {
          "description": "營業所代碼",
          "type": "string"
        },
        "DepotName": {
          "$ref": "#/definitions/Service.DTO.Version3.Base.NameType",
          "title": "NameType",
          "description": "營業所名稱"
        },
        "DepotPosition": {
          "$ref": "#/definitions/Service.DTO.Version3.Base.PointType",
          "title": "PointType",
          "description": "營業所位置"
        },
        "DepotAddress": {
          "description": "營業所地址",
          "type": "string"
        },
        "DepotPhone": {
          "description": "營業所電話",
          "type": "string"
        }
      }
    },
    "MOTC.API.Bus.DAL.Bus[Service.DTO.Version3.Bus.DisplayStopOfRoute]": {
      "title": "BusDisplayStopOfRouteList",
      "type": "object",
      "properties": {
        "UpdateTime": {
          "title": "DateTime",
          "description": "[平臺]資料更新日期時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "UpdateInterval": {
          "format": "int32",
          "description": "[平臺]資料更新週期(秒)",
          "type": "integer"
        },
        "SrcUpdateTime": {
          "title": "DateTime",
          "description": "[來源端平臺]資料更新時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "SrcUpdateInterval": {
          "format": "int32",
          "description": "[來源端平臺]資料更新週期",
          "type": "integer"
        },
        "AuthorityCode": {
          "description": "業管機關簡碼",
          "type": "string"
        },
        "VersionID": {
          "format": "int32",
          "description": "資料版本編號",
          "type": "integer"
        },
        "Count": {
          "format": "int64",
          "description": "資料總筆數",
          "type": "integer"
        },
        "DisplayStopOfRoutes": {
          "description": "資料(陣列)",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Service.DTO.Version3.Bus.DisplayStopOfRoute"
          }
        }
      }
    },
    "Service.DTO.Version3.Bus.DisplayStopOfRoute": {
      "title": "DisplayStopOfRoute",
      "required": [
        "RouteUID",
        "RouteID",
        "RouteName",
        "Direction",
        "Stops"
      ],
      "type": "object",
      "properties": {
        "RouteUID": {
          "description": "路線唯一識別代碼，規則為 {業管機關簡碼} + {RouteID}，其中 {業管機關簡碼} 可於Authority API中的AuthorityCode欄位查詢",
          "type": "string"
        },
        "RouteID": {
          "description": "地區既用中之路線代碼(為原資料內碼)",
          "type": "string"
        },
        "RouteName": {
          "$ref": "#/definitions/Service.DTO.Version3.Base.NameType",
          "title": "NameType",
          "description": "路線名稱"
        },
        "Direction": {
          "format": "int32",
          "title": "integer",
          "description": "車輛去返程 : [0:'去程',1:'返程',2:'迴圈',255:'未知']",
          "type": "integer"
        },
        "Stops": {
          "description": "路線站序資料",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Service.DTO.Version3.Bus.DisplayStopOfRoute.Stop"
          }
        }
      }
    },
    "Service.DTO.Version3.Bus.DisplayStopOfRoute.Stop": {
      "title": "Stop",
      "description": "路線站序資料",
      "required": [
        "StopUID",
        "StopID",
        "StopName",
        "StopSequence",
        "StopPosition"
      ],
      "type": "object",
      "properties": {
        "StopUID": {
          "description": "站牌唯一識別代碼，規則為 {業管機關簡碼} + {StopID}，其中 {業管機關簡碼} 可於Authority API中的AuthorityCode欄位查詢",
          "type": "string"
        },
        "StopID": {
          "description": "地區既用中之站牌代碼(為原資料內碼)",
          "type": "string"
        },
        "StopName": {
          "$ref": "#/definitions/Service.DTO.Version3.Base.NameType",
          "title": "NameType",
          "description": "站牌名稱"
        },
        "StopSequence": {
          "format": "int32",
          "description": "路線經過站牌之順序",
          "type": "integer"
        },
        "StopPosition": {
          "$ref": "#/definitions/Service.DTO.Version3.Base.PointType",
          "title": "PointType",
          "description": "站牌位置"
        }
      }
    },
    "MOTC.API.Bus.DAL.Bus[Service.DTO.Version3.Bus.FirstLastTripInfo]": {
      "title": "BusFirstLastTripInfoList",
      "type": "object",
      "properties": {
        "UpdateTime": {
          "title": "DateTime",
          "description": "[平臺]資料更新日期時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "UpdateInterval": {
          "format": "int32",
          "description": "[平臺]資料更新週期(秒)",
          "type": "integer"
        },
        "SrcUpdateTime": {
          "title": "DateTime",
          "description": "[來源端平臺]資料更新時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "SrcUpdateInterval": {
          "format": "int32",
          "description": "[來源端平臺]資料更新週期",
          "type": "integer"
        },
        "AuthorityCode": {
          "description": "業管機關簡碼",
          "type": "string"
        },
        "VersionID": {
          "format": "int32",
          "description": "資料版本編號",
          "type": "integer"
        },
        "Count": {
          "format": "int64",
          "description": "資料總筆數",
          "type": "integer"
        },
        "FirstLastTripInfos": {
          "description": "資料(陣列)",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Service.DTO.Version3.Bus.FirstLastTripInfo"
          }
        }
      }
    },
    "Service.DTO.Version3.Bus.FirstLastTripInfo": {
      "title": "FirstLastTripInfo",
      "required": [
        "RouteUID",
        "RouteID",
        "RouteName",
        "FirstLastTrips"
      ],
      "type": "object",
      "properties": {
        "RouteUID": {
          "description": "路線唯一識別代碼，規則為 {業管機關簡碼} + {RouteID}，其中 {業管機關簡碼} 可於Authority API中的AuthorityCode欄位查詢",
          "type": "string"
        },
        "RouteID": {
          "description": "地區既用中之路線代碼(為原資料內碼)",
          "type": "string"
        },
        "RouteName": {
          "$ref": "#/definitions/Service.DTO.Version3.Base.NameType",
          "title": "NameType",
          "description": "路線名稱"
        },
        "OperatorID": {
          "description": "營運業者代碼",
          "type": "string"
        },
        "SubRouteUID": {
          "description": "附屬路線唯一識別代碼，規則為 {業管機關簡碼} + {SubRouteID}，其中 {業管機關簡碼} 可於Authority API中的AuthorityCode欄位查詢",
          "type": "string"
        },
        "SubRouteID": {
          "description": "地區既用中之附屬路線代碼(為原資料內碼)",
          "type": "string"
        },
        "SubRouteName": {
          "$ref": "#/definitions/Service.DTO.Version3.Base.NameType",
          "title": "NameType",
          "description": "附屬路線名稱"
        },
        "Direction": {
          "format": "int32",
          "title": "integer",
          "description": "車輛去返程 : [0:'去程',1:'返程',2:'迴圈',255:'未知']",
          "type": "integer"
        },
        "FirstLastTrips": {
          "description": "路線首末班車資訊",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Service.DTO.Version3.Bus.FirstLastTripInfo.FirstLastTrip"
          }
        }
      }
    },
    "Service.DTO.Version3.Bus.FirstLastTripInfo.FirstLastTrip": {
      "title": "FirstLastTrip",
      "required": [
        "ServiceDay",
        "FirstTripDepTime",
        "LastTripDepTime"
      ],
      "type": "object",
      "properties": {
        "ServiceDay": {
          "$ref": "#/definitions/Service.DTO.Version3.Bus.FirstLastTripInfo.ServiceDay",
          "title": "ServiceDay",
          "description": "服務日型態"
        },
        "FirstTripDepTime": {
          "description": "頭班車發車時間(HH:mm)",
          "type": "string"
        },
        "LastTripDepTime": {
          "description": "末班車發車時間(HH:mm)",
          "type": "string"
        }
      }
    },
    "Service.DTO.Version3.Bus.FirstLastTripInfo.ServiceDay": {
      "title": "ServiceDay",
      "type": "object",
      "properties": {
        "ServiceTag": {
          "description": "服務日標籤",
          "type": "string"
        },
        "Monday": {
          "description": "星期一營運與否",
          "type": "boolean"
        },
        "Tuesday": {
          "description": "星期二營運與否",
          "type": "boolean"
        },
        "Wednesday": {
          "description": "星期三營運與否",
          "type": "boolean"
        },
        "Thursday": {
          "description": "星期四營運與否",
          "type": "boolean"
        },
        "Friday": {
          "description": "星期五營運與否",
          "type": "boolean"
        },
        "Saturday": {
          "description": "星期六營運與否",
          "type": "boolean"
        },
        "Sunday": {
          "description": "星期日營運與否",
          "type": "boolean"
        },
        "NationalHolidays": {
          "description": "國定假日營運與否",
          "type": "boolean"
        },
        "DayBeforeNationalHoliday": {
          "description": "國定假日前一日營運與否",
          "type": "boolean"
        },
        "DayAfterNationalHoliday": {
          "description": "國定假日後一日營運與否",
          "type": "boolean"
        },
        "TyphoonDay": {
          "description": "颱風停止上班上課期間營運與否",
          "type": "boolean"
        }
      }
    },
    "MOTC.API.Bus.DAL.Bus[Service.DTO.Version3.Bus.N1Data]": {
      "title": "BusN1DataList",
      "type": "object",
      "properties": {
        "UpdateTime": {
          "title": "DateTime",
          "description": "[平臺]資料更新日期時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "UpdateInterval": {
          "format": "int32",
          "description": "[平臺]資料更新週期(秒)",
          "type": "integer"
        },
        "SrcUpdateTime": {
          "title": "DateTime",
          "description": "[來源端平臺]資料更新時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "SrcUpdateInterval": {
          "format": "int32",
          "description": "[來源端平臺]資料更新週期",
          "type": "integer"
        },
        "AuthorityCode": {
          "description": "業管機關簡碼",
          "type": "string"
        },
        "VersionID": {
          "format": "int32",
          "description": "資料版本編號",
          "type": "integer"
        },
        "Count": {
          "format": "int64",
          "description": "資料總筆數",
          "type": "integer"
        },
        "N1Datas": {
          "description": "資料(陣列)",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Service.DTO.Version3.Bus.N1Data"
          }
        }
      }
    },
    "Service.DTO.Version3.Bus.N1Data": {
      "title": "N1Data",
      "required": [
        "RouteID",
        "Direction",
        "StopID",
        "RecTime",
        "TransTime"
      ],
      "type": "object",
      "properties": {
        "RouteUID": {
          "description": "路線唯一識別代碼，規則為 {業管機關代碼} + {RouteID}，其中 {業管機關代碼} 可於Authority API中的AuthorityCode欄位查詢",
          "type": "string"
        },
        "RouteID": {
          "description": "地區既用中之路線代碼(為原資料內碼)",
          "type": "string"
        },
        "RouteName": {
          "$ref": "#/definitions/Service.DTO.Version3.Base.NameType",
          "title": "NameType",
          "description": "路線名稱"
        },
        "SubRouteUID": {
          "description": "附屬路線唯一識別代碼，規則為 {業管機關簡碼} + {SubRouteID}，其中 {業管機關簡碼} 可於Authority API中的AuthorityCode欄位查詢",
          "type": "string"
        },
        "SubRouteID": {
          "description": "地區既用中之附屬路線代碼(為原資料內碼)",
          "type": "string"
        },
        "SubRouteName": {
          "$ref": "#/definitions/Service.DTO.Version3.Base.NameType",
          "title": "NameType",
          "description": "附屬路線名稱"
        },
        "Direction": {
          "format": "int32",
          "title": "integer",
          "description": "車輛去返程(該方向指的是此公車運具目前所在路線的去返程方向，非指站牌所在路線的去返程方向，使用時請加值業者多加注意) : [0:'去程',1:'返程',2:'迴圈',255:'未知']",
          "type": "integer"
        },
        "DestinationStopID": {
          "description": "迄點站站牌ID代碼",
          "type": "string"
        },
        "DestinationStopName": {
          "$ref": "#/definitions/Service.DTO.Version3.Base.NameType",
          "title": "NameType",
          "description": "迄點站站牌名稱"
        },
        "StopUID": {
          "description": "站牌唯一識別代碼，規則為 {業管機關簡碼} + {StopID}，其中 {業管機關簡碼} 可於Authority API中的AuthorityCode欄位查詢",
          "type": "string"
        },
        "StopID": {
          "description": "地區既用中之站牌代碼(為原資料內碼)",
          "type": "string"
        },
        "StopName": {
          "$ref": "#/definitions/Service.DTO.Version3.Base.NameType",
          "title": "NameType",
          "description": "站牌名稱"
        },
        "PlateNumb": {
          "description": "車牌號碼 [値為値為-1時，表示目前該站牌無車輛行駛]",
          "type": "string"
        },
        "EstimateTime": {
          "format": "int32",
          "description": "到站時間預估(秒) [當StopStatus値為1~4或PlateNumb値為-1時，EstimateTime値為空値; 反之，EstimateTime有値]",
          "type": "integer"
        },
        "ScheduledTime": {
          "description": "預排班表時間",
          "type": "string"
        },
        "IsLastBus": {
          "description": "是否為末班車",
          "type": "boolean"
        },
        "CurrentStop": {
          "description": "車輛目前所在站牌代碼",
          "type": "string"
        },
        "StopStatus": {
          "format": "int32",
          "title": "integer",
          "description": "車輛狀態備註 : [0:'正常',1:'尚未發車',2:'交管不停靠',3:'末班車已過',4:'今日未營運']",
          "type": "integer"
        },
        "StopCountDown": {
          "format": "int32",
          "description": "路線經過站牌之順序",
          "type": "integer"
        },
        "DataTime": {
          "title": "DateTime",
          "description": "系統演算該筆預估到站資料的時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "RecTime": {
          "title": "DateTime",
          "description": "來源端平台接收時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "TransTime": {
          "title": "DateTime",
          "description": "來源端平台資料傳出時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        }
      }
    },
    "MOTC.API.Bus.DAL.Bus[Service.DTO.Version3.Bus.Network]": {
      "title": "BusNetworkList",
      "type": "object",
      "properties": {
        "UpdateTime": {
          "title": "DateTime",
          "description": "[平臺]資料更新日期時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "UpdateInterval": {
          "format": "int32",
          "description": "[平臺]資料更新週期(秒)",
          "type": "integer"
        },
        "SrcUpdateTime": {
          "title": "DateTime",
          "description": "[來源端平臺]資料更新時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "SrcUpdateInterval": {
          "format": "int32",
          "description": "[來源端平臺]資料更新週期",
          "type": "integer"
        },
        "AuthorityCode": {
          "description": "業管機關簡碼",
          "type": "string"
        },
        "VersionID": {
          "format": "int32",
          "description": "資料版本編號",
          "type": "integer"
        },
        "Count": {
          "format": "int64",
          "description": "資料總筆數",
          "type": "integer"
        },
        "Networks": {
          "description": "資料(陣列)",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Service.DTO.Version3.Bus.Network"
          }
        }
      }
    },
    "Service.DTO.Version3.Bus.Network": {
      "title": "Network",
      "required": [
        "NetworkID",
        "NetworkName",
        "NetworkMapURL"
      ],
      "type": "object",
      "properties": {
        "NetworkID": {
          "description": "公車路網代碼",
          "type": "string"
        },
        "NetworkName": {
          "$ref": "#/definitions/Service.DTO.Version3.Base.NameType",
          "title": "NameType",
          "description": "路網名稱"
        },
        "NetworkMapURL": {
          "$ref": "#/definitions/Service.DTO.Version3.Bus.NetworkMapURL",
          "title": "NetworkMapURL",
          "description": "路網圖網址URL"
        },
        "LBSMapURLs": {
          "description": "適地性路網圖資網址URL",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Service.DTO.Version3.Bus.Network.LBSMapURL"
          }
        }
      }
    },
    "Service.DTO.Version3.Bus.NetworkMapURL": {
      "title": "NetworkMapURL",
      "required": [
        "MapName",
        "MapNameURL"
      ],
      "type": "object",
      "properties": {
        "MapName": {
          "description": "路網圖名稱",
          "type": "string"
        },
        "MapNameURL": {
          "$ref": "#/definitions/Service.DTO.Version3.Base.NameType",
          "title": "NameType",
          "description": "路網圖網址URL"
        }
      }
    },
    "Service.DTO.Version3.Bus.Network.LBSMapURL": {
      "title": "LBSMapURL",
      "type": "object",
      "properties": {
        "MapName": {
          "description": "路網圖",
          "type": "string"
        },
        "Zh_tw": {
          "description": "路網圖網址URL(中文版)",
          "type": "string"
        },
        "En": {
          "description": "路網圖網址URL(英文版)",
          "type": "string"
        },
        "LBSLocation": {
          "$ref": "#/definitions/Service.DTO.Version3.Base.PointType",
          "title": "PointType",
          "description": "適地性圖資貼放的位置"
        }
      }
    },
    "MOTC.API.Bus.DAL.Bus[Service.DTO.Version3.Bus.News]": {
      "title": "BusNewsList",
      "type": "object",
      "properties": {
        "UpdateTime": {
          "title": "DateTime",
          "description": "[平臺]資料更新日期時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "UpdateInterval": {
          "format": "int32",
          "description": "[平臺]資料更新週期(秒)",
          "type": "integer"
        },
        "SrcUpdateTime": {
          "title": "DateTime",
          "description": "[來源端平臺]資料更新時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "SrcUpdateInterval": {
          "format": "int32",
          "description": "[來源端平臺]資料更新週期",
          "type": "integer"
        },
        "AuthorityCode": {
          "description": "業管機關簡碼",
          "type": "string"
        },
        "VersionID": {
          "format": "int32",
          "description": "資料版本編號",
          "type": "integer"
        },
        "Count": {
          "format": "int64",
          "description": "資料總筆數",
          "type": "integer"
        },
        "Newses": {
          "description": "資料(陣列)",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Service.DTO.Version3.Bus.News"
          }
        }
      }
    },
    "Service.DTO.Version3.Bus.News": {
      "title": "News",
      "required": [
        "NewsID",
        "Language",
        "Title",
        "NewsCategory",
        "Description",
        "PublishTime"
[...]
