{
  "swagger": "2.0",
  "info": {
    "version": "v3",
    "title": "MOTC Transport API V3",
    "description": "本平臺提供涵蓋全國尺度之公車、臺鐵、高鐵、捷運、航空、自行車等公共運輸旅運資料服務API，歡迎各產政學單位介接使用。\r\n                <br><span class=swagger-description-indicatation>利用本平臺開放資料進行各項應用服務開發時，請考量不同特性使用者(如:性別/身心障礙/老幼等)的需求，並歡迎回饋寶貴意見。</span>\r\n                <br><br>資料使用葵花寶典:[請點我](https://ptxmotc.gitbooks.io/ptx-api-documentation/content/)\r\n                <br>資料服務開發實作參考手冊:[請點我](https://docs.google.com/viewer?url=https://github.com/ptxmotc/PTX_Web/blob/master/Swagger%E6%9C%8D%E5%8B%99%E8%AA%AA%E6%98%8E%E4%B8%8A%E5%82%B3%E5%8F%83%E8%80%83%E6%AA%94%E6%A1%88/%E5%85%AC%E5%85%B1%E9%81%8B%E8%BC%B8%E6%95%B4%E5%90%88%E8%B3%87%E8%A8%8A%E5%B9%B3%E5%8F%B0%E8%B3%87%E6%96%99%E6%9C%8D%E5%8B%99%E9%96%8B%E7%99%BC%E5%AF%A6%E4%BD%9C.pdf?raw=true)\r\n                <br>API URI Convention文件說明:[請點我](https://docs.google.com/viewer?url=https://github.com/ptxmotc/PTX_Web/blob/master/Swagger%E6%9C%8D%E5%8B%99%E8%AA%AA%E6%98%8E%E4%B8%8A%E5%82%B3%E5%8F%83%E8%80%83%E6%AA%94%E6%A1%88/API_URI_Convention%E6%96%87%E4%BB%B6_v1.pdf?raw=true)<br>資料文本OAS描述:[請點我](https://ptx.transportdata.tw/MOTC/v3/Rail/api-docs/oas)"
  },
  "host": "ptx.transportdata.tw",
  "basePath": "/MOTC/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/v3/Rail/TRA/Operator": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得台鐵營運業者基本資料",
        "description": "取得台鐵營運業者基本資料",
        "operationId": "OperatorApiController_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MOTC.API.Rail.Models.TRABaseWrapper[Service.DTO.Version3.Rail.TRA.Operator]"
            }
          }
        }
      }
    },
    "/v3/Rail/TRA/Network": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得臺鐵路網資料",
        "description": "取得臺鐵路網資料",
        "operationId": "NetworkApiController_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MOTC.API.Rail.Models.TRABaseWrapper[Service.DTO.Version3.Rail.TRA.Network.Network]"
            }
          }
        }
      }
    },
    "/v3/Rail/TRA/Station": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得車站基本資料",
        "description": "取得車站基本資料",
        "operationId": "StationApiController_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MOTC.API.Rail.Models.TRABaseWrapper[Service.DTO.Version3.Rail.TRA.Station]"
            }
          }
        }
      }
    },
    "/v3/Rail/TRA/StationExit": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得車站出入口基本資料",
        "description": "取得車站出入口基本資料",
        "operationId": "StationExitApiController_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MOTC.API.Rail.Models.TRABaseWrapper[Service.DTO.Version3.Rail.TRA.StationExit.StationExit]"
            }
          }
        }
      }
    },
    "/v3/Rail/TRA/StationFacility": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得車站設施資料",
        "description": "取得車站設施資料",
        "operationId": "StationFacilityApiController_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MOTC.API.Rail.Models.TRABaseWrapper[Service.DTO.Version3.Rail.TRA.StationFacility.StationFacility]"
            }
          }
        }
      }
    },
    "/v3/Rail/TRA/Line": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得路線基本資料",
        "description": "取得路線基本資料",
        "operationId": "LineApiController_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MOTC.API.Rail.Models.TRABaseWrapper[Service.DTO.Version3.Rail.TRA.Line]"
            }
          }
        }
      }
    },
    "/v3/Rail/TRA/LineNetwork": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得路線網路拓撲基本資料",
        "description": "取得路線網路拓撲基本資料",
        "operationId": "LineNetworkApiController_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MOTC.API.Rail.Models.TRABaseWrapper[Service.DTO.Version3.Rail.TRA.LineNetwork.LineNetwork]"
            }
          }
        }
      }
    },
    "/v3/Rail/TRA/StationOfLine": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得路線車站基本資料",
        "description": "取得路線車站基本資料",
        "operationId": "StationOfLineApiController_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MOTC.API.Rail.Models.TRABaseWrapper[Service.DTO.Version3.Rail.TRA.StationOfLine.StationOfLine]"
            }
          }
        }
      }
    },
    "/v3/Rail/TRA/TrainType": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得所有列車車種資料",
        "description": "取得所有列車車種資料",
        "operationId": "TrainTypeApiController_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MOTC.API.Rail.Models.TRABaseWrapper[Service.DTO.Version3.Rail.TRA.TrainType]"
            }
          }
        }
      }
    },
    "/v3/Rail/TRA/ODFare": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得票價資料(檔案)",
        "description": "取得Gzip壓縮檔",
        "operationId": "ODFareApiControllerApiController_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Gzipped Attachment Response",
            "schema": {
              "$ref": "#/definitions/MOTC.API.Rail.Models.TRAODFareWrapper[Service.DTO.Version3.Rail.TRA.ODFare.ODFare]"
            }
          }
        }
      }
    },
    "/v3/Rail/TRA/ODFare/{OriginStationID}/to/{DestinationStationID}": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得指定起迄站間票價資料",
        "description": "取得指定起迄站間票價資料",
        "operationId": "ODFareApiControllerApiController_Get_1",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "OriginStationID",
            "in": "path",
            "description": "起點車站代碼",
            "required": true,
            "type": "string"
          },
          {
            "name": "DestinationStationID",
            "in": "path",
            "description": "迄點車站代碼",
            "required": true,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MOTC.API.Rail.Models.TRAODFareWrapper[Service.DTO.Version3.Rail.TRA.ODFare.ODFare]"
            }
          }
        }
      }
    },
    "/v3/Rail/TRA/GeneralTrainTimetable": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得所有車次的定期時刻表資料",
        "description": "取得所有車次的定期時刻表資料",
        "operationId": "GeneralTrainTimetableApiController_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MOTC.API.Rail.Models.TRAGeneralTrainWrapper[Service.DTO.Version3.Rail.TRA.GeneralTrainTimetable]"
            }
          }
        }
      }
    },
    "/v3/Rail/TRA/GeneralTrainTimetable/TrainNo/{TrainNo}": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得指定[車次]的定期時刻表資料",
        "description": "取得指定[車次]的定期時刻表資料",
        "operationId": "GeneralTrainTimetableApiController_Get_1",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "TrainNo",
            "in": "path",
            "description": "欲查詢車次的代碼",
            "required": true,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MOTC.API.Rail.Models.TRAGeneralTrainWrapper[Service.DTO.Version3.Rail.TRA.GeneralTrainTimetable]"
            }
          }
        }
      }
    },
    "/v3/Rail/TRA/GeneralStationTimetable": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得各站的定期站別時刻表資料",
        "description": "取得各站的定期站別時刻表資料",
        "operationId": "GeneralStationTimetableApiController_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MOTC.API.Rail.Models.TRAGeneralStationWrapper[Service.DTO.Version3.Rail.TRA.GeneralStationTimetable.GeneralStationTimetable]"
            }
          }
        }
      }
    },
    "/v3/Rail/TRA/GeneralStationTimetable/Station/{StationID}": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得指定[車站]的定期站別時刻表資料",
        "description": "取得指定[車站]的定期站別時刻表資料",
        "operationId": "GeneralStationTimetableApiController_Get_1",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "StationID",
            "in": "path",
            "description": "欲查詢車站的代碼",
            "required": true,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MOTC.API.Rail.Models.TRAGeneralStationWrapper[Service.DTO.Version3.Rail.TRA.GeneralStationTimetable.GeneralStationTimetable]"
            }
          }
        }
      }
    },
    "/v3/Rail/TRA/SpecificTrainTimetable": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得所有特殊車次時刻表資料",
        "description": "取得所有特殊車次時刻表資料",
        "operationId": "SpecificTrainTimetableApiController_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MOTC.API.Rail.Models.TRASpecificWrapper[Service.DTO.Version3.Rail.TRA.SpecificTrainTimetable]"
            }
          }
        }
      }
    },
    "/v3/Rail/TRA/SpecificTrainTimetable/TrainNo/{TrainNo}": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得指定[車次]的特殊車次時刻表資料",
        "description": "取得指定[車次]的特殊車次時刻表資料",
        "operationId": "SpecificTrainTimetableApiController_Get_1",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "TrainNo",
            "in": "path",
            "description": "欲查詢車次的代碼",
            "required": true,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MOTC.API.Rail.Models.TRASpecificWrapper[Service.DTO.Version3.Rail.TRA.SpecificTrainTimetable]"
            }
          }
        }
      }
    },
    "/v3/Rail/TRA/DailyTrainTimetable/Today": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得當天車次時刻表資料",
        "description": "取得當天車次時刻表資料",
        "operationId": "DailyTrainTimeTableApiController_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MOTC.API.Rail.Models.TraDailyTrainWrapper[Service.DTO.Version3.Rail.TRA.DailyTrainTimeTable.TrainTimetable]"
            }
          }
        }
      }
    },
    "/v3/Rail/TRA/DailyTrainTimetable/Today/TrainNo/{TrainNo}": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得當天指定[車次]的時刻表資料",
        "description": "取得當天指定[車次]的時刻表資料",
        "operationId": "DailyTrainTimeTableApiController_Get_1",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "TrainNo",
            "in": "path",
            "description": "欲查詢車次的代碼",
            "required": true,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MOTC.API.Rail.Models.TraDailyTrainWrapper[Service.DTO.Version3.Rail.TRA.DailyTrainTimeTable.TrainTimetable]"
            }
          }
        }
      }
    },
    "/v3/Rail/TRA/DailyTrainTimetable/TrainDate/{TrainDate}": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得指定[日期]所有車次的時刻表資料",
        "description": "取得指定[日期]所有車次的時刻表資料(台鐵提供近60天每日時刻表)",
        "operationId": "DailyTrainTimeTableApiController_Get_2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "TrainDate",
            "in": "path",
            "description": "欲查詢車次的日期(格式: yyyy-MM-dd)",
            "required": true,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MOTC.API.Rail.Models.TraDailyTrainWrapper[Service.DTO.Version3.Rail.TRA.DailyTrainTimeTable.TrainTimetable]"
            }
          }
        }
      }
    },
    "/v3/Rail/TRA/DailyTrainTimetable/OD/{OriginStationID}/to/{DestinationStationID}/{TrainDate}": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得指定[日期],[起迄站間]之站間時刻表資料(僅列出查詢的停靠站)",
        "description": "取得指定[日期],[起迄站間]之站間時刻表資料(僅列出查詢的停靠站)",
        "operationId": "DailyTrainTimeTableApiController_Get_3",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "TrainDate",
            "in": "path",
            "description": "欲查詢的日期(格式: yyyy-MM-dd)",
            "required": true,
            "type": "string"
          },
          {
            "name": "OriginStationID",
            "in": "path",
            "description": "起點車站代碼",
            "required": true,
            "type": "string"
          },
          {
            "name": "DestinationStationID",
            "in": "path",
            "description": "迄點車站代碼",
            "required": true,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MOTC.API.Rail.Models.TraDailyTrainWrapper[Service.DTO.Version3.Rail.TRA.DailyTrainTimeTable.TrainTimetable]"
            }
          }
        }
      }
    },
    "/v3/Rail/TRA/DailyTrainTimetable/OD/Inclusive/{OriginStationID}/to/{DestinationStationID}/{TrainDate}": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得指定[日期],[起迄站間]之站間時刻表資料",
        "description": "取得指定[日期],[起迄站間]之站間時刻表資料",
        "operationId": "DailyTrainTimeTableApiController_Get_4",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "TrainDate",
            "in": "path",
            "description": "欲查詢的日期(格式: yyyy-MM-dd)",
            "required": true,
            "type": "string"
          },
          {
            "name": "OriginStationID",
            "in": "path",
            "description": "起點車站代碼",
            "required": true,
            "type": "string"
          },
          {
            "name": "DestinationStationID",
            "in": "path",
            "description": "迄點車站代碼",
            "required": true,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MOTC.API.Rail.Models.TraDailyTrainWrapper[Service.DTO.Version3.Rail.TRA.DailyTrainTimeTable.TrainTimetable]"
            }
          }
        }
      }
    },
    "/v3/Rail/TRA/DailyStationTimetable/Today": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得當天各站站別時刻表資料",
        "description": "取得當天各站站別時刻表資料",
        "operationId": "DailyStationTimeTableApiController_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MOTC.API.Rail.Models.TraDailyStationWrapper[Service.DTO.Version3.Rail.TRA.DailyStationTimeTable.StationTimetable]"
            }
          }
        }
      }
    },
    "/v3/Rail/TRA/DailyStationTimetable/Today/Station/{StationID}": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得當天指定[車站]的時刻表資料",
        "description": "取得當天指定[車站]的時刻表資料",
        "operationId": "DailyStationTimeTableApiController_Get_1",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "StationID",
            "in": "path",
            "description": "欲查詢車站的代碼",
            "required": true,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MOTC.API.Rail.Models.TraDailyStationWrapper[Service.DTO.Version3.Rail.TRA.DailyStationTimeTable.StationTimetable]"
            }
          }
        }
      }
    },
    "/v3/Rail/TRA/DailyStationTimetable/TrainDate/{TrainDate}": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得各站每日站別時刻表資料",
        "description": "取得各站每日站別時刻表資料",
        "operationId": "DailyStationTimeTableApiController_Get_2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "TrainDate",
            "in": "path",
            "description": "欲查詢的日期(格式: yyyy-MM-dd)",
            "required": true,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MOTC.API.Rail.Models.TraDailyStationWrapper[Service.DTO.Version3.Rail.TRA.DailyStationTimeTable.StationTimetable]"
            }
          }
        }
      }
    },
    "/v3/Rail/TRA/StationLiveBoard": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得列車即時到離站資料",
        "description": "取得列車即時到離站資料",
        "operationId": "StationLiveBoardApiController_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MOTC.API.Rail.Models.TRARealTimeWrapper[Service.DTO.Version3.Rail.TRA.TRAStationLiveBoardList.StationLiveBoard]"
            }
          }
        }
      }
    },
    "/v3/Rail/TRA/StationLiveBoard/Station/{StationID}": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得指定[車站]的列車即時到離站資料",
        "description": "取得指定[車站]的列車即時到離站資料",
        "operationId": "StationLiveBoardApiController_Get_1",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "StationID",
            "in": "path",
            "description": "欲查詢車站的代碼",
            "required": true,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MOTC.API.Rail.Models.TRARealTimeWrapper[Service.DTO.Version3.Rail.TRA.TRAStationLiveBoardList.StationLiveBoard]"
            }
          }
        }
      }
    },
    "/v3/Rail/TRA/TrainLiveBoard": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得列車即時位置動態資料",
        "description": "取得列車即時位置動態資料\r\n\r\n## 使用注意事項\r\n1.  本項資料為「列車目前所在之車站」資料，而更新資料的時機點為「列車離站時」(由 CTC 提供)，其內容之車站資料可能為經過站，也可能為停靠站。\r\n2.  以「145車次」為例，如果車站名稱為「萬華」，表示 145 車次剛從萬華離開，而不是正前往萬華，另萬華站為145 車次之經過站，非停靠站。\r\n3.  提供所有經過站資料是為確保車次的準誤點資料都會是最新的 (尤其是東部幹線普悠瑪、太魯閣車次，因停靠站少，更新頻率低的話會使呈現的準誤點時間誤差過大)。\r\n4.  基於上述原因，本項資料並非僅提供列車停靠站資料，因為這樣提供方式會使列車位置資訊更狹隘，例如:只知道離開台北站，不曉得經過哪一站了，故請加值者使用時多加注意。",
        "operationId": "TrainLiveBoardApiController_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MOTC.API.Rail.Models.TRARealTimeWrapper[Service.DTO.Version3.Rail.TRA.TRATrainLiveBoardList.TrainLiveBoard]"
            }
          }
        }
      }
    },
    "/v3/Rail/TRA/TrainLiveBoard/TrainNo/{TrainNo}": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得指定[車次]的列車即時位置動態資料",
        "description": "取得指定[車次]的列車即時位置動態資料\r\n\r\n## 使用注意事項\r\n1.  本項資料為「列車目前所在之車站」資料，而更新資料的時機點為「列車離站時」(由 CTC 提供)，其內容之車站資料可能為經過站，也可能為停靠站。\r\n2.  以「145車次」為例，如果車站名稱為「萬華」，表示 145 車次剛從萬華離開，而不是正前往萬華，另萬華站為145 車次之經過站，非停靠站。\r\n3.  提供所有經過站資料是為確保車次的準誤點資料都會是最新的 (尤其是東部幹線普悠瑪、太魯閣車次，因停靠站少，更新頻率低的話會使呈現的準誤點時間誤差過大)。\r\n4.  基於上述原因，本項資料並非僅提供列車停靠站資料，因為這樣提供方式會使列車位置資訊更狹隘，例如:只知道離開台北站，不曉得經過哪一站了，故請加值者使用時多加注意。",
        "operationId": "TrainLiveBoardApiController_Get_1",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "TrainNo",
            "in": "path",
            "description": "欲查詢車次的代碼",
            "required": true,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MOTC.API.Rail.Models.TRARealTimeWrapper[Service.DTO.Version3.Rail.TRA.TRATrainLiveBoardList.TrainLiveBoard]"
            }
          }
        }
      }
    },
    "/v3/Rail/TRA/LineTransfer": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得內部路線轉乘資料",
        "description": "取得內部路線轉乘資料",
        "operationId": "LineTransferApiController_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MOTC.API.Rail.Models.TRABaseWrapper[Service.DTO.Version3.Rail.TRA.LineTransfer]"
            }
          }
        }
      }
    },
    "/v3/Rail/TRA/StationTransfer": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得車站跨運具轉乘資訊",
        "description": "取得車站跨運具轉乘資訊",
        "operationId": "StationTransferApiController_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MOTC.API.Rail.Models.TRABaseWrapper[Service.DTO.Version3.Rail.TRA.StationTransfer.StationTransfer]"
            }
          }
        }
      }
    },
    "/v3/Rail/TRA/News": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得最新消息",
        "description": "取得最新消息",
        "operationId": "NewsApiController_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MOTC.API.Rail.Models.TRARealTimeWrapper[Service.DTO.Version3.Rail.TRA.TRANewsList.News]"
            }
          }
        }
      }
    },
    "/v3/Rail/TRA/Alert": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得營運通阻資料",
        "description": "取得營運通阻資料",
        "operationId": "AlertApiController_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MOTC.API.Rail.Models.TRARealTimeWrapper[Service.DTO.Version3.Rail.TRA.TRAAlertList.Alert]"
            }
          }
        }
      }
    },
    "/v3/Rail/TRA/Shape": {
      "get": {
        "tags": [
          "TRA"
        ],
        "summary": "取得線型基本資料",
        "description": "取得線型基本資料",
        "operationId": "ShapeApiController_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MOTC.API.Rail.Models.TRABaseWrapper[Service.DTO.Version3.Rail.TRA.Shape]"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "MOTC.API.Rail.Models.TRARealTimeWrapper[Service.DTO.Version3.Rail.TRA.TRAAlertList.Alert]": {
      "title": "TRAAlertList",
      "required": [
        "UpdateTime",
        "UpdateInterval",
        "SrcUpdateTime",
        "SrcUpdateInterval",
        "AuthorityCode",
        "Alerts"
      ],
      "type": "object",
      "properties": {
        "UpdateTime": {
          "title": "DateTime",
          "description": "本平台資料更新時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "UpdateInterval": {
          "format": "int32",
          "description": "本平台資料更新週期(秒)",
          "type": "integer"
        },
        "SrcUpdateTime": {
          "title": "DateTime",
          "description": "來源端平台資料更新時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "SrcUpdateInterval": {
          "format": "int32",
          "description": "來源端平台資料更新週期(秒)['-1: 不定期更新']",
          "type": "integer"
        },
        "AuthorityCode": {
          "description": "業管機關簡碼",
          "type": "string"
        },
        "Alerts": {
          "description": "資料(陣列)",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Service.DTO.Version3.Rail.TRA.TRAAlertList.Alert"
          }
        },
        "Count": {
          "format": "int64",
          "description": "資料總筆數",
          "type": "integer"
        }
      }
    },
    "Service.DTO.Version3.Rail.TRA.TRAAlertList.Alert": {
      "title": "Alert",
      "required": [
        "AlertID",
        "Title",
        "Description",
        "Status",
        "Scope",
        "UpdateTime"
      ],
      "type": "object",
      "properties": {
        "AlertID": {
          "description": "通阻訊息代碼",
          "type": "string"
        },
        "Title": {
          "description": "通阻訊息標題",
          "type": "string"
        },
        "Description": {
          "description": "通阻訊息說明",
          "type": "string"
        },
        "Status": {
          "format": "int32",
          "title": "integer",
          "description": "營運狀況 : [0:'全線營運停止',1:'全線營運正常',2:'有異常狀況']",
          "type": "integer"
        },
        "Scope": {
          "$ref": "#/definitions/Service.DTO.Version3.Rail.TRA.TRAAlertList.AlertScope",
          "title": "AlertScope",
          "description": "影響範圍"
        },
        "Direction": {
          "format": "int32",
          "title": "integer",
          "description": "影響方向 : [0:'南下',1:'北上',2:'雙向']",
          "type": "integer"
        },
        "Level": {
          "format": "int32",
          "title": "integer",
          "description": "影響等級程度 : [1:'重度',2:'中度',3:'輕度']",
          "type": "integer"
        },
        "Effect": {
          "description": "影響說明",
          "type": "string"
        },
        "Reason": {
          "description": "影響原因",
          "type": "string"
        },
        "AlertURL": {
          "description": "通阻訊息網址連結",
          "type": "string"
        },
        "StartTime": {
          "title": "DateTime",
          "description": "訊息起始日期時間",
          "type": "string"
        },
        "EndTime": {
          "title": "DateTime",
          "description": "訊息結束日期時間",
          "type": "string"
        },
        "PublishTime": {
          "title": "DateTime",
          "description": "消息發佈日期時間",
          "type": "string"
        },
        "UpdateTime": {
          "title": "DateTime",
          "description": "消息更新日期時間",
          "type": "string"
        }
      }
    },
    "Service.DTO.Version3.Rail.TRA.TRAAlertList.AlertScope": {
      "title": "AlertScope",
      "required": [
        "Stations",
        "Lines",
        "Routes",
        "Trains",
        "LineSections"
      ],
      "type": "object",
      "properties": {
        "NetworkList": {
          "$ref": "#/definitions/Service.DTO.Version3.Rail.TRA.TRAAlertList.AlertScopeNetwork",
          "title": "AlertScopeNetwork",
          "description": "受影響的路網"
        },
        "Stations": {
          "description": "受影響的車站",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Service.DTO.Version3.Rail.TRA.TRAAlertList.AlertScopeStation"
          }
        },
        "Lines": {
          "description": "受影響的實體路線",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Service.DTO.Version3.Rail.TRA.TRAAlertList.AlertScopeLine"
          }
        },
        "Routes": {
          "description": "受影響的營運路線",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Service.DTO.Version3.Rail.TRA.TRAAlertList.AlertScopeRoute"
          }
        },
        "Trains": {
          "description": "受影響的車次",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Service.DTO.Version3.Rail.TRA.TRAAlertList.AlertScopeTrain"
          }
        },
        "LineSections": {
          "description": "受影響的路線區間",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Service.DTO.Version3.Rail.TRA.TRAAlertList.AlertScopeLineSection"
          }
        }
      }
    },
    "Service.DTO.Version3.Rail.TRA.TRAAlertList.AlertScopeNetwork": {
      "title": "AlertScopeNetwork",
      "type": "object",
      "properties": {
        "NetworkID": {
          "description": "路網代碼",
          "type": "string"
        },
        "NetworkName": {
          "description": "路網名稱",
          "type": "string"
        }
      }
    },
    "Service.DTO.Version3.Rail.TRA.TRAAlertList.AlertScopeStation": {
      "title": "AlertScopeStation",
      "type": "object",
      "properties": {
        "StationID": {
          "description": "車站代碼",
          "type": "string"
        },
        "StationName": {
          "description": "車站名稱",
          "type": "string"
        }
      }
    },
    "Service.DTO.Version3.Rail.TRA.TRAAlertList.AlertScopeLine": {
      "title": "AlertScopeLine",
      "type": "object",
      "properties": {
        "LineID": {
          "description": "實體路線代碼",
          "type": "string"
        },
        "LineName": {
          "description": "實體路線名稱",
          "type": "string"
        }
      }
    },
    "Service.DTO.Version3.Rail.TRA.TRAAlertList.AlertScopeRoute": {
      "title": "AlertScopeRoute",
      "type": "object",
      "properties": {
        "RouteID": {
          "description": "營運路線代碼",
          "type": "string"
        },
        "RouteName": {
          "description": "營運路線名稱",
          "type": "string"
        }
      }
    },
    "Service.DTO.Version3.Rail.TRA.TRAAlertList.AlertScopeTrain": {
      "title": "AlertScopeTrain",
      "type": "object",
      "properties": {
        "TrainNo": {
          "description": "受影響的車次",
          "type": "string"
        }
      }
    },
    "Service.DTO.Version3.Rail.TRA.TRAAlertList.AlertScopeLineSection": {
      "title": "AlertScopeLineSection",
      "type": "object",
      "properties": {
        "LineID": {
          "description": "路線區間所在路線代碼",
          "type": "string"
        },
        "StartingStationID": {
          "description": "區間起站車站代碼",
          "type": "string"
        },
        "StartingStationName": {
          "description": "區間起站車站名稱",
          "type": "string"
        },
        "EndingStationID": {
          "description": "區間迄站車站代碼",
          "type": "string"
        },
        "EndingStationName": {
          "description": "區間迄站車站名稱",
          "type": "string"
        },
        "Description": {
          "description": "影響區間輔助描述",
          "type": "string"
        }
      }
    },
    "MOTC.API.Rail.Models.TraDailyStationWrapper[Service.DTO.Version3.Rail.TRA.DailyStationTimeTable.StationTimetable]": {
      "title": "TRADailyStationTimeTableList",
      "required": [
        "UpdateTime",
        "UpdateInterval",
        "SrcUpdateTime",
        "SrcUpdateInterval",
        "AuthorityCode",
        "TrainDate",
        "StationTimetables"
      ],
      "type": "object",
      "properties": {
        "UpdateTime": {
          "title": "DateTime",
          "description": "本平台資料更新時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "UpdateInterval": {
          "format": "int32",
          "description": "本平台資料更新週期(秒)",
          "type": "integer"
        },
        "SrcUpdateTime": {
          "title": "DateTime",
          "description": "來源端平台資料更新時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "SrcUpdateInterval": {
          "format": "int32",
          "description": "來源端平台資料更新週期(秒)['-1: 不定期更新']",
          "type": "integer"
        },
        "AuthorityCode": {
          "description": "業管機關簡碼",
          "type": "string"
        },
        "TrainDate": {
          "description": "營運日說明(yyyy-MM-dd)",
          "type": "string"
        },
        "StationTimetables": {
          "description": "資料(陣列)",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Service.DTO.Version3.Rail.TRA.DailyStationTimeTable.StationTimetable"
          }
        },
        "Count": {
          "format": "int64",
          "description": "資料總筆數",
          "type": "integer"
        }
      }
    },
    "Service.DTO.Version3.Rail.TRA.DailyStationTimeTable.StationTimetable": {
      "title": "StationTimetable",
      "required": [
        "TimeTables"
      ],
      "type": "object",
      "properties": {
        "RouteID": {
          "description": "營運路線代碼",
          "type": "string"
        },
        "StationID": {
          "description": "車站代碼",
          "type": "string"
        },
        "StationName": {
          "$ref": "#/definitions/Service.DTO.Version3.Base.NameType",
          "title": "NameType",
          "description": "車站名稱"
        },
        "Direction": {
          "format": "int32",
          "title": "integer",
          "description": "行駛方向 : [0:'順行',1:'逆行']",
          "type": "integer"
        },
        "TimeTables": {
          "description": "目的站車站名稱",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Service.DTO.Version3.Rail.TRA.DailyStationTimeTable.TimeTable"
          }
        }
      }
    },
    "Service.DTO.Version3.Base.NameType": {
      "title": "NameType",
      "description": "名稱資料型別",
      "type": "object",
      "properties": {
        "Zh_tw": {
          "description": "中文繁體名稱",
          "type": "string"
        },
        "En": {
          "description": "英文名稱",
          "type": "string"
        }
      }
    },
    "Service.DTO.Version3.Rail.TRA.DailyStationTimeTable.TimeTable": {
      "title": "TimeTable",
      "required": [
        "Sequence"
      ],
      "type": "object",
      "properties": {
        "Sequence": {
          "format": "int32",
          "description": "發車順序",
          "type": "integer"
        },
        "TrainNo": {
          "description": "車次代碼",
          "type": "string"
        },
        "DestinationStationID": {
          "description": "目的站車站代號",
          "type": "string"
        },
        "DestinationStationName": {
          "$ref": "#/definitions/Service.DTO.Version3.Base.NameType",
          "title": "NameType",
          "description": "目的站車站名稱"
        },
        "TrainTypeID": {
          "description": "車種代嗎",
          "type": "string"
        },
        "TrainTypeCode": {
          "description": "車種簡碼 = ['1: 太魯閣', '2: 普悠瑪', '3: 自強', '4: 莒光', '5: 復興', '6: 區間', '7: 普快', '10: 區間快']",
          "type": "string"
        },
        "TrainTypeName": {
          "$ref": "#/definitions/Service.DTO.Version3.Base.NameType",
          "title": "NameType",
          "description": "車種名稱"
        },
        "ArrivalTime": {
          "description": "到站時刻",
          "type": "string"
        },
        "DepartureTime": {
          "description": "發車時刻",
          "type": "string"
        }
      }
    },
    "MOTC.API.Rail.Models.TraDailyTrainWrapper[Service.DTO.Version3.Rail.TRA.DailyTrainTimeTable.TrainTimetable]": {
      "title": "TRADailyTrainTimeTableList",
      "required": [
        "UpdateTime",
        "UpdateInterval",
        "SrcUpdateTime",
        "SrcUpdateInterval",
        "AuthorityCode",
        "TrainDate",
        "TrainTimetables"
      ],
      "type": "object",
      "properties": {
        "UpdateTime": {
          "title": "DateTime",
          "description": "本平台資料更新時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "UpdateInterval": {
          "format": "int32",
          "description": "本平台資料更新週期(秒)",
          "type": "integer"
        },
        "SrcUpdateTime": {
          "title": "DateTime",
          "description": "來源端平台資料更新時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "SrcUpdateInterval": {
          "format": "int32",
          "description": "來源端平台資料更新週期(秒)['-1: 不定期更新']",
          "type": "integer"
        },
        "AuthorityCode": {
          "description": "業管機關簡碼",
          "type": "string"
        },
        "TrainDate": {
          "description": "營運日說明(yyyy-MM-dd)",
          "type": "string"
        },
        "TrainTimetables": {
          "description": "資料(陣列)",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Service.DTO.Version3.Rail.TRA.DailyTrainTimeTable.TrainTimetable"
          }
        },
        "Count": {
          "format": "int64",
          "description": "資料總筆數",
          "type": "integer"
        }
      }
    },
    "Service.DTO.Version3.Rail.TRA.DailyTrainTimeTable.TrainTimetable": {
      "title": "TrainTimetable",
      "required": [
        "TrainInfo",
        "StopTimes"
      ],
      "type": "object",
      "properties": {
        "TrainInfo": {
          "$ref": "#/definitions/Service.DTO.Version3.Rail.TRA.DailyTrainTimeTable.TrainInfo",
          "title": "TrainInfo",
          "description": "車次資料"
        },
        "StopTimes": {
          "description": "停靠站資料",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Service.DTO.Version3.Rail.TRA.DailyTrainTimeTable.StopTime"
          }
        }
      }
    },
    "Service.DTO.Version3.Rail.TRA.DailyTrainTimeTable.TrainInfo": {
      "title": "TrainInfo",
      "required": [
        "TrainNo",
        "RouteID",
        "Direction",
        "TrainTypeName",
        "StartingStationName",
        "EndingStationName",
        "WheelChairFlag",
        "PackageServiceFlag",
        "DiningFlag",
        "BreastFeedFlag",
        "BikeFlag",
        "DailyFlag",
        "ExtraTrainFlag"
      ],
      "type": "object",
      "properties": {
        "TrainNo": {
          "description": "車次代碼",
          "type": "string"
        },
        "RouteID": {
          "description": "營運路線代碼",
          "type": "string"
        },
        "Direction": {
          "format": "int32",
          "title": "integer",
          "description": "行駛方向 : [0:'順行',1:'逆行']",
          "type": "integer"
        },
        "TrainTypeID": {
          "description": "車種代嗎",
          "type": "string"
        },
        "TrainTypeCode": {
          "description": "車種簡碼 = ['1: 太魯閣', '2: 普悠瑪', '3: 自強', '4: 莒光', '5: 復興', '6: 區間', '7: 普快', '10: 區間快']",
          "type": "string"
        },
        "TrainTypeName": {
          "$ref": "#/definitions/Service.DTO.Version3.Base.NameType",
          "title": "NameType",
          "description": "車種名稱"
        },
        "TripHeadSign": {
          "description": "車次之目的地方向描述",
          "type": "string"
        },
        "StartingStationID": {
          "description": "車次之起始站車站代號",
          "type": "string"
        },
        "StartingStationName": {
          "$ref": "#/definitions/Service.DTO.Version3.Base.NameType",
          "title": "NameType",
          "description": "車次之起始站車站名稱"
        },
        "EndingStationID": {
          "description": "車次之終點站車站代號",
          "type": "string"
        },
        "EndingStationName": {
          "$ref": "#/definitions/Service.DTO.Version3.Base.NameType",
          "title": "NameType",
          "description": "車次之終點站車站名稱"
        },
        "OverNightStationID": {
          "description": "跨夜車站代碼",
          "type": "string"
        },
        "TripLine": {
          "format": "int32",
          "title": "integer",
          "description": "山海線類型 : [0:'不經山海線',1:'山線',2:'海線']",
          "type": "integer"
        },
        "WheelChairFlag": {
          "format": "int32",
          "title": "integer",
          "description": "是否設身障旅客專用座位車 : [0:'否',1:'是']",
          "type": "integer"
        },
        "PackageServiceFlag": {
          "format": "int32",
          "title": "integer",
          "description": "是否提供行李服務 : [0:'否',1:'是']",
          "type": "integer"
        },
        "DiningFlag": {
          "format": "int32",
          "title": "integer",
          "description": "是否提供訂便當服務 : [0:'否',1:'是']",
          "type": "integer"
        },
        "DiningFlagSections": {
          "description": "提供訂便當服務之車站區間",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Service.DTO.Version3.Rail.TRA.DailyTrainTimeTable.DiningFlagSection"
          }
        },
        "BreastFeedFlag": {
          "format": "int32",
          "title": "integer",
          "description": "是否設有哺(集)乳室車廂 : [0:'否',1:'是']",
          "type": "integer"
        },
        "BikeFlag": {
          "format": "int32",
          "title": "integer",
          "description": "是否人車同行班次(置於攜車袋之自行車各級列車均可乘車) : [0:'否',1:'是']",
          "type": "integer"
        },
        "CarFlag": {
          "format": "int32",
          "title": "integer",
          "description": "是否提供小汽車上火車服務 : [0:'否',1:'是']",
          "type": "integer"
        },
        "DailyFlag": {
          "format": "int32",
          "title": "integer",
          "description": "是否每日行駛 : [0:'否',1:'是']",
          "type": "integer"
        },
        "ExtraTrainFlag": {
          "format": "int32",
          "title": "integer",
          "description": "是否為加班車 : [0:'否',1:'是']",
          "type": "integer"
        },
        "Note": {
          "description": "附註說明",
          "type": "string"
        }
      }
    },
    "Service.DTO.Version3.Rail.TRA.DailyTrainTimeTable.StopTime": {
      "title": "StopTime",
      "required": [
        "StopSequence",
        "StationID",
        "StationName"
      ],
      "type": "object",
      "properties": {
        "StopSequence": {
          "format": "int32",
          "description": "停靠站序",
          "type": "integer"
        },
        "StationID": {
          "description": "車站代碼",
          "type": "string"
        },
        "StationName": {
          "$ref": "#/definitions/Service.DTO.Version3.Base.NameType",
          "title": "NameType",
          "description": "車站名稱"
        },
        "ArrivalTime": {
          "description": "到站時間",
          "type": "string"
        },
        "DepartureTime": {
          "description": "離站時間",
          "type": "string"
        }
      }
    },
    "Service.DTO.Version3.Rail.TRA.DailyTrainTimeTable.DiningFlagSection": {
      "title": "DiningFlagSection",
      "required": [
        "StartSection",
        "EndSection"
      ],
      "type": "object",
      "properties": {
        "StartSection": {
          "$ref": "#/definitions/Service.DTO.Version3.Rail.TRA.DailyTrainTimeTable.SectionAmong",
          "title": "SectionAmong",
          "description": "乘客出發站所屬區間"
        },
        "EndSection": {
          "$ref": "#/definitions/Service.DTO.Version3.Rail.TRA.DailyTrainTimeTable.SectionAmong",
          "title": "SectionAmong",
          "description": "乘客目的站所屬區間"
        }
      }
    },
    "Service.DTO.Version3.Rail.TRA.DailyTrainTimeTable.SectionAmong": {
      "title": "SectionAmong",
      "required": [
        "StartStationID",
        "EndStationID"
      ],
      "type": "object",
      "properties": {
        "StartStationID": {
          "description": "起站車站代碼",
          "type": "string"
        },
        "EndStationID": {
          "description": "迄站車站代碼",
          "type": "string"
        }
      }
    },
    "MOTC.API.Rail.Models.TRAGeneralStationWrapper[Service.DTO.Version3.Rail.TRA.GeneralStationTimetable.GeneralStationTimetable]": {
      "title": "TRAGeneralStationTimetableList",
      "required": [
        "UpdateTime",
        "UpdateInterval",
        "SrcUpdateTime",
        "SrcUpdateInterval",
        "AuthorityCode",
        "EffectiveDate",
        "StationTimetables"
      ],
      "type": "object",
      "properties": {
        "UpdateTime": {
          "title": "DateTime",
          "description": "本平台資料更新時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "UpdateInterval": {
          "format": "int32",
          "description": "本平台資料更新週期(秒)",
          "type": "integer"
        },
        "SrcUpdateTime": {
          "title": "DateTime",
          "description": "來源端平台資料更新時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "SrcUpdateInterval": {
          "format": "int32",
          "description": "來源端平台資料更新週期(秒)['-1: 不定期更新']",
          "type": "integer"
        },
        "AuthorityCode": {
          "description": "業管機關簡碼",
          "type": "string"
        },
        "EffectiveDate": {
          "title": "DateTime",
          "description": "有效起始日期",
          "type": "string"
        },
        "ExpireDate": {
          "title": "DateTime",
          "description": "有效終止日期",
          "type": "string"
        },
        "SrcVersion": {
          "description": "來源版號",
          "type": "string"
        },
        "TimetableName": {
          "description": "定期性站別時刻表名稱",
          "type": "string"
        },
        "ValidityDesciption": {
          "description": "時刻表適用情形說明",
          "type": "string"
        },
        "StationTimetables": {
          "description": "資料(陣列)",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Service.DTO.Version3.Rail.TRA.GeneralStationTimetable.GeneralStationTimetable"
          }
        },
        "Count": {
          "format": "int64",
          "description": "資料總筆數",
          "type": "integer"
        }
      }
    },
    "Service.DTO.Version3.Rail.TRA.GeneralStationTimetable.GeneralStationTimetable": {
      "title": "GeneralStationTimetable",
      "description": "台鐵車站站別時刻表資料型別",
      "required": [
        "StationID",
        "Direction",
        "Timetables",
        "ServiceDay"
      ],
      "type": "object",
      "properties": {
        "RouteID": {
          "description": "營運路線代碼",
          "type": "string"
        },
        "StationID": {
          "description": "車站代碼",
          "type": "string"
        },
        "StationName": {
          "$ref": "#/definitions/Service.DTO.Version3.Base.NameType",
          "title": "NameType",
          "description": "車站名稱"
        },
        "Direction": {
          "format": "int32",
          "title": "integer",
          "description": "行駛方向 : [0:'順行',1:'逆行']",
          "type": "integer"
        },
        "Timetables": {
          "description": "車次停靠站資料",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Service.DTO.Version3.Rail.TRA.GeneralStationTimetable.Timetable"
          }
        },
        "ServiceDay": {
          "$ref": "#/definitions/Service.DTO.Version3.Rail.TRA.GeneralStationTimetable.ServiceDay",
          "title": "ServiceDay",
          "description": "服務日型態"
        }
      }
    },
    "Service.DTO.Version3.Rail.TRA.GeneralStationTimetable.Timetable": {
      "title": "Timetable",
      "description": "車次停靠站資料",
      "type": "object",
      "properties": {
        "Sequence": {
          "format": "int32",
          "description": "發車順序",
          "type": "integer"
        },
        "TrainNo": {
          "description": "車次代碼",
          "type": "string"
        },
        "DestinationStationID": {
          "description": "目的站車站代號",
          "type": "string"
        },
        "DestinationStationName": {
          "$ref": "#/definitions/Service.DTO.Version3.Base.NameType",
          "title": "NameType",
          "description": "目的站車站"
        },
        "TrainTypeID": {
          "description": "車種代嗎",
          "type": "string"
        },
        "TrainTypeCode": {
          "description": "車種簡碼 = ['1: 太魯閣', '2: 普悠瑪', '3: 自強', '4: 莒光', '5: 復興', '6: 區間', '7: 普快', '10: 區間快']",
          "type": "string"
        },
        "TrainTypeName": {
          "$ref": "#/definitions/Service.DTO.Version3.Base.NameType",
          "title": "NameType",
          "description": "車種名稱"
        },
        "ArrivalTime": {
          "description": "到站時刻",
          "type": "string"
        },
        "DepartureTime": {
          "description": "發車時刻",
          "type": "string"
        }
      }
    },
    "Service.DTO.Version3.Rail.TRA.GeneralStationTimetable.ServiceDay": {
      "title": "ServiceDay",
      "description": "服務日型態",
      "required": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
        "Sunday"
      ],
      "type": "object",
      "properties": {
        "ServiceTag": {
          "description": "服務日標籤",
          "type": "string"
        },
        "Monday": {
          "description": "星期一營運與否",
          "type": "boolean"
        },
        "Tuesday": {
          "description": "星期二營運與否",
          "type": "boolean"
        },
        "Wednesday": {
          "description": "星期三營運與否",
          "type": "boolean"
        },
        "Thursday": {
          "description": "星期四營運與否",
          "type": "boolean"
        },
        "Friday": {
          "description": "星期五營運與否",
          "type": "boolean"
        },
        "Saturday": {
          "description": "星期六營運與否",
          "type": "boolean"
        },
        "Sunday": {
          "description": "星期日營運與否",
          "type": "boolean"
        },
        "NationalHolidays": {
          "description": "國定假日營運與否",
          "type": "boolean"
        },
        "DayBeforeHoliday": {
          "description": "假日前一日營運與否",
          "type": "boolean"
        },
        "DayAfterHoliday": {
          "description": "假日後一日營運與否",
          "type": "boolean"
        },
        "TyphoonDay": {
          "description": "颱風停止上班上課期間營運與否",
          "type": "boolean"
        }
      }
    },
    "MOTC.API.Rail.Models.TRAGeneralTrainWrapper[Service.DTO.Version3.Rail.TRA.GeneralTrainTimetable]": {
      "title": "TRAGeneralTrainTimetableList",
      "required": [
        "UpdateTime",
        "UpdateInterval",
        "SrcUpdateTime",
        "SrcUpdateInterval",
        "AuthorityCode",
        "EffectiveDate",
        "TrainTimetables"
      ],
      "type": "object",
      "properties": {
        "UpdateTime": {
          "title": "DateTime",
          "description": "本平台資料更新時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "UpdateInterval": {
          "format": "int32",
          "description": "本平台資料更新週期(秒)",
          "type": "integer"
        },
        "SrcUpdateTime": {
          "title": "DateTime",
          "description": "來源端平台資料更新時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "SrcUpdateInterval": {
          "format": "int32",
          "description": "來源端平台資料更新週期(秒)['-1: 不定期更新']",
          "type": "integer"
        },
        "AuthorityCode": {
          "description": "業管機關簡碼",
          "type": "string"
        },
        "EffectiveDate": {
          "title": "DateTime",
          "description": "有效起始日期",
          "type": "string"
        },
        "ExpireDate": {
          "title": "DateTime",
          "description": "有效終止日期",
          "type": "string"
        },
        "SrcVersion": {
          "description": "來源版號",
          "type": "string"
        },
        "TimetableName": {
          "description": "定期性站別時刻表名稱",
          "type": "string"
        },
        "ValidityDesciption": {
          "description": "時刻表適用情形說明",
          "type": "string"
        },
        "TrainTimetables": {
          "description": "資料(陣列)",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Service.DTO.Version3.Rail.TRA.GeneralTrainTimetable"
          }
        },
        "Count": {
          "format": "int64",
          "description": "資料總筆數",
          "type": "integer"
        }
      }
    },
    "Service.DTO.Version3.Rail.TRA.GeneralTrainTimetable": {
      "title": "GeneralTrainTimetable",
      "description": "台鐵定期時刻表資料型別",
      "required": [
        "TrainInfo",
        "StopTimes",
        "ServiceDay"
      ],
      "type": "object",
      "properties": {
        "TrainInfo": {
          "$ref": "#/definitions/Service.DTO.Version3.Rail.TRA.Common.TrainInfo",
          "title": "TrainInfo",
          "description": "定期車次資料"
        },
        "StopTimes": {
          "description": "停靠時間資料",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Service.DTO.Version3.Rail.TRA.Common.StopTime"
          }
        },
        "ServiceDay": {
          "$ref": "#/definitions/Service.DTO.Version3.Rail.TRA.Common.ServiceDay",
          "title": "ServiceDay",
          "description": "營運日型態"
        }
      }
    },
    "Service.DTO.Version3.Rail.TRA.Common.TrainInfo": {
      "title": "TrainInfo",
      "description": "臺鐵車次定期資料型別(時刻表用)",
      "required": [
        "TrainNo",
        "Direction",
        "WheelChairFlag",
        "PackageServiceFlag",
        "DiningFlag",
        "BreastFeedFlag",
        "BikeFlag",
        "CarFlag",
        "DailyFlag",
        "ExtraTrainFlag"
      ],
      "type": "object",
      "properties": {
        "TrainNo": {
          "description": "車次代碼",
          "type": "string"
        },
        "RouteID": {
          "description": "營運路線代碼",
          "type": "string"
        },
        "Direction": {
          "format": "int32",
          "title": "integer",
          "description": "行駛方向 : [0:'順行',1:'逆行']",
          "type": "integer"
        },
        "TrainTypeID": {
          "description": "車種代嗎",
          "type": "string"
        },
        "TrainTypeCode": {
          "description": "車種簡碼 = ['1: 太魯閣', '2: 普悠瑪', '3: 自強', '4: 莒光', '5: 復興', '6: 區間', '7: 普快', '10: 區間快']",
          "type": "string"
        },
        "TrainTypeName": {
          "$ref": "#/definitions/Service.DTO.Version3.Base.NameType",
          "title": "NameType",
          "description": "車種名稱"
        },
        "TripHeadSign": {
          "description": "車次之目的地方向描述",
          "type": "string"
        },
        "StartingStationID": {
          "description": "列車起點車站代號",
          "type": "string"
        },
        "StartingStationName": {
          "$ref": "#/definitions/Service.DTO.Version3.Base.NameType",
          "title": "NameType",
          "description": "列車起點車站名稱"
        },
        "EndingStationID": {
[...]
