{
  "swagger": "2.0",
  "info": {
    "title": "MOTC Transport API V2",
    "description": "本平臺提供涵蓋全國尺度之公車、臺鐵、高鐵、捷運、航空、自行車等公共運輸旅運資料服務API，歡迎各產政學單位介接使用。\n                                                    <br><span class=swagger-description-indicatation>利用本平臺開放資料進行各項應用服務開發時，請考量不同特性使用者(如:性別/身心障礙/老幼等)的需求，並歡迎回饋寶貴意見。</span>\n                                                    <br><br>資料使用葵花寶典:[請點我](https://motc-ptx-api-documentation.gitbook.io/motc-ptx-api-documentation/)\n                                                    <br>資料服務開發實作參考手冊:[請點我](https://docs.google.com/viewer?url=https://github.com/ptxmotc/PTX_Web/blob/master/Swagger%E6%9C%8D%E5%8B%99%E8%AA%AA%E6%98%8E%E4%B8%8A%E5%82%B3%E5%8F%83%E8%80%83%E6%AA%94%E6%A1%88/%E5%85%AC%E5%85%B1%E9%81%8B%E8%BC%B8%E6%95%B4%E5%90%88%E8%B3%87%E8%A8%8A%E5%B9%B3%E5%8F%B0%E8%B3%87%E6%96%99%E6%9C%8D%E5%8B%99%E9%96%8B%E7%99%BC%E5%AF%A6%E4%BD%9C.pdf?raw=true)\n                                                    <br>API URI Convention文件說明:[請點我](https://docs.google.com/viewer?url=https://github.com/ptxmotc/PTX_Web/blob/master/Swagger%E6%9C%8D%E5%8B%99%E8%AA%AA%E6%98%8E%E4%B8%8A%E5%82%B3%E5%8F%83%E8%80%83%E6%AA%94%E6%A1%88/API_URI_Convention%E6%96%87%E4%BB%B6_v1.pdf?raw=true)",
    "version": "v2"
  },
  "host": "ptx.transportdata.tw",
  "basePath": "/MOTC",
  "schemes": [
    "https"
  ],
  "paths": {
    "/v2/Rail/Operator": {
      "get": {
        "tags": [
          "Common"
        ],
        "summary": "取得軌道營運業者資料",
        "operationId": "RailApi_Operator_2165",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V2.Base.Operator"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Rail/Metro/Network/{RailSystem}": {
      "get": {
        "tags": [
          "Metro"
        ],
        "summary": "取得捷運路網資料",
        "description": "取得捷運路網資料",
        "operationId": "MetroApi_Network_2090",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "RailSystem",
            "description": "欲查詢軌道系統(TRTC:臺北捷運,KRTC:高雄捷運,TYMC:桃園捷運,TMRT:臺中捷運,TRTCMG:貓空纜車)",
            "required": true,
            "type": "string",
            "enum": [
              "TRTC",
              "KRTC",
              "TYMC",
              "TRTCMG",
              "TMRT"
            ],
            "x-enum": {
              "KRTC": "高雄捷運",
              "TYMC": "桃園捷運",
              "TMRT": "臺中捷運",
              "TRTC": "臺北捷運",
              "TRTCMG": "貓空纜車"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Rail.Specification.V2.Metro.Network"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Rail/Metro/Line/{RailSystem}": {
      "get": {
        "tags": [
          "Metro"
        ],
        "summary": "取得捷運路線基本資料",
        "description": "取得捷運路線基本資料",
        "operationId": "MetroApi_Line_2091",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "RailSystem",
            "description": "欲查詢軌道系統(TRTC:臺北捷運,KRTC:高雄捷運,TYMC:桃園捷運,TMRT:臺中捷運,KLRT:高雄輕軌,NTDLRT:淡海輕軌,TRTCMG:貓空纜車)",
            "required": true,
            "type": "string",
            "enum": [
              "TRTC",
              "KRTC",
              "TYMC",
              "KLRT",
              "NTDLRT",
              "TRTCMG",
              "TMRT"
            ],
            "x-enum": {
              "KRTC": "高雄捷運",
              "NTDLRT": "淡海輕軌",
              "TRTC": "臺北捷運",
              "TRTCMG": "貓空纜車",
              "TMRT": "臺中捷運",
              "TYMC": "桃園捷運",
              "KLRT": "高雄輕軌"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Rail.Specification.V2.Metro.Line"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Rail/Metro/Station/{RailSystem}": {
      "get": {
        "tags": [
          "Metro"
        ],
        "summary": "取得捷運車站基本資料",
        "description": "取得捷運車站基本資料",
        "operationId": "MetroApi_Station_2092",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "RailSystem",
            "description": "欲查詢軌道系統(TRTC:臺北捷運,KRTC:高雄捷運,TYMC:桃園捷運,TMRT:臺中捷運,KLRT:高雄輕軌,NTDLRT:淡海輕軌,TRTCMG:貓空纜車)",
            "required": true,
            "type": "string",
            "enum": [
              "TRTC",
              "KRTC",
              "TYMC",
              "KLRT",
              "NTDLRT",
              "TRTCMG",
              "TMRT"
            ],
            "x-enum": {
              "TMRT": "臺中捷運",
              "KRTC": "高雄捷運",
              "NTDLRT": "淡海輕軌",
              "TYMC": "桃園捷運",
              "TRTC": "臺北捷運",
              "TRTCMG": "貓空纜車",
              "KLRT": "高雄輕軌"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Rail.Specification.V2.Metro.Station"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Rail/Metro/StationOfLine/{RailSystem}": {
      "get": {
        "tags": [
          "Metro"
        ],
        "summary": "取得捷運路線車站基本資料",
        "description": "取得捷運路線車站基本資料",
        "operationId": "MetroApi_StationOfLine_2093",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "RailSystem",
            "description": "欲查詢軌道系統(TRTC:臺北捷運,KRTC:高雄捷運,TYMC:桃園捷運,TMRT:臺中捷運,KLRT:高雄輕軌,NTDLRT:淡海輕軌,TRTCMG:貓空纜車)",
            "required": true,
            "type": "string",
            "enum": [
              "TRTC",
              "KRTC",
              "TYMC",
              "KLRT",
              "NTDLRT",
              "TRTCMG",
              "TMRT"
            ],
            "x-enum": {
              "TMRT": "臺中捷運",
              "NTDLRT": "淡海輕軌",
              "TYMC": "桃園捷運",
              "KLRT": "高雄輕軌",
              "TRTC": "臺北捷運",
              "KRTC": "高雄捷運",
              "TRTCMG": "貓空纜車"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Rail.Specification.V2.Metro.StationOfLine"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Rail/Metro/LineTransfer/{RailSystem}": {
      "get": {
        "tags": [
          "Metro"
        ],
        "summary": "取得捷運路線站間轉乘基本資料",
        "description": "取得捷運路線站間轉乘基本資料",
        "operationId": "MetroApi_LineTransfer_2094",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "RailSystem",
            "description": "欲查詢軌道系統(TRTC:臺北捷運,KRTC:高雄捷運)",
            "required": true,
            "type": "string",
            "enum": [
              "TRTC",
              "KRTC"
            ],
            "x-enum": {
              "KRTC": "高雄捷運",
              "TYMC": "桃園捷運",
              "TRTC": "臺北捷運"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Rail.Specification.V2.Metro.LineTransfer"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Rail/Metro/StationFacility/{RailSystem}": {
      "get": {
        "tags": [
          "Metro"
        ],
        "summary": "取得捷運車站設施資料",
        "description": "取得捷運車站設施資料",
        "operationId": "MetroApi_StationFacility_2095",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "RailSystem",
            "description": "欲查詢軌道系統(TYMC:桃園捷運)",
            "required": true,
            "type": "string",
            "enum": [
              "TYMC"
            ],
            "x-enum": {
              "TYMC": "桃園捷運",
              "TRTC": "臺北捷運",
              "KRTC": "高雄捷運"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Rail.Specification.V2.Metro.StationFacility"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Rail/Metro/StationExit/{RailSystem}": {
      "get": {
        "tags": [
          "Metro"
        ],
        "summary": "取得捷運車站出入口基本資料",
        "description": "取得捷運車站出入口基本資料",
        "operationId": "MetroApi_StationExit_2096",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "RailSystem",
            "description": "欲查詢軌道系統(TRTC:臺北捷運,KRTC:高雄捷運,TYMC:桃園捷運,TMRT:臺中捷運,TRTCMG:貓空纜車)",
            "required": true,
            "type": "string",
            "enum": [
              "TRTC",
              "KRTC",
              "TYMC",
              "TRTCMG",
              "TMRT"
            ],
            "x-enum": {
              "TYMC": "桃園捷運",
              "KRTC": "高雄捷運",
              "TRTCMG": "貓空纜車",
              "TMRT": "臺中捷運",
              "TRTC": "臺北捷運",
              "KLRT": "高雄輕軌"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Rail.Specification.V2.Metro.StationExit"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Rail/Metro/Route/{RailSystem}": {
      "get": {
        "tags": [
          "Metro"
        ],
        "summary": "取得捷運營運路線基本資料",
        "description": "取得捷運營運路線基本資料",
        "operationId": "MetroApi_Route_2097",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "RailSystem",
            "description": "欲查詢軌道系統(TRTC:臺北捷運,KRTC:高雄捷運,TYMC:桃園捷運,TMRT:臺中捷運,NTDLRT:淡海輕軌)",
            "required": true,
            "type": "string",
            "enum": [
              "TRTC",
              "KRTC",
              "TYMC",
              "NTDLRT",
              "TMRT"
            ],
            "x-enum": {
              "KRTC": "高雄捷運",
              "TMRT": "臺中捷運",
              "NTDLRT": "淡海輕軌",
              "TRTC": "臺北捷運",
              "TYMC": "桃園捷運"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Rail.Specification.V2.Metro.Route"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Rail/Metro/StationOfRoute/{RailSystem}": {
      "get": {
        "tags": [
          "Metro"
        ],
        "summary": "取得捷運營運路線車站基本資料",
        "description": "取得捷運營運路線車站基本資料",
        "operationId": "MetroApi_StationOfRoute_2098",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "RailSystem",
            "description": "欲查詢軌道系統(TRTC:臺北捷運,KRTC:高雄捷運,TYMC:桃園捷運,TMRT:臺中捷運,NTDLRT:淡海輕軌)",
            "required": true,
            "type": "string",
            "enum": [
              "TRTC",
              "KRTC",
              "TYMC",
              "NTDLRT",
              "TMRT"
            ],
            "x-enum": {
              "TYMC": "桃園捷運",
              "TRTC": "臺北捷運",
              "NTDLRT": "淡海輕軌",
              "KRTC": "高雄捷運",
              "TMRT": "臺中捷運"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Rail.Specification.V2.Metro.StationOfRoute"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Rail/Metro/FirstLastTimetable/{RailSystem}": {
      "get": {
        "tags": [
          "Metro"
        ],
        "summary": "取得捷運首末班車時刻表資料",
        "description": "取得捷運首末班車時刻表資料",
        "operationId": "MetroApi_FirstLastTimetable_2099",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "RailSystem",
            "description": "欲查詢軌道系統(TRTC:臺北捷運,KRTC:高雄捷運,TYMC:桃園捷運,TMRT:臺中捷運,KLRT:高雄輕軌)",
            "required": true,
            "type": "string",
            "enum": [
              "TRTC",
              "KRTC",
              "TYMC",
              "KLRT",
              "TMRT"
            ],
            "x-enum": {
              "KLRT": "高雄輕軌",
              "KRTC": "高雄捷運",
              "TRTC": "臺北捷運",
              "TMRT": "臺中捷運",
              "TYMC": "桃園捷運"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Rail.Specification.V2.Metro.FirstLastTimetable"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Rail/Metro/Frequency/{RailSystem}": {
      "get": {
        "tags": [
          "Metro"
        ],
        "summary": "取得捷運路線發車班距頻率資料",
        "description": "取得捷運路線發車班距頻率資料",
        "operationId": "MetroApi_Frequency_2100",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "RailSystem",
            "description": "欲查詢軌道系統(TRTC:臺北捷運,TYMC:桃園捷運,TMRT:臺中捷運)",
            "required": true,
            "type": "string",
            "enum": [
              "TRTC",
              "TYMC",
              "TMRT"
            ],
            "x-enum": {
              "TMRT": "臺中捷運",
              "TRTC": "臺北捷運",
              "KRTC": "高雄捷運",
              "TYMC": "桃園捷運"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Rail.Specification.V2.Metro.Frequency"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Rail/Metro/S2STravelTime/{RailSystem}": {
      "get": {
        "tags": [
          "Metro"
        ],
        "summary": "取得捷運列車站間運行時間資料",
        "description": "取得捷運列車站間運行時間資料",
        "operationId": "MetroApi_S2STravelTime_2101",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "RailSystem",
            "description": "欲查詢軌道系統(TRTC:臺北捷運,KRTC:高雄捷運,TYMC:桃園捷運,TMRT:臺中捷運,KLRT:高雄輕軌)",
            "required": true,
            "type": "string",
            "enum": [
              "TRTC",
              "KRTC",
              "TYMC",
              "KLRT",
              "TMRT"
            ],
            "x-enum": {
              "TRTC": "臺北捷運",
              "KRTC": "高雄捷運",
              "TMRT": "臺中捷運",
              "KLRT": "高雄輕軌",
              "TYMC": "桃園捷運"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Rail.Specification.V2.Metro.S2STravelTime"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Rail/Metro/ODFare/{RailSystem}": {
      "get": {
        "tags": [
          "Metro"
        ],
        "summary": "取得捷運起迄站間票價資料",
        "description": "取得捷運起迄站間票價資料",
        "operationId": "MetroApi_ODFare_2102",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "RailSystem",
            "description": "欲查詢軌道系統(TRTC:臺北捷運,KRTC:高雄捷運,TYMC:桃園捷運,TMRT:臺中捷運,KLRT:高雄輕軌,NTDLRT:淡海輕軌,TRTCMG:貓空纜車)",
            "required": true,
            "type": "string",
            "enum": [
              "TRTC",
              "KRTC",
              "TYMC",
              "KLRT",
              "NTDLRT",
              "TRTCMG",
              "TMRT"
            ],
            "x-enum": {
              "NTDLRT": "淡海輕軌",
              "KRTC": "高雄捷運",
              "TRTCMG": "貓空纜車",
              "TRTC": "臺北捷運",
              "TMRT": "臺中捷運",
              "KLRT": "高雄輕軌",
              "TYMC": "桃園捷運"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Rail.Specification.V2.Metro.ODFare"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Rail/Metro/LiveBoard/{RailSystem}": {
      "get": {
        "tags": [
          "Metro"
        ],
        "summary": "取得捷運車站別列車即時到離站電子看板資訊",
        "description": "取得捷運車站別列車即時到離站電子看板資訊",
        "operationId": "MetroApi_LiveBoard_2103",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "RailSystem",
            "description": "欲查詢軌道系統(KRTC:高雄捷運,KLRT:高雄輕軌)",
            "required": true,
            "type": "string",
            "enum": [
              "KRTC",
              "KLRT"
            ],
            "x-enum": {
              "KLRT": "高雄輕軌",
              "TRTC": "臺北捷運",
              "KRTC": "高雄捷運",
              "TYMC": "桃園捷運"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Rail.Specification.V2.Metro.LiveBoard"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Rail/Metro/StationTimeTable/{RailSystem}": {
      "get": {
        "tags": [
          "Metro"
        ],
        "summary": "取得捷運站別時刻表資料",
        "description": "取得捷運站別時刻表資料\r\n\r\n## 使用注意事項\r\n臺北捷運目前無提供文湖線站別時刻表，建議您可使用［取得捷運路線發車班距頻率資料］取得文湖線列車相關資訊。",
        "operationId": "MetroApi_StationTimeTable_2104",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "RailSystem",
            "description": "欲查詢軌道系統(TRTC:臺北捷運,KRTC:高雄捷運,TYMC:桃園捷運,KLRT:高雄輕軌,NTDLRT:淡海輕軌)",
            "required": true,
            "type": "string",
            "enum": [
              "TRTC",
              "KRTC",
              "TYMC",
              "KLRT",
              "NTDLRT"
            ],
            "x-enum": {
              "KRTC": "高雄捷運",
              "TYMC": "桃園捷運",
              "NTDLRT": "淡海輕軌",
              "KLRT": "高雄輕軌",
              "TRTC": "臺北捷運"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Rail.Specification.V2.Metro.StationTimeTable"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Rail/Metro/Shape/{RailSystem}": {
      "get": {
        "tags": [
          "Metro"
        ],
        "summary": "取得指定營運業者之軌道路網實體路線圖資資料",
        "description": "取得指定營運業者之軌道路網實體路線圖資資料",
        "operationId": "MetroApi_Shape_2105",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "RailSystem",
            "description": "欲查詢軌道系統(TRTC:臺北捷運,KRTC:高雄捷運,TYMC:桃園捷運,TMRT:臺中捷運,KLRT:高雄輕軌,NTDLRT:淡海輕軌)",
            "required": true,
            "type": "string",
            "enum": [
              "TRTC",
              "KRTC",
              "TYMC",
              "NTDLRT",
              "TMRT",
              "KLRT"
            ],
            "x-enum": {
              "TMRT": "臺中捷運",
              "KRTC": "高雄捷運",
              "NTDLRT": "淡海輕軌",
              "TYMC": "桃園捷運",
              "TRTC": "臺北捷運",
              "KLRT": "高雄輕軌"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Rail.Specification.V2.Metro.MetroShape"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Rail/Metro/News/{RailSystem}": {
      "get": {
        "tags": [
          "Metro"
        ],
        "summary": "取得最新消息",
        "description": "取得最新消息",
        "operationId": "MetroApi_News_2106",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "RailSystem",
            "description": "欲查詢軌道系統(TRTC:臺北捷運,KRTC:高雄捷運,TYMC:桃園捷運,KLRT:高雄輕軌)",
            "required": true,
            "type": "string",
            "enum": [
              "TYMC",
              "KRTC",
              "KLRT",
              "TRTC"
            ],
            "x-enum": {
              "KLRT": "高雄輕軌",
              "TRTC": "臺北捷運",
              "TYMC": "桃園捷運",
              "KRTC": "高雄捷運"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "查詢數量",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PTX.API.Rail.Model.MRTRealTimeWrapper[PTX.Service.DTO.Rail.Specification.V2.Metro.MRTNewsList.News]"
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Rail/Metro/Alert/{RailSystem}": {
      "get": {
        "tags": [
          "Metro"
        ],
        "summary": "取得營運通阻資料",
        "description": "取得營運通阻資料",
        "operationId": "MetroApi_Alert_2107",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "RailSystem",
            "description": "欲查詢軌道系統(TRTC:臺北捷運,KRTC:高雄捷運,TYMC:桃園捷運,KLRT:高雄輕軌)",
            "required": true,
            "type": "string",
            "enum": [
              "TYMC",
              "KRTC",
              "KLRT",
              "TRTC"
            ],
            "x-enum": {
              "TYMC": "桃園捷運",
              "TRTC": "臺北捷運",
              "KRTC": "高雄捷運",
              "KLRT": "高雄輕軌"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "查詢數量",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PTX.API.Rail.Model.MRTRealTimeWrapper[PTX.Service.DTO.Rail.Specification.V2.Metro.Alert]"
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Rail/THSR/Station": {
      "get": {
        "tags": [
          "THSR"
        ],
        "summary": "取得車站基本資料",
        "description": "取得車站基本資料",
        "operationId": "THSRApi_Station_2120",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Rail.Specification.V2.THSR.RailStation"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Rail/THSR/ODFare": {
      "get": {
        "tags": [
          "THSR"
        ],
        "summary": "取得票價資料",
        "description": "取得票價資料",
        "operationId": "THSRApi_ODFare_2121",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Rail.Specification.V2.THSR.RailODFare"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Rail/THSR/ODFare/{OriginStationID}/to/{DestinationStationID}": {
      "get": {
        "tags": [
          "THSR"
        ],
        "summary": "取得指定[起迄站間]之票價資料",
        "description": "取得指定[起迄站間]之票價資料",
        "operationId": "THSRApi_ODFare_2121_1",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "OriginStationID",
            "description": "起點車站代碼",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "DestinationStationID",
            "description": "迄點車站代碼",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Rail.Specification.V2.THSR.RailODFare"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Rail/THSR/GeneralTimetable": {
      "get": {
        "tags": [
          "THSR"
        ],
        "summary": "取得所有車次的定期時刻表資料",
        "description": "取得所有車次的定期時刻表資料",
        "operationId": "THSRApi_GeneralTimetable_2122",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Rail.Specification.V2.THSR.RailGeneralTimetable"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Rail/THSR/GeneralTimetable/TrainNo/{TrainNo}": {
      "get": {
        "tags": [
          "THSR"
        ],
        "summary": "取得指定[車次]的定期時刻表資料",
        "description": "取得指定[車次]的定期時刻表資料",
        "operationId": "THSRApi_GeneralTimetable_2122_1",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "TrainNo",
            "description": "欲查詢車次的代碼",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Rail.Specification.V2.THSR.RailGeneralTimetable"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Rail/THSR/DailyTrainInfo/Today": {
      "get": {
        "tags": [
          "THSR"
        ],
        "summary": "取得當天所有車次的車次資料",
        "description": "取得當天所有車次的車次資料",
        "operationId": "THSRApi_DailyTrainInfo_2123",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Rail.Specification.V2.THSR.RailDailyTrainInfo"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Rail/THSR/DailyTrainInfo/Today/TrainNo/{TrainNo}": {
      "get": {
        "tags": [
          "THSR"
        ],
        "summary": "取得當天指定[車次]的車次資料",
        "description": "取得當天指定[車次]的車次資料",
        "operationId": "THSRApi_DailyTrainInfo_2123_1",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "TrainNo",
            "description": "欲查詢車次的代碼",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Rail.Specification.V2.THSR.RailDailyTrainInfo"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Rail/THSR/DailyTrainInfo/TrainDate/{TrainDate}": {
      "get": {
        "tags": [
          "THSR"
        ],
        "summary": "取得指定[日期]所有車次的車次資料",
        "description": "取得指定[日期]所有車次的車次資料",
        "operationId": "THSRApi_DailyTrainInfo_2123_2",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "TrainDate",
            "description": "欲查詢車次的日期(格式: yyyy-MM-dd)",
            "required": true,
            "type": "string",
            "format": "date-time",
            "pattern": "\\d\\d\\d\\d\\-\\d\\d\\-\\d\\d"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Rail.Specification.V2.THSR.RailDailyTrainInfo"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Rail/THSR/DailyTrainInfo/TrainNo/{TrainNo}/TrainDate/{TrainDate}": {
      "get": {
        "tags": [
          "THSR"
        ],
        "summary": "取得指定[日期],[車次]的車次資料",
        "description": "取得指定[日期],[車次]的車次資料",
        "operationId": "THSRApi_DailyTrainInfo_2123_3",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "TrainNo",
            "description": "欲查詢車次的代碼",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "TrainDate",
            "description": "欲查詢車次的日期(格式: yyyy-MM-dd)",
            "required": true,
            "type": "string",
            "format": "date-time",
            "pattern": "\\d\\d\\d\\d\\-\\d\\d\\-\\d\\d"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Rail.Specification.V2.THSR.RailDailyTrainInfo"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Rail/THSR/DailyTimetable/Today": {
      "get": {
        "tags": [
          "THSR"
        ],
        "summary": "取得當天所有車次的時刻表資料",
        "description": "取得當天所有車次的時刻表資料",
        "operationId": "THSRApi_DailyTimetable_2124",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Rail.Specification.V2.THSR.RailDailyTimetable"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Rail/THSR/DailyTimetable/Today/TrainNo/{TrainNo}": {
      "get": {
        "tags": [
          "THSR"
        ],
        "summary": "取得當天指定[車次]的時刻表資料",
        "description": "取得當天指定[車次]的時刻表資料",
        "operationId": "THSRApi_DailyTimetable_2124_1",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "TrainNo",
            "description": "欲查詢車次的代碼",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Rail.Specification.V2.THSR.RailDailyTimetable"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Rail/THSR/DailyTimetable/TrainDates": {
      "get": {
        "tags": [
          "THSR"
        ],
        "summary": "取得高鐵每日時刻表所有供應的日期資料",
        "description": "取得高鐵每日時刻表所有供應的日期資料",
        "operationId": "THSRApi_DailyTimetable_2124_2",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Rail.Specification.V2.THSR.TrainDateList"
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Rail/THSR/DailyTimetable/TrainDate/{TrainDate}": {
      "get": {
        "tags": [
          "THSR"
        ],
        "summary": "取得指定[日期]所有車次的時刻表資料",
        "description": "取得指定[日期]所有車次的時刻表資料",
        "operationId": "THSRApi_DailyTimetable_2124_3",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "TrainDate",
            "description": "欲查詢的日期(格式: yyyy-MM-dd)",
            "required": true,
            "type": "string",
            "format": "date-time",
            "pattern": "\\d\\d\\d\\d\\-\\d\\d\\-\\d\\d"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Rail.Specification.V2.THSR.RailDailyTimetable"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Rail/THSR/DailyTimetable/TrainNo/{TrainNo}/TrainDate/{TrainDate}": {
      "get": {
        "tags": [
          "THSR"
        ],
        "summary": "取得指定[日期],[車次]的時刻表資料",
        "description": "取得指定[日期],[車次]的時刻表資料",
        "operationId": "THSRApi_DailyTimetable_2124_4",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "TrainNo",
            "description": "欲查詢車次的代碼",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "TrainDate",
            "description": "欲查詢的日期(格式: yyyy-MM-dd)",
            "required": true,
            "type": "string",
            "format": "date-time",
            "pattern": "\\d\\d\\d\\d\\-\\d\\d\\-\\d\\d"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Rail.Specification.V2.THSR.RailDailyTimetable"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Rail/THSR/DailyTimetable/Station/{StationID}/{TrainDate}": {
      "get": {
        "tags": [
          "THSR"
        ],
        "summary": "取得指定[日期],[車站]的站別時刻表資料",
        "description": "取得指定[日期],[車站]的站別時刻表資料",
        "operationId": "THSRApi_StationTimetable_2125",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "StationID",
            "description": "車站代號",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "TrainDate",
            "description": "時刻表日期(格式: yyyy-MM-dd)",
            "required": true,
            "type": "string",
            "format": "date-time",
            "pattern": "\\d\\d\\d\\d\\-\\d\\d\\-\\d\\d"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Rail.Specification.V2.THSR.RailStationTimetable"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Rail/THSR/DailyTimetable/OD/{OriginStationID}/to/{DestinationStationID}/{TrainDate}": {
      "get": {
        "tags": [
          "THSR"
        ],
        "summary": "取得指定[日期],[起迄站間]之時刻表資料",
        "description": "取得指定[日期],[起迄站間]之時刻表資料",
        "operationId": "THSRApi_ODDailyTimetable_2126",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "OriginStationID",
            "description": "起點車站代碼",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "DestinationStationID",
            "description": "迄點車站代碼",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "TrainDate",
            "description": "欲查詢的日期(格式: yyyy-MM-dd)",
            "required": true,
            "type": "string",
            "format": "date-time",
            "pattern": "\\d\\d\\d\\d\\-\\d\\d\\-\\d\\d"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Rail.Specification.V2.THSR.RailODDailyTimetable"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Rail/THSR/AlertInfo": {
      "get": {
        "tags": [
          "THSR"
        ],
        "summary": "取得即時通阻事件資料",
        "description": "取得即時通阻事件資料",
        "operationId": "THSRApi_AlertInfo_2127",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
[...]
