{
  "swagger": "2.0",
  "info": {
    "title": "MOTC Transport API V2",
    "description": "本平臺提供涵蓋全國尺度之公車、臺鐵、高鐵、捷運、航空、自行車等公共運輸旅運資料服務API，歡迎各產政學單位介接使用。\n                                                    <br><span class=swagger-description-indicatation>利用本平臺開放資料進行各項應用服務開發時，請考量不同特性使用者(如:性別/身心障礙/老幼等)的需求，並歡迎回饋寶貴意見。</span>\n                                                    <br><br>資料使用葵花寶典:[請點我](https://motc-ptx-api-documentation.gitbook.io/motc-ptx-api-documentation/)\n                                                    <br>資料服務開發實作參考手冊:[請點我](https://docs.google.com/viewer?url=https://github.com/ptxmotc/PTX_Web/blob/master/Swagger%E6%9C%8D%E5%8B%99%E8%AA%AA%E6%98%8E%E4%B8%8A%E5%82%B3%E5%8F%83%E8%80%83%E6%AA%94%E6%A1%88/%E5%85%AC%E5%85%B1%E9%81%8B%E8%BC%B8%E6%95%B4%E5%90%88%E8%B3%87%E8%A8%8A%E5%B9%B3%E5%8F%B0%E8%B3%87%E6%96%99%E6%9C%8D%E5%8B%99%E9%96%8B%E7%99%BC%E5%AF%A6%E4%BD%9C.pdf?raw=true)\n                                                    <br>API URI Convention文件說明:[請點我](https://docs.google.com/viewer?url=https://github.com/ptxmotc/PTX_Web/blob/master/Swagger%E6%9C%8D%E5%8B%99%E8%AA%AA%E6%98%8E%E4%B8%8A%E5%82%B3%E5%8F%83%E8%80%83%E6%AA%94%E6%A1%88/API_URI_Convention%E6%96%87%E4%BB%B6_v1.pdf?raw=true)<br>資料文本OAS描述:[請點我](https://ptx.transportdata.tw/MOTC/v2/Tourism/api-docs/oas)",
    "version": "v2"
  },
  "host": "ptx.transportdata.tw",
  "basePath": "/MOTC",
  "schemes": [
    "https"
  ],
  "paths": {
    "/v2/Tourism/ScenicSpot": {
      "get": {
        "tags": [
          "Tourism"
        ],
        "summary": "取得所有觀光景點資料",
        "description": "取得所有觀光景點資料",
        "operationId": "TourismApi_ScenicSpot",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$spatialFilter",
            "description": "空間過濾，語法為nearby({Lat},{Lon},{DistanceInMeters})，例如nearby(25.047675, 121.517055, 100)",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Tourism.Specification.V2.ScenicSpotTourismInfo"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Tourism/ScenicSpot/{City}": {
      "get": {
        "tags": [
          "Tourism"
        ],
        "summary": "取得指定[縣市]觀光景點資料",
        "description": "取得指定[縣市]觀光景點資料",
        "operationId": "TourismApi_ScenicSpot_0",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "description": "縣市名稱",
            "required": true,
            "type": "string",
            "enum": [
              "Taipei",
              "NewTaipei",
              "Taoyuan",
              "Taichung",
              "Tainan",
              "Kaohsiung",
              "Keelung",
              "Hsinchu",
              "HsinchuCounty",
              "MiaoliCounty",
              "ChanghuaCounty",
              "NantouCounty",
              "YunlinCounty",
              "ChiayiCounty",
              "Chiayi",
              "PingtungCounty",
              "YilanCounty",
              "HualienCounty",
              "TaitungCounty",
              "KinmenCounty",
              "PenghuCounty",
              "LienchiangCounty"
            ],
            "x-enum": {
              "Taichung": "臺中市",
              "MiaoliCounty": "苗栗縣",
              "Keelung": "基隆市",
              "Taoyuan": "桃園市",
              "PingtungCounty": "屏東縣",
              "YunlinCounty": "雲林縣",
              "ChanghuaCounty": "彰化縣",
              "Chiayi": "嘉義市",
              "NewTaipei": "新北市",
              "TaitungCounty": "臺東縣",
              "HualienCounty": "花蓮縣",
              "Taipei": "臺北市",
              "LienchiangCounty": "連江縣",
              "Kaohsiung": "高雄市",
              "Tainan": "臺南市",
              "HsinchuCounty": "新竹縣",
              "ChiayiCounty": "嘉義縣",
              "NantouCounty": "南投縣",
              "Hsinchu": "新竹市",
              "YilanCounty": "宜蘭縣",
              "KinmenCounty": "金門縣",
              "PenghuCounty": "澎湖縣"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$spatialFilter",
            "description": "空間過濾，語法為nearby({Lat},{Lon},{DistanceInMeters})，例如nearby(25.047675, 121.517055, 100)",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Tourism.Specification.V2.ScenicSpotTourismInfo"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Tourism/Restaurant": {
      "get": {
        "tags": [
          "Tourism"
        ],
        "summary": "取得所有觀光餐飲資料",
        "description": "取得所有觀光餐飲資料",
        "operationId": "TourismApi_Restaurant",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$spatialFilter",
            "description": "空間過濾，語法為nearby({Lat},{Lon},{DistanceInMeters})，例如nearby(25.047675, 121.517055, 100)",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Tourism.Specification.V2.RestaurantTourismInfo"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Tourism/Restaurant/{City}": {
      "get": {
        "tags": [
          "Tourism"
        ],
        "summary": "取得指定[縣市]觀光餐飲資料",
        "description": "取得指定[縣市]觀光餐飲資料",
        "operationId": "TourismApi_Restaurant_0",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "description": "縣市名稱",
            "required": true,
            "type": "string",
            "enum": [
              "Taipei",
              "NewTaipei",
              "Taoyuan",
              "Taichung",
              "Tainan",
              "Kaohsiung",
              "Keelung",
              "Hsinchu",
              "HsinchuCounty",
              "MiaoliCounty",
              "ChanghuaCounty",
              "NantouCounty",
              "YunlinCounty",
              "ChiayiCounty",
              "Chiayi",
              "PingtungCounty",
              "YilanCounty",
              "HualienCounty",
              "TaitungCounty",
              "KinmenCounty",
              "PenghuCounty",
              "LienchiangCounty"
            ],
            "x-enum": {
              "HsinchuCounty": "新竹縣",
              "ChanghuaCounty": "彰化縣",
              "LienchiangCounty": "連江縣",
              "ChiayiCounty": "嘉義縣",
              "Chiayi": "嘉義市",
              "TaitungCounty": "臺東縣",
              "HualienCounty": "花蓮縣",
              "Hsinchu": "新竹市",
              "Kaohsiung": "高雄市",
              "NantouCounty": "南投縣",
              "PingtungCounty": "屏東縣",
              "Taipei": "臺北市",
              "PenghuCounty": "澎湖縣",
              "NewTaipei": "新北市",
              "Taoyuan": "桃園市",
              "Taichung": "臺中市",
              "Tainan": "臺南市",
              "MiaoliCounty": "苗栗縣",
              "YunlinCounty": "雲林縣",
              "Keelung": "基隆市",
              "YilanCounty": "宜蘭縣",
              "KinmenCounty": "金門縣"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$spatialFilter",
            "description": "空間過濾，語法為nearby({Lat},{Lon},{DistanceInMeters})，例如nearby(25.047675, 121.517055, 100)",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Tourism.Specification.V2.RestaurantTourismInfo"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Tourism/Hotel": {
      "get": {
        "tags": [
          "Tourism"
        ],
        "summary": "取得所有觀光旅宿資料",
        "description": "取得所有觀光旅宿資料",
        "operationId": "TourismApi_Hotel",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$spatialFilter",
            "description": "空間過濾，語法為nearby({Lat},{Lon},{DistanceInMeters})，例如nearby(25.047675, 121.517055, 100)",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Tourism.Specification.V2.HotelTourismInfo"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Tourism/Hotel/{City}": {
      "get": {
        "tags": [
          "Tourism"
        ],
        "summary": "取得指定[縣市]觀光旅宿資料",
        "description": "取得指定[縣市]觀光旅宿資料",
        "operationId": "TourismApi_Hotel_0",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "description": "縣市名稱",
            "required": true,
            "type": "string",
            "enum": [
              "Taipei",
              "NewTaipei",
              "Taoyuan",
              "Taichung",
              "Tainan",
              "Kaohsiung",
              "Keelung",
              "Hsinchu",
              "HsinchuCounty",
              "MiaoliCounty",
              "ChanghuaCounty",
              "NantouCounty",
              "YunlinCounty",
              "ChiayiCounty",
              "Chiayi",
              "PingtungCounty",
              "YilanCounty",
              "HualienCounty",
              "TaitungCounty",
              "KinmenCounty",
              "PenghuCounty",
              "LienchiangCounty"
            ],
            "x-enum": {
              "Taipei": "臺北市",
              "Tainan": "臺南市",
              "YunlinCounty": "雲林縣",
              "ChiayiCounty": "嘉義縣",
              "TaitungCounty": "臺東縣",
              "Kaohsiung": "高雄市",
              "Keelung": "基隆市",
              "NantouCounty": "南投縣",
              "YilanCounty": "宜蘭縣",
              "LienchiangCounty": "連江縣",
              "KinmenCounty": "金門縣",
              "HsinchuCounty": "新竹縣",
              "MiaoliCounty": "苗栗縣",
              "HualienCounty": "花蓮縣",
              "Taoyuan": "桃園市",
              "Taichung": "臺中市",
              "Hsinchu": "新竹市",
              "NewTaipei": "新北市",
              "Chiayi": "嘉義市",
              "PingtungCounty": "屏東縣",
              "ChanghuaCounty": "彰化縣",
              "PenghuCounty": "澎湖縣"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$spatialFilter",
            "description": "空間過濾，語法為nearby({Lat},{Lon},{DistanceInMeters})，例如nearby(25.047675, 121.517055, 100)",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Tourism.Specification.V2.HotelTourismInfo"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Tourism/Activity": {
      "get": {
        "tags": [
          "Tourism"
        ],
        "summary": "取得所有觀光活動資料",
        "description": "取得所有觀光活動資料",
        "operationId": "TourismApi_Activity",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$spatialFilter",
            "description": "空間過濾，語法為nearby({Lat},{Lon},{DistanceInMeters})，例如nearby(25.047675, 121.517055, 100)",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Tourism.Specification.V2.ActivityTourismInfo"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Tourism/Activity/{City}": {
      "get": {
        "tags": [
          "Tourism"
        ],
        "summary": "取得指定[縣市]觀光活動資料",
        "description": "取得指定[縣市]觀光活動資料",
        "operationId": "TourismApi_Activity_0",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "description": "縣市名稱",
            "required": true,
            "type": "string",
            "enum": [
              "Taipei",
              "NewTaipei",
              "Taoyuan",
              "Taichung",
              "Tainan",
              "Kaohsiung",
              "Keelung",
              "Hsinchu",
              "HsinchuCounty",
              "MiaoliCounty",
              "ChanghuaCounty",
              "NantouCounty",
              "YunlinCounty",
              "ChiayiCounty",
              "Chiayi",
              "PingtungCounty",
              "YilanCounty",
              "HualienCounty",
              "TaitungCounty",
              "KinmenCounty",
              "PenghuCounty",
              "LienchiangCounty"
            ],
            "x-enum": {
              "Taipei": "臺北市",
              "Tainan": "臺南市",
              "YunlinCounty": "雲林縣",
              "ChiayiCounty": "嘉義縣",
              "TaitungCounty": "臺東縣",
              "Kaohsiung": "高雄市",
              "Keelung": "基隆市",
              "NantouCounty": "南投縣",
              "YilanCounty": "宜蘭縣",
              "LienchiangCounty": "連江縣",
              "KinmenCounty": "金門縣",
              "HsinchuCounty": "新竹縣",
              "MiaoliCounty": "苗栗縣",
              "HualienCounty": "花蓮縣",
              "Taoyuan": "桃園市",
              "Taichung": "臺中市",
              "Hsinchu": "新竹市",
              "NewTaipei": "新北市",
              "Chiayi": "嘉義市",
              "PingtungCounty": "屏東縣",
              "ChanghuaCounty": "彰化縣",
              "PenghuCounty": "澎湖縣"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$spatialFilter",
            "description": "空間過濾，語法為nearby({Lat},{Lon},{DistanceInMeters})，例如nearby(25.047675, 121.517055, 100)",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Tourism.Specification.V2.ActivityTourismInfo"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Tourism/Bus/RealTimeByFrequency/TaiwanTrip": {
      "get": {
        "tags": [
          "Tourism"
        ],
        "summary": "取得台灣好行公車的動態定時資料(A1)",
        "description": "取得台灣好行公車的動態定時資料(A1)",
        "operationId": "TaiwanTripBusApi_RealTimeByFrequency",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Tourism.Specification.V2.BusA1Data"
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Tourism/Bus/RealTimeByFrequency/TaiwanTrip/{TaiwanTripName}": {
      "get": {
        "tags": [
          "Tourism"
        ],
        "summary": "取得指定[路線名稱]的台灣好行公車的動態定時資料(A1)",
        "description": "取得指定[路線名稱]的台灣好行公車的動態定時資料(A1)",
        "operationId": "TaiwanTripBusApi_RealTimeByFrequency_1",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "TaiwanTripName",
            "description": "台灣好行繁體中文路線名稱，如'黃金福隆線'",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Tourism.Specification.V2.BusA1Data"
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Tourism/Bus/RealTimeNearStop/TaiwanTrip": {
      "get": {
        "tags": [
          "Tourism"
        ],
        "summary": "取得台灣好行公車的動態定點資料(A2)",
        "description": "取得台灣好行公車的動態定點資料(A2)",
        "operationId": "TaiwanTripBusApi_RealTimeNearStop",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Tourism.Specification.V2.BusA2Data"
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Tourism/Bus/RealTimeNearStop/TaiwanTrip/{TaiwanTripName}": {
      "get": {
        "tags": [
          "Tourism"
        ],
        "summary": "取得指定[路線名稱]的台灣好行公車的動態定點資料(A2)",
        "description": "取得指定[路線名稱]的台灣好行公車的動態定點資料(A2)",
        "operationId": "TaiwanTripBusApi_RealTimeNearStop_1",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "TaiwanTripName",
            "description": "台灣好行繁體中文路線名稱，如'黃金福隆線'",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Tourism.Specification.V2.BusA2Data"
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Tourism/Bus/EstimatedTimeOfArrival/TaiwanTrip": {
      "get": {
        "tags": [
          "Tourism"
        ],
        "summary": "取得台灣好行公車的預估到站資料(N1)",
        "description": "取得台灣好行公車的預估到站資料(N1)",
        "operationId": "TaiwanTripBusApi_EstimatedTimeOfArrival",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Tourism.Specification.V2.BusN1EstimateTime"
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Tourism/Bus/EstimatedTimeOfArrival/TaiwanTrip/{TaiwanTripName}": {
      "get": {
        "tags": [
          "Tourism"
        ],
        "summary": "取得指定[路線名稱]的台灣好行公車的預估到站資料(N1)",
        "description": "取得指定[路線名稱]的台灣好行公車的預估到站資料(N1)",
        "operationId": "TaiwanTripBusApi_EstimatedTimeOfArrival_1",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "TaiwanTripName",
            "description": "台灣好行繁體中文路線名稱，如'黃金福隆線'",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Tourism.Specification.V2.BusN1EstimateTime"
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Tourism/Bus/Route/TaiwanTrip": {
      "get": {
        "tags": [
          "Tourism"
        ],
        "summary": "取得台灣好行公車路線資料",
        "description": "取得台灣好行公車路線資料",
        "operationId": "TaiwanTripBusApi_Route",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Tourism.Specification.V2.BusRoute"
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Tourism/Bus/Route/TaiwanTrip/{TaiwanTripName}": {
      "get": {
        "tags": [
          "Tourism"
        ],
        "summary": "取得指定[路線名稱]的台灣好行公車路線資料",
        "description": "取得指定[路線名稱]的台灣好行公車路線資料",
        "operationId": "TaiwanTripBusApi_Route_1",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "TaiwanTripName",
            "description": "台灣好行繁體中文路線名稱，如'黃金福隆線'",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Tourism.Specification.V2.BusRoute"
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Tourism/Bus/StopOfRoute/TaiwanTrip": {
      "get": {
        "tags": [
          "Tourism"
        ],
        "summary": "取得台灣好行公車路線與站牌資料",
        "description": "取得台灣好行公車路線與站牌資料",
        "operationId": "TaiwanTripBusApi_StopOfRoute",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Tourism.Specification.V2.BusStopOfRoute"
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Tourism/Bus/StopOfRoute/TaiwanTrip/{TaiwanTripName}": {
      "get": {
        "tags": [
          "Tourism"
        ],
        "summary": "取得指定[路線名稱]的台灣好行公車路線與站牌資料",
        "description": "取得指定[路線名稱]的台灣好行公車路線與站牌資料",
        "operationId": "TaiwanTripBusApi_StopOfRoute_1",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "TaiwanTripName",
            "description": "台灣好行繁體中文路線名稱，如'黃金福隆線'",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Tourism.Specification.V2.BusStopOfRoute"
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Tourism/Bus/Schedule/TaiwanTrip": {
      "get": {
        "tags": [
          "Tourism"
        ],
        "summary": "取得台灣好行公車路線班表資料",
        "description": "取得台灣好行公車路線班表資料",
        "operationId": "TaiwanTripBusApi_Schedule",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Tourism.Specification.V2.BusSchedule"
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Tourism/Bus/Schedule/TaiwanTrip/{TaiwanTripName}": {
      "get": {
        "tags": [
          "Tourism"
        ],
        "summary": "取得指定[路線名稱]的台灣好行公車路線班表資料",
        "description": "取得指定[路線名稱]的台灣好行公車路線班表資料",
        "operationId": "TaiwanTripBusApi_Schedule_1",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "TaiwanTripName",
            "description": "台灣好行繁體中文路線名稱，如'黃金福隆線'",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Tourism.Specification.V2.BusSchedule"
              }
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Tourism/Bus/Shape/TaiwanTrip": {
      "get": {
        "tags": [
          "Tourism"
        ],
        "summary": "取得台灣好行公車線型資料",
        "description": "取得台灣好行公車線型資料",
        "operationId": "TaiwanTripBusApi_Shape",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Tourism.Specification.V2.BusTaiwanTripShape"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Tourism/Bus/Shape/TaiwanTrip/{TaiwanTripName}": {
      "get": {
        "tags": [
          "Tourism"
        ],
        "summary": "取得指定[路線名稱]的台灣好行公車線型資料",
        "description": "取得指定[路線名稱]的台灣好行公車線型資料",
        "operationId": "TaiwanTripBusApi_Shape_1",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "TaiwanTripName",
            "description": "台灣好行繁體中文路線名稱，如'黃金福隆線'",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Tourism.Specification.V2.BusTaiwanTripShape"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Tourism/Bus/S2TravelTime/TaiwanTrip": {
      "get": {
        "tags": [
          "Tourism"
        ],
        "summary": "取得台灣好行公車路線站間旅行時間基本資料",
        "description": "取得台灣好行公車路線站間旅行時間基本資料",
        "operationId": "TaiwanTripBusApi_S2TravelTime",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Tourism.Specification.V2.BusTaiwanTripS2STravelTime"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Tourism/Bus/News/TaiwanTrip": {
      "get": {
        "tags": [
          "Tourism"
        ],
        "summary": "取得台灣好行公車之最新消息",
        "description": "取得台灣好行公車之最新消息",
        "operationId": "TaiwanTripBusApi_News",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Tourism.Specification.V2.BusTaiwanTripNews"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "PTX.Service.DTO.Shared.Specification.V2.Base.NameType": {
      "title": "NameType",
      "description": "名稱資料型別",
      "type": "object",
      "properties": {
        "Zh_tw": {
          "title": "String",
          "description": "中文繁體名稱",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "En": {
          "title": "String",
          "description": "英文名稱",
          "type": "string",
          "xml": {
            "name": "String"
          }
        }
      },
      "xml": {
        "name": "NameType"
      }
    },
    "PTX.Service.DTO.Shared.Specification.V2.Base.PointType": {
      "title": "PointType",
      "description": "座標資料型別",
      "type": "object",
      "properties": {
        "PositionLon": {
          "format": "double",
          "description": "位置經度(WGS84)",
          "type": "number"
        },
        "PositionLat": {
          "format": "double",
          "description": "位置緯度(WGS84)",
          "type": "number"
        },
        "GeoHash": {
          "title": "String",
          "description": "地理空間編碼",
          "type": "string",
          "xml": {
            "name": "String"
          }
        }
      },
      "xml": {
        "name": "PointType"
      }
    },
    "PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth": {
      "title": "DisplayHealth",
      "description": "API服務健康狀態",
      "required": [
        "ServiceID",
        "ServiceName"
      ],
      "type": "object",
      "properties": {
        "ServiceID": {
          "title": "String",
          "description": "API服務代碼",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "ServiceName": {
          "title": "String",
          "description": "API服務中文名稱",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "Inbound": {
          "title": "Inbound",
          "description": "本平台資料來源轉入狀態",
          "allOf": [
            {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.Inbound"
            }
          ],
          "xml": {
            "name": "Inbound"
          }
        },
        "Outbound": {
          "title": "Outbound",
          "description": "本平台API狀態",
          "allOf": [
            {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.Outbound"
            }
          ],
          "xml": {
            "name": "Outbound"
          }
        }
      },
      "xml": {
        "name": "DisplayHealth"
      }
    },
    "PTX.Service.DTO.Shared.Specification.V3.Base.Inbound": {
      "title": "Inbound",
      "description": "本平台資料來源轉入狀態",
      "required": [
        "CheckTime",
        "Status"
      ],
      "type": "object",
      "properties": {
        "CheckTime": {
          "format": "date-time",
          "title": "DateTime",
          "description": "檢核時間",
          "type": "string"
        },
        "Status": {
          "title": "Int32",
          "description": "檢核結果狀態 : [0:'失敗',1:'成功']",
          "type": "integer"
        },
        "Reason": {
          "title": "String",
          "description": "檢核失敗原因",
          "type": "string",
          "xml": {
            "name": "String"
          }
        }
      },
      "xml": {
        "name": "Inbound"
      }
    },
    "PTX.Service.DTO.Shared.Specification.V3.Base.Outbound": {
      "title": "Outbound",
      "description": "本平台API狀態",
      "required": [
        "CheckTime",
        "Status"
      ],
      "type": "object",
      "properties": {
        "CheckTime": {
          "format": "date-time",
          "title": "DateTime",
          "description": "檢核時間",
          "type": "string"
        },
        "Status": {
          "title": "Int32",
          "description": "檢核結果狀態 : [0:'失敗',1:'成功']",
          "type": "integer"
        },
        "Reason": {
          "title": "String",
          "description": "檢核失敗原因",
          "type": "string",
          "xml": {
            "name": "String"
          }
        }
      },
      "xml": {
        "name": "Outbound"
      }
    },
    "PTX.Service.DTO.Tourism.Specification.V2.ActivityTourismInfo": {
      "title": "ActivityTourismInfo",
      "description": "取得觀光活動資料",
      "required": [
        "ID",
        "SrcUpdateTime",
        "UpdateTime"
      ],
      "type": "object",
      "properties": {
        "ID": {
          "title": "String",
          "description": "活動訊息代碼",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "Name": {
          "title": "String",
          "description": "活動名稱",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "Description": {
          "title": "String",
          "description": "活動簡述",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "Particpation": {
          "title": "String",
          "description": "活動參與對象",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "Location": {
          "title": "String",
          "description": "主要活動地點名稱",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "Address": {
          "title": "String",
          "description": "主要活動地點地址",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "Phone": {
          "title": "String",
          "description": "活動聯絡電話",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "Organizer": {
          "title": "String",
          "description": "活動主辦單位",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "StartTime": {
          "format": "date-time",
          "description": "活動開始時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "EndTime": {
          "format": "date-time",
          "description": "活動結束時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "Cycle": {
          "title": "String",
          "description": "週期性活動執行時間",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "NonCycle": {
          "title": "String",
          "description": "非週期性活動執行時間",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "WebsiteUrl": {
          "title": "String",
          "description": "活動網址",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "Picture": {
          "title": "TourismPicture",
          "description": "活動照片",
          "allOf": [
            {
              "$ref": "#/definitions/PTX.Service.DTO.Tourism.Specification.V2.TourismPicture"
            }
          ],
          "xml": {
            "name": "TourismPicture"
          }
        },
        "Position": {
          "title": "PointType",
          "description": "活動位置",
          "allOf": [
            {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V2.Base.PointType"
            }
          ],
          "xml": {
            "name": "PointType"
          }
        },
        "Class1": {
          "title": "String",
          "description": "活動分類1",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "Class2": {
          "title": "String",
          "description": "活動分類2",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "MapUrl": {
          "title": "String",
          "description": "活動地圖/簡圖連結網址",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "TravelInfo": {
          "title": "String",
          "description": "交通資訊",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "ParkingInfo": {
          "title": "String",
          "description": "停車資訊",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "Charge": {
          "title": "String",
          "description": "費用標示",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "Remarks": {
          "title": "String",
          "description": "備註(其他活動相關事項)",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "City": {
          "title": "String",
          "description": "所屬縣市",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "SrcUpdateTime": {
          "format": "date-time",
          "description": "觀光局檔案更新時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "UpdateTime": {
          "format": "date-time",
          "description": "本平台資料更新時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        }
      },
      "xml": {
        "name": "ActivityTourismInfo"
      }
    },
    "PTX.Service.DTO.Tourism.Specification.V2.BusA1Data": {
      "title": "BusA1Data",
      "description": "定時車機資料型別",
      "required": [
        "Azimuth",
        "BusStatus",
        "DutyStatus",
        "GPSTime",
        "PlateNumb",
        "Speed",
        "UpdateTime"
      ],
      "type": "object",
      "properties": {
        "PlateNumb": {
          "title": "String",
          "description": "車牌號碼",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "OperatorID": {
          "title": "String",
          "description": "營運業者代碼",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "RouteUID": {
          "title": "String",
          "description": "路線唯一識別代碼，規則為 {業管機關代碼} + {RouteID}，其中 {業管機關代碼} 可於Authority API中的AuthorityCode欄位查詢",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "RouteID": {
          "title": "String",
          "description": "地區既用中之路線代碼(為原資料內碼)",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "TaiwanTripName": {
          "title": "NameType",
          "description": "台灣好行路線名稱",
          "allOf": [
            {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V2.Base.NameType"
            }
          ],
          "xml": {
            "name": "NameType"
          }
        },
        "SubRouteUID": {
          "title": "String",
          "description": "子路線唯一識別代碼，規則為 {業管機關代碼} + {SubRouteID}，其中 {業管機關代碼} 可於Authority API中的AuthorityCode欄位查詢",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "SubRouteID": {
          "title": "String",
          "description": "地區既用中之子路線代碼(為原資料內碼)",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "SubRouteName": {
          "title": "NameType",
          "description": "子路線名稱",
          "allOf": [
            {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V2.Base.NameType"
            }
          ],
          "xml": {
            "name": "NameType"
          }
        },
        "Direction": {
          "title": "Int32",
          "description": "去返程 : [0:'去程',1:'返程',2:'迴圈',255:'未知']",
          "type": "integer"
        },
        "BusPosition": {
          "title": "PointType",
          "description": "車輛位置經度",
          "allOf": [
            {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V2.Base.PointType"
            }
          ],
          "xml": {
            "name": "PointType"
          }
        },
        "Speed": {
          "format": "double",
          "description": "行駛速度(kph)",
          "type": "number"
        },
        "Azimuth": {
          "format": "double",
          "description": "方位角",
          "type": "number"
        },
        "DutyStatus": {
          "title": "Int32",
          "description": "勤務狀態 : [0:'正常',1:'開始',2:'結束']",
          "type": "integer"
        },
        "BusStatus": {
          "title": "Int32",
          "description": "行車狀況 : [0:'正常',1:'車禍',2:'故障',3:'塞車',4:'緊急求援',5:'加油',90:'不明',91:'去回不明',98:'偏移路線',99:'非營運狀態',100:'客滿',101:'包車出租',255:'未知']",
          "type": "integer"
        },
        "MessageType": {
          "title": "Int32",
          "description": "資料型態種類 : [0:'未知',1:'定期',2:'非定期']",
          "type": "integer"
        },
        "GPSTime": {
          "format": "date-time",
          "title": "DateTime",
          "description": "車機時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "TransTime": {
          "format": "date-time",
          "description": "車機資料傳輸時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "SrcRecTime": {
          "format": "date-time",
          "description": "來源端平台接收時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "SrcUpdateTime": {
          "format": "date-time",
          "description": "來源端平台資料更新時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "UpdateTime": {
          "format": "date-time",
          "title": "DateTime",
          "description": "本平台資料更新時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        }
      },
      "xml": {
        "name": "BusA1Data"
      }
    },
    "PTX.Service.DTO.Tourism.Specification.V2.BusA2Data": {
      "title": "BusA2Data",
      "description": "定點車機資料型別",
      "required": [
        "Direction",
        "GPSTime",
        "PlateNumb",
        "UpdateTime"
      ],
      "type": "object",
      "properties": {
        "PlateNumb": {
          "title": "String",
          "description": "車牌號碼",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "OperatorID": {
          "title": "String",
          "description": "營運業者代碼",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "RouteUID": {
          "title": "String",
          "description": "路線唯一識別代碼，規則為 {業管機關代碼} + {RouteID}，其中 {業管機關代碼} 可於Authority API中的AuthorityCode欄位查詢",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "RouteID": {
          "title": "String",
          "description": "地區既用中之路線代碼(為原資料內碼)",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "TaiwanTripName": {
          "title": "NameType",
          "description": "台灣好行路線名稱",
          "allOf": [
            {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V2.Base.NameType"
            }
          ],
          "xml": {
            "name": "NameType"
          }
        },
        "SubRouteUID": {
          "title": "String",
          "description": "子路線唯一識別代碼，規則為 {業管機關代碼} + {SubRouteID}，其中 {業管機關代碼} 可於Authority API中的AuthorityCode欄位查詢",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "SubRouteID": {
          "title": "String",
          "description": "地區既用中之子路線代碼(為原資料內碼)",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "SubRouteName": {
          "title": "NameType",
          "description": "子路線名稱",
          "allOf": [
            {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V2.Base.NameType"
            }
          ],
          "xml": {
            "name": "NameType"
          }
        },
        "Direction": {
          "title": "Int32",
          "description": "去返程 : [0:'去程',1:'返程',2:'迴圈',255:'未知']",
          "type": "integer"
        },
        "StopUID": {
          "title": "String",
          "description": "站牌唯一識別代碼，規則為 {平台代碼} + {StopID}，其中 {平台代碼} 可於Provider API中的ProviderCode欄位查詢",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "StopID": {
          "title": "String",
          "description": "地區既用中之站牌代號(為原資料內碼)",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "StopName": {
          "title": "NameType",
          "description": "站牌名",
          "allOf": [
            {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V2.Base.NameType"
            }
          ],
          "xml": {
            "name": "NameType"
          }
        },
        "MessageType": {
          "title": "Int32",
          "description": "資料型態種類 : [0:'未知',1:'定期',2:'非定期']",
          "type": "integer"
        },
        "DutyStatus": {
          "title": "Int32",
          "description": "勤務狀態 : [0:'正常',1:'開始',2:'結束']",
          "type": "integer"
        },
        "BusStatus": {
          "title": "Int32",
          "description": "行車狀況 : [0:'正常',1:'車禍',2:'故障',3:'塞車',4:'緊急求援',5:'加油',90:'不明',91:'去回不明',98:'偏移路線',99:'非營運狀態',100:'客滿',101:'包車出租',255:'未知']",
          "type": "integer"
        },
        "A2EventType": {
          "title": "Int32",
          "description": "進站離站 : [0:'離站',1:'進站']",
          "type": "integer"
        },
        "GPSTime": {
          "format": "date-time",
          "title": "DateTime",
          "description": "車機時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "TransTime": {
          "format": "date-time",
          "description": "車機資料傳輸時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "SrcRecTime": {
          "format": "date-time",
          "description": "來源端平台接收時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "SrcUpdateTime": {
          "format": "date-time",
          "description": "來源端平台資料更新時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "UpdateTime": {
          "format": "date-time",
          "title": "DateTime",
          "description": "本平台資料更新時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        }
      },
      "xml": {
        "name": "BusA2Data"
      }
    },
    "PTX.Service.DTO.Tourism.Specification.V2.BusFrequency": {
      "title": "BusFrequency",
      "description": "發車班距資料",
      "required": [
        "EndTime",
        "MaxHeadwayMins",
        "MinHeadwayMins",
        "StartTime"
      ],
      "type": "object",
      "properties": {
        "StartTime": {
          "title": "String",
          "description": "發車班距起始適用時間，格式為: HH:mm",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "EndTime": {
          "title": "String",
          "description": "發車班距結束適用時間，格式為: HH:mm",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "MinHeadwayMins": {
          "format": "int32",
          "title": "Int32",
          "description": "最小班距時間(分鐘)",
          "type": "integer"
        },
        "MaxHeadwayMins": {
          "format": "int32",
          "title": "Int32",
          "description": "最大班距時間(分鐘)",
          "type": "integer"
        },
        "ServiceDay": {
          "title": "ServiceDay",
          "description": "週內營運日",
          "allOf": [
            {
              "$ref": "#/definitions/PTX.Service.DTO.Tourism.Specification.V2.ServiceDay"
            }
          ],
          "xml": {
            "name": "ServiceDay"
          }
        },
        "SpecialDays": {
          "title": "Array",
          "description": "特殊營運日",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PTX.Service.DTO.Tourism.Specification.V2.SpecialDay"
          },
          "xml": {
            "name": "List`1"
          }
        }
      },
      "xml": {
        "name": "BusFrequency"
      }
    },
    "PTX.Service.DTO.Tourism.Specification.V2.BusN1EstimateTime": {
      "title": "BusN1EstimateTime",
      "required": [
        "Direction",
        "UpdateTime"
      ],
      "type": "object",
      "properties": {
        "PlateNumb": {
          "title": "String",
          "description": "車牌號碼",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "StopUID": {
          "title": "String",
          "description": "站牌唯一識別代碼，規則為 {業管機關代碼} + {StopID}，其中 {業管機關代碼} 可於Authority API中的AuthorityCode欄位查詢",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "StopID": {
          "title": "String",
          "description": "地區既用中之站牌代碼(為原資料內碼)",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "StopName": {
          "title": "NameType",
          "description": "站牌名",
          "allOf": [
            {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V2.Base.NameType"
            }
          ],
          "xml": {
            "name": "NameType"
          }
        },
        "RouteUID": {
          "title": "String",
          "description": "路線唯一識別代碼，規則為 {業管機關代碼} + {RouteID}，其中 {業管機關代碼} 可於Authority API中的AuthorityCode欄位查詢",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "RouteID": {
          "title": "String",
          "description": "地區既用中之路線代碼(為原資料內碼)",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "TaiwanTripName": {
          "title": "NameType",
          "description": "台灣好行路線名稱",
          "allOf": [
            {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V2.Base.NameType"
            }
          ],
          "xml": {
            "name": "NameType"
          }
        },
        "SubRouteUID": {
          "title": "String",
          "description": "子路線唯一識別代碼，規則為 {業管機關代碼} + {SubRouteID}，其中 {業管機關代碼} 可於Authority API中的AuthorityCode欄位查詢",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "SubRouteID": {
          "title": "String",
          "description": "地區既用中之子路線代碼(為原資料內碼)",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "SubRouteName": {
          "title": "NameType",
          "description": "子路線名稱",
          "allOf": [
            {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V2.Base.NameType"
            }
          ],
          "xml": {
            "name": "NameType"
          }
        },
        "Direction": {
          "title": "Int32",
          "description": "去返程 : [0:'去程',1:'返程',2:'迴圈',255:'未知']",
          "type": "integer"
        },
        "EstimateTime": {
          "format": "int32",
          "description": "到站時間預估(秒)",
          "type": "integer"
        },
        "StopCountDown": {
          "format": "int32",
          "description": "車輛距離本站站數",
          "type": "integer"
        },
        "CurrentStop": {
          "title": "String",
          "description": "車輛目前所在站牌代碼",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "DestinationStop": {
          "title": "String",
          "description": "車輛目的站牌代碼",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "StopStatus": {
          "title": "Int32",
          "description": "車輛狀態備註 : [0:'正常',1:'尚未發車',2:'交管不停靠',3:'末班車已過',4:'今日未營運']",
          "type": "integer"
        },
        "MessageType": {
          "title": "Int32",
          "description": "資料型態種類 : [0:'未知',1:'定期',2:'非定期']",
          "type": "integer"
        },
        "NextBusTime": {
          "format": "date-time",
          "description": "下一班公車到達時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "IsLastBus": {
          "description": "是否為末班車",
          "type": "boolean"
        },
        "TransTime": {
          "format": "date-time",
          "description": "車機資料傳輸時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "SrcRecTime": {
          "format": "date-time",
          "description": "來源端平台接收時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "SrcUpdateTime": {
          "format": "date-time",
          "description": "來源端平台資料更新時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        },
        "UpdateTime": {
          "format": "date-time",
          "title": "DateTime",
          "description": "本平台資料更新時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        }
      },
      "xml": {
        "name": "BusN1EstimateTime"
      }
    },
    "PTX.Service.DTO.Tourism.Specification.V2.BusRoute": {
      "title": "BusRoute",
      "description": "路線資料型別",
      "required": [
        "AuthorityID",
        "BusRouteType",
        "HasSubRoutes",
        "OperatorIDs",
        "Operators",
        "ProviderID",
        "RouteID",
        "RouteUID",
        "TaiwanTripName",
        "UpdateTime"
      ],
      "type": "object",
      "properties": {
        "RouteUID": {
          "title": "String",
          "description": "路線唯一識別代碼，規則為 {業管機關代碼} + {RouteID}，其中 {業管機關代碼} 可於Authority API中的AuthorityCode欄位查詢",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "RouteID": {
          "title": "String",
          "description": "地區既用中之路線代碼(為原資料內碼)",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "HasSubRoutes": {
          "title": "Boolean",
          "description": "實際上是否有多條附屬路線。(此欄位值與SubRoutes結構並無強烈的絕對關聯。詳細說明請參閱swagger上方的【資料服務使用注意事項】)",
          "type": "boolean"
        },
        "OperatorIDs": {
          "title": "Array",
          "description": "營運業者代碼",
          "type": "array",
          "items": {
            "title": "String",
            "type": "string",
            "xml": {
              "name": "String"
            }
          },
          "xml": {
            "name": "List`1"
          }
        },
        "Operators": {
          "title": "Array",
          "description": "營運業者",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PTX.Service.DTO.Tourism.Specification.V2.RouteOperator"
          },
          "xml": {
            "name": "List`1"
          }
        },
        "AuthorityID": {
          "title": "String",
          "description": "業管單位代碼",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "ProviderID": {
          "title": "String",
          "description": "資料提供平台代碼",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "SubRoutes": {
          "title": "Array",
          "description": "附屬路線資料(如果原始資料並無提供附屬路線ID，而本平台基於跨來源資料之一致性，會以SubRouteID=RouteID產製一份相對應的附屬路線資料(若有去返程，則會有兩筆))",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PTX.Service.DTO.Tourism.Specification.V2.BusSubRoute"
          },
          "xml": {
            "name": "List`1"
          }
        },
        "BusRouteType": {
          "title": "Int32",
          "description": "公車路線類別 : [11:'市區公車',12:'公路客運',13:'國道客運',14:'接駁車']",
          "type": "integer"
        },
        "TaiwanTripName": {
          "title": "NameType",
          "description": "台灣好行路線名稱",
          "allOf": [
            {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V2.Base.NameType"
            }
          ],
          "xml": {
            "name": "NameType"
          }
        },
        "DepartureStopNameZh": {
          "title": "String",
          "description": "起站中文名稱",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "DepartureStopNameEn": {
          "title": "String",
          "description": "起站英文名稱",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "DestinationStopNameZh": {
          "title": "String",
          "description": "終點站中文名稱",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "DestinationStopNameEn": {
          "title": "String",
          "description": "終點站英文名稱",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "TicketPriceDescriptionZh": {
          "title": "String",
          "description": "票價中文敘述",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "TicketPriceDescriptionEn": {
          "title": "String",
          "description": "票價英文敘述",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "FareBufferZoneDescriptionZh": {
          "title": "String",
          "description": "收費緩衝區中文敘述",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "FareBufferZoneDescriptionEn": {
          "title": "String",
          "description": "收費緩衝區英文敘述",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "RouteUrl": {
          "title": "String",
          "description": "路線資訊說明網址",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "LiveBusUrl": {
          "title": "String",
          "description": "路線公車動態資訊網址",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "RouteMapImageUrl": {
          "title": "String",
          "description": "路線簡圖網址",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "City": {
          "title": "String",
          "description": "路線權管所屬縣市(相當於市區公車API的City參數)[若為公路/國道客運路線則為空值]",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "CityCode": {
          "title": "String",
          "description": "路線權管所屬縣市之代碼(國際ISO 3166-2 三碼城市代碼)[若為公路/國道客運路線則為空值]",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "UpdateTime": {
          "format": "date-time",
          "title": "DateTime",
          "description": "資料更新日期時間(ISO8601格式:yyyy-MM-ddTHH:mm:sszzz)",
          "type": "string"
        }
      },
      "xml": {
        "name": "BusRoute"
      }
    },
    "PTX.Service.DTO.Tourism.Specification.V2.BusSchedule": {
      "title": "BusSchedule",
      "required": [
        "Direction",
        "RouteID",
        "RouteUID",
        "SubRouteID",
        "SubRouteName",
        "SubRouteUID",
        "TaiwanTripName",
        "UpdateTime"
      ],
      "type": "object",
      "properties": {
        "RouteUID": {
          "title": "String",
          "description": "路線唯一識別代碼，規則為 {業管機關代碼} + {RouteID}，其中 {業管機關代碼} 可於Authority API中的AuthorityCode欄位查詢",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "RouteID": {
          "title": "String",
          "description": "地區既用中之路線代碼(為原資料內碼)",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "TaiwanTripName": {
          "title": "NameType",
          "description": "台灣好行路線名稱",
          "allOf": [
            {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V2.Base.NameType"
            }
          ],
          "xml": {
            "name": "NameType"
          }
        },
        "SubRouteUID": {
          "title": "String",
          "description": "子路線唯一識別代碼，規則為 {業管機關代碼} + {SubRouteID}，其中 {業管機關代碼} 可於Authority API中的AuthorityCode欄位查詢",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "SubRouteID": {
          "title": "String",
          "description": "地區既用中之子路線代碼(為原資料內碼)",
          "type": "string",
          "xml": {
            "name": "String"
          }
        },
        "SubRouteName": {
          "title": "NameType",
          "description": "子路線名稱",
          "allOf": [
            {
[...]
