{
  "swagger": "2.0",
  "info": {
    "title": "MOTC Transport API V2",
    "description": "本平臺提供涵蓋全國尺度之公車、臺鐵、高鐵、捷運、航空、自行車等公共運輸旅運資料服務API，歡迎各產政學單位介接使用。\n                                                    <br><span class=swagger-description-indicatation>利用本平臺開放資料進行各項應用服務開發時，請考量不同特性使用者(如:性別/身心障礙/老幼等)的需求，並歡迎回饋寶貴意見。</span>\n                                                    <br><br>資料使用葵花寶典:[請點我](https://motc-ptx-api-documentation.gitbook.io/motc-ptx-api-documentation/)\n                                                    <br>資料服務開發實作參考手冊:[請點我](https://docs.google.com/viewer?url=https://github.com/ptxmotc/PTX_Web/blob/master/Swagger%E6%9C%8D%E5%8B%99%E8%AA%AA%E6%98%8E%E4%B8%8A%E5%82%B3%E5%8F%83%E8%80%83%E6%AA%94%E6%A1%88/%E5%85%AC%E5%85%B1%E9%81%8B%E8%BC%B8%E6%95%B4%E5%90%88%E8%B3%87%E8%A8%8A%E5%B9%B3%E5%8F%B0%E8%B3%87%E6%96%99%E6%9C%8D%E5%8B%99%E9%96%8B%E7%99%BC%E5%AF%A6%E4%BD%9C.pdf?raw=true)\n                                                    <br>API URI Convention文件說明:[請點我](https://docs.google.com/viewer?url=https://github.com/ptxmotc/PTX_Web/blob/master/Swagger%E6%9C%8D%E5%8B%99%E8%AA%AA%E6%98%8E%E4%B8%8A%E5%82%B3%E5%8F%83%E8%80%83%E6%AA%94%E6%A1%88/API_URI_Convention%E6%96%87%E4%BB%B6_v1.pdf?raw=true)<br>資料文本OAS描述:[請點我](https://ptx.transportdata.tw/MOTC/v2/Bus/api-docs/oas)",
    "version": "v2"
  },
  "host": "ptx.transportdata.tw",
  "basePath": "/MOTC",
  "schemes": [
    "https"
  ],
  "paths": {
    "/v2/Bus/RealTimeByFrequency/Streaming/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的公車動態定時資料(A1)[逐筆更新]",
        "description": "### 市區公車之定時資料(A1) ###\r\n- [逐筆更新]與[批次更新]之差異請詳見資料使用葵花寶典([連結](https://ptxmotc.gitbooks.io/ptx-api-documentation/content/api-zi-liao-shi-yong-zhu-yi-shi-xiang/buslive.html))",
        "operationId": "CityBusApi_RealTimeByFrequency_UDP",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Hsinchu",
              "HsinchuCounty",
              "MiaoliCounty",
              "ChanghuaCounty",
              "NantouCounty",
              "YunlinCounty",
              "ChiayiCounty",
              "Chiayi",
              "PingtungCounty",
              "YilanCounty",
              "HualienCounty",
              "TaitungCounty",
              "PenghuCounty"
            ],
            "x-enum": {
              "YunlinCounty": "雲林縣",
              "HualienCounty": "花蓮縣",
              "HsinchuCounty": "新竹縣",
              "Hsinchu": "新竹市",
              "NantouCounty": "南投縣",
              "PenghuCounty": "澎湖縣",
              "Chiayi": "嘉義市",
              "TaitungCounty": "臺東縣",
              "ChiayiCounty": "嘉義縣",
              "ChanghuaCounty": "彰化縣",
              "MiaoliCounty": "苗栗縣",
              "PingtungCounty": "屏東縣",
              "YilanCounty": "宜蘭縣"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$spatialFilter",
            "description": "空間過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Bus.Specification.V2.BusA1Data"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Bus/RealTimeByFrequency/Streaming/City/{City}/{RouteName}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市],[路線名稱]的公車動態定時資料(A1)[逐筆更新]",
        "description": "### 市區公車之定時資料(A1) ###\r\n- [逐筆更新]與[批次更新]之差異請詳見資料使用葵花寶典([連結](https://ptxmotc.gitbooks.io/ptx-api-documentation/content/api-zi-liao-shi-yong-zhu-yi-shi-xiang/buslive.html))",
        "operationId": "CityBusApi_RealTimeByFrequency_UDP_1",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Hsinchu",
              "HsinchuCounty",
              "MiaoliCounty",
              "ChanghuaCounty",
              "NantouCounty",
              "YunlinCounty",
              "ChiayiCounty",
              "Chiayi",
              "PingtungCounty",
              "YilanCounty",
              "HualienCounty",
              "TaitungCounty",
              "PenghuCounty"
            ],
            "x-enum": {
              "YunlinCounty": "雲林縣",
              "HualienCounty": "花蓮縣",
              "HsinchuCounty": "新竹縣",
              "Hsinchu": "新竹市",
              "NantouCounty": "南投縣",
              "PenghuCounty": "澎湖縣",
              "Chiayi": "嘉義市",
              "TaitungCounty": "臺東縣",
              "ChiayiCounty": "嘉義縣",
              "ChanghuaCounty": "彰化縣",
              "MiaoliCounty": "苗栗縣",
              "PingtungCounty": "屏東縣",
              "YilanCounty": "宜蘭縣"
            }
          },
          {
            "in": "path",
            "name": "RouteName",
            "description": "繁體中文路線名稱，如'307'",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$spatialFilter",
            "description": "空間過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Bus.Specification.V2.BusA1Data"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Bus/RealTimeNearStop/Streaming/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的公車動態定點資料(A2)[逐筆更新]",
        "description": "### 市區公車之定點資料(A2) ###\r\n- [逐筆更新]與[批次更新]之差異請詳見資料使用葵花寶典([連結](https://ptxmotc.gitbooks.io/ptx-api-documentation/content/api-zi-liao-shi-yong-zhu-yi-shi-xiang/buslive.html))",
        "operationId": "CityBusApi_RealTimeNearStop_UDP",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Hsinchu",
              "HsinchuCounty",
              "MiaoliCounty",
              "ChanghuaCounty",
              "NantouCounty",
              "YunlinCounty",
              "ChiayiCounty",
              "Chiayi",
              "PingtungCounty",
              "YilanCounty",
              "HualienCounty",
              "TaitungCounty",
              "PenghuCounty"
            ],
            "x-enum": {
              "NantouCounty": "南投縣",
              "YilanCounty": "宜蘭縣",
              "TaitungCounty": "臺東縣",
              "ChiayiCounty": "嘉義縣",
              "PingtungCounty": "屏東縣",
              "MiaoliCounty": "苗栗縣",
              "HsinchuCounty": "新竹縣",
              "HualienCounty": "花蓮縣",
              "PenghuCounty": "澎湖縣",
              "Chiayi": "嘉義市",
              "YunlinCounty": "雲林縣",
              "ChanghuaCounty": "彰化縣",
              "Hsinchu": "新竹市"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Bus.Specification.V2.BusA2Data"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Bus/RealTimeNearStop/Streaming/City/{City}/{RouteName}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市],[路線名稱]的公車動態定點資料(A2)[逐筆更新]",
        "description": "### 市區公車之定點資料(A2) ###\r\n- [逐筆更新]與[批次更新]之差異請詳見資料使用葵花寶典([連結](https://ptxmotc.gitbooks.io/ptx-api-documentation/content/api-zi-liao-shi-yong-zhu-yi-shi-xiang/buslive.html))",
        "operationId": "CityBusApi_RealTimeNearStop_UDP_1",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Hsinchu",
              "HsinchuCounty",
              "MiaoliCounty",
              "ChanghuaCounty",
              "NantouCounty",
              "YunlinCounty",
              "ChiayiCounty",
              "Chiayi",
              "PingtungCounty",
              "YilanCounty",
              "HualienCounty",
              "TaitungCounty",
              "PenghuCounty"
            ],
            "x-enum": {
              "NantouCounty": "南投縣",
              "YilanCounty": "宜蘭縣",
              "TaitungCounty": "臺東縣",
              "ChiayiCounty": "嘉義縣",
              "PingtungCounty": "屏東縣",
              "MiaoliCounty": "苗栗縣",
              "HsinchuCounty": "新竹縣",
              "HualienCounty": "花蓮縣",
              "PenghuCounty": "澎湖縣",
              "Chiayi": "嘉義市",
              "YunlinCounty": "雲林縣",
              "ChanghuaCounty": "彰化縣",
              "Hsinchu": "新竹市"
            }
          },
          {
            "in": "path",
            "name": "RouteName",
            "description": "繁體中文路線名稱，如'307'",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Bus.Specification.V2.BusA2Data"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Bus/EstimatedTimeOfArrival/Streaming/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的公車預估到站資料(N1)[逐筆更新]",
        "description": "### 市區公車之預估到站資料(N1) ###\r\n- [部分縣市] 當 StopStatus = 1(尚未發車) 且 EstimateTime > 0 (有值) 的情形, 屬正常情形, 雖目前尚未發車, 但提供EstimateTime值為預計多久後開始發車之時間。\r\n- [逐筆更新]與[批次更新]之差異請詳見資料使用葵花寶典([連結](https://ptxmotc.gitbooks.io/ptx-api-documentation/content/api-zi-liao-shi-yong-zhu-yi-shi-xiang/buslive.html))\r\n- N1僅於該路線上有任一車輛離站時，來源端才會重新計算並發佈，因此使用者需自行處理時間遞減機制，或以EstimateTime-(收到資料時間-SrcTrasTime)(秒)作為實際預估抵達時間。",
        "operationId": "CityBusApi_EstimatedTimeOfArrival_UDP",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Hsinchu",
              "HsinchuCounty",
              "MiaoliCounty",
              "ChanghuaCounty",
              "NantouCounty",
              "YunlinCounty",
              "ChiayiCounty",
              "Chiayi",
              "PingtungCounty",
              "YilanCounty",
              "HualienCounty",
              "TaitungCounty",
              "PenghuCounty"
            ],
            "x-enum": {
              "MiaoliCounty": "苗栗縣",
              "TaitungCounty": "臺東縣",
              "Chiayi": "嘉義市",
              "YilanCounty": "宜蘭縣",
              "PingtungCounty": "屏東縣",
              "YunlinCounty": "雲林縣",
              "PenghuCounty": "澎湖縣",
              "ChiayiCounty": "嘉義縣",
              "NantouCounty": "南投縣",
              "ChanghuaCounty": "彰化縣",
              "HsinchuCounty": "新竹縣",
              "Hsinchu": "新竹市",
              "HualienCounty": "花蓮縣"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Bus.Specification.V2.BusN1EstimateTime"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Bus/EstimatedTimeOfArrival/Streaming/City/{City}/{RouteName}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市],[路線名稱]的公車預估到站資料(N1)[逐筆更新]",
        "description": "### 市區公車之預估到站資料(N1) ###\r\n- [部分縣市] 當 StopStatus = 1(尚未發車) 且 EstimateTime > 0 (有值) 的情形, 屬正常情形, 雖目前尚未發車, 但提供EstimateTime值為預計多久後開始發車之時間。\r\n- [逐筆更新]與[批次更新]之差異請詳見資料使用葵花寶典([連結](https://ptxmotc.gitbooks.io/ptx-api-documentation/content/api-zi-liao-shi-yong-zhu-yi-shi-xiang/buslive.html))\r\n- N1僅於該路線上有任一車輛離站時，來源端才會重新計算並發佈，因此使用者需自行處理時間遞減機制，或以EstimateTime-(收到資料時間-SrcTrasTime)(秒)作為實際預估抵達時間。",
        "operationId": "CityBusApi_EstimatedTimeOfArrival_UDP_1",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Hsinchu",
              "HsinchuCounty",
              "MiaoliCounty",
              "ChanghuaCounty",
              "NantouCounty",
              "YunlinCounty",
              "ChiayiCounty",
              "Chiayi",
              "PingtungCounty",
              "YilanCounty",
              "HualienCounty",
              "TaitungCounty",
              "PenghuCounty"
            ],
            "x-enum": {
              "MiaoliCounty": "苗栗縣",
              "TaitungCounty": "臺東縣",
              "Chiayi": "嘉義市",
              "YilanCounty": "宜蘭縣",
              "PingtungCounty": "屏東縣",
              "YunlinCounty": "雲林縣",
              "PenghuCounty": "澎湖縣",
              "ChiayiCounty": "嘉義縣",
              "NantouCounty": "南投縣",
              "ChanghuaCounty": "彰化縣",
              "HsinchuCounty": "新竹縣",
              "Hsinchu": "新竹市",
              "HualienCounty": "花蓮縣"
            }
          },
          {
            "in": "path",
            "name": "RouteName",
            "description": "繁體中文路線名稱，如'307'",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Bus.Specification.V2.BusN1EstimateTime"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Bus/RealTimeByFrequency/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的公車動態定時資料(A1)[批次更新]",
        "description": "### 市區公車之定時資料(A1) ###\r\n- [逐筆更新]與[批次更新]之差異請詳見資料使用葵花寶典([連結](https://ptxmotc.gitbooks.io/ptx-api-documentation/content/api-zi-liao-shi-yong-zhu-yi-shi-xiang/buslive.html))",
        "operationId": "CityBusApi_RealTimeByFrequency",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Taipei",
              "NewTaipei",
              "Taoyuan",
              "Taichung",
              "Tainan",
              "Kaohsiung",
              "Keelung",
              "Hsinchu",
              "HsinchuCounty",
              "MiaoliCounty",
              "ChanghuaCounty",
              "NantouCounty",
              "YunlinCounty",
              "ChiayiCounty",
              "Chiayi",
              "PingtungCounty",
              "YilanCounty",
              "HualienCounty",
              "TaitungCounty",
              "KinmenCounty",
              "PenghuCounty",
              "LienchiangCounty"
            ],
            "x-enum": {
              "Tainan": "臺南市",
              "HsinchuCounty": "新竹縣",
              "MiaoliCounty": "苗栗縣",
              "Keelung": "基隆市",
              "NantouCounty": "南投縣",
              "YunlinCounty": "雲林縣",
              "NewTaipei": "新北市",
              "Kaohsiung": "高雄市",
              "Chiayi": "嘉義市",
              "Hsinchu": "新竹市",
              "HualienCounty": "花蓮縣",
              "LienchiangCounty": "連江縣",
              "ChiayiCounty": "嘉義縣",
              "TaitungCounty": "臺東縣",
              "PenghuCounty": "澎湖縣",
              "Taoyuan": "桃園市",
              "Taichung": "臺中市",
              "YilanCounty": "宜蘭縣",
              "KinmenCounty": "金門縣",
              "ChanghuaCounty": "彰化縣",
              "PingtungCounty": "屏東縣",
              "Taipei": "臺北市"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$spatialFilter",
            "description": "空間過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Bus.Specification.V2.BusA1Data"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Bus/RealTimeByFrequency/City/{City}/{RouteName}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市],[路線名稱]的公車動態定時資料(A1)[批次更新]",
        "description": "### 市區公車之定時資料(A1) ###\r\n- [逐筆更新]與[批次更新]之差異請詳見資料使用葵花寶典([連結](https://ptxmotc.gitbooks.io/ptx-api-documentation/content/api-zi-liao-shi-yong-zhu-yi-shi-xiang/buslive.html))",
        "operationId": "CityBusApi_RealTimeByFrequency_1",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Taipei",
              "NewTaipei",
              "Taoyuan",
              "Taichung",
              "Tainan",
              "Kaohsiung",
              "Keelung",
              "Hsinchu",
              "HsinchuCounty",
              "MiaoliCounty",
              "ChanghuaCounty",
              "NantouCounty",
              "YunlinCounty",
              "ChiayiCounty",
              "Chiayi",
              "PingtungCounty",
              "YilanCounty",
              "HualienCounty",
              "TaitungCounty",
              "KinmenCounty",
              "PenghuCounty",
              "LienchiangCounty"
            ],
            "x-enum": {
              "Tainan": "臺南市",
              "HsinchuCounty": "新竹縣",
              "MiaoliCounty": "苗栗縣",
              "Keelung": "基隆市",
              "NantouCounty": "南投縣",
              "YunlinCounty": "雲林縣",
              "NewTaipei": "新北市",
              "Kaohsiung": "高雄市",
              "Chiayi": "嘉義市",
              "Hsinchu": "新竹市",
              "HualienCounty": "花蓮縣",
              "LienchiangCounty": "連江縣",
              "ChiayiCounty": "嘉義縣",
              "TaitungCounty": "臺東縣",
              "PenghuCounty": "澎湖縣",
              "Taoyuan": "桃園市",
              "Taichung": "臺中市",
              "YilanCounty": "宜蘭縣",
              "KinmenCounty": "金門縣",
              "ChanghuaCounty": "彰化縣",
              "PingtungCounty": "屏東縣",
              "Taipei": "臺北市"
            }
          },
          {
            "in": "path",
            "name": "RouteName",
            "description": "繁體中文路線名稱，如'307'",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$spatialFilter",
            "description": "空間過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Bus.Specification.V2.BusA1Data"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Bus/RealTimeNearStop/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的公車動態定點資料(A2)[批次更新]",
        "description": "### 市區公車之定點資料(A2) ###\r\n- [逐筆更新]與[批次更新]之差異請詳見資料使用葵花寶典([連結](https://ptxmotc.gitbooks.io/ptx-api-documentation/content/api-zi-liao-shi-yong-zhu-yi-shi-xiang/buslive.html))",
        "operationId": "CityBusApi_RealTimeNearStop",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Taipei",
              "NewTaipei",
              "Taoyuan",
              "Taichung",
              "Tainan",
              "Kaohsiung",
              "Keelung",
              "Hsinchu",
              "HsinchuCounty",
              "MiaoliCounty",
              "ChanghuaCounty",
              "NantouCounty",
              "YunlinCounty",
              "ChiayiCounty",
              "Chiayi",
              "PingtungCounty",
              "YilanCounty",
              "HualienCounty",
              "TaitungCounty",
              "KinmenCounty",
              "PenghuCounty",
              "LienchiangCounty"
            ],
            "x-enum": {
              "Hsinchu": "新竹市",
              "NewTaipei": "新北市",
              "NantouCounty": "南投縣",
              "ChiayiCounty": "嘉義縣",
              "Taipei": "臺北市",
              "ChanghuaCounty": "彰化縣",
              "PenghuCounty": "澎湖縣",
              "MiaoliCounty": "苗栗縣",
              "PingtungCounty": "屏東縣",
              "KinmenCounty": "金門縣",
              "Keelung": "基隆市",
              "YilanCounty": "宜蘭縣",
              "TaitungCounty": "臺東縣",
              "YunlinCounty": "雲林縣",
              "Chiayi": "嘉義市",
              "Kaohsiung": "高雄市",
              "Taichung": "臺中市",
              "HualienCounty": "花蓮縣",
              "Taoyuan": "桃園市",
              "LienchiangCounty": "連江縣",
              "HsinchuCounty": "新竹縣",
              "Tainan": "臺南市"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Bus.Specification.V2.BusA2Data"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Bus/RealTimeNearStop/City/{City}/{RouteName}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市],[路線名稱]的公車動態定點資料(A2)[批次更新]",
        "description": "### 市區公車之定點資料(A2) ###\r\n- [逐筆更新]與[批次更新]之差異請詳見資料使用葵花寶典([連結](https://ptxmotc.gitbooks.io/ptx-api-documentation/content/api-zi-liao-shi-yong-zhu-yi-shi-xiang/buslive.html))",
        "operationId": "CityBusApi_RealTimeNearStop_1",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Taipei",
              "NewTaipei",
              "Taoyuan",
              "Taichung",
              "Tainan",
              "Kaohsiung",
              "Keelung",
              "Hsinchu",
              "HsinchuCounty",
              "MiaoliCounty",
              "ChanghuaCounty",
              "NantouCounty",
              "YunlinCounty",
              "ChiayiCounty",
              "Chiayi",
              "PingtungCounty",
              "YilanCounty",
              "HualienCounty",
              "TaitungCounty",
              "KinmenCounty",
              "PenghuCounty",
              "LienchiangCounty"
            ],
            "x-enum": {
              "Hsinchu": "新竹市",
              "NewTaipei": "新北市",
              "NantouCounty": "南投縣",
              "ChiayiCounty": "嘉義縣",
              "Taipei": "臺北市",
              "ChanghuaCounty": "彰化縣",
              "PenghuCounty": "澎湖縣",
              "MiaoliCounty": "苗栗縣",
              "PingtungCounty": "屏東縣",
              "KinmenCounty": "金門縣",
              "Keelung": "基隆市",
              "YilanCounty": "宜蘭縣",
              "TaitungCounty": "臺東縣",
              "YunlinCounty": "雲林縣",
              "Chiayi": "嘉義市",
              "Kaohsiung": "高雄市",
              "Taichung": "臺中市",
              "HualienCounty": "花蓮縣",
              "Taoyuan": "桃園市",
              "LienchiangCounty": "連江縣",
              "HsinchuCounty": "新竹縣",
              "Tainan": "臺南市"
            }
          },
          {
            "in": "path",
            "name": "RouteName",
            "description": "繁體中文路線名稱，如'307'",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Bus.Specification.V2.BusA2Data"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Bus/EstimatedTimeOfArrival/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的公車預估到站資料(N1)[批次更新]",
        "description": " ### 市區公車之預估到站資料(N1) ###\r\n- [部分縣市] 當 StopStatus = 1(尚未發車) 且 EstimateTime > 0 (有值) 的情形, 屬正常情形, 雖目前尚未發車, 但提供EstimateTime值為預計多久後開始發車之時間。\r\n- [逐筆更新]與[批次更新]之差異請詳見資料使用葵花寶典([連結](https://ptxmotc.gitbooks.io/ptx-api-documentation/content/api-zi-liao-shi-yong-zhu-yi-shi-xiang/buslive.html))",
        "operationId": "CityBusApi_EstimatedTimeOfArrival",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Taipei",
              "NewTaipei",
              "Taoyuan",
              "Taichung",
              "Tainan",
              "Kaohsiung",
              "Keelung",
              "Hsinchu",
              "HsinchuCounty",
              "MiaoliCounty",
              "ChanghuaCounty",
              "NantouCounty",
              "YunlinCounty",
              "ChiayiCounty",
              "Chiayi",
              "PingtungCounty",
              "YilanCounty",
              "HualienCounty",
              "TaitungCounty",
              "KinmenCounty",
              "PenghuCounty",
              "LienchiangCounty"
            ],
            "x-enum": {
              "Taipei": "臺北市",
              "YunlinCounty": "雲林縣",
              "PingtungCounty": "屏東縣",
              "HualienCounty": "花蓮縣",
              "ChiayiCounty": "嘉義縣",
              "ChanghuaCounty": "彰化縣",
              "Hsinchu": "新竹市",
              "Chiayi": "嘉義市",
              "NewTaipei": "新北市",
              "MiaoliCounty": "苗栗縣",
              "Keelung": "基隆市",
              "NantouCounty": "南投縣",
              "Taoyuan": "桃園市",
              "Taichung": "臺中市",
              "HsinchuCounty": "新竹縣",
              "Tainan": "臺南市",
              "TaitungCounty": "臺東縣",
              "Kaohsiung": "高雄市",
              "KinmenCounty": "金門縣",
              "LienchiangCounty": "連江縣",
              "PenghuCounty": "澎湖縣",
              "YilanCounty": "宜蘭縣"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Bus.Specification.V2.BusN1EstimateTime"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Bus/EstimatedTimeOfArrival/City/{City}/{RouteName}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市],[路線名稱]的公車預估到站資料(N1)[批次更新]",
        "description": " ### 市區公車之預估到站資料(N1) ###\r\n- [部分縣市] 當 StopStatus = 1(尚未發車) 且 EstimateTime > 0 (有值) 的情形, 屬正常情形, 雖目前尚未發車, 但提供EstimateTime值為預計多久後開始發車之時間。\r\n- [逐筆更新]與[批次更新]之差異請詳見資料使用葵花寶典([連結](https://ptxmotc.gitbooks.io/ptx-api-documentation/content/api-zi-liao-shi-yong-zhu-yi-shi-xiang/buslive.html))",
        "operationId": "CityBusApi_EstimatedTimeOfArrival_1",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Taipei",
              "NewTaipei",
              "Taoyuan",
              "Taichung",
              "Tainan",
              "Kaohsiung",
              "Keelung",
              "Hsinchu",
              "HsinchuCounty",
              "MiaoliCounty",
              "ChanghuaCounty",
              "NantouCounty",
              "YunlinCounty",
              "ChiayiCounty",
              "Chiayi",
              "PingtungCounty",
              "YilanCounty",
              "HualienCounty",
              "TaitungCounty",
              "KinmenCounty",
              "PenghuCounty",
              "LienchiangCounty"
            ],
            "x-enum": {
              "Taipei": "臺北市",
              "YunlinCounty": "雲林縣",
              "PingtungCounty": "屏東縣",
              "HualienCounty": "花蓮縣",
              "ChiayiCounty": "嘉義縣",
              "ChanghuaCounty": "彰化縣",
              "Hsinchu": "新竹市",
              "Chiayi": "嘉義市",
              "NewTaipei": "新北市",
              "MiaoliCounty": "苗栗縣",
              "Keelung": "基隆市",
              "NantouCounty": "南投縣",
              "Taoyuan": "桃園市",
              "Taichung": "臺中市",
              "HsinchuCounty": "新竹縣",
              "Tainan": "臺南市",
              "TaitungCounty": "臺東縣",
              "Kaohsiung": "高雄市",
              "KinmenCounty": "金門縣",
              "LienchiangCounty": "連江縣",
              "PenghuCounty": "澎湖縣",
              "YilanCounty": "宜蘭縣"
            }
          },
          {
            "in": "path",
            "name": "RouteName",
            "description": "繁體中文路線名稱，如'307'",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Bus.Specification.V2.BusN1EstimateTime"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Bus/DataVersion/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]目前資料的最新版本資訊",
        "description": "版本詳細資訊",
        "operationId": "CityBusApi_DataVersion",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Taipei",
              "NewTaipei",
              "Taoyuan",
              "Taichung",
              "Tainan",
              "Kaohsiung",
              "Keelung",
              "Hsinchu",
              "HsinchuCounty",
              "MiaoliCounty",
              "ChanghuaCounty",
              "NantouCounty",
              "YunlinCounty",
              "ChiayiCounty",
              "Chiayi",
              "PingtungCounty",
              "YilanCounty",
              "HualienCounty",
              "TaitungCounty",
              "KinmenCounty",
              "PenghuCounty",
              "LienchiangCounty"
            ],
            "x-enum": {
              "Keelung": "基隆市",
              "ChanghuaCounty": "彰化縣",
              "NantouCounty": "南投縣",
              "PenghuCounty": "澎湖縣",
              "ChiayiCounty": "嘉義縣",
              "HsinchuCounty": "新竹縣",
              "KinmenCounty": "金門縣",
              "YunlinCounty": "雲林縣",
              "Hsinchu": "新竹市",
              "MiaoliCounty": "苗栗縣",
              "Taipei": "臺北市",
              "HualienCounty": "花蓮縣",
              "Kaohsiung": "高雄市",
              "Taichung": "臺中市",
              "TaitungCounty": "臺東縣",
              "YilanCounty": "宜蘭縣",
              "PingtungCounty": "屏東縣",
              "Tainan": "臺南市",
              "LienchiangCounty": "連江縣",
              "NewTaipei": "新北市",
              "Taoyuan": "桃園市",
              "Chiayi": "嘉義市"
            }
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Bus.Specification.V2.BusVersion"
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Bus/Operator/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車營運業者資料",
        "description": "市區公車之營運業者資料",
        "operationId": "CityBusApi_Operator",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Taipei",
              "NewTaipei",
              "Taoyuan",
              "Taichung",
              "Tainan",
              "Kaohsiung",
              "Keelung",
              "Hsinchu",
              "HsinchuCounty",
              "MiaoliCounty",
              "ChanghuaCounty",
              "NantouCounty",
              "YunlinCounty",
              "ChiayiCounty",
              "Chiayi",
              "PingtungCounty",
              "YilanCounty",
              "HualienCounty",
              "TaitungCounty",
              "KinmenCounty",
              "PenghuCounty",
              "LienchiangCounty"
            ],
            "x-enum": {
              "TaitungCounty": "臺東縣",
              "ChanghuaCounty": "彰化縣",
              "Kaohsiung": "高雄市",
              "Taoyuan": "桃園市",
              "NantouCounty": "南投縣",
              "LienchiangCounty": "連江縣",
              "Chiayi": "嘉義市",
              "YunlinCounty": "雲林縣",
              "MiaoliCounty": "苗栗縣",
              "Hsinchu": "新竹市",
              "KinmenCounty": "金門縣",
              "PenghuCounty": "澎湖縣",
              "HualienCounty": "花蓮縣",
              "Taichung": "臺中市",
              "ChiayiCounty": "嘉義縣",
              "YilanCounty": "宜蘭縣",
              "NewTaipei": "新北市",
              "Keelung": "基隆市",
              "HsinchuCounty": "新竹縣",
              "Tainan": "臺南市",
              "PingtungCounty": "屏東縣",
              "Taipei": "臺北市"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V2.Base.Operator"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Bus/Route/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車路線資料",
        "description": "市區公車之路線資料",
        "operationId": "CityBusApi_Route",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Taipei",
              "NewTaipei",
              "Taoyuan",
              "Taichung",
              "Tainan",
              "Kaohsiung",
              "Keelung",
              "Hsinchu",
              "HsinchuCounty",
              "MiaoliCounty",
              "ChanghuaCounty",
              "NantouCounty",
              "YunlinCounty",
              "ChiayiCounty",
              "Chiayi",
              "PingtungCounty",
              "YilanCounty",
              "HualienCounty",
              "TaitungCounty",
              "KinmenCounty",
              "PenghuCounty",
              "LienchiangCounty"
            ],
            "x-enum": {
              "Taichung": "臺中市",
              "Tainan": "臺南市",
              "Keelung": "基隆市",
              "PenghuCounty": "澎湖縣",
              "MiaoliCounty": "苗栗縣",
              "ChanghuaCounty": "彰化縣",
              "HualienCounty": "花蓮縣",
              "Taipei": "臺北市",
              "Hsinchu": "新竹市",
              "Taoyuan": "桃園市",
              "Chiayi": "嘉義市",
              "NewTaipei": "新北市",
              "ChiayiCounty": "嘉義縣",
              "Kaohsiung": "高雄市",
              "NantouCounty": "南投縣",
              "PingtungCounty": "屏東縣",
              "YunlinCounty": "雲林縣",
              "HsinchuCounty": "新竹縣",
              "KinmenCounty": "金門縣",
              "LienchiangCounty": "連江縣",
              "TaitungCounty": "臺東縣",
              "YilanCounty": "宜蘭縣"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Bus.Specification.V2.BusRoute"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Bus/Route/City/{City}/{RouteName}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市],[路線名稱]的路線資料",
        "description": "市區公車之路線資料",
        "operationId": "CityBusApi_Route_1",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Taipei",
              "NewTaipei",
              "Taoyuan",
              "Taichung",
              "Tainan",
              "Kaohsiung",
              "Keelung",
              "Hsinchu",
              "HsinchuCounty",
              "MiaoliCounty",
              "ChanghuaCounty",
              "NantouCounty",
              "YunlinCounty",
              "ChiayiCounty",
              "Chiayi",
              "PingtungCounty",
              "YilanCounty",
              "HualienCounty",
              "TaitungCounty",
              "KinmenCounty",
              "PenghuCounty",
              "LienchiangCounty"
            ],
            "x-enum": {
              "Taichung": "臺中市",
              "Tainan": "臺南市",
              "Keelung": "基隆市",
              "PenghuCounty": "澎湖縣",
              "MiaoliCounty": "苗栗縣",
              "ChanghuaCounty": "彰化縣",
              "HualienCounty": "花蓮縣",
              "Taipei": "臺北市",
              "Hsinchu": "新竹市",
              "Taoyuan": "桃園市",
              "Chiayi": "嘉義市",
              "NewTaipei": "新北市",
              "ChiayiCounty": "嘉義縣",
              "Kaohsiung": "高雄市",
              "NantouCounty": "南投縣",
              "PingtungCounty": "屏東縣",
              "YunlinCounty": "雲林縣",
              "HsinchuCounty": "新竹縣",
              "KinmenCounty": "金門縣",
              "LienchiangCounty": "連江縣",
              "TaitungCounty": "臺東縣",
              "YilanCounty": "宜蘭縣"
            }
          },
          {
            "in": "path",
            "name": "RouteName",
            "description": "繁體中文路線名稱，如'307'",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Bus.Specification.V2.BusRoute"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Bus/Stop/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車站牌資料",
        "description": "市區公車之站牌資料",
        "operationId": "CityBusApi_Stop",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "NewTaipei",
              "Taoyuan",
              "Taichung",
              "Tainan",
              "Kaohsiung",
              "Keelung",
              "Hsinchu",
              "HsinchuCounty",
              "MiaoliCounty",
              "ChanghuaCounty",
              "NantouCounty",
              "YunlinCounty",
              "ChiayiCounty",
              "Chiayi",
              "PingtungCounty",
              "YilanCounty",
              "HualienCounty",
              "TaitungCounty",
              "KinmenCounty",
              "PenghuCounty",
              "LienchiangCounty",
              "Taipei"
            ],
            "x-enum": {
              "KinmenCounty": "金門縣",
              "LienchiangCounty": "連江縣",
              "Hsinchu": "新竹市",
              "Taoyuan": "桃園市",
              "Tainan": "臺南市",
              "YunlinCounty": "雲林縣",
              "ChiayiCounty": "嘉義縣",
              "ChanghuaCounty": "彰化縣",
              "MiaoliCounty": "苗栗縣",
              "NantouCounty": "南投縣",
              "PenghuCounty": "澎湖縣",
              "Taipei": "臺北市",
              "NewTaipei": "新北市",
              "PingtungCounty": "屏東縣",
              "Kaohsiung": "高雄市",
              "Chiayi": "嘉義市",
              "Taichung": "臺中市",
              "HualienCounty": "花蓮縣",
              "TaitungCounty": "臺東縣",
              "HsinchuCounty": "新竹縣",
              "YilanCounty": "宜蘭縣",
              "Keelung": "基隆市"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$spatialFilter",
            "description": "空間過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Bus.Specification.V2.BusStop"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Bus/Station/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車站位資料",
        "description": "市區公車之各站牌所屬的站位資料",
        "operationId": "CityBusApi_Station",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Taipei",
              "NewTaipei",
              "Kaohsiung",
              "Hsinchu",
              "HsinchuCounty",
              "MiaoliCounty",
              "ChanghuaCounty",
              "NantouCounty",
              "YunlinCounty",
              "ChiayiCounty",
              "Chiayi",
              "PingtungCounty",
              "YilanCounty",
              "HualienCounty",
              "TaitungCounty",
              "PenghuCounty",
              "Tainan",
              "KinmenCounty",
              "Taoyuan",
              "Taichung"
            ],
            "x-enum": {
              "NewTaipei": "新北市",
              "MiaoliCounty": "苗栗縣",
              "KinmenCounty": "金門縣",
              "PingtungCounty": "屏東縣",
              "ChanghuaCounty": "彰化縣",
              "YunlinCounty": "雲林縣",
              "Taichung": "臺中市",
              "PenghuCounty": "澎湖縣",
              "HualienCounty": "花蓮縣",
              "Tainan": "臺南市",
              "YilanCounty": "宜蘭縣",
              "TaitungCounty": "臺東縣",
              "Taoyuan": "桃園市",
              "Hsinchu": "新竹市",
              "Taipei": "臺北市",
              "HsinchuCounty": "新竹縣",
              "Kaohsiung": "高雄市",
              "NantouCounty": "南投縣",
              "Chiayi": "嘉義市",
              "ChiayiCounty": "嘉義縣"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$spatialFilter",
            "description": "空間過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Bus.Specification.V2.BusStation"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Bus/DisplayStopOfRoute/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車顯示用路線站序資料",
        "description": "市區公車之顯示用路線站序資料",
        "operationId": "CityBusApi_DisplayStopOfRoute",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Taipei",
              "Tainan",
              "NewTaipei",
              "Taoyuan",
              "Taichung"
            ],
            "x-enum": {
              "Taichung": "臺中市",
              "Tainan": "臺南市",
              "Taoyuan": "桃園市",
              "NewTaipei": "新北市",
              "Taipei": "臺北市"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Bus.Specification.V2.BusDisplayStopOfRoute"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Bus/DisplayStopOfRoute/City/{City}/{RouteName}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市],[路線名稱]的市區公車顯示用路線站序資料",
        "description": "市區公車之顯示用路線站序資料，僅台北市與新北市可查詢",
        "operationId": "CityBusApi_DisplayStopOfRoute_1",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Taipei",
              "Tainan",
              "NewTaipei",
              "Taoyuan",
              "Taichung"
            ],
            "x-enum": {
              "Taichung": "臺中市",
              "Tainan": "臺南市",
              "Taoyuan": "桃園市",
              "NewTaipei": "新北市",
              "Taipei": "臺北市"
            }
          },
          {
            "in": "path",
            "name": "RouteName",
            "description": "繁體中文路線名稱，如'307'",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Bus.Specification.V2.BusDisplayStopOfRoute"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Bus/StopOfRoute/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車路線站序資料",
        "description": "市區公車之路線站序資料",
        "operationId": "CityBusApi_StopOfRoute",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Taipei",
              "NewTaipei",
              "Taoyuan",
              "Taichung",
              "Tainan",
              "Kaohsiung",
              "Keelung",
              "Hsinchu",
              "HsinchuCounty",
              "MiaoliCounty",
              "ChanghuaCounty",
              "NantouCounty",
              "YunlinCounty",
              "ChiayiCounty",
              "Chiayi",
              "PingtungCounty",
              "YilanCounty",
              "HualienCounty",
              "TaitungCounty",
              "KinmenCounty",
              "PenghuCounty",
              "LienchiangCounty"
            ],
            "x-enum": {
              "TaitungCounty": "臺東縣",
              "YunlinCounty": "雲林縣",
              "HsinchuCounty": "新竹縣",
              "Taipei": "臺北市",
              "Kaohsiung": "高雄市",
              "KinmenCounty": "金門縣",
              "YilanCounty": "宜蘭縣",
              "ChanghuaCounty": "彰化縣",
              "ChiayiCounty": "嘉義縣",
              "Chiayi": "嘉義市",
              "PenghuCounty": "澎湖縣",
              "Keelung": "基隆市",
              "NewTaipei": "新北市",
              "Taichung": "臺中市",
              "PingtungCounty": "屏東縣",
              "Hsinchu": "新竹市",
              "Tainan": "臺南市",
              "HualienCounty": "花蓮縣",
              "MiaoliCounty": "苗栗縣",
              "Taoyuan": "桃園市",
              "LienchiangCounty": "連江縣",
              "NantouCounty": "南投縣"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Bus.Specification.V2.BusStopOfRoute"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Bus/StopOfRoute/City/{City}/{RouteName}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市],[路線名稱]的市區公車路線站序資料",
        "description": "市區公車之路線站序資料",
        "operationId": "CityBusApi_StopOfRoute_1",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Taipei",
              "NewTaipei",
              "Taoyuan",
              "Taichung",
              "Tainan",
              "Kaohsiung",
              "Keelung",
              "Hsinchu",
              "HsinchuCounty",
              "MiaoliCounty",
              "ChanghuaCounty",
              "NantouCounty",
              "YunlinCounty",
              "ChiayiCounty",
              "Chiayi",
              "PingtungCounty",
              "YilanCounty",
              "HualienCounty",
              "TaitungCounty",
              "KinmenCounty",
              "PenghuCounty",
              "LienchiangCounty"
            ],
            "x-enum": {
              "TaitungCounty": "臺東縣",
              "YunlinCounty": "雲林縣",
              "HsinchuCounty": "新竹縣",
              "Taipei": "臺北市",
              "Kaohsiung": "高雄市",
              "KinmenCounty": "金門縣",
              "YilanCounty": "宜蘭縣",
              "ChanghuaCounty": "彰化縣",
              "ChiayiCounty": "嘉義縣",
              "Chiayi": "嘉義市",
              "PenghuCounty": "澎湖縣",
              "Keelung": "基隆市",
              "NewTaipei": "新北市",
              "Taichung": "臺中市",
              "PingtungCounty": "屏東縣",
              "Hsinchu": "新竹市",
              "Tainan": "臺南市",
              "HualienCounty": "花蓮縣",
              "MiaoliCounty": "苗栗縣",
              "Taoyuan": "桃園市",
              "LienchiangCounty": "連江縣",
              "NantouCounty": "南投縣"
            }
          },
          {
            "in": "path",
            "name": "RouteName",
            "description": "繁體中文路線名稱，如'307'",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Bus.Specification.V2.BusStopOfRoute"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Bus/Schedule/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車路線班表資料",
        "description": "市區公車之班表及班距資料。一般市區公車班次較多時會採用【班距】式時刻表；班次較少時會採用【班表】式時刻表",
        "operationId": "CityBusApi_Schedule",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Taipei",
              "NewTaipei",
              "Tainan",
              "Keelung",
              "Hsinchu",
              "HsinchuCounty",
              "MiaoliCounty",
              "ChanghuaCounty",
              "NantouCounty",
              "YunlinCounty",
              "ChiayiCounty",
              "Chiayi",
              "PingtungCounty",
              "YilanCounty",
              "HualienCounty",
              "TaitungCounty",
              "KinmenCounty",
              "PenghuCounty",
              "Taoyuan",
              "Taichung"
            ],
            "x-enum": {
              "YilanCounty": "宜蘭縣",
              "HualienCounty": "花蓮縣",
              "PingtungCounty": "屏東縣",
              "TaitungCounty": "臺東縣",
              "Hsinchu": "新竹市",
              "YunlinCounty": "雲林縣",
              "Tainan": "臺南市",
              "ChiayiCounty": "嘉義縣",
              "Taipei": "臺北市",
              "PenghuCounty": "澎湖縣",
              "NewTaipei": "新北市",
              "KinmenCounty": "金門縣",
              "Taichung": "臺中市",
              "Keelung": "基隆市",
              "NantouCounty": "南投縣",
              "MiaoliCounty": "苗栗縣",
              "ChanghuaCounty": "彰化縣",
              "Chiayi": "嘉義市",
              "Taoyuan": "桃園市",
              "HsinchuCounty": "新竹縣"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Bus.Specification.V2.BusSchedule"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Bus/Schedule/City/{City}/{RouteName}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市],[路線名稱]的市區公車路線班表資料",
        "description": "市區公車之預定班表及班距資料。一般市區公車班次較多時會採用【班距】式時刻表；班次較少時會採用【班表】式時刻表",
        "operationId": "CityBusApi_Schedule_1",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Taipei",
              "NewTaipei",
              "Tainan",
              "Keelung",
              "Hsinchu",
              "HsinchuCounty",
              "MiaoliCounty",
              "ChanghuaCounty",
              "NantouCounty",
              "YunlinCounty",
              "ChiayiCounty",
              "Chiayi",
              "PingtungCounty",
              "YilanCounty",
              "HualienCounty",
              "TaitungCounty",
              "KinmenCounty",
              "PenghuCounty",
              "Taoyuan",
              "Taichung"
            ],
            "x-enum": {
              "YilanCounty": "宜蘭縣",
              "HualienCounty": "花蓮縣",
              "PingtungCounty": "屏東縣",
              "TaitungCounty": "臺東縣",
              "Hsinchu": "新竹市",
              "YunlinCounty": "雲林縣",
              "Tainan": "臺南市",
              "ChiayiCounty": "嘉義縣",
              "Taipei": "臺北市",
              "PenghuCounty": "澎湖縣",
              "NewTaipei": "新北市",
              "KinmenCounty": "金門縣",
              "Taichung": "臺中市",
              "Keelung": "基隆市",
              "NantouCounty": "南投縣",
              "MiaoliCounty": "苗栗縣",
              "ChanghuaCounty": "彰化縣",
              "Chiayi": "嘉義市",
              "Taoyuan": "桃園市",
              "HsinchuCounty": "新竹縣"
            }
          },
          {
            "in": "path",
            "name": "RouteName",
            "description": "繁體中文路線名稱，如'307'",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "過濾",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "排序",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "取前幾筆",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "跳過前幾筆",
            "type": "string"
          },
          {
            "in": "query",
            "name": "health",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "in": "query",
            "name": "$format",
            "description": "指定來源格式",
            "required": true,
            "type": "string",
            "enum": [
              "JSON",
              "XML"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Array",
              "type": "array",
              "items": {
                "$ref": "#/definitions/PTX.Service.DTO.Bus.Specification.V2.BusSchedule"
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content"
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "$ref": "#/definitions/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
            }
          }
        }
      }
    },
    "/v2/Bus/Vehicle/City/{City}": {
      "get": {
        "tags": [
          "CityBus"
        ],
        "summary": "取得指定[縣市]的市區公車車輛資料",
        "description": "市區公車之車輛資料",
        "operationId": "CityBusApi_Vehicle",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "City",
            "description": "欲查詢縣市",
            "required": true,
            "type": "string",
            "enum": [
              "Taipei",
              "NewTaipei",
              "Taoyuan",
              "Taichung",
              "Tainan",
              "Kaohsiung",
              "Keelung",
              "Hsinchu",
              "HsinchuCounty",
              "MiaoliCounty",
              "ChanghuaCounty",
              "NantouCounty",
              "YunlinCounty",
              "ChiayiCounty",
              "PingtungCounty",
              "YilanCounty",
              "HualienCounty",
              "TaitungCounty",
              "KinmenCounty",
              "PenghuCounty",
              "LienchiangCounty"
            ],
            "x-enum": {
              "Keelung": "基隆市",
              "HualienCounty": "花蓮縣",
              "ChiayiCounty": "嘉義縣",
              "NewTaipei": "新北市",
              "ChanghuaCounty": "彰化縣",
              "Taipei": "臺北市",
              "Hsinchu": "新竹市",
              "NantouCounty": "南投縣",
              "PingtungCounty": "屏東縣",
              "HsinchuCounty": "新竹縣",
              "YilanCounty": "宜蘭縣",
              "Chiayi": "嘉義市",
              "PenghuCounty": "澎湖縣",
              "Taichung": "臺中市",
              "MiaoliCounty": "苗栗縣",
              "LienchiangCounty": "連江縣",
              "KinmenCounty": "金門縣",
              "YunlinCounty": "雲林縣",
              "Kaohsiung": "高雄市",
              "TaitungCounty": "臺東縣",
              "Taoyuan": "桃園市",
              "Tainan": "臺南市"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "挑選",
[...]
